Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

WIP: schema form UI polish; adding iFrame rendering + resizing functionality
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/TwigRendererApi.php
  apps/pattern-lab/package.json
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/_patterns/02-components/navbar/00-navbar-docs.twig
  apps/pattern-lab/src/components/schema-form/grid-layout.js
  apps/pattern-lab/src/components/schema-form/index.js
  apps/pattern-lab/src/components/schema-form/package.json
  apps/pattern-lab/src/components/schema-form/schema-form.js
  apps/pattern-lab/src/components/schema-form/schema-form.scss
  package.json
  packages/build-tools/api/index.js
  packages/core/package.json
  packages/ui-toolkit/schema-form/schema-form.js
  packages/ui-toolkit/schema-form/schema-form.scss
  yarn.lock
Due: npm run lint:js, npm run lint:style

fix: merge in PR updates from https://github.com/bolt-design-system/bolt/pull/795
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

feat: press and media pages
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-news-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/press-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/press-details.twig
Due: none

fix: fix trailing comma
  apps/pattern-lab/src/components/schema-form/schema-form.js
Due: npm run lint:js

Update .eslintignore
  .eslintignore
Due: none

Update package.json
  package.json
Due: none

feat: press and media example pages
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-news-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-details.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/z-d8-media-browse--list-view.twig
Due: none

Update package.json
  apps/pattern-lab/package.json
Due: none

Update .boltrc.js
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

Update index.js
  apps/pattern-lab/src/components/schema-form/index.js
Due: npm run lint:js

feat: cleaning up form UI
  apps/pattern-lab/src/components/schema-form/schema-form.js
  apps/pattern-lab/src/components/schema-form/schema-form.scss
  packages/build-tools/api/index.js
Due: npm run lint:js, npm run lint:style

chore: update yarn.lock
  yarn.lock
Due: none

test: re-testing conditionally disabling renderingService on Travis env
  apps/pattern-lab/.boltrc.js
  packages/build-tools/cli.js
Due: npm run lint:js

feat: add prettier + eslint combo config to Webpack for continuous linting
  .eslintrc.json
  .prettierrc
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/config-presets/config-eslint/ideal.js
  packages/config-presets/config-eslint/package.json
  yarn.lock
Due: npm run lint:js

fix: update eslint + prettier config to show messages on every commit; update the default .boltrc config verbosity in PL to display eslint warnings
  apps/pattern-lab/.boltrc.js
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: disable eslint's single quotes rule to defer to prettier's more flexible single quotes linting
  packages/config-presets/config-eslint/ideal.js
Due: npm run lint:js

chore: clean up remaining files that aren't passing eslint + prettier validation
  apps/bolt-site/storefront.js
  apps/pattern-lab/src/pl-dispatcher.js
  apps/pw-site/src/index.js
  packages/build-tools/cli.js
  packages/build-tools/index.js
  packages/build-tools/tasks/image-tasks.js
  packages/build-tools/tasks/internal-tasks.js
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/general.js
  packages/build-tools/utils/general.test.js
  packages/build-tools/utils/log.js
  packages/build-tools/utils/manifest.js
  packages/build-tools/utils/sh.js
  packages/build-tools/utils/yaml.js
  packages/build-tools/utils/yaml.test.js
  packages/components/bolt-card/src/card.js
  packages/components/bolt-card/src/card.standalone.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-icons/build-icons.js
  packages/components/bolt-image/src/image.test.js
  packages/config-presets/babel-preset-bolt/index.js
  packages/config-presets/config-eslint/index.js
  packages/config-presets/config-stylelint/ideal.js
  packages/core/data/image-sizes.js
  packages/core/utils/renderer-preact.js
  packages/twig-extensions/postinstall.js
Due: npm run lint:js

fix: disable eslint's linebreak rules and use prettier's handling of this instead
  packages/config-presets/config-eslint/ideal.js
Due: npm run lint:js

fix: fix remaining eslint + prettier linting rules after merging in latest from master
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/criticalcss-tasks.js
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/get-port.js
Due: npm run lint:js

fix: remove pw-site index.js accidentally re-added when merging in the latest from master
  apps/pw-site/src/index.js
Due: npm run lint:js

fix: fix linting issues with root repo config files
  .prettierrc
  nightwatch.js
  now.json
  serve.json
Due: none

fix: remove storefront.js file recently removed on master
  apps/bolt-site/storefront.js
Due: npm run lint:js

fix: fix schema validation errors with rounded button variation
  apps/pattern-lab/composer.lock
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--grid-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/press-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/110-d8-partners/d8-partners-search.twig
  packages/components/bolt-search-filter/search-filter.scss
  packages/components/bolt-search-filter/search-filter.twig
Due: npm run lint:style

fix: fix remaining "rounded" button schema validation errors
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--grid-view.twig
  packages/components/bolt-search-filter/search-filter.twig
Due: none

fix: install new font files
  packages/global/fonts/opensans-bold.woff
  packages/global/fonts/opensans-bold.woff2
  packages/global/fonts/opensans-bolditalic.woff
  packages/global/fonts/opensans-bolditalic.woff2
  packages/global/fonts/opensans-extrabold.woff
  packages/global/fonts/opensans-extrabold.woff2
  packages/global/fonts/opensans-extrabolditalic.woff
  packages/global/fonts/opensans-extrabolditalic.woff2
  packages/global/fonts/opensans-italic.woff
  packages/global/fonts/opensans-italic.woff2
  packages/global/fonts/opensans-light.woff
  packages/global/fonts/opensans-light.woff2
  packages/global/fonts/opensans-lightitalic.woff
  packages/global/fonts/opensans-lightitalic.woff2
  packages/global/fonts/opensans-regular.woff
  packages/global/fonts/opensans-regular.woff2
  packages/global/fonts/opensans-semibold.woff
  packages/global/fonts/opensans-semibold.woff2
  packages/global/fonts/opensans-semibolditalic.woff
  packages/global/fonts/opensans-semibolditalic.woff2
Due: none

v1.6.1
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  lerna.json
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-share/package.json
  packages/components/bolt-tooltip/package.json
  packages/global/package.json
  packages/uikit-workshop/package.json
Due: none

Revert "v1.6.1"
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  lerna.json
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-share/package.json
  packages/components/bolt-tooltip/package.json
  packages/global/package.json
  packages/uikit-workshop/package.json
Due: none

v1.6.2
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  lerna.json
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-share/package.json
  packages/components/bolt-tooltip/package.json
  packages/global/package.json
Due: none

chore: clean up code formatting of new schema form UI
  apps/pattern-lab/src/components/schema-form/grid-layout.js
  apps/pattern-lab/src/components/schema-form/schema-form.js
Due: npm run lint:js

fix: Add missing icon parameter to button schema (BDS-477)
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/button.twig
Due: none

chore: Remove demos of deprecated button options (BDS-477)
  apps/pattern-lab/src/_patterns/02-components/button/40-button-with-icon.twig
Due: none

fix: Various button schema fixes (BDS-477)
  packages/components/bolt-button/button.schema.yml
Due: none

fix: Deprecate form button in favor of bolt button (BDS-477)
  packages/components/bolt-form/src/inputs/form-button.twig
Due: none

build tools cleanup + refactoring
  .boltrc.js
  .eslintignore
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/src/components/schema-form/schema-form.js
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/tasks/criticalcss-tasks.js
  packages/build-tools/tasks/image-tasks.js
  packages/build-tools/tasks/internal-tasks.js
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/tasks/webpack-serve-waitpage/README.md
  packages/build-tools/tasks/webpack-serve-waitpage/bolt.ejs
  packages/build-tools/tasks/webpack-serve-waitpage/index.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
  packages/build-tools/utils/get-port.js
  packages/build-tools/utils/log.js
  packages/build-tools/utils/manifest.js
  packages/components/bolt-icons/build-icons.js
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-tooltip/src/tooltip.standalone.js
  packages/components/bolt-video/src/video.standalone.js
  packages/config-presets/config-eslint/ideal.js
  packages/config-presets/config-eslint/package.json
  packages/core/index.js
  packages/core/polyfills/custom-event-polyfill.js
  yarn.lock
Due: npm run lint:js

fix: update PL config to prevent json files from getting copied over to www folder.
  apps/pattern-lab/config/config.yml
Due: none
