Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

chore(ci): change base Docker image so it has correct deps
  Dockerfile
Due: none

chore(ci): change deploy url from PR comment to Commit Status
  scripts/deploy.js
Due: none

style: lint fix
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js

chore(ci): docker build tweak
  .travis.yml
Due: none

chore(ci): docker build w/o fresh pull
  .travis.yml
Due: none

chore(ci): re-enabling deploy PR comments, adding deploy commit checks
  scripts/deploy.js
Due: none

feat: turning template rendering service on
  apps/pattern-lab/.boltrc.js
  packages/build-tools/cli.js
Due: npm run lint:js

chore(ci): adjust GitHub status calls
  scripts/deploy.js
Due: none

refactor: rename bolt-ordered-list, bolt-unordered-list to bolt-ol and bolt-ul
  apps/pattern-lab/src/_patterns/02-components/ordered-list/00-ordered-list-docs.twig
  apps/pattern-lab/src/_patterns/02-components/ordered-list/05-ordered-list.twig
  apps/pattern-lab/src/_patterns/02-components/ordered-list/10-ordered-list-theme-variation.twig
  apps/pattern-lab/src/_patterns/02-components/ordered-list/15-ordered-list-with-web-component.twig
  apps/pattern-lab/src/_patterns/02-components/unordered-list/00-unordered-list-docs.twig
  apps/pattern-lab/src/_patterns/02-components/unordered-list/05-unordered-list.twig
  apps/pattern-lab/src/_patterns/02-components/unordered-list/10-unordered-list-theme-variation.twig
  apps/pattern-lab/src/_patterns/02-components/unordered-list/15-unordered-list-nested-items.twig
Due: none

chore: reorganize block list into new "lists" sub-folder under components
  packages/components/lists/bolt-block-list/README.md
  packages/components/lists/bolt-block-list/block-list.schema.yml
  packages/components/lists/bolt-block-list/package.json
  packages/components/lists/bolt-block-list/src/block-list.js
  packages/components/lists/bolt-block-list/src/block-list.scss
  packages/components/lists/bolt-block-list/src/block-list.standalone.js
  packages/components/lists/bolt-block-list/src/block-list.twig
Due: npm run lint:js, npm run lint:style

chore: move existing block-list component into new "lists" sub-component folder
  packages/components/lists/bolt-list/README.md
  packages/components/lists/bolt-list/index.js
  packages/components/lists/bolt-list/index.scss
  packages/components/lists/bolt-list/list.schema.yml
  packages/components/lists/bolt-list/package.json
  packages/components/lists/bolt-list/src/_list-item.js
  packages/components/lists/bolt-list/src/_list-item.scss
  packages/components/lists/bolt-list/src/_list-item.twig
  packages/components/lists/bolt-list/src/list.js
  packages/components/lists/bolt-list/src/list.scss
  packages/components/lists/bolt-list/src/list.twig
Due: npm run lint:js, npm run lint:style

chore: move existing chip-list component into new "lists" sub-component folder
  packages/components/lists/bolt-chip-list/README.md
  packages/components/lists/bolt-chip-list/chip-list.schema.yml
  packages/components/lists/bolt-chip-list/chip-list.twig
  packages/components/lists/bolt-chip-list/package.json
Due: none

refactor: rename bolt-unordered-list component and move into new lists sub-folder; update logic to account for nested depth
  packages/components/bolt-unordered-list/index.js
  packages/components/bolt-unordered-list/index.scss
  packages/components/bolt-unordered-list/src/_unordered-list-item.js
  packages/components/bolt-unordered-list/src/_unordered-list-item.scss
  packages/components/bolt-unordered-list/src/_unordered-list-item.twig
  packages/components/bolt-unordered-list/src/unordered-list.js
  packages/components/lists/bolt-ul/README.md
  packages/components/lists/bolt-ul/index.js
  packages/components/lists/bolt-ul/index.scss
  packages/components/lists/bolt-ul/package.json
  packages/components/lists/bolt-ul/src/ul.js
  packages/components/lists/bolt-ul/src/ul.scss
  packages/components/lists/bolt-ul/src/ul.twig
  packages/components/lists/bolt-ul/ul.schema.yml
Due: npm run lint:js, npm run lint:style

refactor: move bolt-ordered-list component, mostly wire up logic to new shared bolt-li component
  packages/components/bolt-ordered-list/index.js
  packages/components/bolt-ordered-list/index.scss
  packages/components/bolt-ordered-list/src/_ordered-list-item.js
  packages/components/bolt-ordered-list/src/_ordered-list-item.scss
  packages/components/bolt-ordered-list/src/_ordered-list-item.twig
  packages/components/bolt-ordered-list/src/ordered-list.twig
  packages/components/lists/bolt-ol/README.md
  packages/components/lists/bolt-ol/index.js
  packages/components/lists/bolt-ol/index.scss
  packages/components/lists/bolt-ol/ol.schema.yml
  packages/components/lists/bolt-ol/package.json
  packages/components/lists/bolt-ol/src/ol.js
  packages/components/lists/bolt-ol/src/ol.scss
  packages/components/lists/bolt-ol/src/ol.twig
Due: npm run lint:js, npm run lint:style

refactor: add new bolt-li shared component; update package.json and .boltrc accordingly
  apps/pattern-lab/.boltrc.js
  package.json
  packages/components/lists/bolt-li/README.md
  packages/components/lists/bolt-li/index.js
  packages/components/lists/bolt-li/index.scss
  packages/components/lists/bolt-li/li.schema.yml
  packages/components/lists/bolt-li/package.json
  packages/components/lists/bolt-li/src/li.js
  packages/components/lists/bolt-li/src/li.scss
  packages/components/lists/bolt-li/src/li.twig
  yarn.lock
Due: npm run lint:js, npm run lint:style

fix: update demo path
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/00-wysiwyg-kitchen-sink.twig
Due: none

refactor: add new shared map-with-depth util
  packages/core/utils/index.js
  packages/core/utils/map-with-depth.js
Due: npm run lint:js

refactor: partially keep existing ordered-list-item code till finished wiring up
  packages/components/lists/bolt-ol/src/_ordered-list-item.js
  packages/components/lists/bolt-ol/src/_ordered-list-item.scss
Due: npm run lint:js, npm run lint:style

refactor: add new WIP demos
  apps/pattern-lab/src/_patterns/02-components/unordered-list/20-unordered-list-with-web-component.twig
Due: none

chore: fix linting / prettier issues
  packages/components/lists/bolt-li/src/li.js
  packages/components/lists/bolt-ul/src/ul.js
Due: npm run lint:js

fix: update ul and ol package names to fix monorepo check
  apps/bolt-site/package.json
Due: none

fix: update the bolt site’s .boltrc config to use the updated bolt-ol and bolt-ul package names
  apps/bolt-site/.boltrc.js
Due: npm run lint:js

fix: rename bolt-unordered-list and bolt-ordered-list dependency names in Pattern Lab's package.json — fixes Travis CI build issues with the monorepo check
  apps/pattern-lab/package.json
  yarn.lock
Due: none

docs: update bolt-li readme
  packages/components/lists/bolt-li/README.md
  packages/components/lists/bolt-li/src/li.twig
Due: none

chore: tidy up CSS in new bolt-li helper
  packages/components/lists/bolt-li/src/li.scss
Due: npm run lint:style

fix: auto-format jest snapshot test results for HTML to help prevent false failures due to formatting differences
  jest-format-snapshots.js
  jest.config.js
  package.json
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
  yarn.lock
Due: none

refactor: use off the shelf jest-serializer-html plugin — exact same results but less code we need to keep in our repo
  jest-format-snapshots.js
  jest.config.js
  package.json
  yarn.lock
Due: none

fix: Update displaing flex on no isset elements
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

fix: manually update npm-run-all to ensure flatmap-stream isn't included as a dependency on the release/2.x branch
  package.json
  yarn.lock
Due: none

fix: swap out document-register-element polyfill for custom elements with Google's custom elements polyfill; workaround to fix issue reported in BDS-840
  packages/core/polyfills/index.js
Due: npm run lint:js

chore: fix prettier / eslint warnings
  packages/components/bolt-button/src/button.standalone.js
  packages/core/renderers/renderer-lit-html.js
Due: npm run lint:js

fix: update bolt-card-media to check to see if the component contains a video or bolt-video element + conditionally appropriate styles
  packages/components/bolt-card/src/_card-media.js
  packages/components/bolt-card/src/_card-media.scss
Due: npm run lint:js, npm run lint:style

chore: update yarn.lock
  yarn.lock
Due: none

Merge branch 'master' into feature/add-display-flex-to-bolit-list-component
  apps/pattern-lab/package-lock.json
  apps/pattern-lab/package.json
  apps/pattern-lab/src/_patterns/02-components/button/05-button-border-radii.twig
  apps/pattern-lab/src/_patterns/02-components/button/05-button-rounded-options.twig
  apps/pattern-lab/src/_patterns/02-components/button/45-button-icon-only.twig
  apps/pattern-lab/src/_patterns/02-components/buttons-group/10-button-group-icon-only.twig
  apps/pattern-lab/src/_patterns/02-components/buttons-group/20-button-group-contentItems.twig
  apps/pattern-lab/src/_patterns/02-components/code-snippet/10-code-snippet-display-variation.twig
  apps/pattern-lab/src/_patterns/02-components/code-snippet/15-code-snippet-language-variation.twig
  apps/pattern-lab/src/_patterns/02-components/code-snippet/20-code-snippet-syntax-variation.twig
  apps/pattern-lab/src/_patterns/02-components/list/15-list-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/55-list-with-web-component.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/00-d8-news-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/20-d8-details-page-press.twig
  apps/pattern-lab/src/_patterns/04-pages/30-d8-partners/00-d8-partners-search.twig
  apps/pattern-lab/src/_patterns/04-pages/40-d8-content-hub/00-sticky-navbar.twig
  apps/pattern-lab/src/_patterns/04-pages/45-d8-blog/00-blog-homepage.twig
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/-10-ckeditor-4.twig
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/editor-integration/ck4-format-plugin.js
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/editor-integration/editor-integration.js
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/editor-integration/index.js
  apps/pattern-lab/src/index.js
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/_button.mixins.scss
  packages/components/bolt-button/src/_button.settings.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.standalone.js
  packages/components/bolt-button/src/button.twig
  packages/components/bolt-code-snippet/src/code-snippet.standalone.js
  packages/components/bolt-code-snippet/src/code-snippet.twig
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.js
  packages/components/bolt-search-filter/search-filter.twig
  packages/components/bolt-share/share.schema.yml
Due: npm run lint:js, npm run lint:style

fix: revert CSS
  packages/components/bolt-list/src/_list-item.scss
Due: npm run lint:style

style: change internal vars from camelCase to snake_case in image twig file
  packages/components/bolt-image/src/image.twig
Due: none

feat: update image schema with noLazyload for web component
  packages/components/bolt-image/image.schema.yml
Due: none

refactor: assign lazyload variable
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: use 'src' not 'placeholderSrc' in placeholder noscript image
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

test: rebuild image snapshots
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
Due: none
