Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix: tests
  packages/components/bolt-band/__tests__/__image_snapshots__/band-js-bolt-band-component-nested-bands-usage-1-snap.png
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-web-component-ratio-prop-fraction-containing-a-decimal-2-snap.png
Due: none

fix: check if values are numeric and do not contain float before getting gcd
  packages/core-php/src/TwigFunctions.php
Due: none

fix: re-add network timeout to jest tests
  packages/analytics/autolink/__tests__/autolink.test.js
  packages/components/bolt-action-blocks/__tests__/action-blocks.js
  packages/components/bolt-background-shapes/__tests__/background-shapes.js
  packages/components/bolt-band/__tests__/band.js
  packages/components/bolt-blockquote/__tests__/blockquote.js
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-card/__tests__/card.js
  packages/components/bolt-carousel/__tests__/carousel.js
  packages/components/bolt-chip-list/__tests__/chip-list.js
  packages/components/bolt-chip/__tests__/chip.js
  packages/components/bolt-figure/__tests__/figure.js
  packages/components/bolt-icon/__tests__/icon.js
  packages/components/bolt-icons/__tests__/icons.js
  packages/components/bolt-image/__tests__/image.js
  packages/components/bolt-link/__tests__/link.js
  packages/components/bolt-list/__tests__/list.js
  packages/components/bolt-logo/__tests__/logo.js
  packages/components/bolt-navbar/__tests__/navbar.js
  packages/components/bolt-ol/__tests__/ol.js
  packages/components/bolt-pagination/__tests__/pagination.js
  packages/components/bolt-ratio/__tests__/ratio.js
  packages/components/bolt-share/__tests__/share.js
  packages/components/bolt-stack/__tests__/stack.js
  packages/components/bolt-text/__tests__/text.js
  packages/components/bolt-tooltip/__tests__/tooltip.js
  packages/components/bolt-ul/__tests__/ul.js
  packages/components/bolt-video/__tests__/video.js
Due: npm run lint:js

fix: exclude non-Bolt components from getting tested by Jest
  .boltrc.js
Due: none

fix: add testing folder to locations automatically transpiled by Jest / Babel
  jest.config.js
Due: none

fix: revert to using a slightly packages in PL UIKit as a workaround to the recent JS errors getting thrown by the React tooltip library used internally
  packages/uikit-workshop/package.json
Due: none

fix: update carousel Jest snapshots
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
Due: none

fix: remove non-existent props + handful of JS bug fixes for the carousel component
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/30-carousel-advanced-variations.twig
  packages/components/bolt-carousel/src/_carousel-slide.scss
  packages/components/bolt-carousel/src/carousel.js
  yarn.lock
Due: npm run lint:js, npm run lint:style

fix: update eslint config path + fix lint issues
  .eslintrc.json
  packages/build-tools/utils/log.js
  packages/components/bolt-ol/__tests__/ol.js
Due: npm run lint:js

fix: update nightwatch config path
  package.json
Due: none

test: retest carousel Jest tests
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

test: retest carousel Jest tests with increased timeout
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

fix: update older @bolt package dependencies + update docker container config to add and link missing folders within the monorepo
  docs-site/src/components/radio-switch/package.json
  packages/components/bolt-carousel/package.json
  packages/components/bolt-search-filter/package.json
  packages/servers/default-server/package.json
  yarn.lock
Due: none

fix: add potentially missing deps to testing server package
  packages/servers/testing-server/package.json
Due: none

fix: split build tools utilities to avoid infinite dependency loop-related issues
  .travis.yml
  __tests__/monorepo.test.js
  lerna.json
  package.json
  packages/build-tools/cli.js
  packages/build-tools/package.json
  packages/build-tools/tasks/api-tasks/bolt-pkg-versions.js
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
  packages/build-tools/tasks/api-tasks/index.js
  packages/build-tools/tasks/icon-tasks.js
  packages/build-tools/tasks/image-tasks.js
  packages/build-tools/tasks/internal-tasks.js
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/package.json
  packages/build-tools/webpack-dev-server.js
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/carousel.js
  packages/components/bolt-critical-css/package.json
  packages/components/bolt-icons/package.json
  packages/servers/testing-server/index.js
  packages/servers/testing-server/package.json
  packages/twig-renderer/package.json
  packages/twig-renderer/twig-renderer.js
  yarn.lock
Due: npm run lint:js

fix: fix eslint issues
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

hotfix: temporarily re-add the `action-block.twig` Twig template that aliases the recently renamed template
  packages/components/bolt-action-blocks/src/action-block.twig
Due: none

fix: update default server to automatically try to wire up workspaces for packages copied over
  packages/servers/default-server/package.json
Due: none

feat: namespace bolt-custom-element-styles mixin
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

fix: bolt-trigger closing tag
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

fix: remove transition from bolt-trigger, breaking modal focus trap JS
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

fix: extra white-space, double focus around bolt-trigger
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

fix: replace gmp_gcd with custom gcd function to avoid gmp dependency
  packages/core-php/src/TwigFunctions.php
  packages/core-php/src/Utils.php
Due: none

feat: namespace modal 'ready' custom event
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/35-modal-advanced-usage.twig
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

style: lint scss fix
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

chore: update yarn.lock
  yarn.lock
Due: none

v2.4.4
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/components/bolt-action-blocks/CHANGELOG.md
  packages/components/bolt-action-blocks/package.json
  packages/twig-renderer/CHANGELOG.md
  packages/twig-renderer/package.json
Due: none

v2.4.4
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/components/bolt-action-blocks/CHANGELOG.md
  packages/components/bolt-action-blocks/package.json
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
  packages/twig-renderer/CHANGELOG.md
  packages/twig-renderer/package.json
Due: none

fix: correcting @bolt/animations pkg version
  docs-site/package.json
  packages/animations/package.json
  yarn.lock
Due: none

fix: remove inline includes
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/30-band-with-pinned-content.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/50-band-feature.twig
Due: none

WIP: add interactive pathway component
  packages/components/bolt-interactive-pathway/index.js
  packages/components/bolt-interactive-pathways/index.js
  packages/components/bolt-pathway-pane/index.js
  packages/components/bolt-pathway-pane/src/pathway-pane.scss
Due: npm run lint:js, npm run lint:style

fix: use available @bolt/core version
  packages/components/bolt-interactive-pathway/package.json
  packages/components/bolt-interactive-pathways/package.json
Due: none

fix: rename to 'modal:ready' no 'bolt:ready'
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/35-modal-advanced-usage.twig
Due: none

fix: remove 'inherit', must use 'medium'
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

fix: adding missing pkgs to boltrc
  docs-site/.boltrc.js
Due: none

rebuild sandboxs for interactive pathways
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-15-interactive-pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-20-interactive-pathway.twig
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  yarn.lock
Due: npm run lint:js

fix: schema prop
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  packages/components/bolt-interactive-pathways/src/interactive-pathways.js
Due: npm run lint:js

fix: always add display and cursor classes, even defaults
  packages/components/bolt-trigger/src/trigger.js
  packages/components/bolt-trigger/src/trigger.twig
Due: npm run lint:js
