Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: open prop typo in web component demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/999-accordion-web-component.twig
Due: none

test: re-test with now.sh version locked + disabling the idleQueue part of the lazy element code
  packages/bolt-lazy-element/index.js
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
  scripts/deploy.js
  scripts/package.json
  yarn.lock
Due: npm run lint:js

chore: revert commit 284cbca (fix button schema)
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/15-button-style-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/20-button-theme-variations.twig
  packages/components/bolt-button/button.schema.js
  packages/components/bolt-button/src/button.js
  packages/components/bolt-button/src/button.twig
  packages/experimental/editor/src/setup-bolt.js
Due: npm run lint:js

fix: minor test fixes
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/25-popover-theme-variations.twig
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
Due: none

feat: demonstrate new schema functionality in button component
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

feat: add white overlay to nav-bar dropdown menu, adjust color to work in dark and xdark
  packages/components/bolt-nav-priority/nav-priority.scss
Due: npm run lint:style

test: update navbar image snapshots to reflect new bg color
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
Due: none

test: udpate multi-lang snapshots to reflect no IE11
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

chore: yarn lock
  yarn.lock
Due: none

fix: Allow card url attributes to be empty
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: none

WIP: initial Modal updates
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
  packages/components/bolt-toolbar/toolbar.scss
  packages/components/bolt-toolbar/toolbar.twig
Due: npm run lint:style

chore: set up twig and js
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/display/_icon-banner.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/h5p-embed/h5p-embed.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/certification-exam/certification-exam-page.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/module-landing/t1-module-landing-page.twig
  packages/components/bolt-card-replacement/card-replacement.schema.yml
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: npm run lint:js

fix: border radius
  packages/components/bolt-card-replacement/src/_card-replacement-settings-and-tools.scss
  packages/components/bolt-card-replacement/src/card-replacement-background/_card-replacement-background.scss
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:style

fix: border-radius logic
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/06-card-horizontal.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/50-card-replacement-border-radius.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/50-card-replacement-border-radius.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/h5p-embed/h5p-embed.twig
  packages/components/bolt-card-replacement/card-replacement.schema.yml
  packages/components/bolt-card-replacement/src/_card-replacement-settings-and-tools.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:js, npm run lint:style

styles: small action buttons
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/55-card-replacement-spacing.twig
  packages/components/bolt-card-replacement/src/_card-replacement-settings-and-tools.scss
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/card-replacement-action.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: npm run lint:js, npm run lint:style

styles: body spacing
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
Due: npm run lint:js, npm run lint:style

fix: rename spacing page in nav
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/55-card-replacement-spacing.md
Due: none

teat: add `spacing` support to bolt-card-replacement-body twig template
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.twig
Due: none

feat: pass `spacing` via context from card-replacement to card-replacement-body
  packages/components/bolt-card-replacement/src/card-replacement-body/card-replacement-body.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
Due: npm run lint:js

fix: card fix related to bug when updating the Mission Completed modal blueprint
  packages/components/bolt-card-replacement/src/card-replacement-background/_card-replacement-background.scss
Due: npm run lint:style

feat: update Modal blueprint with new rating component
  docs-site/src/index.js
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/00-assets/images/mission-test-badge-example.svg
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/00-assets/images/orion-nebula.jpg
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--before-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--rating.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--return-to-mission.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/01-t1-mission-landing--test-with-modal.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/01-t1-mission-landing--test-with-modal.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/01-t1-mission-landing--test-with-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/02-t1-mission-landing--test-with-modal--after-submit.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/02-t1-mission-landing--test-with-modal--after-submit.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/02-t1-mission-landing--test-with-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/t1-mission-landing--test-with-modal.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
Due: npm run lint:style

fix: update outline around rating inputs
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
Due: npm run lint:style

fix: update rating input offset; update hard-coded colors to use bolt-color function instead
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
Due: npm run lint:style

styles: move actions related code to actions scss
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-actions.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:style

test: test re-enabling github deploy statuses
  .travis.yml
  scripts/get-branch-alias.js
Due: none

feat: test deployment URLs including branch-specific URLs
  .travis.yml
Due: none

test: rename names of environments deployed
  .travis.yml
Due: none

fix: update Travis.yml config + push to bugfix branch to check that aliases work correctly
  .travis.yml
Due: none

fix: update card-specific updates to work around z-index issues
  packages/components/bolt-card-replacement/src/card-replacement-background/_card-replacement-background.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:style

fix: update card so background layer doesn't interfere with other elements
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:style

fix: remove join
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: none

feat: pass `spacing` to card-replacement-action-item via context
  packages/components/bolt-card-replacement/src/card-replacement-actions/card-replacement-action.js
Due: npm run lint:js

fix: minor clean up on utils and css
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--before-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--rating.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--return-to-mission.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-toolbar/toolbar.scss
Due: npm run lint:style

feat: add auto-prop support (copying Salem's work from separate branch)
  packages/base-element/package.json
  packages/base-element/src/BoltElement.js
  packages/base-element/src/lib/decorators.js
Due: npm run lint:js

feat: convert menu component to use auto-props
  packages/components/bolt-menu/src/menu.js
Due: npm run lint:js

chore: add todo
  packages/base-element/src/lib/decorators.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v2.21.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
