Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

ds-324: fix layout
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_00-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_00-quick-filters.twig
Due: none

DS-405: Upgrade babel to latest minor release to fix Edge JS error
  packages/build-tools/package.json
  packages/configs/babel-preset-bolt/package.json
  packages/testing/testing-jest/package.json
  yarn.lock
Due: none

DS-322: third layout option
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/_10-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

DS-322: update schema
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

DS-322: schema bugfix
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

ds-324: update checked styles
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/index.scss
Due: npm run lint:style

DS-322: fix ratio and meta source order
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser-02.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

Worked on solving Light DOM race condition on Travis
  packages/components/bolt-tabs/__tests__/__snapshots__/tabs.js.snap
  packages/components/bolt-tabs/__tests__/tabs.js
Due: npm run lint:js

ds-324: fix list items shifting when clicked on
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_00-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/index.scss
Due: npm run lint:style

DS-322: component refactor
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

DS-322: rename demos before starting docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.twig
Due: none

Fixed an error on the breadcrumb.js tests
  packages/components/bolt-breadcrumb/__tests__/breadcrumb.js
Due: npm run lint:js

DS-322: indents and to do item
  packages/components/bolt-teaser/src/teaser.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.1.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

ds-322: change quotes and indents
  packages/components/bolt-teaser/src/teaser.twig
Due: none

Make button and text-link public
  packages/elements/bolt-button/package.json
  packages/elements/bolt-text-link/package.json
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.2.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.2.0
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-listing-teaser/CHANGELOG.md
  packages/components/bolt-listing-teaser/package.json
  packages/elements/bolt-button/CHANGELOG.md
  packages/elements/bolt-button/package.json
  packages/elements/bolt-text-link/CHANGELOG.md
  packages/elements/bolt-text-link/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

ds-322: reconfigure views, meta, and description
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

ds-322: add boundary to popover
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

ds-322: set up eyebrow, subheadline and gutter
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-horizontal.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/25-d8-agenda-manager/00-d8-agenda-manager-details.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

ds-322: add large to subheadline
  packages/components/bolt-headline/src/headline.scss
  packages/components/bolt-headline/src/subheadline.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

ds-322: rename thumbnail to signifier and fix eyebrow order
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

ds-322: edits based on huddle
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

DS-410: Upgrade all remaining babel dependencies to >= v7.8.7
  package.json
  packages/build-tools/package.json
  packages/testing/testing-helpers/package.json
  packages/twig-integration/twig-renderer/package.json
  packages/website-ui/uikit-workshop/package.json
  yarn.lock
Due: none

DS-322: made "breaking" changes requested
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

set global test timeout to 60s, remove unused jest flag --all
  jest.config.js
  package.json
Due: none

DS-322: add lock-solid icon and locked option
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/svgs/utility/lock-solid.svg
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

DS-322: replace component-link with element-link
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-02.twig
  packages/components/bolt-teaser/src/teaser.twig
Due: none

ds-322: update best of content homepage demo
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_00-homepage.twig
Due: none

DS-322: Update like button demo JS
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/90-teaser-00.twig
Due: none

DS-322: Add teaser test
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
  packages/components/bolt-teaser/__tests__/fixtures/promo-16x9-ai.jpg
  packages/components/bolt-teaser/__tests__/teaser.js
Due: npm run lint:js

DS-322: first pass at teaser docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/00-teaser-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/10-teaser-layouts.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/_90-teaser-00.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/_90-teaser-01.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/_90-teaser-02.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/_90-teaser-horizontal.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js, npm run lint:style

DS-322: fix pushed error
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

DS-322: views like share demo
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-views-like-and-share.twig
Due: none

ds-322: fix horizontal spacing
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_homepage.twig
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style
