Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

styles: adjust leading
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-headline/src/headline.scss
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

chore: stylelint
  packages/components/bolt-li/src/li.scss
Due: npm run lint:style

chore: rename PL folder
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/00-hero-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/10-hero.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/10-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/20-hero--reverse-order.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/20-hero--reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/25-hero--reverse-order--no-image.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/25-hero--reverse-order--no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/30-hero--image-min-width.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/30-hero--image-min-width.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/40-hero--image-align-right.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/40-hero--image-align-right.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/50-hero--image-valign-top.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/50-hero--image-valign-top.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/55-hero--image-valign-bottom.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/55-hero--image-valign-bottom.twig
Due: none

chore: unhide props per PR feedback
  packages/components/bolt-hero/hero.schema.js
Due: npm run lint:js

chore: remove space between Twig filter
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/20-hero--reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/25-hero--reverse-order--no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/30-hero--image-min-width.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/40-hero--image-align-right.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/50-hero--image-valign-top.twig
Due: none

chore: swap out aside for bolt-banner
  docs-site/src/pages/pattern-lab/_patterns/02-components/hero/55-hero--image-valign-bottom.twig
  packages/components/bolt-hero/README.md
Due: none

chore: partners and rpa pages
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/case-study.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/pega-partners.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/pega-rpa.twig
Due: none

chore: update existing Blueprints to use the new Tertiary button
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/01-atoms/forms/toolbar-buttons/_toolbar-button.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/user-actions/_toolbar-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/wip-pages/mission-exercise/_t2-mission-exercise-detail-page.twig
Due: none

chore: move the satellite background image used to the Blueprints assets folder
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/00-assets/images/background-satellite-dish.jpg
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/search/search-results-hero.twig
Due: none

feat: add new Blockquote demos handling the new `weight` prop + existing `size` prop
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/40-blockquote-weight-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/45-blockquote-size-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/50-blockquote-web-component.twig
Due: none

fix: revert updating <aside> in Hero README.md -- web component version breaks with the markdown rendering
  packages/components/bolt-hero/README.md
Due: none

test: update e2e tests to increase timeout waiting for the Modal to display / not display in IE 11
  packages/base-deprecation-modal/__tests__/deprecation-modal.e2e.js
Due: npm run lint:js

fix: update Jest config to ignore e2e tests beyond just those in the packages/components folder
  jest.config.js
Due: none

fix: update typo in cookie name
  packages/base-deprecation-modal/__tests__/deprecation-modal.e2e.js
Due: npm run lint:js

fix: increase animation delay to avoid showing up accidentally showing up in IE 11 after dismissing; update Jest snapshot
  packages/base-deprecation-modal/__tests__/__snapshots__/deprecation-modal.js.snap
  packages/base-deprecation-modal/deprecation-modal.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.19.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

feat: update 5 out of the 7 existing Academy icons to be more consistent with the rest of the Bolt Design System
  packages/components/bolt-icons/src/svgs/brand/brand-meteor.svg
  packages/components/bolt-icons/src/svgs/brand/brand-molecule.svg
  packages/components/bolt-icons/src/svgs/brand/brand-orbit.svg
  packages/components/bolt-icons/src/svgs/brand/brand-rocket.svg
  packages/components/bolt-icons/src/svgs/brand/brand-triangle.svg
Due: none

chore: more test pages
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/case-study.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/pega-express.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-spacing-tests/topic.twig
Due: none

chore: re-order folder
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/case-study.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/pega-express.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/pega-partners.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/pega-rpa.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/topic.twig
Due: none

test: simplify # of Travis CI tasks
  .travis.yml
Due: none

chore: more pages
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/customer-service-for-insurance.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/knowledgebase.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/press-releases.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/product.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
Due: none

fix: change demo to reflect actual usage
  docs-site/src/pages/pattern-lab/_patterns/02-components/breadcrumb/10-breadcrumb-use-case-popover.twig
Due: none

fix: revert xxsmal text
  packages/components/bolt-headline/src/headline.scss
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
Due: npm run lint:style

styles: propoerly add xxsmall and fix leading
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
Due: npm run lint:style

fix: rename off-canvas nav ID to fix broken docs site UI
  docs-site/src/components/hamburger-button/hamburger-button.twig
  docs-site/src/templates/default.twig
Due: none

WIP: latest css custom property spec proposal updates
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
Due: none

WIP: add latest spec updates
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
Due: none

chore: adding event to tests
  docs-site/src/assets/images/content/backgrounds/events-landing.jpg
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-spacing-tests/events.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/35-d8-events/00-event-landing.twig
Due: none

fix: restore xxsmall properly
  packages/components/bolt-headline/src/headline.scss
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
Due: npm run lint:style

styles: adjust leading
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

fix: press demo
  docs-site/src/pages/pattern-lab/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
Due: none

fix: restore xxsmall properly
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
Due: npm run lint:style

styles: adjust text
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:style

styles: adjust vertical spacing
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:style

feat: CSS custom prop spec updates + cleanup
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
Due: none

feat: additional spec updates
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
Due: none

chore: cleanup + consolidate spec
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
