Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

refactor: cleaning up Themify port
  packages/themify/package.json
  packages/themify/src/_internal.scss
Due: npm run lint:style

refactor: wiring up Webpack build to new theming system library; adding new deps + updating Twig PHP Loader to point to new try/catch handling on master branch
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

fix: fixing webpack watch vs serve vs build so running standalone tasks doesn't cause webpack to recompile
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: adding new deps for theming system updates
  packages/core/package.json
Due: none

refactor: upgrading button component to use new theming system Sass mixin + build process
  packages/components/bolt-button/src/_button.mixins.scss
Due: npm run lint:style

chore: enabling debug mode in local Twig env -- {{ dump }} now works again!
  packages/core-php/src/TwigRenderer.php
Due: none

WIP: stashing away latest work demoed on web component server-side rendering (SSR) integration to PHP rendering service
  packages/core-php/src/TwigRenderer.php
  packages/core-php/src/TwigRendererSSR.php
  packages/twig-extensions/globals/bolt.global.php
Due: none

WIP: adding new video player nightwatch test example -- test location is temporary pending additional Nightwatch config updates to glob test files together
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: stashing away WIP recreation of the current "footer pattern" used in production
  apps/pattern-lab/src/_patterns/02-components/footer/example-footer.twig
Due: none

refactor: switching over to fork of sass-vars-loader till better solution in place for watching recursive files related to CSS vars and theming refactor
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

chore: updating yarn.lock
  yarn.lock
Due: none

refactor: update ported over themify Sass to disable a handful of stylelint rules that don't make sense for this 3rd party library
  packages/themify/src/_internal.scss
  packages/themify/src/encode/encode/api/_json.scss
  packages/themify/src/encode/encode/helpers/_quote.scss
  packages/themify/src/encode/encode/mixins/_json.scss
  packages/themify/src/encode/encode/types/_bool.scss
  packages/themify/src/encode/encode/types/_color.scss
  packages/themify/src/encode/encode/types/_list.scss
  packages/themify/src/encode/encode/types/_map.scss
  packages/themify/src/encode/encode/types/_null.scss
  packages/themify/src/encode/encode/types/_number.scss
  packages/themify/src/encode/encode/types/_string.scss
  packages/themify/src/encode/sass-json-export.scss
  packages/themify/src/themify.scss
Due: npm run lint:style

fix: fix bug in async loading infinite loop in IE 11: https://github.com/filamentgroup/loadCSS/issues/262#issuecomment-366774654
  apps/pattern-lab/src/_meta/_00-head.twig
Due: none

fix: increase timeout time for video player test in ie 11
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: prettier fixes
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: Fix formatting (BDS-437)
  apps/pattern-lab/src/_patterns/02-components/search-filter/search-filter.twig
Due: none

docs: Add readme, schema, and PL docs page to search filter (BDS-437)
  apps/pattern-lab/src/_patterns/02-components/search-filter/00-search-filter-docs.twig
  packages/components/bolt-search-filter/README.md
  packages/components/bolt-search-filter/package.json
  packages/components/bolt-search-filter/search-filter.schema.yml
Due: none

fix: remove redundancy of search filter panel id
  packages/components/bolt-search-filter/search-filter.twig
Due: none

fix: Add translation support to search filter (BDS-437)
  packages/components/bolt-search-filter/search-filter.twig
Due: none

docs: Update media browse pages to use twig includes for forms
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--list-view.twig
Due: none

docs: Add TODOs to call out demos that aren't fully built out
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--list-view.twig
Due: none

chore: port over upstream updates to Pattern Lab's UIkit back into Bolt
  packages/build-tools/create-webpack-config.js
  packages/uikit-workshop/.npmrc
  packages/uikit-workshop/bower.json
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/dist/splash-screen.html
  packages/uikit-workshop/dist/styleguide/css/pattern-lab--iframe-loader.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.critical.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/gulpfile.js
  packages/uikit-workshop/package.json
  packages/uikit-workshop/penthouse.js
  packages/uikit-workshop/src/html-twig/index.twig
  packages/uikit-workshop/src/html-twig/partials/iframe-loader.twig
  packages/uikit-workshop/src/html-twig/splash-screen.html
  packages/uikit-workshop/src/html/index.html
  packages/uikit-workshop/src/html/partials/iframe-loader.html
  packages/uikit-workshop/src/html/partials/iframe.html
  packages/uikit-workshop/src/sass/pattern-lab--iframe-loader.scss
  packages/uikit-workshop/src/sass/scss/components/_navigation.scss
  yarn.lock
Due: npm run lint:js, npm run lint:style

chore: hoist UIkit so the locally installed path is consistent
  package.json
Due: none

fix: specify webpack-serve config info to prevent errors from getting thrown in IE 11
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

chore: temporarily disable Webpack HTML plugin work until updated Twig Renderer in place
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: revert Prism.js getting removed to avoid JS errors in PL getting thrown
  packages/uikit-workshop/bower.json
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/src/html/index.html
Due: none

chore: revert auto-opening a new tab every time the PL build boots up
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

refactor: iterating on how the new theming system's pieces all talk to one-another
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

refactor: make sure theming system-generated CSS gets duplicates removed when compiling
  packages/themify/src/helpers/css.util.js
Due: npm run lint:js

refactor: remove old way of setting up Themify in lieu of the new and improved setup now in place
  packages/themify/src/index.js
Due: npm run lint:js

refactor: backtrack on initial theming refactor approach so color definitions are once again are defined in Sass
  packages/core/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

refactor: refactor postCSS build process for theming system; update to support Webpack build w/ multiple entries + output hex values when colors aren't semi-transparent
  packages/themify/src/index.js
Due: npm run lint:js

refactor: replace all old Bolt theme class files with a single theme-class generator that's based on the data in the system
  packages/global/styles/06-themes/themes-general/_bolt-themes.scss
  packages/global/styles/06-themes/themes-general/_themes-dark.scss
  packages/global/styles/06-themes/themes-general/_themes-light.scss
  packages/global/styles/06-themes/themes-general/_themes-medium.scss
  packages/global/styles/06-themes/themes-general/_themes-xdark.scss
  packages/global/styles/06-themes/themes-general/_themes-xlight.scss
Due: npm run lint:style

refactor: wire up code element to new theming system
  packages/global/styles/04-elements/_elements-code.scss
Due: npm run lint:style

refactor: remove old code from the 1st pass refactoring the theming system
  packages/core/styles/01-settings/settings-themes/BoltBaseTheme.js
  packages/core/styles/01-settings/settings-themes/BoltTheme.js
  packages/core/styles/01-settings/settings-themes/BoltThemeUtils.js
  packages/core/styles/01-settings/settings-themes/index.js
Due: npm run lint:js

refactor: refactor link component styles to use new theming system
  packages/components/bolt-link/src/link.scss
Due: npm run lint:style

refactor: update headlines to use the new theming system
  packages/components/bolt-headline/src/_tools.headlines.scss
Due: npm run lint:style

refactor: update UI list to use the new theming system
  packages/global/styles/05-objects/objects-ui-list/_objects-ui-list.scss
Due: npm run lint:style

chore: refactor button component using new theming system
  packages/components/bolt-button/src/_button.mixins.scss
Due: npm run lint:style

refactor: upgrade the contrast algorithm to be much more accurate
  packages/core/styles/01-settings/settings-themes/_constants.scss
  packages/core/styles/02-tools/tools-text-contrast/_tools-text-contrast.scss
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
