Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

revert: revert Travis config updates
  .travis.yml
Due: none

test(testing-utils): remove error when multiple Twig files found (#1426)
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

chore: version bump PHP-related dependencies to v2.8.0-beta.1
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

fix(editor): load grapesjs version specific CSS
  packages/editor/src/index.js
Due: npm run lint:js

fix(testing-utils): finding twig should ignore what .gitignore does
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

test(editor): restore type testing
  packages/editor/package.json
Due: none

chore(editor): add new feedback utility
  packages/editor/src/editor.js
  packages/editor/src/editor.twig
  packages/editor/src/index.js
  yarn.lock
Due: npm run lint:js

fix(micro-journeys): add overflow:hidden to step inner body🎉
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

feat(editor): emit save event
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/editor/00-editor-docs.twig
  packages/editor/src/index.js
Due: npm run lint:js

fix(micro-journeys): constrain hrs in shadow dom preview text to page width permanently
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

fix(micro-journeys): set correct local version of dropdown dependency
  packages/micro-journeys/package.json
  yarn.lock
Due: none

docs(editor): add Drupal Integration info
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/editor/00-editor-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/editor/misc/-05-drupal-integration.twig
  packages/editor/editor-in-pl.twig
  packages/editor/editor.schema.js
  packages/editor/src/editor.twig
  packages/editor/src/index.js
Due: npm run lint:js

fix(docs-site): restore js/css cachebuster (#1433)
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

fix(editor): remove empty <bolt-animate>s on save
  packages/editor/src/index.js
Due: npm run lint:js

fix(micro-journeys): CSS fix for compressed dots when text grows in Micro Journey nav
  packages/micro-journeys/src/interactive-pathway.scss
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:style

feat: add option to silence Jest tests
  packages/testing/testing-jest/jest-reporter-vrt.js
  packages/testing/testing-jest/package.json
Due: npm run lint:js

feat: add silent reporter to Jest
  jest.config.quick.js
Due: none

refactor: update release script
  package.json
  release-checks.js
  release-utils.js
  release.js
Due: none

fix: add missing fuse.js package
  packages/components/bolt-typeahead/package.json
Due: none

docs: create article styles demo
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-portal-article-styles.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_portal-global-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

chore: update yarn.lock
  yarn.lock
Due: none

feat: backport upstream Pattern Lab UIKit bug fix
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

refactor: clean up release script
  release-utils.js
  release.js
Due: none

fix: fix Lerna CLI arg
  release.js
Due: none

fix: css file name
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_portal-article-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

fix: add missing dependency
  release-utils.js
Due: none

fix: update spacing
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-portal-article-styles.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_portal-article-styles.scss
Due: npm run lint:style

chore: remove demo code
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_portal-article-styles.scss
Due: npm run lint:style

udemonstrating tilizing bolt-theme () with an an array, which currently doesn ot work
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:style

included all PR feedback for design and behavior, in addition to removing unwanted to changes to lock files
  packages/build-tools/tasks/webpack-tasks.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:js, npm run lint:style

feat(micro-journeys): add bolt theme mutation observer to figure out when the theme is changed, add classes to interactive pathways
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/util.js
Due: npm run lint:js

styling dropdown items
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

refine triple back connection animation to avoid first arrow group hanging out at end of path
  packages/micro-journeys/src/bolt-svg-animations/svg/tripleConnectionBand.js
Due: npm run lint:js

ci: setting correct version of @bolt/testing-utils on top level
  package.json
Due: none

chore(micro-journeys): cleanup empty bolt-animate starters
  packages/micro-journeys/starters/one-character-1.html
  packages/micro-journeys/starters/one-character-lorem.html
  packages/micro-journeys/starters/steo-one-character-lorem.html
  packages/micro-journeys/starters/steo-two-character-lorem.html
  packages/micro-journeys/starters/two-characters-1.html
  packages/micro-journeys/starters/two-characters-3.html
  packages/micro-journeys/starters/two-characters-4.html
  packages/micro-journeys/starters/two-characters-lorem.html
Due: none

fix(editor): prevent bug with inserting array of starter elements
  packages/editor/src/editor.js
Due: npm run lint:js

feature(micro-journeys): trigger pathways animation on scroll
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

feat: move from manual adding critical font to using generated json file
  packages/components/bolt-critical-fonts/src/critical-fonts.js
Due: npm run lint:js
