Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

chore: revert PL Sass file changes
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/15-breakpoints/_breakpoints.scss
Due: npm run lint:style

fix: update package versions
  packages/build-tools/package.json
Due: none

feat: port over Academy-initiated updates to Core and Global
  packages/components/bolt-band/src/band.twig
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-headline/src/_tools.headlines.scss
  packages/components/bolt-headline/src/_typography.twig
  packages/components/bolt-headline/src/headline.scss
  packages/components/bolt-site/site.scss
  packages/core/styles/01-settings/settings-breakpoints/_settings-breakpoints.scss
  packages/core/styles/01-settings/settings-font-weight/_settings-font-weight.scss
  packages/core/styles/01-settings/settings-spacing/_settings-spacing.scss
  packages/global/styles/03-generic/_generic-font-stacks.scss
  packages/global/styles/07-utilities/_utilities-flex.scss
  packages/global/styles/07-utilities/_utilities-position.scss
  packages/global/styles/07-utilities/_utilities-spacing.scss
  packages/global/styles/07-utilities/_utilities-widths.scss
  packages/global/styles/index.scss
Due: npm run lint:style

fix: remove icons from version control + add new SVGs
  packages/build-tools/utils/icon-generator.js
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/icons/collaboration.js
  packages/components/bolt-icons/src/icons/discussions.js
  packages/components/bolt-icons/src/icons/file-small.js
  packages/components/bolt-icons/src/icons/heart.js
  packages/components/bolt-icons/src/icons/ideas.js
  packages/components/bolt-icons/src/icons/questions.js
  packages/components/bolt-icons/src/icons/reply.js
  packages/components/bolt-icons/src/index.js
  packages/components/bolt-icons/src/svgs/brand/brand-atom.svg
  packages/components/bolt-icons/src/svgs/brand/brand-meteor.svg
  packages/components/bolt-icons/src/svgs/brand/brand-molecule.svg
  packages/components/bolt-icons/src/svgs/brand/brand-orbit.svg
  packages/components/bolt-icons/src/svgs/brand/brand-rocket.svg
  packages/components/bolt-icons/src/svgs/brand/brand-satelite.svg
  packages/components/bolt-icons/src/svgs/brand/brand-triangle.svg
  packages/components/bolt-icons/src/svgs/brand/thumbs-up-outline.svg
  packages/components/bolt-icons/src/svgs/brand/time-outline.svg
  packages/components/bolt-icons/src/svgs/brand/world-outline.svg
Due: npm run lint:js

chore: ignore the index.js file for Icons
  .gitignore
Due: none

fix: update Snapshots
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
Due: none

fix: update snapshot for the Build Tools
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

fix: add placeholder index.js file for Icons
  packages/components/bolt-icons/src/index.js
Due: npm run lint:js

fix: add missing Icon dependency post-pulling in v2.13.0
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icon/src/icon.standalone.js
Due: npm run lint:js

fix: re-update Build Tools Jest snapshot
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

chore: set up component
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/05-tooltip.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/_10-tooltip-direction-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/_15-tooltip-nowrap-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/_20-tooltip-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/_25-tooltip-trigger-type-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/_30-tooltip-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/35-d8-events/_event-annotation.twig
  packages/components/bolt-tooltip/package.json
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-tooltip/src/tooltip.twig
  packages/components/bolt-tooltip/tooltip.schema.js
  packages/components/bolt-tooltip/tooltip.schema.yml
Due: npm run lint:js

styles: css refactor
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

chore: linting
  packages/components/bolt-tooltip/tooltip.schema.js
Due: npm run lint:js

chore: update dependencies
  packages/components/bolt-tooltip/package.json
Due: none

fix: oops i forgot a class
  packages/components/bolt-list/src/list.js
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-list/src/list.twig
Due: npm run lint:js, npm run lint:style

fix: update Accordion snapshot
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.13.1
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

[skip travis] chore(release): release v2.13.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/core-php/CHANGELOG.md
  packages/core-php/package.json
  packages/micro-journeys/CHANGELOG.md
  packages/micro-journeys/package.json
Due: none

WIP: add Academy homepage + in-progress Twig partials
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/00-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-certifications.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-community.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-missions.twig
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

fix: update snaps
  packages/components/bolt-list/__tests__/__snapshots__/list.js.snap
Due: none

WIP: stashing latest card updates
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/999-card-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_card.twig
  packages/components/bolt-card/index.js
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/src/_card-settings-and-tools.scss
  packages/components/bolt-card/src/card-actions/_card-action.scss
  packages/components/bolt-card/src/card-actions/_card-action.twig
  packages/components/bolt-card/src/card-actions/_card-actions.scss
  packages/components/bolt-card/src/card-actions/card-action.js
  packages/components/bolt-card/src/card-actions/card-actions.js
  packages/components/bolt-card/src/card/card.js
Due: npm run lint:js, npm run lint:style

WIP: add temp background Sass updates
  packages/components/bolt-background/src/background.scss
Due: npm run lint:style

feat: add breakpoint-indicator helper UI
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/components/breakpoint-indicator/breakpoint-indicator.js
  docs-site/src/components/breakpoint-indicator/index.js
  docs-site/src/components/breakpoint-indicator/package.json
  docs-site/src/templates/_site-footer.twig
  package.json
  yarn.lock
Due: none

styles: placement
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-tooltip/tooltip.schema.js
  packages/components/bolt-tooltip/tooltip.schema.yml
Due: npm run lint:js, npm run lint:style

fix: linting
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

test: test just rendering autosuggest
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.js
  packages/components/bolt-typeahead/__demos__/navigate-to-exact-result/typeahead.navigate-to-exact-result.js
  packages/components/bolt-typeahead/__demos__/navigate-to-search-results/typeahead.navigate-to-search-results.js
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.polyfilled.js
  packages/components/bolt-typeahead/typeahead.twig
Due: npm run lint:js

fix: adjust breakpoint-indicator dependencies
  docs-site/src/components/breakpoint-indicator/breakpoint-indicator.js
  docs-site/src/components/breakpoint-indicator/index.js
  docs-site/src/components/breakpoint-indicator/package.json
Due: none

chore: update lock files
  docs-site/composer.lock
  yarn.lock
Due: none

refactor: tease apart new background component options + update HP to add responsive behavior to the hero image
  docs-site/src/index.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-certifications.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/index.scss
  packages/components/bolt-background/background.schema.yml
  packages/components/bolt-background/src/background.scss
  packages/components/bolt-background/src/background.twig
  packages/global/styles/07-utilities/_utilities-flex.scss
  packages/global/styles/07-utilities/_utilities-widths.scss
Due: npm run lint:style

fix: address eslint issues with background styles
  packages/components/bolt-background/src/background.scss
Due: npm run lint:style

fix: address prettier linting issues
  packages/build-tools/tasks/image-tasks.js
  packages/components/bolt-card/src/card/card.js
  packages/components/bolt-image/src/_image-lazy-sizes.js
  packages/components/bolt-nav-indicator/index.js
  packages/components/bolt-nav-priority/index.js
  packages/components/bolt-navlink/index.js
  packages/configs/eslint-config/ideal.js
  packages/core/store.js
Due: npm run lint:js

chore: css and demo clean up
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/05-tooltip.twig
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-tooltip/tooltip.schema.js
Due: npm run lint:js, npm run lint:style

fix: check if autosuggest has already rendered before adding event listeners
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: update offset classes + adjust homepage layout breakpoints
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/includes/_hero--hp-hero.twig
  packages/global/styles/07-utilities/_utilities-widths.scss
Due: npm run lint:style

fix: switch to using correct version of @bolt/polyfills
  docs-site/src/components/breakpoint-indicator/package.json
Due: none

fix: auto-format package.json
  docs-site/src/components/breakpoint-indicator/package.json
Due: none

feat: auto-format / order package.json files when changes are made
  package.json
  yarn.lock
Due: none
