Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: update chromedriver to run local nightwatch
  packages/testing/testing-nightwatch/package.json
Due: none

fix: remove original fix for loading hidden videos, not necessary anymore, actually causing new bug
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

test: add test to catch regression on loading hidden videos
  packages/components/bolt-tabs/__tests__/tabs.e2e.js
Due: npm run lint:js

chore: yarn lock
  yarn.lock
Due: none

test: open video tab by setting prop rather than calling `click()`, trying to fix saucelabs JS error in IE11
  packages/components/bolt-tabs/__tests__/tabs.e2e.js
Due: npm run lint:js

fix: update docs site off-canvas nav IDs to not match with new SVG icon IDs on the page.
  docs-site/src/components/hamburger-button/hamburger-button.twig
  docs-site/src/templates/default.twig
Due: none

fix: add new E2E integration test to verify that the docs site off-canvas nav can be opened / closed moving forward
  docs-site/__tests__/docs-site-nav.e2e.js
Due: none

chore: revert nav fix changes in lieu of https://github.com/boltdesignsystem/bolt/pull/1776
  docs-site/src/components/hamburger-button/hamburger-button.twig
  docs-site/src/templates/default.twig
Due: none

test: upgrade version of chrome used in Nightwatch tests to match local version
  packages/testing/testing-nightwatch/nightwatch.js
Due: npm run lint:js

test: assert first tab is open instead of video is hidden, Nightwatch failing visibility test on Saucelabs
  packages/components/bolt-tabs/__tests__/tabs.e2e.js
Due: npm run lint:js

fix: add better smooth scroll support to the docs site
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/default.twig
Due: none

revert: revert docs site updates -- splitting up into separate PR
  docs-site/src/pages/docs/999-css-custom-props-spec/00-index.md
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/default.twig
Due: none

feat: massively improve the docs site article styles when using vanilla markdown
  docs-site/src/docs-article.scss
  docs-site/src/index.scss
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/default.twig
Due: npm run lint:style

fix: update xxsmall font-size to follow conventions
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.19.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v2.19.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/CHANGELOG.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-hero/CHANGELOG.md
  packages/components/bolt-hero/package.json
  packages/components/bolt-video/CHANGELOG.md
  packages/components/bolt-video/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/testing/testing-nightwatch/CHANGELOG.md
  packages/testing/testing-nightwatch/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

feat: create new numbered headline blueprint for Academy; add basic docs + demos
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/__demos__/10-numbered-headline-blueprint.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/__demos__/10-numbered-headline-blueprint.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/numbered-headline.schema.js
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/package.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/src/_numbered-headline-bullet.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/src/numbered-headline.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/src/numbered-headline.scss
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/src/numbered-headline.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t2-inner-pages/challenge-details/t2-challenge-detail-page.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/package.json
Due: npm run lint:style

chore: allow nested packages in @bolt/blueprints to be picked up by Lerna
  package.json
Due: none

fix: auto-ignore __demos__ folders when running component dependency check
  __tests__/monorepo-deps.test.js
Due: none

fix: add Blueprints to list of packages Jest knows about when running dependency checks
  .boltrc.js
Due: none

fix: update new E2E test to also work correctly in IE 11
  docs-site/__tests__/docs-site-nav.e2e.js
Due: none

fix: use `replace-with-children` instead of is=shadow-root, use current Twig conventions
  packages/components/bolt-stack/src/stack.js
  packages/components/bolt-stack/src/stack.twig
Due: npm run lint:js

test: update stack snapshots
  packages/components/bolt-stack/__tests__/__snapshots__/stack.js.snap
Due: none

feat: add offset support to TOC component
  docs-site/src/pages/pattern-lab/_patterns/02-components/toc/30-toc-use-case-sticky-offset.twig
  packages/components/bolt-toc/package.json
  packages/components/bolt-toc/src/_toc-item.js
  packages/components/bolt-toc/src/toc.js
  packages/components/bolt-toc/toc.schema.js
Due: npm run lint:js

refactor: add new option to toggle stickyOffset behavior on / off; create new demos showing all the different prop options available.
  docs-site/src/pages/pattern-lab/_patterns/02-components/toc/30-toc-use-case-sticky--scroll-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/toc/35-toc-use-case-sticky--scroll-offset-selector.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/toc/40-toc-use-case-sticky--scroll-offset-selector--add-sticky-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/toc/45-toc-use-case-sticky--scroll-offset-selector--add-sticky-offset--scroll-offset.twig
  packages/components/bolt-toc/src/_toc-item.js
  packages/components/bolt-toc/src/toc.js
  packages/components/bolt-toc/toc.schema.js
Due: npm run lint:js

Update docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/__demos__/10-numbered-headline-blueprint.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/numbered-headline/__demos__/10-numbered-headline-blueprint.twig
Due: none

feat: update Popover to mirror it's internal state with the original page's no-JS / SSR state; clean up any existing URL hashes
  packages/components/bolt-popover/src/popover.js
Due: npm run lint:js

feat: add E2E integration tests that cover Popover's new SSR / no-JS state restoration logic
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/25-popover-theme-variations.twig
  packages/components/bolt-popover/__tests__/popover.e2e.js
Due: npm run lint:js

feat: replace `xxsmall` with `xsmall` in Blueprints
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/training/_completed-training-item.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/certification-exam/certification-exam-page.twig
Due: none

refactor: port bolt-figure over to LitElement which also ends up preventing empty <figcaption>s from rendering
  packages/components/bolt-figure/package.json
  packages/components/bolt-figure/src/figure.js
Due: npm run lint:js

test: add Jest tests to <bolt-figure> to make sure the WC renders & handles slots correctly
  packages/components/bolt-figure/__tests__/__image_snapshots__/figure-js-figure-a-figures-without-any-default-slotted-content-wont-render-a-figcaption-1-snap.png
  packages/components/bolt-figure/__tests__/__image_snapshots__/figure-js-figure-figures-renders-slotted-default-and-media-content-1-snap.png
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-figure/__tests__/figure.js
Due: npm run lint:js

feat: 1st pass dropping high-level code related to IE 11
  docs-site/.boltrc.js
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
  package.json
  packages/build-tools/create-webpack-config.js
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
  packages/website-ui/uikit-workshop/src/html/index.html
  packages/website-ui/uikit-workshop/webpack.config.js
Due: npm run lint:js

fix: remove longhand usage of bolt-theme
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
  packages/core-v3.x/styles/02-tools/tools-themes/_tools.themes.scss
Due: npm run lint:style

refactor: simplify docs site head / footer templates
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

fix: remove references to @bolt/core in .scss files
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/index.scss
  packages/components/bolt-menu/src/_menu-item.scss
  packages/components/bolt-menu/src/menu.scss
Due: npm run lint:style

refactor: significantly reduce config + build process code
  packages/build-tools/create-webpack-config.js
  packages/build-tools/get-babel-config.js
  packages/configs/babel-preset-bolt/index.js
  packages/configs/babel-preset-bolt/package.json
  packages/configs/browserslist-config/all.js
  packages/configs/browserslist-config/index.js
  packages/configs/browserslist-config/legacy.js
  packages/configs/browserslist-config/package.json
  packages/configs/browserslist-config/test.js
Due: npm run lint:js

chore: package.json updates
  packages/base-polyfills/package.json
  packages/base-starter-kit/package.json
  packages/build-tools/package.json
  packages/components/bolt-menu/package.json
  packages/core-v3.x/package.json
Due: none

chore: update .boltrc configs
  packages/base-starter-kit/.boltrc.js
  packages/build-tools/__tests__/multi-lang/.boltrc.multi-lang.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
