Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

Updated the meta data plugin argument to the new order
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

DS-594: update failing tests and remove unnecessary package requirements.
  packages/components/bolt-action-blocks/package.json
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-copy-to-clipboard/__tests__/__snapshots__/copy-to-clipboard.js.snap
  packages/components/bolt-copy-to-clipboard/__tests__/copy-to-clipboard.js
  packages/components/bolt-copy-to-clipboard/package.json
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-page-footer/package.json
  packages/components/bolt-share/package.json
  packages/elements/bolt-button/package.json
  packages/elements/bolt-text-link/__tests__/__snapshots__/text-link.js.snap
  packages/elements/bolt-text-link/package.json
Due: npm run lint:js

DS-565: Remove tooltip options
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-565: Add space between list items
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-565: Prevent shift content when sjip btn appears
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: olumns description
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-565: Style scrollbar
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Remove padding bottom
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Add modal
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Modal mobile skip btns enhancements
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-594 updated failing SVG tests
  packages/components/bolt-action-blocks/__tests__/__snapshots__/action-blocks.js.snap
  packages/components/bolt-pagination/__tests__/__snapshots__/pagination.js.snap
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
  packages/elements/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/elements/bolt-icon/__tests__/__snapshots__/icon.js.snap
Due: none

DS-622 finish migrating hero demos
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/30-billboard-image-vertical-align-top.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/35-billboard-image-vertical-align-bottom.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/40-billboard-background-image-vertical-align.twig
Due: none

ds-590: enlarge profile image
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-academy.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-community.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-anonymous.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-with-subnav.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-saleshub.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-main-site-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-pega-docs-page-header.twig
  packages/components/bolt-page-header/src/_page-header-settings-and-tools.scss
  packages/components/bolt-page-header/src/page-header.scss
Due: npm run lint:style

DS-565: Modal heights
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Modal mobile skip buttons
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Move class to another line
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-565: Comment + btn labels
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-565: Add padding for mobile modal
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Modal bottom spacing
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-565: Comment update
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-my-quick-links-2.0.twig
Due: none

DS-628: Update composer dependencies in bolt_connect to support Twig 2
  packages/twig-integration/drupal-module/composer.json
Due: none

DS-628: Update bolt_connect module to support Drupal 9
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/bolt_connect.services.yml
  packages/twig-integration/drupal-module/src/BoltConnectTwigNamespaces.php
Due: none

DS-622 fill out schema, refactor src, cleanup demos
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/05-billboard.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/10-billboard-reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/15-billboard-reverse-order-no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/20-billboard-image-min-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/25-billboard-image-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/30-billboard-image-vertical-align-top.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/35-billboard-image-vertical-align-bottom.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/40-billboard-background-image-vertical-align.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/90-billboard-centered-form.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/90-billboard-size.twig
  packages/components/bolt-billboard/billboard.schema.js
  packages/components/bolt-billboard/package.json
  packages/components/bolt-billboard/src/billboard.scss
  packages/components/bolt-billboard/src/billboard.twig
Due: npm run lint:js, npm run lint:style

DS-622 rename background prop
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/10-billboard-reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/15-billboard-reverse-order-no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/20-billboard-image-min-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/25-billboard-image-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/30-billboard-image-vertical-align-top.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/35-billboard-image-vertical-align-bottom.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/40-billboard-background-image-vertical-align.twig
  packages/components/bolt-billboard/billboard.schema.js
  packages/components/bolt-billboard/src/billboard.twig
Due: npm run lint:js

ds-590: add category headings to pega sites
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-anonymous.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-with-subnav.twig
  packages/components/bolt-page-header/src/_page-header-desktop.scss
Due: npm run lint:style

DS-601: Revert flag object and rewrite ui-list + comments
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-results.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/micro-journeys/combos/-95-in-page-example.twig
Due: none

com-707: raise signifier above headline link
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/05-listing-teaser.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:style

DS-594: Fix dependencies in a few packages.
  packages/components/bolt-action-blocks/package.json
  packages/components/bolt-content-pagination/package.json
  packages/elements/bolt-text-link/package.json
Due: none

DS-483: Add missing description to demo page
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/20-code-snippet-custom-language-label.twig
Due: none

www-920: add preview image chip
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-05-oclp-gated-pdf.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-10-oclp-gated-external-link.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/oclp.scss
Due: npm run lint:style

DS-601: Card component on pages - homepage
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  packages/twig-integration/twig-extensions-shared/src/TwigFunctions.php
Due: none

card component on pages - product
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
Due: none

card component on pages - news
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
Due: none

card component on pages - events
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/05-event-detail.twig
Due: none

card component on pages - landing
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
Due: none

DS-483: Add trailing commas to Twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/00-code-snippet-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/15-code-snippet-mode.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/20-code-snippet-custom-language-label.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/25-code-snippet-header-display.twig
Due: none

card component on pages - products
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
Due: none

Update chromedriver
  packages/testing/testing-nightwatch/package.json
  scripts/package.json
  yarn.lock
Due: none

www-920: re-order preview and checklist in mobile view
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-05-oclp-gated-pdf.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-10-oclp-gated-external-link.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-15-oclp-gated-video.twig
Due: none

DS-622: built first handful of demos
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/25-hero--reverse-order--no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/05-basic-usage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/10-reverse-desktop-order.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/15-reverse-desktop-order-no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/20-image-minimum-width.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
