Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

style(self-drawing-circle): replace var with let
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

fix: add Weakset polyfill for IE 11
  packages/core/package.json
  packages/core/polyfills/index.js
Due: npm run lint:js

refactor: swap out original withContext solution for a newer one that better handles the complex Micro Journey interactions
  packages/core/package.json
  packages/core/renderers/renderer-lit-html.js
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: address linting issues
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

docs: minor copy edit to Tabs demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/40-tabs-use-case-tabbed-band.twig
Due: none

refactor: move the new Context behavior into withLitHtml by default + auto trigger re-rendering when a component has subscribed to changes
  packages/core/renderers/renderer-lit-html.js
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

chore: cleanup + add classnames library to the micro journey package.json
  packages/micro-journeys/package.json
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
Due: npm run lint:js

chore: update composer.lock
  docs-site/composer.lock
  packages/core-php/composer.lock
  packages/drupal-twig-extensions/composer.lock
Due: none

revert: revert combining withLitHTML base with withLitContext for now
  packages/core/renderers/renderer-lit-html.js
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

fix: update connection band to re-trigger an update when the context changes
  packages/micro-journeys/src/connection.js
Due: npm run lint:js

fix: update prettier issues
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

fix: multiple layout fixes for micro journeys on small-ish screen sizes
  packages/micro-journeys/src/interactive-step.scss
  packages/micro-journeys/src/nav-shared.scss
  packages/micro-journeys/src/one-character-layout.scss
  packages/micro-journeys/src/status-dialogue-bar.scss
  packages/micro-journeys/src/two-character-layout.scss
Due: npm run lint:style

fix: remove click event listener when disconnecting + remove preventDefault that was causing UI like buttons to not click as expected as a result
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

fix: fix overflow issue on smaller screen sizes
  packages/micro-journeys/src/interactive-pathway.scss
Due: npm run lint:style

[skip travis] chore(release): version bump PHP-related dependencies to v2.8.0-beta.6
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

feat: add auto to semi-automate releases
  .autorc
  package.json
  yarn.lock
Due: none

[skip travis] chore(release): update .incache
  docs-site/.incache
Due: none

feat: rework ssr-hydrate technique, now uses `ssr-keep` custom element, which can be used in place of `replace-with-*`
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-tabs/src/TabPanel/tab-panel.twig
  packages/components/bolt-tabs/src/tabs.js
  packages/components/bolt-tabs/src/tabs.twig
  packages/core/elements/index.js
  packages/core/elements/ssr-keep/README.md
  packages/core/elements/ssr-keep/index.js
  packages/core/renderers/bolt-base.js
Due: npm run lint:js

feat: remove `:scope` polyfill, no longer used
  packages/core/package.json
  packages/core/polyfills/index.js
Due: npm run lint:js

feat: rollback `bolt-text` > `div` edit to accordion demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/999-accordion-web-component.twig
Due: none

chore: run setup
  packages/core-php/composer.lock
  yarn.lock
Due: none

chore: run setup
  docs-site/composer.lock
  packages/core-php/composer.lock
  packages/twig-renderer/composer.lock
  yarn.lock
Due: none

feat(with-without): isolated background visual test for with/without for ie11 debugging
  docs-site/src/index.js
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/06-with-without-overlay-animation-test.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/overlay-demo.js
Due: none

fix(bolt-animate): remove use of Set, polyfill breaking erratically
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix: more robust animation resets to allow retrigger when no idle or build out is defined
  packages/components/bolt-animate/src/animate.js
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

test: update Accordion Jest test with improved pattern from Tabs, now returns full accordion not just item
  packages/components/bolt-accordion/__tests__/accordion.js
Due: npm run lint:js

test: update Accordion and Tabs snapshots
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-tabs/__tests__/__snapshots__/tabs.js.snap
Due: none

fix(self-drawing-circle): rotation direction fix and spin stopping on reset
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.scss
Due: npm run lint:js, npm run lint:style

fix(with-without): full-bleed force broken inside max-width
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/00-with-without.twig
  packages/with-without/with-without.scss
  packages/with-without/with-without.twig
Due: npm run lint:style

chore: update to latest version of Husky that supports yarn v2
  .pnp.js
  .yarn/build-state.yml
  .yarn/cache/husky-npm-3.0.5-ee486e0eba.zip
  .yarn/cache/husky-npm-4.0.0-beta.2-fbe4e4f3d9.zip
  yarn.lock
Due: none

chore: remove jest-image-snapshot patch
  patches/jest-image-snapshot+2.11.0.patch
Due: none

fix: update Travis config + disable Swiper postinstall script
  .travis.yml
  packages/components/swiper/package.json
Due: none

fix: update Travis config
  .travis.yml
Due: none

test: re-test Travis config
  .travis.yml
Due: none

fix: update deps + add missing jsonwebtoken package
  package.json
Due: none

chore: update deps
  .pnp.js
  .yarn/build-state.yml
  .yarn/cache/@auto-it-core-npm-7.7.0-6ed80a2ab0.zip
  .yarn/cache/@auto-it-core-npm-7.8.0-531a7ef0c8.zip
  .yarn/cache/@auto-it-npm-npm-7.7.0-7c903c0b3c.zip
  .yarn/cache/@auto-it-npm-npm-7.8.0-77ecad4b3f.zip
  .yarn/cache/@auto-it-released-npm-7.7.0-1a1f422250.zip
  .yarn/cache/@auto-it-released-npm-7.8.0-2b62c23c52.zip
  .yarn/cache/@auto-it-slack-npm-7.7.0-b42dbb857b.zip
  .yarn/cache/@auto-it-slack-npm-7.8.0-89170354c4.zip
  .yarn/cache/auto-npm-7.7.0-3f5bfa7c2a.zip
  .yarn/cache/auto-npm-7.8.0-ab1b4744e5.zip
  .yarn/cache/eslint-npm-6.3.0-bcfdaf0902.zip
  .yarn/cache/eslint-npm-6.5.1-add79ecab5.zip
  .yarn/cache/known-css-properties-npm-0.15.0-f73d304ce3.zip
  .yarn/cache/postcss-sass-npm-0.4.1-3fdeec830f.zip
  .yarn/cache/stylelint-npm-11.0.0-9f030f6b5d.zip
  yarn.lock
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
