Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

[skip travis] WIP: stashing latest
  .yarnrc.yml
  docs-site/.boltrc.js
  docs-site/package.json
  package.json
  packages/build-tools/package.json
  packages/build-tools/utils/manifest.js
  packages/build-tools/utils/package.json
  packages/build-tools/utils/pnp.js
  packages/micro-journeys/package.json
  yarn.lock
Due: npm run lint:js

[skip travis] WIP: stashing latest
  .pnp.js
  .yarn/build-state.yml
  .yarn/cache/@yarnpkg-fslib-npm-2.0.0-rc.3-969757fef7.zip
  .yarn/cache/@yarnpkg-libzip-npm-2.0.0-rc.3-6dd0832a3f.zip
  .yarn/cache/@yarnpkg-pnpify-npm-2.0.0-rc.5-eef83084de.zip
  .yarn/cache/ts-pnp-npm-1.1.4-2be53f27a4.zip
Due: none

fix(with-without): add padding right to with results block
  packages/with-without/with-without.scss
Due: npm run lint:style

chore(with-without): remove console logs
  packages/with-without/js/handleResize.js
  packages/with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

fix(with-without): edge fixes; resize window after accordion open/close
  packages/with-without/js/accordion.js
  packages/with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

chore(with-without): remove debug chatter from animations
  packages/with-without/js/handleActiveRegionChange.js
Due: npm run lint:js

feat(with-without): attempt toggle outline removal on hover-capable devices
  packages/with-without/wwo-toggle/wwo-toggle.scss
Due: npm run lint:style

test: use `form` instead of `no-shadow` so that subcomponents render to the shadow DOM
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/-45-accordion-no-shadow.twig
Due: none

feat: add demo of intermittent bug
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/-intermittent-video-error.twig
Due: none

fix(with-without): blur edge focus after toggle to remove ugly outline
  packages/with-without/js/blurEdgeFocus.js
  packages/with-without/js/with-without.js
  packages/with-without/wwo-toggle/wwo-toggle.scss
Due: npm run lint:js, npm run lint:style

feat(with-without): detect pointer hover and only remove focus if found
  packages/with-without/js/blurEdgeFocus.js
Due: npm run lint:js

feat: reorganize head and footer to boost performance and load order
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

feat: test lazy pre-loaded bundles
  packages/components/bolt-accordion/index.js
  packages/components/bolt-animate/index.js
  packages/components/bolt-band/index.js
  packages/components/bolt-block-list/src/block-list.js
  packages/components/bolt-carousel/index.js
  packages/components/bolt-chip/index.js
  packages/components/bolt-code-snippet/src/code-snippet.js
  packages/components/bolt-device-viewer/src/device-viewer.js
Due: npm run lint:js

refactor: retest perf with all eagerly loaded chunks
  packages/components/bolt-accordion/index.js
  packages/components/bolt-band/index.js
  packages/components/bolt-block-list/src/block-list.js
  packages/components/bolt-carousel/index.js
  packages/components/bolt-chip/index.js
  packages/components/bolt-code-snippet/src/code-snippet.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.js
  packages/components/bolt-device-viewer/src/device-viewer.js
  packages/components/bolt-nav-indicator/index.js
  packages/components/bolt-nav-priority/index.js
  packages/components/bolt-navlink/index.js
  packages/components/bolt-tooltip/index.js
  packages/components/bolt-video/index.js
Due: npm run lint:js

chore: disable JS not needed
  docs-site/src/index.js
Due: none

chore: comment out lazy firing meta data request
  packages/core/index.js
Due: npm run lint:js

test: retest with usersnap disabled
  packages/editor/src/index.js
Due: npm run lint:js

feat(micro-journeys): add ms hint to animate title schemas
  packages/components/bolt-animate/animate.schema.js
Due: npm run lint:js

chore(editor): remove console logs
  packages/editor/src/index.js
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

feat(editor): hide pathways image options
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-pathways.schema.js
Due: npm run lint:js

feat: update video in demo, log sources
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/-intermittent-video-error.twig
Due: none

feat: update generator to use latest conventions
  packages/generators/yeoman-create-component/generators/component/templates/component.html.twig
  packages/generators/yeoman-create-component/generators/component/templates/component.js
Due: npm run lint:js

test: update snapshot
  packages/generators/yeoman-create-component/generators/component/__tests__/__snapshots__/component-generator.js.snap
Due: none

fix(editor): use package name for import
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

test: test simpler micro journey perf test
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

refactor: add loadjs lib + re-enable loading meta data
  packages/core/index.js
  packages/editor/package.json
  packages/editor/src/index.js
Due: npm run lint:js

fix(with-without): fix title bar overflow
  packages/with-without/with-without.scss
Due: npm run lint:style

Update tooltip.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

fix(micro-journeys): config for update of parents with event on editor removal; add events for step and pathway removal
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

feat: refactor video test, add more video IDs
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/-intermittent-video-error.twig
Due: none

style(bolt-animate): capitalize letter to trigger rebuild
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix: add button type to prevent submit
  packages/components/bolt-dropdown/dropdown.js
Due: npm run lint:js

debug(with-without): DON'T MERGE: debug code
  packages/with-without/js/handleActiveRegionChange.js
  packages/with-without/js/with-without.js
Due: npm run lint:js

refactor: fix `direction` prop name to match schema + don't output Tooltip content as an HTML attribute
  packages/components/bolt-tooltip/src/tooltip.twig
Due: none

refactor: adjust tooltip styles to address differences to handling hover vs click triggers; rename class used when Tooltip is opened
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

fix: adjust styles to reduce the gap between the Tooltip content vs Trigger
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

refactor: auto-hide initial content when booting up
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

feat: add one more broken video to test page
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/-intermittent-video-error.twig
Due: none

refactor: switch internal prop used to trigger Tooltip opening / closing; pass along content via Default slot
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

refactor: update direction prop name used internally
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
