Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

ACD-286: replicating the original error in our demos
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/cards/_horizontal-card.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/search/_search-results--results-list.twig
Due: none

DS-224: fix headline letter-spacing regression
  packages/components/bolt-text/src/text.js
Due: npm run lint:js

wip
  .boltrc.js
  docs-site/.boltrc.js
  docs-site/__tests__/pattern-lab.e2e.js
  docs-site/package.json
  docs-site/src/templates/_site-head.twig
  packages/base-starter-kit/.boltrc.demo.js
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/demo.html
  packages/base-starter-kit/package.json
  packages/build-tools/__tests__/multi-lang/.boltrc.multi-lang.js
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/plugins/postcss-themify/CHANGELOG.md
  packages/build-tools/plugins/postcss-themify/README.md
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/helpers/css.util.js
  packages/build-tools/plugins/postcss-themify/src/index.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-critical-css-vars/CHANGELOG.md
  packages/components/bolt-critical-css-vars/README.md
  packages/components/bolt-critical-css-vars/index.js
  packages/components/bolt-critical-css-vars/package.json
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/configs/babel-preset-bolt/index.js
  packages/configs/babel-preset-bolt/package.json
  packages/configs/browserslist-config/.browserlistrc
  packages/configs/browserslist-config/all.js
  packages/configs/browserslist-config/index.js
  packages/configs/browserslist-config/legacy.js
  packages/configs/browserslist-config/package.json
  packages/configs/browserslist-config/test.js
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
  packages/core-v3.x/styles/02-tools/tools-themes/_tools.themes.scss
  packages/servers/testing-server/index.js
  yarn.lock
Due: npm run lint:js, npm run lint:style

ACD-286: replace grid with list, and list with stack
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/cards/_horizontal-card.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/search/_search-results--results-list.twig
Due: none

ds-152: style desktop nav list
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-mobile.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

Fixing logic issues and removing code pointing the old website url
  docs-site/.incache
Due: none

Uodate bolt versions (added 2.26.4)
  docs-site/.incache
Due: none

Fixing logic issues and removing code pointing the old website url
  packages/build-tools/tasks/api-tasks/bolt-versions.js
Due: npm run lint:js

DS-202: Remove unused var
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

ACD-286: custom component for horizontal cards.
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/cards/_horizontal-card.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/search/_search-results--results-list.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/index.scss
Due: npm run lint:style

ds-152: enhance desktop nav list and mobile overlays
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-mobile.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
  packages/core-v3.x/styles/02-tools/tools-full-bleed/_tools-full-bleed.scss
Due: npm run lint:style

DS-231: Update Menu component to use Bolt core v3
  packages/components/bolt-menu/package.json
  packages/components/bolt-menu/src/_menu-item.scss
  packages/components/bolt-menu/src/menu.scss
Due: npm run lint:style

DS-231: Update Menu to use latest conventions
  packages/components/bolt-menu/src/_menu-item.js
  packages/components/bolt-menu/src/menu.js
Due: npm run lint:js

Update chromedriver to fix failing Nightwatch tests on Travis
  packages/testing/testing-nightwatch/package.json
  scripts/package.json
  yarn.lock
Due: none

Regenerate .incache file after adding 2.27.0 alias
  docs-site/.incache
Due: none

DS-202: Fix typo
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

ds-152: clean up twig and css
  docs-site/src/assets/images/logos/pega-logo-cc.svg
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-mobile.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-235: Update last remaining uses of `@bolt/core` to `@bolt/core-v3.x`
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/index.scss
  packages/build-tools/__tests__/multi-lang/.boltrc.multi-lang.js
  packages/build-tools/utils/manifest.get-pkg-info.js
  tsconfig.json
Due: npm run lint:js, npm run lint:style

DS-235: Remove last remaining uses of `polyfillLoader`
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/15-code-snippet-language-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/999-experiments/animate/animate-demo-helpers.js
  packages/components/bolt-video/src/video.js
Due: npm run lint:js

ds-152: add focus styles for desktop nav links
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-235: Remove IE-specific polyfills from base-polyfills
  packages/base-polyfills/index.js
  packages/base-polyfills/modern.js
  packages/base-polyfills/package.json
  packages/base-polyfills/platform/baseuri.js
  packages/base-polyfills/platform/custom-event.js
  packages/base-polyfills/platform/es6-misc.js
  packages/base-polyfills/platform/flag-parser.js
  packages/base-polyfills/platform/get-own-property-symbols.max.js
  packages/base-polyfills/platform/promise.js
  packages/base-polyfills/platform/remove-polyfill.js
  packages/base-polyfills/platform/symbol.js
  packages/base-polyfills/platform/unresolved.js
Due: npm run lint:js

DS-235: Remove ie11 polyfills and unused dependencies from 'core-v3.x'
  packages/core-v3.x/data/get-data.js
  packages/core-v3.x/package.json
  packages/core-v3.x/polyfills/index.js
Due: npm run lint:js

DS-235: Remove ie11 polyfills from 'autotrack'
  packages/analytics/autotrack/index.js
  packages/analytics/autotrack/package.json
Due: npm run lint:js

DS-235: Remove ie11 polyfill from micro-journeys
  packages/experimental/micro-journeys/index.js
Due: npm run lint:js

DS-235: Remove reference to ie11 polyfill in main `package.json`
  package.json
Due: none

DS-235: Remove unused crtitical-fonts package
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/README.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-critical-fonts/src/critical-fonts.js
  packages/components/bolt-critical-fonts/src/critical-fonts.scss
  packages/components/bolt-critical-fonts/src/font-stacks.bolt.json
Due: npm run lint:js, npm run lint:style

DS-235: Remove references to removed packages
  __tests__/monorepo-basics.test.js
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
Due: npm run lint:js

DS-235: Update comment on bolt-theme function
  packages/core-v3.x/styles/02-tools/tools-themes/_tools.themes.scss
Due: npm run lint:style

DS-235: Remove critical-css and references to removed packages
  packages/components/bolt-critical-css/CHANGELOG.md
  packages/components/bolt-critical-css/README.md
  packages/components/bolt-critical-css/index.js
  packages/components/bolt-critical-css/package.json
  packages/servers/ssr-server/index.js
Due: npm run lint:js

DS-235: Update yarn.lock
  yarn.lock
Due: none

ds-152: add desktop hover styles and reduced motion condition
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-235: Remove IE11 polyfills from PL, consolidate build webpack build
  packages/website-ui/uikit-polyfills/index.js
  packages/website-ui/uikit-workshop/src/html/index.html
  packages/website-ui/uikit-workshop/src/scripts/patternlab-pattern.js
  packages/website-ui/uikit-workshop/src/scripts/patternlab-pattern.modern.js
  packages/website-ui/uikit-workshop/src/scripts/patternlab-viewer.modern.js
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/index.js
  packages/website-ui/uikit-workshop/views/partials/general-footer.mustache
  packages/website-ui/uikit-workshop/webpack.config.js
Due: npm run lint:js

DS-235: Delete unused polyfill files from PL, remove unused dependencies
  packages/website-ui/uikit-polyfills/package.json
  packages/website-ui/uikit-polyfills/platform/baseuri.js
  packages/website-ui/uikit-polyfills/platform/custom-event.js
  packages/website-ui/uikit-polyfills/platform/es6-misc.js
  packages/website-ui/uikit-polyfills/platform/flag-parser.js
  packages/website-ui/uikit-polyfills/platform/get-own-property-symbols.max.js
  packages/website-ui/uikit-polyfills/platform/promise.js
  packages/website-ui/uikit-polyfills/platform/remove-polyfill.js
  packages/website-ui/uikit-polyfills/platform/symbol.js
  packages/website-ui/uikit-polyfills/platform/unresolved.js
  packages/website-ui/uikit-workshop/package.json
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/custom-event-polyfill.js
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/polyfill-loader.js
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/polyfills-shared.js
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/polyfills.js
  packages/website-ui/uikit-workshop/src/scripts/utils/polyfills/symbol-polyfill.js
Due: npm run lint:js

Remove unused '@bolt/build-tools' dependency from Microjourneys
  packages/experimental/micro-journeys/package.json
Due: none

DS-236: Replace action blocks icon with content
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/35-action-blocks-freeform-content.twig
  packages/components/bolt-action-blocks/action-blocks.schema.js
  packages/components/bolt-action-blocks/src/_action-blocks-item.twig
Due: npm run lint:js

DS-236: Update example action blocks to replace 'icon' with 'content'
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/_info-density.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/00-action-blocks-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/05-action-blocks.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/10-action-blocks-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/15-action-blocks-borderless-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/20-action-blocks-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/25-action-blocks-max-items-per-row.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/30-action-blocks-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/_wip-modal-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/_event-sponsors-with-action-block.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-wip-global-search-mega-nav.twig
Due: none
