Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-653: Update demo - icon use case
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

DS-653: Update demo - icon use case docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

DS-658: Set CSS vars on default Banner, add test page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/banner/10-banner-themes.twig
  packages/components/bolt-banner/src/banner.scss
Due: npm run lint:style

DS-658: Move default CSS vars to top of file
  packages/components/bolt-banner/src/banner.scss
Due: npm run lint:style

Modified the email social share url functionality
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

fix: make Image element public
  packages/elements/bolt-image/package.json
Due: none

[skip travis] chore: version bump PHP-related dependencies to v4.6.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v4.6.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-banner/CHANGELOG.md
  packages/components/bolt-banner/package.json
  packages/elements/bolt-image/CHANGELOG.md
  packages/elements/bolt-image/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-586: Remove island object from 05-objects dir
  packages/global/styles/05-objects/objects-island/_objects-island.scss
  packages/global/styles/05-objects/objects-island/src/island.twig
Due: npm run lint:style

DS-586: Remove island object import from index.scss
  packages/global/styles/index.scss
Due: npm run lint:style

DS-585: Remove crop object from 05-objects folder
  packages/global/styles/05-objects/objects-crop/_objects-crop.scss
  packages/global/styles/05-objects/objects-crop/src/crop.twig
Due: npm run lint:style

DS-585: Remove crop object import from index.scss
  packages/global/styles/index.scss
Due: npm run lint:style

DS-564: Remove bolt-block-list from packages-components
  packages/components/bolt-block-list/CHANGELOG.md
  packages/components/bolt-block-list/README.md
  packages/components/bolt-block-list/TESTING.md
  packages/components/bolt-block-list/__tests__/__snapshots__/block-list.js.snap
  packages/components/bolt-block-list/__tests__/block-list.js
  packages/components/bolt-block-list/block-list.schema.js
  packages/components/bolt-block-list/package.json
  packages/components/bolt-block-list/src/block-list.js
  packages/components/bolt-block-list/src/block-list.scss
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-block-list/src/block-list.twig
Due: npm run lint:js, npm run lint:style

DS-564: Remove bolt-block-list from boltrc
  packages/base-starter-kit/.boltrc.js
Due: npm run lint:js

DS-564: Remove bolt-block-list from base-starter-kit packages.json
  packages/base-starter-kit/package.json
Due: none

Updated the tabs 'More' button label to be translatable
  packages/components/bolt-tabs/src/tabs.js
  packages/components/bolt-tabs/src/tabs.twig
  packages/components/bolt-tabs/tabs.schema.js
Due: npm run lint:js

Updated the tabs snapshot
  packages/components/bolt-tabs/__tests__/__snapshots__/tabs.js.snap
Due: none

Updated the eyebrow layout template to 'halves'
  docs-site/src/pages/pattern-lab/_patterns/50-pages/75-optimized-campaign-landing/-25-oclp-ungated-video.twig
Due: none

Updated node to 14.18.1
  .nvmrc
  packages/configs/eslint-config/package.json
  packages/website-ui/uikit-workshop/.nvmrc
Due: none

Fixed typos and added README files
  packages/components/bolt-breadcrumb/README.md
  packages/components/bolt-content-pagination/README.md
  packages/components/bolt-listing-teaser/README.md
  packages/components/bolt-menu/README.md
  packages/components/bolt-popover/README.md
  packages/components/bolt-progress-bar/README.md
  packages/components/bolt-ratio/README.md
  packages/components/bolt-search-filter/README.md
  packages/components/bolt-side-nav/README.md
  packages/components/bolt-stack/README.md
  packages/components/bolt-toc/README.md
  packages/components/bolt-video/README.md
  packages/elements/bolt-button/README.md
  packages/elements/bolt-icon/README.md
  packages/elements/bolt-image/README.md
  packages/elements/bolt-printable/README.md
  packages/elements/bolt-shape/README.md
  packages/elements/bolt-text-link/README.md
Due: none

DS-653: Change request - add aria-hidden on icon doc
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-05-icon.twig
Due: none

DS-653: Change request - add aria-hidden on icon-size docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-10-icon-size-variation.twig
Due: none

DS-653: Change request - add aria-hidden on icon-theme docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-10-icon-theme-variation.twig
Due: none

DS-653: Change request - add aria-hidden on icon-color docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-15-icon-color-variation.twig
Due: none

DS-653: Change request - add aria-hidden on icon-custom-colors docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-25-icon-custom-colors.twig
Due: none

DS-653: Change request - add aria-hidden on icon-name docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon-deprecated/-30-icon-name-variations.twig
Due: none

DS-653: Change request - add aria-hidden on image-size docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-10-image-size-variations.twig
Due: none

DS-653: Change request - add aria-hidden on image-source docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-15-image-source-variations.twig
Due: none

DS-653: Change request - add aria-hidden on image-lazy docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-20-image-lazyload-variations.twig
Due: none

DS-653: Change request - add aria-hidden on a docsite-src-tempaltes-homepage
  docs-site/src/templates/homepage.twig
Due: none

DS-653: Change request - add attributes to svg on icon-use-case element
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

DS-653: add missing enable-background attr to bolt icons twigs
  packages/elements/bolt-icon/src/icons/industries.twig
  packages/elements/bolt-icon/src/icons/insurance.twig
  packages/elements/bolt-icon/src/icons/integration.twig
  packages/elements/bolt-icon/src/icons/linkedin-solid.twig
  packages/elements/bolt-icon/src/icons/manufacturing.twig
  packages/elements/bolt-icon/src/icons/pega-announce.twig
  packages/elements/bolt-icon/src/icons/pega-building-complex.twig
  packages/elements/bolt-icon/src/icons/pega-cart.twig
  packages/elements/bolt-icon/src/icons/pega-catalyst.twig
  packages/elements/bolt-icon/src/icons/pega-chat-question.twig
  packages/elements/bolt-icon/src/icons/pega-chat-typing.twig
  packages/elements/bolt-icon/src/icons/pega-chat.twig
  packages/elements/bolt-icon/src/icons/pega-compass.twig
  packages/elements/bolt-icon/src/icons/pega-connection-hierarchy.twig
  packages/elements/bolt-icon/src/icons/pega-database.twig
  packages/elements/bolt-icon/src/icons/pega-disability.twig
  packages/elements/bolt-icon/src/icons/pega-heath-shield.twig
  packages/elements/bolt-icon/src/icons/pega-instructor.twig
  packages/elements/bolt-icon/src/icons/pega-map.twig
  packages/elements/bolt-icon/src/icons/pega-network.twig
  packages/elements/bolt-icon/src/icons/pega-pie-chart.twig
  packages/elements/bolt-icon/src/icons/pega-pin.twig
  packages/elements/bolt-icon/src/icons/pega-plane.twig
  packages/elements/bolt-icon/src/icons/pega-process-fabric.twig
  packages/elements/bolt-icon/src/icons/pega-send-submit.twig
  packages/elements/bolt-icon/src/icons/pega-setting.twig
  packages/elements/bolt-icon/src/icons/pega-shuffle.twig
  packages/elements/bolt-icon/src/icons/pega-thumbs-up.twig
  packages/elements/bolt-icon/src/icons/pega-timer.twig
  packages/elements/bolt-icon/src/icons/pega-wifi.twig
  packages/elements/bolt-icon/src/icons/scalability.twig
  packages/elements/bolt-icon/src/icons/speed-dial.twig
  packages/elements/bolt-icon/src/icons/twitter-solid.twig
  packages/elements/bolt-icon/src/icons/user-interface.twig
Due: none

DS-653: add missing enable-background attr to bolt icons svgs
  packages/elements/bolt-icon/src/svgs/co-browse.svg
  packages/elements/bolt-icon/src/svgs/industries.svg
  packages/elements/bolt-icon/src/svgs/insurance.svg
  packages/elements/bolt-icon/src/svgs/integration.svg
  packages/elements/bolt-icon/src/svgs/linkedin-solid.svg
  packages/elements/bolt-icon/src/svgs/manufacturing.svg
  packages/elements/bolt-icon/src/svgs/pega-announce.svg
  packages/elements/bolt-icon/src/svgs/pega-building-complex.svg
  packages/elements/bolt-icon/src/svgs/pega-cart.svg
  packages/elements/bolt-icon/src/svgs/pega-catalyst.svg
  packages/elements/bolt-icon/src/svgs/pega-chat-question.svg
  packages/elements/bolt-icon/src/svgs/pega-chat-typing.svg
  packages/elements/bolt-icon/src/svgs/pega-chat.svg
  packages/elements/bolt-icon/src/svgs/pega-compass.svg
  packages/elements/bolt-icon/src/svgs/pega-connection-hierarchy.svg
  packages/elements/bolt-icon/src/svgs/pega-database.svg
  packages/elements/bolt-icon/src/svgs/pega-disability.svg
  packages/elements/bolt-icon/src/svgs/pega-heath-shield.svg
  packages/elements/bolt-icon/src/svgs/pega-instructor.svg
  packages/elements/bolt-icon/src/svgs/pega-map.svg
  packages/elements/bolt-icon/src/svgs/pega-network.svg
  packages/elements/bolt-icon/src/svgs/pega-pie-chart.svg
  packages/elements/bolt-icon/src/svgs/pega-pin.svg
  packages/elements/bolt-icon/src/svgs/pega-plane.svg
  packages/elements/bolt-icon/src/svgs/pega-process-fabric.svg
  packages/elements/bolt-icon/src/svgs/pega-send-submit.svg
  packages/elements/bolt-icon/src/svgs/pega-setting.svg
  packages/elements/bolt-icon/src/svgs/pega-shuffle.svg
  packages/elements/bolt-icon/src/svgs/pega-thumbs-up.svg
  packages/elements/bolt-icon/src/svgs/pega-timer.svg
  packages/elements/bolt-icon/src/svgs/pega-wifi.svg
  packages/elements/bolt-icon/src/svgs/scalability.svg
  packages/elements/bolt-icon/src/svgs/speed-dial.svg
  packages/elements/bolt-icon/src/svgs/twitter-solid.svg
  packages/elements/bolt-icon/src/svgs/user-interface.svg
Due: none

DS-653: icon test update
  packages/elements/bolt-icon/__tests__/__snapshots__/icon.js.snap
Due: none

ds-590: set up the component
  docs-site/src/pages/pattern-lab/_patterns/40-components/switch-button/00-switch-button-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/switch-button/05-switch-button.twig
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/components/bolt-switch-button/README.md
  packages/components/bolt-switch-button/index.scss
  packages/components/bolt-switch-button/package.json
  packages/components/bolt-switch-button/src/switch-button.scss
  packages/components/bolt-switch-button/src/switch-button.twig
  packages/components/bolt-switch-button/switch-button.schema.js
Due: npm run lint:js, npm run lint:style

fix: typos in package.json
  packages/elements/bolt-icon/package.json
  packages/elements/bolt-shape/package.json
Due: none

ds-653: fix doc
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

ds-653: fix typos
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none
