Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-182 Fix twig code formatting
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

docs: add info density demos
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-information-density/00-compact-system.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-information-density/05-regular-system.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-information-density/10-comfortable-system.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-information-density/_info-density.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_default-page-template.twig
  docs-site/src/templates/base-template.twig
  docs-site/src/templates/homepage.twig
Due: none

docs: re-organize under visual styles
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/00-compact-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/05-regular-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/10-comfortable-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/_info-density.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/clearfix.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/displays.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/flex.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/height.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/opacity.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/shadow.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/text-align.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/text-decoration.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/visually-hidden.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/999-more-utilities/z-index.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-information-density/05-regular-system.twig
  packages/global/styles/00-vars/_vars-info-density.scss
Due: npm run lint:style

docs: change copy
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/_info-density.twig
Due: none

DS-144: Add deep linking functionality to Accordion.
  packages/components/bolt-accordion/accordion-item.schema.js
  packages/components/bolt-accordion/accordion.schema.js
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

DS-144: Add Accordion deep linking demos.
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/45-accordion-deep-linking.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/50-accordion-deep-linking-with-scroll-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/55-accordion-trigger-and-content-spacing-variations.twig
Due: none

DS-196: Fix Priority Nav bug in Safari.
  packages/components/bolt-nav-priority/nav-priority.js
Due: npm run lint:js

ds-177: add secondary and tertiary brand colors
  docs-site/src/components/component-status/component-status.scss
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

ds-195: add info density table
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/00-information-density-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/05-comfortable-density.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/10-regular-density.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/15-compact-density.twig
Due: none

ds-45: first pass
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

Updated the Chromedriver version to the supported number
  packages/testing/testing-nightwatch/nightwatch.js
Due: npm run lint:js

Change Nightwatch to Chromedriver 85.
  packages/testing/testing-nightwatch/nightwatch.js
Due: npm run lint:js

ds-177: add color shade toggle
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/00-color-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

Updated the Chromedriver version to the supported number
  scripts/package.json
Due: none

Update platform to 10.15, Chrome to 84
  packages/testing/testing-nightwatch/nightwatch.js
  packages/testing/testing-nightwatch/package.json
  yarn.lock
Due: npm run lint:js

Turn off Jest and Linting, to speed up debugging
  .travis.yml
Due: none

ds-177: generate CSS color vars
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  packages/global/styles/00-vars/_vars-color.scss
  packages/global/styles/index.scss
Due: npm run lint:style

Updated the Chromedriver version to the supported number
  .travis.yml
  packages/testing/testing-nightwatch/nightwatch.js
Due: npm run lint:js

ds-177: add color tokens doc
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/05-color-tokens.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/15-text-color-utilities.twig
Due: none

DS-195: Rework script in page template, remove density var on Regular page.
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/10-regular-density.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_default-page-template.twig
Due: none

DS-195: Update yarn lock.
  yarn.lock
Due: none

ds-195: update doc page copy
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/_info-density.twig
Due: none

DS-182: Call super in firstUpdated, missing data from base class.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: Comment out broken tests, we don't know how to fix.
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-blockquote/__tests__/blockquote.js
Due: npm run lint:js

DS-196: Update comment.
  packages/components/bolt-nav-priority/nav-priority.js
Due: npm run lint:js

ds-177: fix multi lang snap
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

DS-183: Remove VRT test from full e2e test.
  .travis.yml
Due: none

DS-144: Change query param to 'selected-accordion-item'.
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/45-accordion-deep-linking.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/50-accordion-deep-linking-with-scroll-offset.twig
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

DS-144: Add missing url-search-params dependency.
  packages/components/bolt-accordion/package.json
Due: none

DS-144: Update yarn lock.
  yarn.lock
Due: none

Trying to re-run Travis
  packages/experimental/micro-journeys/__tests__/character-layouts.js
Due: npm run lint:js

ds-45: second pass
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

WWW-171 Add workaround for Edge bug
  packages/components/bolt-tabs/src/tabs.scss
Due: npm run lint:style

Try to force release branch to build with test commit.
  docs-site/src/pages/pattern-lab/_patterns/40-components/button/ssr-examples/-test-button-ssr--web-component-wo-shadow-dom.twig
Due: none

Release 2.27.0 debugging
  auto-release.js
Due: none
