Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

styles: update only primary colors
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/00-color-palette/03-accessibility-check.twig
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

docs: add DIY horizontal card demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/06-card-horizontal.twig
Due: none

fix: update JA-specific Sass to pull in breakpoint-specific Sass functions / vars that don't yet exist (normally)
  packages/core-v3.x/styles/01-settings/00-settings-lang/_settings.lang-ja.scss
Due: npm run lint:style

fix: update build tools Jest tests to reflect new spacing defaults
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/build-tools/__tests__/multi-lang/index.js
Due: npm run lint:js

fix: update comments
  packages/core-v3.x/styles/01-settings/00-settings-lang/_settings.lang-ja.scss
Due: npm run lint:style

refactor: update build tools manifest updates
  jest.config.js
  packages/base-starter-kit/package.json
  packages/build-tools/__tests__/twig-dependencies/.boltrc.js
  packages/build-tools/__tests__/twig-dependencies/__image_snapshots__/index-js-build-deps-resolution-compiled-code-with-auto-injected-dependencies-renders-correctly-3-snap.png
  packages/build-tools/__tests__/twig-dependencies/__snapshots__/index.js.snap
  packages/build-tools/__tests__/twig-dependencies/fixtures/1200x660.jpg
  packages/build-tools/__tests__/twig-dependencies/index.js
  packages/build-tools/__tests__/twig-dependencies/jest.config.js
  packages/build-tools/__tests__/twig-dependencies/package.json
  packages/build-tools/create-webpack-config.js
  packages/build-tools/utils/manifest.js
  packages/global/package.json
  packages/servers/testing-server/server-only.js
  packages/testing/testing-jest/jest-global-setup.puppeteer-only.js
  packages/testing/testing-jest/jest-global-teardown.puppeteer-only.js
  packages/testing/testing-jest/jest-setup-files-after-env.puppeteer-only.js
  packages/testing/testing-jest/jest.config.puppeteer.js
Due: npm run lint:js

fix: address failing CI tests
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/global/package.json
Due: none

fix: update Jest snapshot
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

refactor: minor config cleanup
  jest.config.js
  packages/build-tools/utils/manifest.js
  packages/testing/testing-jest/jest-global-setup.puppeteer-only.js
Due: npm run lint:js

fix: disable the Webpack WriteFilePlugin as workaround to font assets not getting copied over consistently
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: force regenerating new Carousel VRT images
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-7-snap.png
Due: none

fix: update Modal VRT screenshots
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-bolt-modal-slots-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-at-various-viewport-sizes-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-with-band-at-various-viewport-sizes-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-simple-usage-bolt-modal-at-various-viewport-sizes-4-snap.png
Due: none

test: update Text VRT screenshots
  packages/components/bolt-text/__tests__/__image_snapshots__/text-js-bolt-text-component-all-caps-xxlarge-bold-quote-using-bolt-text-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-text/__tests__/__image_snapshots__/text-js-bolt-text-component-all-caps-xxlarge-bold-quote-using-bolt-text-w-shadow-dom-renders-1-snap.png
  packages/components/bolt-text/__tests__/__image_snapshots__/text-js-bolt-text-component-code-text-using-bolt-text-w-shadow-dom-renders-1-snap.png
  packages/components/bolt-text/__tests__/__image_snapshots__/text-js-bolt-text-component-default-bolt-text-w-shadow-dom-renders-1-snap.png
  packages/components/bolt-text/__tests__/__image_snapshots__/text-js-bolt-text-component-multiple-bolt-text-elements-w-shadow-dom-render-1-snap.png
Due: none

test: update VRT threshold for Text component
  packages/components/bolt-text/__tests__/text.js
Due: npm run lint:js

styles: add navy
  docs-site/src/components/bolt-select/bolt-select.scss
  docs-site/src/components/pattern-lab-demos/__shared-styles.scss
  docs-site/src/components/pattern-lab-demos/_color-demo.scss
  docs-site/src/components/pattern-lab-demos/_height-demo.scss
  docs-site/src/components/pattern-lab-demos/_visually-hidden-demo.scss
  docs-site/src/components/pattern-lab-utils/_sassdoc.scss
  docs-site/src/components/schema-form/component-explorer.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/components/version-selector/version-selector.scss
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/10-grid-start-and-span.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/table/25-table-cell-attributes.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/table/999-table-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/training/_completed-training-item.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/35-d8-events/05-event-detail.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_global-search.scss
  packages/components/bolt-action-blocks/src/_action-blocks-settings-and-tools.scss
  packages/components/bolt-background-shapes/src/background-shapes.scss
  packages/components/bolt-background/src/background.scss
  packages/components/bolt-button/src/_button-settings-and-tools.scss
  packages/components/bolt-code-snippet/src/_code-snippet-base.scss
  packages/components/bolt-code-snippet/src/_code-snippet-syntax-dark.scss
  packages/components/bolt-code-snippet/src/_code-snippet-syntax-light.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-headline/src/_headline.numbered.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-modal/src/modal.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
  packages/core-v3.x/styles/02-tools/tools-color-palette/_tools-color-palette.scss
  packages/experimental/micro-journeys/src/nav-shared.scss
  packages/global/styles/03-generic/_generic-reset.scss
  packages/global/styles/04-elements/_elements-code.scss
  packages/global/styles/04-elements/_elements-links.scss
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

styles: dark navy
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

chore: update Jest snapshot
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
Due: none

refactor: upgrade Accordion to use <ssr-keep>
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-accordion/src/accordion.twig
Due: none

refactor: update Banner to use <ssr-keep>
  packages/components/bolt-banner/__tests__/__snapshots__/banner.js.snap
  packages/components/bolt-banner/src/banner.twig
Due: none

refactor: update Blockquote to use <ssr-keep>
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

refactor: update Button to use <ssr-keep>
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/src/button.twig
Due: none

refactor: update Card to use <ssr-keep>
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-actions.twig
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: none

refactor: update Chip and Chip List to use <ssr-keep>
  packages/components/bolt-chip-list/__tests__/__snapshots__/chip-list.js.snap
  packages/components/bolt-chip-list/src/_chip-list-macros.twig
  packages/components/bolt-chip-list/src/chip-list.twig
  packages/components/bolt-chip/__tests__/__snapshots__/chip.js.snap
  packages/components/bolt-chip/src/_chip-macros.twig
  packages/components/bolt-chip/src/chip.twig
Due: none

refactor: update Figure to use <ssr-keep>
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-figure/src/figure.twig
Due: none

refactor: update Link to use <ssr-keep>
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-link/src/_link-macros.twig
  packages/components/bolt-link/src/link.twig
Due: none

refactor: update Placeholder to use <ssr-keep>
  packages/components/bolt-placeholder/__tests__/__snapshots__/placeholder.js.snap
  packages/components/bolt-placeholder/placeholder.twig
Due: none

refactor: update Ratio to use <ssr-keep>
  packages/components/bolt-ratio/__tests__/__snapshots__/ratio.js.snap
  packages/components/bolt-ratio/src/ratio.twig
Due: none

refactor: update Typeahead to use <ssr-keep>
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
  packages/components/bolt-typeahead/typeahead.twig
Due: none

refactor: update Stack to use <ssr-keep>
  packages/components/bolt-stack/__tests__/__snapshots__/stack.js.snap
  packages/components/bolt-stack/src/stack.twig
Due: none

refactor: update Popover and Tooltip to use <ssr-keep>
  packages/components/bolt-popover/__tests__/__snapshots__/popover.js.snap
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-popover/src/popover.twig
  packages/components/bolt-tooltip/__tests__/__snapshots__/tooltip.js.snap
  packages/components/bolt-tooltip/src/tooltip.twig
Due: npm run lint:style

refactor: update Table of Contents to use <ssr-keep>; remove old ssr-workaround logic
  packages/components/bolt-toc/src/_toc-item.twig
  packages/components/bolt-toc/src/toc.js
  packages/components/bolt-toc/src/toc.twig
Due: npm run lint:js

refactor: update Menu to use <ssr-keep>
  packages/components/bolt-menu/__tests__/__snapshots__/menu.js.snap
  packages/components/bolt-menu/src/menu.twig
Due: none

fix: add update snapshot for Table of Contents
  packages/components/bolt-toc/__tests__/__snapshots__/toc.js.snap
Due: none

refactor: update snapshots for the List and List Item components
  packages/components/bolt-li/src/li.twig
  packages/components/bolt-list/__tests__/__snapshots__/list.js.snap
  packages/components/bolt-list/src/_list-item.twig
  packages/components/bolt-list/src/list.twig
Due: none

refactor: update Ordered and Unordered Lists to use <ssr-keep>
  packages/components/bolt-ol/__tests__/__snapshots__/ol.js.snap
  packages/components/bolt-ol/src/ol.twig
  packages/components/bolt-ul/__tests__/__snapshots__/ul.js.snap
  packages/components/bolt-ul/src/ul.twig
Due: none

refactor: update Card component snapshot
  packages/components/bolt-card-deprecated/__tests__/__snapshots__/card.js.snap
Due: none

fix: update remaining Jest snapshots; tweak Popover and Tabs tests to be more reliable
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/25-popover-theme-variations.twig
  packages/components/bolt-breadcrumb/__tests__/__snapshots__/breadcrumb.js.snap
  packages/components/bolt-button-group/__tests__/__snapshots__/button-group.js.snap
  packages/components/bolt-device-viewer/__tests__/__snapshots__/device-viewer.js.snap
  packages/components/bolt-headline/__tests__/__snapshots__/headline.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-logo/__tests__/__snapshots__/logo.js.snap
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-tabs/__tests__/tabs.js
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
  packages/twig-integration/twig-renderer-endpoint/__snapshots__/index.test.js.snap
Due: npm run lint:js

fix: update JS to address linting issues
  docs-site/src/components/bolt-select/bolt-select.js
  docs-site/src/components/shadow-toggle/index.js
  docs-site/src/components/theme-switcher/index.js
Due: none
