Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-833: Update template
  packages/elements/bolt-list/src/list-item.twig
Due: none

DS-833: Update css
  packages/elements/bolt-list/src/list.scss
Due: npm run lint:style

DS-833: Update snapshots
  packages/elements/bolt-list/__tests__/__snapshots__/list.js.snap
Due: none

DS-876: update css + test article page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/article/00-link.twig
  packages/elements/bolt-article/src/article.scss
Due: npm run lint:style

DS-823: Add gradient utilities
  packages/global/styles/07-utilities/_utilities-gradient.scss
  packages/global/styles/index.scss
Due: npm run lint:style

DS-823: Add docs for new gradient utilities
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/25-background-gradients/00-gradients.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/25-background-gradients/05-gradient-focal-points.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/25-background-gradients/10-gradient-tokens.twig
Due: none

DS-823: Update naming conventions for background focal points
  packages/components/bolt-background/src/background-overlay.twig
  packages/components/bolt-background/src/background.scss
Due: npm run lint:style

DS-823: Remove radial gradient from background fill options
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/30-background-focal-point.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/40-background-theme-compatibility.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/background/05-background-themes.twig
  packages/components/bolt-background/background.schema.js
  packages/components/bolt-background/src/background-overlay.twig
  packages/components/bolt-background/src/background.scss
Due: npm run lint:js, npm run lint:style

Bump loader-utils in package.json
  packages/build-tools/plugins/file-passthrough-loader/package.json
  packages/build-tools/plugins/svg-transform-loader/package.json
  yarn.lock
Due: none

DS-843: Refactor Layout Demos.
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-1-about.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-2-insights.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-4-careers.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-5-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-6-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-7-industries.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-8-services.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-998-layout-use-case-page-9-pegaworld.twig
Due: none

Update bolt is test the community videoo chaptering bug
  docs-site/src/pages/pattern-lab/_patterns/999-tests/video/35-video-modal.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

DS-886: Add new props to the schema
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

DS-886: Update template
  packages/components/bolt-teaser/src/teaser.twig
Due: none

DS-886: Update CSS
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

DS-886: Create a teaser test page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/teaser/15-teaser-spacing-and-border-radius.twig
Due: none

Remove CSS Nano ffrom our dependencies
  docs-site/.incache
  packages/build-tools/package.json
  yarn.lock
Due: none

DS-889: TEmplates
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/_drupal-admin-ui-template.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/_main-content.twig
Due: none

DS-889: Tabs includings
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-action.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-animation.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-overrides.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-shape.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tabs-set.twig
Due: none

DS-889: ui docs
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/00-icon-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/05-image-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/10-button-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/15-blockquote-paragraph.twig
Due: none

DS-886: Update and rename teaser layout doc page
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/10-teaser-layout.twig
Due: none

DS-886: Add card variant doc page
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-card-variant.twig
Due: none

DS-886: Change numbering
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-chips.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-time.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/35-teaser-status-and-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-text-options.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/45-teaser-description-on-hover.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/50-teaser-video-modal.twig
Due: none

DS-886: Update docs page
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-card-variant.twig
Due: none

DS-886: Update doc title
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/10-teaser-layout.twig
Due: none

DS-889: Update template
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/_drupal-admin-ui-template.twig
Due: none

DS-889: Create new tabs
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-avatar.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-after.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-before.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-tabs.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-logo.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-tabs.twig
Due: none

DS-889: Create new docs + update numbering
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/00-text-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/05-icon-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/10-image-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/15-button-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/20-blockquote-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/25-list-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/30-action-blocks-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/35-tabs-and-accrodion-paragraph.twig
Due: none

DS-889: Replace custom tags
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/00-text-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/05-icon-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/10-image-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/15-button-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/20-blockquote-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/25-list-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/30-action-blocks-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/35-tabs-and-accrodion-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-animation.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-overrides.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-shape.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-tabs.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tabs-set.twig
Due: none

DS-889: Styles + replace custom tag
  docs-site/src/index.scss
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/25-list-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/styles/index.scss
Due: npm run lint:style

DS-889: Replace custom tag
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-after.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-before.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-overrides.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-shape.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-tabs.twig
Due: none

DS-774: query popover content, add click event to close popover. add test page.
  docs-site/src/pages/pattern-lab/_patterns/999-tests/popover/20-popover-close-on-action.twig
  packages/components/bolt-popover/src/popover.js
Due: npm run lint:js

DS-889: Update animation tag
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-animation.twig
Due: none

DS-889: Update tabs
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-animation.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-modal.twig
Due: none

DS-889: Update css
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/styles/index.scss
Due: npm run lint:style

DS-889: Update block name + loop
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/00-text-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/05-icon-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/10-image-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/15-button-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/20-blockquote-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/25-list-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/30-action-blocks-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/35-tabs-and-accrodion-paragraph.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/_main-content.twig
Due: none

DS-889: Tab names + loop
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-action-blocks.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options-tabs.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-item-options.twig
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-visual-blockquote.twig
Due: none

DS-889: Remove inline style
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-overrides.twig
Due: none

DS-889: Add select option to the animation tab
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/tabs/_tab-animation.twig
Due: none

DS-889: Revert commented code
  docs-site/src/pages/pattern-lab/_patterns/70-drupal-admin-user-interface/20-blockquote-paragraph.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
