Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-471: Update schema
  packages/components/bolt-teaser/teaser.schema.js
Due: npm run lint:js

DS-471: Delete type prop from demo pages
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-description-on-hover.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/gallery-test-fade-ins.twig
Due: none

ds-549 test page cleanup
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/05-dialog-with-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/10-dialog-in-relative-div.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/15-dialog-in-carousel.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/20-dialog-in-table.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/25-dialog-with-table.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/30-dialog-from-card.twig
Due: none

DS-471: Rename file
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/45-Teaser Video Within Modal.twig
Due: none

DS-471: Rename file title
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/45-Teaser Video Within Modal.twig
Due: none

DS-459 remove scroll behavior prop
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-scroll-behaviors.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-media.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-form.twig
  packages/components/bolt-dialog/dialog.schema.js
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:js

ds-459: fix safari height bug
  packages/components/bolt-dialog/src/dialog.scss
Due: npm run lint:style

Upgrade stylelint, support for `dvb`
  package.json
  packages/configs/stylelint-config/ideal.js
  packages/configs/stylelint-config/package.json
  yarn.lock
Due: npm run lint:js

DS-459: Uncomment CSS that uses `dvb` unit, now supported
  packages/components/bolt-dialog/src/dialog.scss
Due: npm run lint:style

DS-602: Revert delete pattern template func
  packages/twig-integration/twig-extensions-shared/src/TwigExtensions/BoltCoreCompat.php
  packages/twig-integration/twig-extensions-shared/src/TwigFunctions.php
Due: none

DS-602: Rewrite backgroun image usage in layout
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-20-layout-background-and-theme.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-artificial-intelligence-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-locations-france-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-999-layout-use-case-old-homepage.twig
Due: none

DS-602: Rewrite backgroun image usage in background component
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/00-background-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
Due: none

DS-602: Rewrite backgroun image usage in sticky
  docs-site/src/pages/pattern-lab/_patterns/40-components/sticky/_15-sticky-with-content-example.twig
Due: none

DS-602: Rewrite backgroun image usage in carousel
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_band-carousel--slide-1.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_band-carousel--slide-2.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/examples/_carousel-slide-background.twig
Due: none

DS-459: move close button outside of container.
  packages/components/bolt-dialog/src/dialog-header.twig
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

DS-602: Rewrite background usage
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
Due: none

DS-602: Rewrite background usage on band
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/35-band-with-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/40-band-nested.twig
Due: none

DS-602: Rewrite background usage on a card
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/20-card-replacement-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/30-carousel-advanced-variations.twig
Due: none

DS-602: Rewrite background usage on a boc
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
Due: none

DS-602: Rewrite background usage on an archive folder
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/micro-journeys/combos/-95-in-page-example.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/band/_band--instructor-led-training.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/heros/dashboard-page-hero/_dashboard-page-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/heros/search/_search-results-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/modals/_test-completed-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/05-pages/dashboard/dashboard--my-missions/acd-dashboard--my-missions.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/homepage/homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/homepage/homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/partners/partners-search.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/product-pages/product-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/999-archive/product-pages/product-t4.twig
Due: none

DS-602: Rewrite background usage on an archive
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/modals/_test-completed-modal--before-submit.twig
Due: none

Revert "DS-459: move close button outside of container."
  packages/components/bolt-dialog/src/dialog-header.twig
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

ds-459 docs updates
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/00-dialog-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-media.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-form.twig
Due: none

ds-549 schema update
  packages/components/bolt-dialog/dialog-body.schema.js
  packages/components/bolt-dialog/dialog-footer.schema.js
  packages/components/bolt-dialog/dialog-header.schema.js
  packages/components/bolt-dialog/dialog.schema.js
Due: npm run lint:js

DS-459: Fix indentation, underscores, copy edits
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-media.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-form.twig
Due: none

DS-459: Add docs for image and video
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-media.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-form.twig
  packages/components/bolt-dialog/src/dialog.twig
Due: none

DS-459: Move custom event to onCloseCleanup so it fires on 'cancel'
  packages/components/bolt-dialog/src/dialog.js
Due: npm run lint:js

ds-459 move close button out
  packages/components/bolt-dialog/src/dialog-header.twig
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

DS-459: Add escape handling for persistent dialog
  packages/components/bolt-dialog/src/dialog.js
Due: npm run lint:js

DS-459: Add tests
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
  packages/components/bolt-dialog/__tests__/dialog.js
Due: npm run lint:js

DS-459: Add warning to docs pages
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-00-dialog-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-40-dialog-use-case-form.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/00-dialog-prerelease-docs.twig
Due: none

DS-459: Update video docs to use 'optimal' width
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/-35-dialog-use-case-video.twig
Due: none

DS-459: Fix modal at small size
  packages/components/bolt-dialog/src/dialog.scss
Due: npm run lint:style

DS-459: Update button text in demos
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/15-dialog-in-carousel.twig
Due: none

ds-459: use semantic elements
  packages/components/bolt-dialog/src/dialog-body.twig
  packages/components/bolt-dialog/src/dialog-footer.twig
Due: none

ds-459: hide docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_00-dialog-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_00-dialog-prerelease-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_40-dialog-use-case-form.twig
Due: none

DS-459: Update tests
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
Due: none

[skip travis] chore: version bump PHP-related dependencies to v5.5.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none
