Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

test(@bolt/components-icons): add test for bolt-icons
  packages/components/bolt-icons/__tests__/__image_snapshots__/icons-js-bolt-icon-component-additional-bolt-icon-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-icons/__tests__/__image_snapshots__/icons-js-bolt-icon-component-default-bolt-icon-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-icons/__tests__/__snapshots__/icons.js.snap
  packages/components/bolt-icons/__tests__/icons.js
  packages/components/bolt-icons/__tests__/icons/yeti.svg
Due: npm run lint:js

refactor: update root .boltrc config to auto-extend the full config from the docs site
  .boltrc.js
Due: none

refactor: update and split up SSR demos
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/70-server-side-rendering--twig-only.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/70-server-side-rendering--twig-wc-hybrid.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/70-server-side-rendering--wc-only.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/button-ssr.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/30-server-side-rendering--wc-only.twig
Due: none

chore: update text in SSR example in the text component
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/30-server-side-rendering--wc-only.twig
Due: none

chore: update .incache, add icon SSR tests and simplify .boltrc used in to repo root
  .boltrc.js
  .incache
  docs-site/src/pages/pattern-lab/_patterns/02-components/icon/30-server-side-rendering--twig-only.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/icon/30-server-side-rendering--wc-only.twig
Due: none

refactor: update bolt_ssr PHP function to more accurately locate where the @bolt/server directory is located
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-twig-integrated-server-side-rendering-can-pre-render-the-bolt-button-web-component-1-snap.png
  packages/core-php/src/TwigFunctions.php
Due: none

refactor: update SSR Server to make formatting the output received from puppeteer the responsibility of the main script
  server/ssr-server.mjs
  server/ssr-server.puppeteer.mjs
Due: none

chore: update lock files
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
  yarn.lock
Due: none

refactor: have Lerna manage dependencies for the new emerging server package; add Button component SSR test to check if SSR is working as expected in different environments
  package.json
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

feat: add web component SSR + Twig Nightwatch.js test
  docs-site/__tests__/server-side-rendering.e2e.js
Due: none

fix: increase Symfony process timeout
  packages/core-php/src/TwigFunctions.php
Due: none

docs: setting up doc page template
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-quoted.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/00-text-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/05-text.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/10-text-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/15-text-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/25-text-size-and-weight-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/_00-text-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/_text-link.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/includes/_text-doc-template.twig
  packages/components/bolt-text/README.md
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:style

refactor: remove old code from ssr-server setup
  server/ssr-server.mjs
Due: none

refactor: adjust how the button component's inner element is querySelected
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: remove auto-highlighting SSR-rendered HTML
  jest-environment-puppeteer-basichtml.js
  jest-global-setup.js
  server/ssr-server.mjs
Due: none

fix: update button tests + snapshots
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-twig-integrated-server-side-rendering-can-pre-render-the-bolt-button-web-component-2-snap.png
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

docs: Add additional deprecated params to schema
  packages/components/bolt-band/band.schema.yml
Due: none

docs: Add deprecated props to schema
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/-deprecated-band.twig
  packages/components/bolt-band/band.schema.yml
Due: none

docs: Remove remaining examples using deprecated band props
  docs-site/src/pages/pattern-lab/_patterns/02-components/00-overview.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/30-blockquote-theme-variation.twig
Due: none

docs: create docs for each prop
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-link.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-quoted.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/05-text.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/10-text-typographic-recipes.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/15-text-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/20-text-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/25-text-color-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/30-text-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/35-text-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/40-text-quoted.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/45-text-line-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/50-text-letter-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/55-text-transform-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/60-text-font-family-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/65-text-font-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/70-text-font-style-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/75-text-font-weight-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/_text-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/includes/_text-doc-template.twig
  packages/components/bolt-text/README.md
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:style

fix: adding enum for boolean props
  docs-site/src/pages/pattern-lab/_patterns/02-components/text/-text-link.twig
  packages/components/bolt-text/text.schema.yml
Due: none

chore: add component explorer comment for the ratio component docs
  docs-site/src/pages/pattern-lab/_patterns/02-components/ratio/00-ratio-docs.twig
Due: none

docs: Remove examples of deprecated band props in docs site core
  docs-site/src/templates/default.twig
  docs-site/src/templates/homepage.twig
Due: none

refactor: update build tasks to better handle + clean up task collection logic to use Promises
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
  packages/build-tools/tasks/api-tasks/index.js
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

chore: update .incache
  docs-site/.incache
Due: none

refactor: update task collection to use Promises to better handle the order certain tasks run
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

fix: update now.sh utils to change how the NOW_TOKEN gets added
  scripts/utils.js
Due: none

fix: update card + ratio snapshots
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-with-html-5-video-renders-1-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-default-bolt-ratio-w-o-shadow-dom-renders-2-snap.png
  packages/components/bolt-ratio/__tests__/__snapshots__/ratio.js.snap
  packages/components/bolt-ratio/__tests__/ratio.js
Due: npm run lint:js

test: test updating status board's now.sh utils to troubleshoot post-deploy tests failing
  scripts/utils.js
Due: none

refactor: split apart the lint and unit test portions of the Travis build + add caching support
  .travis.yml
Due: none

refactor: remove old test files no longer being used in lieu of npm scripts
  test/lint.js
  test/unit.js
Due: none

fix: update travis config
  .travis.yml
Due: none

chore: add missing backtick to api-tasks' README.md
  packages/build-tools/tasks/api-tasks/README.md
Due: none

fix: re-test with updated travis config
  .travis.yml
Due: none

fix: slightly increase the max deploy timeout on travis + auto-retry installing dependencies
  .travis.yml
Due: none

fix: swap order of watch vs serve tasks
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: reduce Git clone depth to speed up build
  .travis.yml
Due: none
