Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: get Open Sans working
  apps/bolt-site/.boltrc.js
  apps/bolt-site/templates/template-index.twig
Due: npm run lint:js

refactor: update themify logic to use the xlight theme as a default + accommodate nested themes w/ IE 11 fallback support!
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

chore: updating component page
  apps/pattern-lab/src/_patterns/02-components/00-overview.twig
Due: none

feat: add new webpack-sassdoc-plugin; wire up Sassdoc build process to Webpack directly
  package.json
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin.js
  yarn.lock
Due: npm run lint:js

chore: update nightwatch.js test to remove the body tag from the .c-bolt-site selector being tested for
  tests/e2e/pattern-lab-compiling.js
Due: none

fix: update nightwatch test
  apps/bolt-site/templates/template-index.twig
  tests/e2e/pattern-lab-compiling.js
Due: none

fix: test criteria typo
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: move video class logic inside conditional (BDS-336)
  packages/components/bolt-video/src/video.twig
Due: none

fix: rework logic for separating utility classes for video with ratio
  packages/components/bolt-video/src/video.twig
Due: none

docs: add example of standalone form inside a card
  apps/pattern-lab/src/_patterns/04-pages/80-events/form-example.twig
Due: none

fix: add missing Twig include
  apps/pattern-lab/src/_patterns/04-pages/80-events/form-example.twig
Due: none

Update form-example.twig
  apps/pattern-lab/src/_patterns/04-pages/80-events/form-example.twig
Due: none

chore: remove sandbox home page
  apps/pattern-lab/src/_patterns/04-pages/99999-bolt-dev-sandbox/05-bolt-home-page.twig
Due: none

fix: update home page test
  apps/bolt-site/templates/template-index.twig
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: use new theming system for colors
  packages/components/bolt-pagination/pagination.scss
Due: npm run lint:style

chore: update colors to use bolt-theme function
  packages/components/bolt-chip/src/chip.scss
Due: npm run lint:style

Utility Class Documentation - Clearfix
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/clearfix.twig
  apps/pattern-lab/src/styles/_docs.scss
Due: npm run lint:style

Utility Class Documentation - target adjustment for sassdoc reference link
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/clearfix.twig
Due: none

Utility Class Documentation - Shadow demo updates
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/shadow.twig
Due: none

Utility Class Documentation - z-index demo updates
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/z-index.twig
Due: none

fix: remove CSS and standardize props
  packages/components/bolt-share/share.schema.yml
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-share/src/share.twig
Due: npm run lint:style

chore: remove quotes in schema
  packages/components/bolt-share/share.schema.yml
Due: none

feat: update now.sh deploy script to switch all deployments moving forward to the main boltdesignsystem.com domain
  scripts/deploy.js
Due: none

chore: revert updating nightwatch test selector -- stashing for a separate PR
  tests/e2e/pattern-lab-compiling.js
Due: none

refactor: remove original hard-coded Critical CSS logic and styling from the original implementation
  apps/bolt-site/templates/site.twig
  apps/pattern-lab/src/_meta/_00-head.twig
Due: none

styles: create generic list component
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/package.json
  apps/pattern-lab/src/_patterns/02-components/list/00-list-docs.twig
  apps/pattern-lab/src/_patterns/02-components/list/05-list.twig
  apps/pattern-lab/src/_patterns/02-components/list/10-list-display-variation.twig
  apps/pattern-lab/src/_patterns/02-components/list/15-list-spacing-variation.twig
  package.json
  packages/components/bolt-list/README.md
  packages/components/bolt-list/index.scss
  packages/components/bolt-list/list.schema.yml
  packages/components/bolt-list/package.json
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-list/src/list.twig
Due: npm run lint:js, npm run lint:style

chore: add polymer to bolt-video directly so we have access to the "beforeNextRender" function being shipped in Bolt v2's core
  packages/components/bolt-video/package.json
Due: none

fix: update video component so the ID created is a valid selector + we ensure the video player is rendered first before initializing Brightcove
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

docs: add test examples to confirm dynamically injected video player now working as expected
  apps/pattern-lab/src/_patterns/02-components/video/60-video-injection-test.twig
Due: none

styles: adding alignments
  apps/pattern-lab/src/_patterns/02-components/list/00-list-docs.twig
  apps/pattern-lab/src/_patterns/02-components/list/05-list.twig
  apps/pattern-lab/src/_patterns/02-components/list/10-list-display-variation.twig
  apps/pattern-lab/src/_patterns/02-components/list/10-list-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/15-list-spacing-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/20-list-valign-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/25-list-align-variations.twig
  packages/components/bolt-list/list.schema.yml
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-list/src/list.twig
  packages/components/bolt-placeholder/placeholder.scss
Due: npm run lint:style

styles: responsive options
  apps/pattern-lab/src/_patterns/02-components/list/05-list.twig
  apps/pattern-lab/src/_patterns/02-components/list/10-list-item-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/15-list-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/15-list-spacing-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/20-list-spacing-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/30-list-valign-variations.twig
  packages/components/bolt-list/list.schema.yml
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

chore: port over DOM library from Google's Critters project, updating to work with Node.js without requiring transpiling / switching to use .mjs
  packages/build-tools/tasks/dom.js
Due: npm run lint:js

refactor original Critical CSS build task to modify HTML files on the fly vs requiring everything to get precompiled (or recompiled) first
  packages/build-tools/tasks/criticalcss-tasks.js
Due: npm run lint:js

chore: add new deps required for the Critical CSS build process
  packages/build-tools/package.json
Due: none

chore: add new async read/write file utils
  packages/build-tools/utils/read-file.js
  packages/build-tools/utils/write-file.js
Due: npm run lint:js

refactor: update build tools schema to be wired up to the new critical CSS task
  packages/build-tools/utils/config.schema.yml
Due: none

refactor: update .boltrc configs to use new Critical CSS task
  apps/bolt-site/.boltrc.js
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/src/_meta/_00-head.twig
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: temporarily disable global page header -- additional style overrides needed to more easily generate critical CSS styles
  packages/components/bolt-page-header/src/page-header.twig
Due: none

chore: update nightwatch.js config + deps
  .gitignore
  .travis.yml
  apps/bolt-site/renderTwig.php
  package.json
Due: none

feat: 1st pass creating build script to generate the JSON data needed for a dropdown menu of versions of Bolt released
  scripts/git-urls.js
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
