Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

chore: minor docs cleanup
  packages/components/bolt-typeahead/README.md
Due: none

feat: add Pattern Lab demo + component updates to support fully dynamic / async fetched search results
  docs-site/.boltrc.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/typeahead--dynamically-fetch-data.twig
  packages/components/bolt-typeahead/autosuggest.js
  packages/components/bolt-typeahead/typeahead.data.json
Due: npm run lint:js

fix: make sure to pass along config handling the maxResults option
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: upgrade Twig renderer to the latest version to fix occasional memory errors getting thrown
  packages/twig-renderer/package.json
  yarn.lock
Due: none

fix: temporarily switch Drupal Lab back to using local monorepo deps
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

fix: update Core to use forked version of get-own-property-symbols lib
  packages/core/.patches/get-own-property-symbols+0.9.2.patch
  packages/core/package.json
  packages/core/polyfills/symbol-polyfill.js
Due: npm run lint:js

fix(with-without): safari title z-index bug
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/with-without/with-without-tests.js
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/with-without/with-without-tests.twig
  packages/components/bolt-with-without/js/handleActiveRegionChange.js
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js, npm run lint:style

style(with-without): js linting
  packages/components/bolt-with-without/js/handleActiveRegionChange.js
Due: npm run lint:js

fix: make sure to use the right method when rendering to the Light DOM
  packages/components/bolt-typeahead/autosuggest.js
Due: npm run lint:js

refactor: cleaning up + consolidating schema
  packages/components/bolt-typeahead/typeahead.js
  packages/components/bolt-typeahead/typeahead.schema.yml
  packages/components/bolt-typeahead/typeahead.twig
Due: npm run lint:js

chore: remove unneeded prop
  packages/components/bolt-typeahead/autosuggest.js
Due: npm run lint:js

refactor: demo and docs refactoring
  docs-site/src/index.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/00-typeahead-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/typeahead--dynamically-fetch-data.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/typeahead--navigate-to-exact-result.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/typeahead--navigate-to-search-results.twig
  packages/components/bolt-typeahead/README.md
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.js
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.md
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.twig
Due: npm run lint:js

chore: fix prettier issue
  docs-site/src/index.js
Due: none

feat(animate): can add show-meta attribute
  packages/components/bolt-animate/animate.schema.js
  packages/components/bolt-animate/src/animate.js
Due: npm run lint:js

fix(with-without): add show-meta stage to animate
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:style

feat(bolt-animate): add debug optional debug flag
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix(bolt-animate): pass debug flag to triggerAnimsOnEls
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix(animate): debug event name
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

feat(bolt-animate): add debug optional debug flag (#1404)
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix(micro-journeys): increase robustness of parent-child components
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/package.json
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

fix: update Jest snapshot for Typeahead
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
  packages/components/bolt-typeahead/__tests__/typeahead.js
Due: npm run lint:js

test: add basic Typeahead test using Nightwatch
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

chore: temporarily disable Drupal Lab checks as temp workaround to unrelated build issue
  .travis.yml
Due: none

chore: update composer.json / composer.lock
  packages/core-php/composer.json
  packages/core-php/composer.lock
Due: none

chore: cklean up Typeahead E2E test
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

chore: add missing dependency + code cleanup and reorganization
  docs-site/.boltrc.js
  packages/components/bolt-typeahead/__demos__/typeahead.data.json
  packages/components/bolt-typeahead/classnames.js
  packages/components/bolt-typeahead/package.json
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.js
  packages/components/bolt-typeahead/typeahead.twig
Due: npm run lint:js

docs(micro-journey): update in-page example
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/combos/-99-in-page-example.twig
Due: none

docs(micro-journeys): add demo link at top of docs
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/00-micro-journey-docs.twig
Due: none

test: add travis_wait to build command
  .travis.yml
Due: none

fix(bolt-animate): add debug to triggerAnimOnEls
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix(with-without): tightening up animation markup props
  packages/components/bolt-with-without/with-without.twig
Due: none

fix(bolt-animate): safari animation fixes
  packages/components/bolt-animate/src/animate.js
Due: npm run lint:js

fix(bolt-animate): remove animation-delay of 0 and force animation-duration to be 1 to fix Safari
  packages/components/bolt-animate/src/animate.js
Due: npm run lint:js

feat(editor): ensure only Chrome can open
  packages/editor/package.json
  packages/editor/src/index.js
  yarn.lock
Due: npm run lint:js

docs(editor): add submit bug button
  packages/editor/src/editor.js
  packages/editor/src/index.scss
Due: npm run lint:js, npm run lint:style

test: re-test travis w/ version locked Puppeteer + verbose UIkit build
  packages/testing/testing-jest/package.json
  packages/uikit-critical-css-webpack-plugin/package.json
  packages/uikit-prerenderer/package.json
  packages/uikit-workshop/package.json
Due: none

test: remove Travis wait
  .travis.yml
Due: none

fix: set `selected` attr, was buggy in IE11
  packages/components/bolt-tabs/src/TabPanel/index.js
Due: npm run lint:js

chore(with-without): remove unused css
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:style

fix: test fixing Travis build
  .travis.yml
  package.json
  packages/analytics/autolink/__tests__/autolink.test.js
  patches/@basalt+twig-renderer+0.12.0.patch
  yarn.lock
Due: npm run lint:js
