Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-590: Info-section schema and twig template edits
  docs-site/src/pages/pattern-lab/_patterns/40-components/info-section/05-info-section.twig
  packages/components/bolt-info-section/info-section.schema.js
  packages/components/bolt-info-section/src/info-section.twig
Due: npm run lint:js

ds-590: update info section docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/info-section/05-info-section.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/85-user/-user-profile.twig
Due: none

DS-677: change markup
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

Added the live examples in the 'Heroes with layout' folder and moved the existing examples into the Test folder
  docs-site/src/assets/images/heros/live-assets/Hero-go-graphics-front.png
  docs-site/src/assets/images/heros/live-assets/Infinity-background-v2.jpg
  docs-site/src/assets/images/heros/live-assets/Infinity-logo-color.png
  docs-site/src/assets/images/heros/live-assets/about-hero-bg.jpg
  docs-site/src/assets/images/heros/live-assets/artificial-intelligence-hero.jpg
  docs-site/src/assets/images/heros/live-assets/capgemini-logo-sponsors-white-50.png
  docs-site/src/assets/images/heros/live-assets/center-out-hero-bg.jpg
  docs-site/src/assets/images/heros/live-assets/ces-paris-team.jpg
  docs-site/src/assets/images/heros/live-assets/hero-fpo-v4.png
  docs-site/src/assets/images/heros/live-assets/icon-HQs.png
  docs-site/src/assets/images/heros/live-assets/icon-awards.png
  docs-site/src/assets/images/heros/live-assets/icon-employees.png
  docs-site/src/assets/images/heros/live-assets/icon-partners.png
  docs-site/src/assets/images/heros/live-assets/pega-ES-header-bg-1-max-value.jpg
  docs-site/src/assets/images/heros/live-assets/pega-go-homepage-hero-bg.jpg
  docs-site/src/assets/images/heros/live-assets/platform-hero-bg-v2.jpg
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/00-de-homepage.md
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/00-de-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/05-infinity.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/10-locations-france.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/15-customer-lifetime-value.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/20-platform.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/25-about.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/30-center-out.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/35-artificial-intelligence.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/40-homepage.md
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/40-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/05-basic-usage.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/10-reverse-desktop-order.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/15-reverse-desktop-order-no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/20-image-minimum-width.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/25-image-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/30-image-horizontal-alignmen-top.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/35-image-horizontal-alignmen-bottom.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/40-background-image-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/45-centered-content.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/50-video-and-list.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/55-templates.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/heroes/60-centered-form.twig
Due: none

Added to the notets
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/05-infinity.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/15-customer-lifetime-value.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/25-about.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/40-homepage.twig
Due: none

DS-677: change classes names + switcher checkbox sketch
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-677: notification feed
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
Due: none

Updated the Background Component to use the Image Element instead of the Image Component
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
  packages/components/bolt-background/src/background-item.twig
Due: none

DS-676: install new stylelint
  package.json
  packages/configs/stylelint-config/ideal.js
  packages/configs/stylelint-config/index.js
  packages/configs/stylelint-config/package.json
  yarn.lock
Due: npm run lint:js

ds-590: add missing props to schema
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/00-profile-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/05-profile.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/10-profile-full-bleed.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/85-user/-user-profile.twig
  packages/components/bolt-profile/profile.schema.js
  packages/components/bolt-profile/src/profile.scss
  packages/components/bolt-profile/src/profile.twig
Due: npm run lint:js, npm run lint:style

ds-590: make default cover and avatar svgs separate templates
  packages/components/bolt-profile/src/_profile-default-avatar.twig
  packages/components/bolt-profile/src/_profile-default-cover.twig
  packages/components/bolt-profile/src/profile.scss
  packages/components/bolt-profile/src/profile.twig
Due: npm run lint:style

ds-590: update profile test
  packages/components/bolt-profile/__tests__/__snapshots__/profile.js.snap
  packages/components/bolt-profile/__tests__/profile.js
Due: npm run lint:js

DS-677: checkbox switcher
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

Updated the background docs and component per PR feedback
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/00-background-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/35-band-with-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/40-band-nested.twig
  packages/components/bolt-background/src/background-item.twig
Due: none

DS-677: change class name + focus ring
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

ds-590: add prop to control heading level for profile name
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/00-profile-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/05-profile.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/profile/10-profile-full-bleed.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/85-user/-user-profile.twig
  packages/components/bolt-profile/profile.schema.js
  packages/components/bolt-profile/src/profile.twig
Due: npm run lint:js

DS-677: tooltip and refactor
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

ds-590: fix schema and cover size
  packages/components/bolt-profile/profile.schema.js
  packages/components/bolt-profile/src/profile.scss
Due: npm run lint:js, npm run lint:style

ds-622: update Layout and Hero docs
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-05-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-10-layout-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-15-layout-sub-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-20-layout-background-and-theme.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-25-layout-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-30-layout-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-35-layout-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-40-layout-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-45-layout-item-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-50-layout-item-order.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-layout-full-page-use-case.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/00-layout-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero-deprecated/00-deprecated-hero-docs.twig
Due: none

Merge PR #2385 (Background Image) into 4.x
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/00-background-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/35-band-with-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/40-band-nested.twig
  packages/components/bolt-background/package.json
  packages/components/bolt-background/src/background-item.twig
  packages/components/bolt-info-section/__tests__/__snapshots__/info-section.js.snap
  packages/components/bolt-profile/__tests__/__snapshots__/profile.js.snap
  packages/testing/testing-utils/__tests__/test-utils.test.js
Due: npm run lint:js

Updated depenncies for the background component updates
  packages/base-starter-kit/.boltrc.js
  packages/components/bolt-background/package.json
  packages/testing/testing-utils/__tests__/test-utils.test.js
Due: npm run lint:js

Upgrade chromedriver
  packages/testing/testing-nightwatch/package.json
  scripts/package.json
  yarn.lock
Due: none

Bumped up the chrome driver version to appease the dark Chrome gods...
  packages/testing/testing-nightwatch/package.json
Due: none

The original ritual wasn't enough, trying harder to appease the dark Chrome gods...
  scripts/package.json
  yarn.lock
Due: none

fixed an ABC error
  packages/base-starter-kit/.boltrc.js
Due: npm run lint:js

ds-622: re-organize layout heroes under layout
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-05-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-about-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-artificial-intelligence-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-center-out-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-customer-lifetime-value-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-german-homepage-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-homepage-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-infinity-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-locations-france-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-platform-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-999-layout-use-case-old-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero-deprecated/00-deprecated-hero-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/00-de-homepage.md
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-heroes-with-layout/40-homepage.md
Due: none

[skip travis] chore: version bump PHP-related dependencies to v4.8.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v4.8.0
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-background/CHANGELOG.md
  packages/components/bolt-background/package.json
  packages/components/bolt-band/CHANGELOG.md
  packages/components/bolt-band/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-content-pagination/CHANGELOG.md
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-hero/CHANGELOG.md
  packages/components/bolt-hero/package.json
  packages/components/bolt-info-section/CHANGELOG.md
  packages/components/bolt-info-section/package.json
  packages/components/bolt-page-footer/CHANGELOG.md
  packages/components/bolt-page-footer/package.json
  packages/components/bolt-profile/CHANGELOG.md
  packages/components/bolt-profile/package.json
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/elements/bolt-image/CHANGELOG.md
  packages/elements/bolt-image/package.json
  packages/testing/testing-nightwatch/CHANGELOG.md
  packages/testing/testing-nightwatch/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
  scripts/CHANGELOG.md
  scripts/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-677: refrite first step
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-677: refrite second step
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
Due: none

DS-677: refrite step three, four
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-677: rewrite steps
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
Due: none

DS-677: change links
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
Due: none

DS-677: update css
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-677: add switcher and delete custom one
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-677: chip size + switcher mobile layout
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/15-notification-tag-manager(step 1).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/20-notification-tag-manager(step 2).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/25-notification-tag-manager(step 3).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/30-notification-tag-manager(step 4).twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

ds-622: add code snippets to demos
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-about-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-artificial-intelligence-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-center-out-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-customer-lifetime-value-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-german-homepage-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-homepage-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-infinity-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-locations-france-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-99-layout-use-case-platform-hero.twig
Due: none
