Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix(bolt-interactive-step): modify nav strikethrough so it doesnt break abs pos of body content
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayOne.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayThree.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayTwo.twig
  packages/components/bolt-interactive-pathways/src/interactive-pathways.scss
  packages/components/bolt-interactive-step/src/interactive-step.js
  packages/components/bolt-interactive-step/src/interactive-step.scss
Due: npm run lint:js, npm run lint:style

style(bolt-interactive-step) scss lint error fixes
  packages/components/bolt-interactive-step/src/interactive-step.scss
Due: npm run lint:style

chore: update lazysizes to the latest version
  packages/components/bolt-image/package.json
  packages/components/bolt-image/patches/lazysizes+4.1.8.patch
  packages/components/bolt-image/patches/lazysizes+5.1.0.patch
  yarn.lock
Due: none

feat: update lazysizes default lazyloading config to be more conservative with preloading by default
  packages/components/bolt-image/src/_image-lazy-sizes.js
Due: npm run lint:js

fix: allow for images passed into the blockquote component to be lazyloaded
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

feat: add ability to optionally align background images vertically
  packages/components/bolt-image/image.schema.yml
  packages/components/bolt-image/src/image.js
  packages/components/bolt-image/src/image.twig
Due: npm run lint:js

refactor: update T2 demo page with better lazyloading defaults + manually added placeholder colors + custom sizes prop for the 1st device viewer image that loads
  docs-site/src/pages/pattern-lab/_patterns/04-pages/10-d8-product-pages/product-t2.twig
Due: none

refactor: update sizes prop for non-lazyloaded device viewer
  docs-site/src/pages/pattern-lab/_patterns/04-pages/10-d8-product-pages/product-t2.twig
Due: none

fix: fix image task to properly generate srcsets in prod mode
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: update CLI + lazy load mode + update test template
  docs-site/src/pages/pattern-lab/_patterns/04-pages/10-d8-product-pages/product-t2.twig
  packages/build-tools/cli.js
  packages/components/bolt-image/src/_image-lazy-sizes.js
Due: npm run lint:js

fix: address prettier issue
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

fix: update carousel VRT tests to render more consistently
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

fix: update ratio VRT snapshot with version not as pixelated
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-with-html-5-video-renders-1-snap.png
Due: none

feat: add working POC of now.sh v2 Twig renderer
  packages/twig-renderer-now/.gitignore
  packages/twig-renderer-now/.nowignore
  packages/twig-renderer-now/README.md
  packages/twig-renderer-now/SetupTwigRenderer.php
  packages/twig-renderer-now/composer.json
  packages/twig-renderer-now/composer.lock
  packages/twig-renderer-now/data/full-manifest.bolt.json
  packages/twig-renderer-now/data/shared-config.json
  packages/twig-renderer-now/index.js
  packages/twig-renderer-now/index.php
  packages/twig-renderer-now/now.json
  packages/twig-renderer-now/package.json
  packages/twig-renderer-now/twig-extensions/core-php/.gitignore
  packages/twig-renderer-now/twig-extensions/core-php/CHANGELOG.md
  packages/twig-renderer-now/twig-extensions/core-php/composer.json
  packages/twig-renderer-now/twig-extensions/core-php/readme.md
  packages/twig-renderer-now/twig-extensions/core-php/src/BoltStringLoader.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Colors.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Images.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Layout/GridCellNode.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Layout/GridCellTokenParser.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Layout/GridTagNode.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Layout/GridTagTokenParser.php
  packages/twig-renderer-now/twig-extensions/core-php/src/SSR/SSRTagNode.php
  packages/twig-renderer-now/twig-extensions/core-php/src/SSR/SSRTagTokenParser.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigExtensions/BoltCore.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigExtensions/BoltCoreCompat.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigExtensions/BoltExtras.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigExtensions/Faker.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigFilters.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigFunctions.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigRenderer.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigRendererSSR.php
  packages/twig-renderer-now/twig-extensions/core-php/src/TwigTags.php
  packages/twig-renderer-now/twig-extensions/core-php/src/Utils.php
Due: npm run lint:js

fix: update Jest snapshot for the build tools
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

chore: misc demos
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-pega-facebook.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-pega-portal.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-pega-slack.twig
Due: none

fix: address reset of animations
  packages/components/bolt-interactive-step/src/animation-wrapper.js
Due: npm run lint:js

feat: update accordion schema to support customizing trigger + content spacing
  packages/components/bolt-accordion/accordion.schema.yml
Due: none

feat: update accordion templates to support customizing accordion item spacing
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/accordion.twig
Due: npm run lint:js

refactor: update examples
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-editor/20-editor-single-pathway.twig
Due: none

feat: update accordion trigger + content JS to conditionally use the inherited parent spacing if content or trigger spacing isn't defined
  packages/components/bolt-accordion/src/AccordionItem/AccordionItemContent.js
  packages/components/bolt-accordion/src/AccordionItem/AccordionItemTrigger.js
Due: npm run lint:js

docs: add demo of an accordion with customized content spacing
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/25-accordion-custom-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/_accordion-table-example.twig
Due: none

fix: update table component's web component logic to handle HTML comments encountered when parsing initial HTML
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

fix: add missing super() call in the table component's JS
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

test: add Twig and Web Component tests to the Table component to make sure the table component renders correctly when HTML comments exist in the original markup
  packages/components/bolt-table/__tests__/__image_snapshots__/table-js-bolt-table-component-twig-rendered-table-with-html-comments-3-snap.png
  packages/components/bolt-table/__tests__/__image_snapshots__/table-js-bolt-table-component-web-component-rendered-table-with-html-comments-2-snap.png
  packages/components/bolt-table/__tests__/__snapshots__/table.js.snap
  packages/components/bolt-table/__tests__/table.js
Due: npm run lint:js

test: retest Jest VRT
  packages/components/bolt-table/__tests__/table.js
Due: npm run lint:js

test: adjust VRT threshold
  packages/components/bolt-table/__tests__/table.js
Due: npm run lint:js

feat: add ability to have the bolt-box-shadow function return raised shadow values (not just initial base shadow values)
  packages/core/styles/02-tools/tools-shadow/_tools-shadow.scss
Due: npm run lint:style

refactor: update button component to use a more performant (GPU-optimized) animation of it's box shadow + raise / lower effect
  packages/components/bolt-button/src/_button-settings-and-tools.scss
Due: npm run lint:style

chore: update button Jest snapshot
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

chore: update build tools Jest snapshot + add quick way to update build tools Jest tests
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/build-tools/__tests__/multi-lang/package.json
Due: none

chore: update Button VRT snapshots
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-default-bolt-button-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-default-bolt-button-with-shadow-dom-renders-1-snap.png
Due: none

feat: add support for displaying advanced schema options on the docs site
  docs-site/src/components/pattern-lab-utils/schema-docs.twig
Due: none

refactor: update docs site UI inside the navbar to remove extra spacing workarounds no longer needed
  docs-site/src/components/docs-search/docs-search.scss
  docs-site/src/components/version-selector/version-selector.twig
Due: npm run lint:style

styles: change sticky z-index to not cover up mega nav
  packages/components/bolt-sticky/src/sticky.scss
Due: npm run lint:style

fix: restore regular modal width
  packages/components/bolt-modal/modal.schema.yml
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

fix: focus-trap IE JS error
  packages/components/bolt-modal/focus-trap/focus-trap.js
Due: npm run lint:js

fix: add pointer as fallback for zoom-in and zoom-out in IE11
  packages/components/bolt-trigger/src/trigger.scss
Due: npm run lint:style

feature(with-without): initial enormous commit
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/with-without/with-without.twig
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/chart-bar.js
  packages/components/bolt-icons/src/icons/circle-dashed.js
  packages/components/bolt-icons/src/icons/credit-card.js
  packages/components/bolt-icons/src/icons/face-happy.js
  packages/components/bolt-icons/src/icons/face-sad.js
  packages/components/bolt-icons/src/index.js
  packages/components/bolt-icons/src/svgs/utility/chart-bar.svg
  packages/components/bolt-icons/src/svgs/utility/circle-dashed.svg
  packages/components/bolt-icons/src/svgs/utility/credit-card.svg
  packages/components/bolt-icons/src/svgs/utility/face-happy.svg
  packages/components/bolt-icons/src/svgs/utility/face-sad.svg
  packages/components/bolt-with-without/SimpleSwitch.scss
  packages/components/bolt-with-without/img/BG_withPega_desktop.jpg
  packages/components/bolt-with-without/img/BG_withPega_mobile.jpg
  packages/components/bolt-with-without/img/BG_withoutPega_mobile.jpg
  packages/components/bolt-with-without/img/BG_without_desktop.jpg
  packages/components/bolt-with-without/index.js
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/package.json
  packages/components/bolt-with-without/svg/chart-bar.svg
  packages/components/bolt-with-without/svg/credit-card.svg
  packages/components/bolt-with-without/svg/face-happy.svg
  packages/components/bolt-with-without/svg/face-sad.svg
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
  yarn.lock
Due: npm run lint:js, npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
