Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: update eslint rules to temporarily ignore new uikit-related packages
  .eslintignore
  packages/uikit-prerender-spa-plugin/index.js
  packages/uikit-prerenderer/index.js
  yarn.lock
Due: npm run lint:js

fix: temporarily mark as private
  packages/uikit-critical-css-webpack-plugin/package.json
Due: none

fix: temporarily mark as private
  packages/uikit-prerender-spa-plugin/package.json
Due: none

fix: mark as private for now
  packages/uikit-prerenderer/package.json
Due: none

test: retest PL perf after reverting dynamic import updates
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

style: remove console.log
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

WIP Interactive pathways
  packages/components/bolt-interactive-pathways/src/interactive-pathways.js
Due: npm run lint:js

ci: adjust git diff Travis step
  .travis.yml
  packages/testing/testing-utils/cli/list-pkg-paths-changed.js
  packages/testing/testing-utils/test-utils.js
Due: npm run lint:js

fix: dependency map twig namespaces path
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

fix: ensure dep tester paths are more resiliant
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

style: lint fix
  packages/testing/testing-utils/cli/list-pkg-paths-changed.js
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

fix: execa usage
  packages/testing/testing-utils/cli/list-pkg-paths-changed.js
Due: npm run lint:js

fix: remove yeti icon
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
Due: npm run lint:js

docs: copy update
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/60-modal-usage-carousel.twig
Due: none

fix: tighten up Twig RegEx parsing
  packages/components/bolt-form/src/inputs/form-checkboxes.twig
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

chore: yarn.lock updates
  yarn.lock
Due: none

refactor: lint fix ordering of editor/index.scss
  packages/editor/src/index.scss
Due: npm run lint:style

test: adding snapshot tests
  packages/components/bolt-form/__tests__/__snapshots__/form.js.snap
  packages/components/bolt-form/__tests__/form.js
Due: npm run lint:js

test tweak
  packages/components/bolt-form/__tests__/form.js
Due: npm run lint:js

fix: prevent globbing into gitignore folders
  __tests__/monorepo-deps.test.js
Due: none

chore: editor package.json publish access true
  packages/editor/package.json
Due: none

refactor: single source of pathways demo data
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-editor/15-editor-interactive-pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-15-interactive-pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-20-interactive-pathway.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/_pathways.twig
Due: none

ci: detectOpenHandles
  .travis.yml
Due: none

ci: runInBand
  .travis.yml
Due: none

fix: logging out stderr instead of stdout
  packages/testing/testing-utils/cli/list-pkg-paths-changed.js
Due: npm run lint:js

refactor: further breakup of the pathway components for editor testing
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-editor/15-editor-interactive-pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-20-interactive-pathway.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/_pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayOne.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayThree.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayTwo.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathways.twig
Due: none

ci: adjust config to only run breaking test
  .travis.yml
Due: none

ci: run unit tests in serial
  .travis.yml
Due: none

test: give monorepo deps test longer
  __tests__/monorepo-deps.test.js
Due: none

test: remove un-needed console logs
  packages/testing/testing-helpers/is-connected.js
  scripts/utils/branch-name.js
  scripts/utils/normalize-url-alias.js
Due: npm run lint:js

fix: immediately load up the pl-search component vs defer loading
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

refactor: temporarily disable iframe resizing-specific functionality
  packages/uikit-workshop/src/scripts/components/pl-layout/pl-layout.js
  packages/uikit-workshop/src/scripts/patternlab-pattern.js
Due: npm run lint:js

refactor: fix JS lint issues + test out updates automatically disabling the nav collapse behavior while in vertical mode + hide extra icons
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
Due: npm run lint:js

refactor: tighten up header / nav styles and whitespace
  packages/uikit-workshop/src/scripts/components/pl-header/pl-header.scss
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.scss
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.scss
Due: npm run lint:style

chore: change default background color on the component overview landing
  docs-site/src/pages/pattern-lab/_patterns/02-components/00-overview.twig
Due: none

test(modal): remove outdated snapshot
  packages/components/bolt-modal/__tests__/__snapshots__/modal.js.snap
Due: none

refactor: revert hiding icons in nav for the time being
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
Due: npm run lint:js, npm run lint:style

ci: restore debug changes
  .travis.yml
  package.json
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
