Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-389 device-viewer test
  packages/components/bolt-device-viewer/__tests__/__snapshots__/device-viewer.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-image/src/image.twig
Due: none

DS-389: update remaining snaps
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-logo/__tests__/__snapshots__/logo.js.snap
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
Due: none

DS-458: Listing component fix auto escaping issues
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

ds-443: setting up eyebrow and test page
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-use-case-search-list.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v3.5.4
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

worked on the breadcrubm tests
  packages/components/bolt-breadcrumb/__tests__/__snapshots__/breadcrumb.js.snap
  packages/components/bolt-breadcrumb/__tests__/breadcrumb.js
Due: npm run lint:js

DS-389: change double quotes to single.
  packages/components/bolt-image/src/image.twig
Due: none

DS-389: resolve quote error
  packages/components/bolt-image/src/image.twig
Due: none

DS-401: standardize background
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/30-background-without-overlay.twig
  packages/components/bolt-background/background.schema.js
  packages/components/bolt-background/src/background-item.twig
  packages/components/bolt-background/src/background-overlay.twig
  packages/components/bolt-background/src/background-shapes-wrapper.twig
  packages/components/bolt-background/src/background.twig
Due: npm run lint:js

ds-443: add all types of demos
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-use-case-search-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js, npm run lint:style

Reworked how Brightcove videos load when in a modal (the initialization is now deferred until the modal is opened)
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

Reworked the modall video behavior to have the videos load when a modal is opened
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

ds-433: add gutter
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-use-case-search-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js, npm run lint:style

cc-472: set up reply prop and styles
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/30-listing-teaser-reply.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/35-listing-teaser-use-case-academy.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-use-case-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-use-case-article-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js, npm run lint:style

cc-472: update dependency
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

ds-443: merge in the reply updates
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/30-listing-teaser-reply.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/35-listing-teaser-use-case-academy.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-use-case-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-use-case-article-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js, npm run lint:style

cc-472: update links inside reply
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-use-case-collaboration-center.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
Due: npm run lint:style

cc-472: fix snaps
  packages/components/bolt-listing-teaser/__tests__/__snapshots__/listing-teaser.js.snap
Due: none

DS-407: Update modal demos to use [data-bolt-modal-target] convention
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/30-device-viewer-content-magnifier-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/05-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/10-modal-width-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/15-modal-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/20-modal-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/25-modal-scroll-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/30-modal-trigger-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/35-modal-usage-javascript.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/40-modal-usage-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/50-modal-usage-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/52-modal-usage-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/55-modal-usage-form.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/999-modal-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/35-trigger-advanced-usage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-results.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t1-landing-pages/certification-exam/acd-certification-exam-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t2-inner-pages/topic-details/acd-topic-detail-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-quick-filters.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
Due: none

cc-472: change reply prop to be free from
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/30-listing-teaser-reply.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-use-case-collaboration-center.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

DS-451: replace font-size mixin
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-figure/src/figure.scss
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-navlink/navlink.scss
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-toolbar/toolbar.scss
  packages/experimental/micro-journeys/src/status-dialogue-bar.scss
  packages/global/styles/04-elements/_elements-headings.scss
  packages/global/styles/04-elements/_elements-small.scss
  packages/global/styles/04-elements/_elements-tables.scss
Due: npm run lint:style

DS-451: replace font weight mixin
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-navlink/navlink.scss
  packages/components/bolt-search-filter/search-filter.scss
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-toolbar/toolbar.scss
  packages/experimental/micro-journeys/src/status-dialogue-bar.scss
  packages/global/styles/04-elements/_elements-headings.scss
  packages/global/styles/04-elements/_elements-tables.scss
Due: npm run lint:style

DS-407: Update Trigger e2e test
  packages/components/bolt-trigger/__tests__/trigger.e2e.js
Due: npm run lint:js

WWW-739: Updated the Brightcove script updates with the delayed loading option
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

DS-426: wait for Tabs Labels to be ready, fixes overflow menu bug
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js

DS-451: replace font-family mixin
  packages/components/bolt-list/src/list.scss
  packages/core-v3.x/styles/02-tools/tools-button-reset/_tools-button-reset.scss
  packages/global/styles/04-elements/_elements-headings.scss
  packages/global/styles/04-elements/_elements-tables.scss
Due: npm run lint:style

cc-472: fix dependency version
  packages/components/bolt-listing-teaser/package.json
Due: none

DS-407: Fix dependency version
  packages/components/bolt-listing-teaser/package.json
  yarn.lock
Due: none

DS-461: Remove unused scrollbar JS in Modal component
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

DS-461: Add comment to scrollbar JS
  packages/core-v3.x/utils/scrollbar.js
Due: npm run lint:js

DS-461: Remove commented out scrollbar demo
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/custom-events/_modal-usage-custom-events.twig
Due: none

DS-451: replace the once instance of bolt-font-kerning
  packages/global/styles/03-generic/_generic-global.scss
Due: npm run lint:style

DS-451: font-size mixin doc site
  docs-site/src/components/callout/callout.scss
  docs-site/src/components/component-status/component-status.scss
  docs-site/src/components/off-canvas-nav/off-canvas-nav.scss
  docs-site/src/components/schema-table/schema-table.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/components/version-selector/version-selector.scss
Due: npm run lint:style

DS-389: Remove comment and use of `attributes`, already handled by `this.props`
  packages/components/bolt-image/src/image.twig
Due: none

DS-389: Formatting, no space around `|` or `(`
  packages/components/bolt-image/src/image.twig
Due: none

DS-451: font-weight mixin doc site
  docs-site/src/components/component-status/component-status.scss
  docs-site/src/components/off-canvas-nav/off-canvas-nav.scss
  docs-site/src/components/pattern-lab-demos/_flex-demo.scss
  docs-site/src/components/pattern-lab-utils/_sassdoc.scss
  docs-site/src/components/schema-table/schema-table.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/components/version-selector/version-selector.scss
Due: npm run lint:style
