Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

ds-298: schema copy changes
  packages/components/bolt-page-header/page-header-nav-li.schema.js
  packages/components/bolt-page-header/page-header-nav-ul.schema.js
  packages/components/bolt-page-header/page-header-primary-nav.schema.js
Due: npm run lint:js

ds-298: re-organize docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/05-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-main-site-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-pega-docs-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/40-d8-content-hub/00-sticky-navbar.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-default-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-detail-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-landing-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-doc-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-search-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_default-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/micro-journeys/combos/-95-in-page-example.twig
Due: none

DS-390: convert image in blockquote.
  packages/components/bolt-blockquote/blockquote.schema.js
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-blockquote/src/blockquote.twig
Due: npm run lint:js

Main attribute update
  packages/layouts/bolt-site/src/site.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.8.3
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.8.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

Fixed a typo on the holy grail doc page
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
Due: none

DS-390: update cover setting in blockquote
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

DS-390: replace image in card
  packages/components/bolt-card-replacement/card-replacement.schema.js
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.scss
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
Due: npm run lint:js, npm run lint:style

DS-390: fix cover issue
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-card-component in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/06-card-horizontal.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/40-card-replacement-with-freeform-content.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-accordion-component in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/40-accordion-content-variations.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-accordion-action-blocks in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/35-action-blocks-freeform-content.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-carousel in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/25-carousel-basic-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/30-carousel-advanced-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_band-carousel--slide-1.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_band-carousel--slide-2.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_carousel-slide-image.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-device-viewer in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/00-device-viewer-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/05-device-viewer.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/10-device-viewer-ipad-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/15-device-viewer-iphone8-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/20-device-viewer-macbook-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/30-device-viewer-content-magnifier-modal.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-figure in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/figure/00-figure-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/figure/05-figure.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/figure/10-figure-media-variations.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-modal in the PL
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/30-text-link-expand-click-target.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/25-modal-scroll-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/30-modal-trigger-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/40-modal-usage-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/_wip-modal-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/_wip-modal-usage-carousel.twig
Due: none

DS-576: fix static page header dropdown position
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/05-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_main-site-page-header.twig
  packages/components/bolt-page-header/page-header-nav-li.schema.js
  packages/components/bolt-page-header/page-header-nav-ul.schema.js
  packages/components/bolt-page-header/page-header.schema.js
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/page-header-nav-li.twig
  packages/components/bolt-page-header/src/page-header-nav-ul.twig
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:js, npm run lint:style

DS-390: update image in bolt-hero
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/25-hero--reverse-order--no-image.twig
  packages/components/bolt-hero/hero.twig
  packages/components/bolt-hero/package.json
Due: none

DS-390: update bolt-blockquote with image element
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

ds-298: switch from data-attributes to js- classes
  packages/layouts/bolt-holy-grail/index.js
  packages/layouts/bolt-holy-grail/src/holy-grail-sidebar.twig
  packages/layouts/bolt-holy-grail/src/holy-grail.js
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js

ds-298: Add JS to set top position, update on resize
  packages/layouts/bolt-holy-grail/src/holy-grail.js
Due: npm run lint:js

DS-578: Replace Image Comp with Image El in bolt-listing-teaser in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-search-result-list.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-table in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/35-table-item-variations.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-tabs in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-search-result-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/30-tabs-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/40-tabs-use-case-tabbed-band.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-teaser in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/10-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-chips.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-status-and-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/35-teaser-text-options.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-description-on-hover.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/35-trigger-advanced-usage.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-video-thumbnail in the PL
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/05-video-thumbnail.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/10-video-thumbnail-aspect-ratio.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/15-video-thumbnail-border-radius.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/20-video-thumbnail-use-case-modal.twig
Due: none

DS-578: Replace Image Comp with Image El in pages-homepage in the PL
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
Due: none

DS-578: Replace Image Comp with Image El in pages-product in the PL
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
Due: none

DS-578: Replace Image Comp with Image El in pages-event in the PL
  docs-site/src/pages/pattern-lab/_patterns/50-pages/15-d8-resource-details-pages/00-resource-details-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/20-d8-details-page-press.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/00-event-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/05-event-detail.twig
Due: none

DS-578: Replace Image Comp with Image El in pages-academy in the PL
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/50-d8-careers/00-careers-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/01-atoms/_badge.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/cards/_card.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/modals/_test-completed-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/modals/_test-completed-modal--before-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-detail-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t1-landing-pages/certification-exam/acd-certification-exam-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t2-inner-pages/challenge-details/acd-challenge-detail-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t2-inner-pages/topic-details/acd-topic-detail-page.twig
Due: none

DS-578: Replace Image Comp with Image El in pages-boc in the PL
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
Due: none

DS-578: Replace Image Comp with Image El in bolt-hero in the PL
  docs-site/src/components/animated-logo/animated-logo.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/20-hero--reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/50-hero--image-valign-top.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
Due: none

DS-578: Hero img postion
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
Due: none

DS-578: Fix typos
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/05-video-thumbnail.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
Due: none

DS-390: update bolt-card-replacement with image element
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
Due: none

DS-390: Update bolt-carousel with image element.
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

ds-298: Fix schema titles, remove required 'content' prop
  packages/components/bolt-side-nav/side-nav-li.schema.js
  packages/components/bolt-side-nav/side-nav-ul.schema.js
Due: npm run lint:js

DS-390: update bolt-device veier with new image element
  packages/components/bolt-device-viewer/__tests__/__snapshots__/device-viewer.js.snap
  packages/components/bolt-device-viewer/src/device-viewer.twig
  packages/components/bolt-device-viewer/src/devices/_ipad.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
