Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-169: Filter out Twig-only props in json-schema-props function
  packages/base-element/src/lib/decorators/json-schema-props.js
Due: npm run lint:js

ds-166: put invisible back into form label
  packages/components/bolt-form/src/elements/form-element.twig
Due: none

DS-139: convert card, chip, clipboard, dropdown, li
  packages/components/bolt-card-deprecated/src/card.scss
  packages/components/bolt-chip/src/chip.scss
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.scss
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-li/src/li.scss
Due: npm run lint:style

ds-139: convert Global to use spacing vars
  packages/core-v3.x/styles/02-tools/tools-button-reset/_tools-button-reset.scss
  packages/core-v3.x/styles/02-tools/tools-custom-element/_tools-custom-element.scss
  packages/global/styles/03-generic/_generic-reset.scss
  packages/global/styles/03-generic/_generic-shared.scss
  packages/global/styles/04-elements/_elements-code.scss
  packages/global/styles/04-elements/_elements-headings.scss
  packages/global/styles/04-elements/_elements-hr.scss
  packages/global/styles/05-objects/objects-block/_objects-block.scss
  packages/global/styles/05-objects/objects-flag/_objects-flag.scss
  packages/global/styles/05-objects/objects-grid/_objects-grid.scss
  packages/global/styles/05-objects/objects-inline-list/_objects-inline-list.scss
  packages/global/styles/05-objects/objects-island/_objects-island.scss
  packages/global/styles/05-objects/objects-ui-list/_objects-ui-list.scss
  packages/global/styles/05-objects/objects-wrapper/_objects-wrapper.scss
Due: npm run lint:style

ds-139: remove elements and layouts POC css
  packages/elements/bolt-link/src/link.scss
  packages/layouts/bolt-list/src/_list-item.scss
  packages/layouts/bolt-list/src/list.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.26.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-139: link, list, modal, tabs
  packages/components/bolt-link/src/link.scss
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-modal/src/modal.scss
  packages/components/bolt-tabs/src/TabPanel/tab-panel.scss
Due: npm run lint:style

ds-139" dropdown, li, link, tabs
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-li/src/li.scss
  packages/components/bolt-link/src/link.scss
  packages/components/bolt-tabs/src/tabs-dropdown.scss
Due: npm run lint:style

ds-139: remove commented out code in nav-priority
  packages/components/bolt-nav-priority/nav-priority.scss
Due: npm run lint:style

ds-139: convert breadcrumb, button, tabs
  packages/components/bolt-breadcrumb/src/breadcrumb.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-tabs/src/_tabs-settings-and-tools.scss
  packages/components/bolt-tabs/src/tabs-dropdown.scss
Due: npm run lint:style

convert form labels
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
Due: none

DS-171: Remove redundant and incorrect schema validation for headline
  packages/components/bolt-headline/src/_typography.twig
Due: none

DS-171: Update snapshots
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
Due: none

DS-160: Completed the Calculator JS
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/calculator__icon/_calculator__icon.scss
  packages/core-v3.x/modules/src/calculator.js
Due: npm run lint:js, npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.26.3
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v2.26.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/CHANGELOG.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-button-group/CHANGELOG.md
  packages/components/bolt-button-group/package.json
  packages/components/bolt-card-deprecated/CHANGELOG.md
  packages/components/bolt-card-deprecated/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-form/CHANGELOG.md
  packages/components/bolt-form/package.json
  packages/components/bolt-headline/CHANGELOG.md
  packages/components/bolt-headline/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-search-filter/CHANGELOG.md
  packages/components/bolt-search-filter/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/components/bolt-typeahead/CHANGELOG.md
  packages/components/bolt-typeahead/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

DS-139: docs-site components
  docs-site/src/components/animated-shapes/animated-shapes.scss
  docs-site/src/components/bolt-select/bolt-select.scss
  docs-site/src/components/callout/callout.scss
  docs-site/src/components/component-status/component-status.scss
  docs-site/src/components/docs-search/docs-search.scss
  docs-site/src/components/hamburger-button/hamburger-button.scss
  docs-site/src/components/off-canvas-nav/off-canvas-nav.scss
  docs-site/src/components/pattern-lab-demos/_clearfix-demo.scss
  docs-site/src/components/pattern-lab-demos/_color-demo.scss
  docs-site/src/components/pattern-lab-demos/_display-demo.scss
  docs-site/src/components/pattern-lab-demos/_flex-demo.scss
  docs-site/src/components/pattern-lab-demos/_height-demo.scss
  docs-site/src/components/pattern-lab-demos/_opacity-demo.scss
  docs-site/src/components/pattern-lab-demos/_sassdoc.scss
  docs-site/src/components/pattern-lab-demos/_spacing-demo.scss
  docs-site/src/components/pattern-lab-demos/_text-align-demo.scss
  docs-site/src/components/pattern-lab-demos/_text-decoration-demo.scss
  docs-site/src/components/pattern-lab-demos/_visually-hidden-demo.scss
  docs-site/src/components/pattern-lab-demos/_width-demo.scss
  docs-site/src/components/pattern-lab-hacks/pattern-lab-hacks.scss
  docs-site/src/components/pattern-lab-utils/_sassdoc.scss
  docs-site/src/components/radio-switch/radio-switch.scss
  docs-site/src/components/schema-form/component-explorer.scss
  docs-site/src/components/schema-table/schema-table.scss
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/components/version-selector/version-selector.scss
Due: npm run lint:style

DS-139: docs-site pages
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/00-color-palette/_color-swatch.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/05-spacing/_spacing.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/15-breakpoints/_breakpoints.scss
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/35-d8-events/_event-sponsors-with-action-block.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_global-search.scss
Due: npm run lint:style

ds-139: convert utils to use spacing vars
  docs-site/src/templates/default.twig
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
  packages/global/styles/07-utilities/_utilities-spacing.scss
Due: npm run lint:style

ds-139: remove four direction negative
  packages/global/styles/07-utilities/_utilities-spacing.scss
Due: npm run lint:style

DS-139: some of the micro-journey
  packages/experimental/micro-journeys/src/character.scss
  packages/experimental/micro-journeys/src/interactive-step.scss
  packages/experimental/micro-journeys/src/nav-shared.scss
  packages/experimental/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:style

DS-161: Tablet breakpoint fixes
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-results.twig
Due: none

DS-161: pinned size
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-results.twig
Due: none

DS-161: Removed commented out code and removed unused JS method
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-results.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/10-d8-results-graph.twig
  packages/core-v3.x/modules/src/calculator.js
Due: npm run lint:js

DS-139: The last of micro journey
  packages/experimental/micro-journeys/src/interactive-pathway.scss
  packages/experimental/micro-journeys/src/interactive-pathways.scss
  packages/experimental/micro-journeys/src/nav-shared.scss
  packages/experimental/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:style

ds-139: remove commented out code
  docs-site/src/components/off-canvas-nav/off-canvas-nav.scss
  docs-site/src/components/schema-form/component-explorer.scss
Due: npm run lint:style

ds-139: convert utility docs to use new maps
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/20-utility-classes/margin-and-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/20-utility-classes/spacings.twig
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:style

ds-139: fix visual style spacing docs
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/05-spacing/00-spacing-overview.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/05-spacing/_spacing.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:style

ds-139: fix multi-lang snap
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

ds-139: fix copy on doc page
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/05-spacing/00-spacing-overview.twig
Due: none

DS-161: Updated the classes to use the correct nameing conventions
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/calculator__icon/_calculator__icon.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/calculator__icon/calculator__icon.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/results-graph/_results-graph.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/results-graph/results-graph.twig
Due: npm run lint:style

ds-161: html fixes calculator page
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/10-d8-results-graph.twig
Due: none

DS-41: Make Accordion transparent by default
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/20-accordion-transparent-variations.twig
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.scss
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

DS-173: Rename Academy-specific components with proper namespace
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/01-atoms/_badge.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/display/_horizontal-divider.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/homepage-heros/_hero--hp-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--rating.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/index.scss
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
