Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: update updated brand SVG icons + fix handful of utility icons
  packages/components/bolt-icons/src/svgs/brand/brand-atom.svg
  packages/components/bolt-icons/src/svgs/brand/brand-meteor.svg
  packages/components/bolt-icons/src/svgs/brand/brand-molecule.svg
  packages/components/bolt-icons/src/svgs/brand/brand-orbit.svg
  packages/components/bolt-icons/src/svgs/brand/brand-rocket.svg
  packages/components/bolt-icons/src/svgs/brand/brand-satelite.svg
  packages/components/bolt-icons/src/svgs/brand/brand-triangle.svg
  packages/components/bolt-icons/src/svgs/utility/eye-off.svg
  packages/components/bolt-icons/src/svgs/utility/eye.svg
  packages/components/bolt-icons/src/svgs/utility/trash.svg
Due: none

chore: update Carousel demo to use smaller placeholder UI that fits at smaller screen sizes
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/15-carousel-slides-per-view-variations.twig
Due: none

refactor: add minimum backwards compat support w/ improved carousel pre-rendering
  packages/components/bolt-carousel/src/_carousel-settings-and-tools.scss
  packages/components/bolt-carousel/src/_carousel-slide.scss
  packages/components/bolt-carousel/src/_carousel-slide.slides-per-view.scss
  packages/components/bolt-carousel/src/_carousel.scss
Due: npm run lint:style

fix: add xdark theme test for icons + update fill colors so SVG transform logic works correctly
  docs-site/src/pages/pattern-lab/_patterns/02-components/icon/30-icon-name-variations.twig
  packages/components/bolt-icons/src/svgs/brand/brand-atom.svg
  packages/components/bolt-icons/src/svgs/brand/brand-meteor.svg
  packages/components/bolt-icons/src/svgs/brand/brand-molecule.svg
  packages/components/bolt-icons/src/svgs/brand/brand-orbit.svg
  packages/components/bolt-icons/src/svgs/brand/brand-rocket.svg
  packages/components/bolt-icons/src/svgs/brand/brand-satelite.svg
  packages/components/bolt-icons/src/svgs/brand/collaboration.svg
  packages/components/bolt-icons/src/svgs/brand/discussions.svg
  packages/components/bolt-icons/src/svgs/brand/ideas.svg
  packages/components/bolt-icons/src/svgs/brand/questions.svg
  packages/components/bolt-icons/src/svgs/utility/add.svg
  packages/components/bolt-icons/src/svgs/utility/exclamation.svg
  packages/components/bolt-icons/src/svgs/utility/heart.svg
  packages/components/bolt-icons/src/svgs/utility/reply.svg
  packages/components/bolt-icons/src/svgs/utility/trash.svg
Due: none

fix: match alignment between characters in starter step 3
  packages/experimental/micro-journeys/starters/two-characters-2.html
Due: none

fix: aria attribute
  docs-site/src/pages/pattern-lab/_patterns/02-components/breadcrumb/00-breadcrumb-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/breadcrumb/05-breadcrumb.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/breadcrumb/10-breadcrumb-use-case-popover.twig
Due: none

fix: indicator height
  packages/components/bolt-toc/src/_toc-item.scss
Due: npm run lint:style

fix: internal link
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/05-menu.twig
Due: none

revert: switch back to using docs updates up on master
  docs-site/src/pages/pattern-lab/_patterns/02-components/icon/30-icon-name-variations.twig
Due: none

fix: add z-index comment
  packages/components/bolt-toc/src/_toc-item.scss
Due: npm run lint:style

fix: transition
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/05-menu.twig
  packages/components/bolt-menu/src/_menu-item.scss
Due: npm run lint:style

chore: update Popper.js + add keyboard support to Popover
  packages/components/bolt-popover/package.json
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/package.json
  yarn.lock
Due: npm run lint:js

fix: update tooltip snapshots
  packages/components/bolt-tooltip/__tests__/__snapshots__/tooltip.js.snap
Due: none

fix: change default boundary to `undefined` instead of `this`
  packages/components/bolt-popover/src/popover.js
Due: npm run lint:js

chore(editor): remove console log
  packages/experimental/editor/src/editor.js
Due: npm run lint:js

fix: temporarily comment out `altAxis`
  packages/components/bolt-popover/src/popover.js
Due: npm run lint:js

refactor: limit Card style updates to border radius Sass vars
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.scss
Due: npm run lint:style

fix: remove icon background from card spacer
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/01-atoms/_card-spacer.twig
Due: none

refactor: update Homepage prototype to use properly sized Icon + background to match the comps
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/homepage-heros/_hero--hp-missions.twig
Due: none

fix: add proper role attributes
  packages/components/bolt-menu/src/_menu-item.js
  packages/components/bolt-menu/src/_menu-item.twig
  packages/components/bolt-menu/src/menu.js
  packages/components/bolt-menu/src/menu.twig
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v2.16.0
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

feat: fast-follow updates post v2.16.0 release
  docs-site/composer.lock
  docs-site/package.json
  package.json
  packages/base-element/index.js
  packages/base-element/src/lib/decorators.js
  packages/base-element/src/lib/utils.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/plugins/file-passthrough-loader/package.json
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/index.js
  packages/build-tools/plugins/sassdoc-webpack-plugin/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/sassdoc-webpack-plugin.js
  packages/build-tools/tasks/api-tasks/bolt-versions.js
  packages/build-tools/tasks/webpack-dev-server-waitpage/bolt.ejs
  packages/build-tools/tasks/webpack-dev-server-waitpage/index.js
  packages/build-tools/utils/package.json
  packages/build-tools/utils/timer.js
  packages/components/bolt-button/src/button.js
  packages/components/bolt-carousel/package.json
  packages/components/bolt-critical-css-vars/package.json
  packages/components/bolt-critical-path-polyfills/package.json
  packages/components/bolt-critical-path-polyfills/rollup.config.js
  packages/components/bolt-popover/package.json
  packages/components/bolt-typeahead/package.json
  packages/configs/eslint-config/package.json
  packages/experimental/micro-journeys/package.json
  packages/generators/yeoman-create-component/generators/component/index.js
  packages/generators/yeoman-create-component/generators/component/templates/package.tpl.json
  packages/testing/testing-jest/package.json
  packages/twig-integration/twig-renderer-endpoint/index.js
  packages/twig-integration/twig-renderer-endpoint/package.json
  packages/twig-integration/twig-renderer/package.json
  packages/website-ui/uikit-prerenderer/package.json
  packages/website-ui/uikit-workshop/package.json
  patches/jest-image-snapshot+2.12.0.patch
  scripts/package.json
  yarn.lock
Due: npm run lint:js

fix: update alias paths
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

test: add SVG sprite loader dependency
  packages/components/bolt-icons/package.json
Due: none

fix: adjust runtime generator to correctly resolve internal paths
  packages/build-tools/create-webpack-config.js
  packages/build-tools/svg-to-icon-component-runtime-generator.js
  packages/components/bolt-icons/package.json
Due: npm run lint:js

fix: eslint / prettier fixes
  packages/build-tools/cli.js
  packages/build-tools/svg-to-icon-component-runtime-generator.js
  packages/build-tools/tasks/api-tasks/bolt-versions.js
  packages/build-tools/utils/timer.js
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-tooltip/tooltip.schema.js
  packages/experimental/editor/src/editor.js
  packages/experimental/editor/src/setup-bolt.js
  packages/experimental/micro-journeys/src/bolt-svg-animations/svg/connectionBand.js
Due: npm run lint:js

fix: update API logic to more smoothly handle the Github env variable not being available
  packages/build-tools/tasks/api-tasks/bolt-versions.js
Due: npm run lint:js

feat: add test uuid to JS, use `getUniqueId` helper function
  packages/components/bolt-toc/src/toc.js
Due: npm run lint:js

feat: add smooth scroll and scroll-spy behavior to bolt-toc
  packages/components/bolt-toc/package.json
  packages/components/bolt-toc/src/_toc-item.js
  packages/components/bolt-toc/src/toc.js
  packages/components/bolt-toc/src/waypoint/computeOffsetPixels.js
  packages/components/bolt-toc/src/waypoint/getBounds.js
  packages/components/bolt-toc/src/waypoint/getCurrentPosition.js
  packages/components/bolt-toc/src/waypoint/index.js
  packages/components/bolt-toc/src/waypoint/parseOffsetAsPercentage.js
  packages/components/bolt-toc/src/waypoint/parseOffsetAsPixels.js
Due: npm run lint:js

feat: check for active item on first update, ensure only one active item at a time
  packages/components/bolt-toc/src/_toc-item.js
  packages/components/bolt-toc/src/toc.js
Due: npm run lint:js

fix: add raw filters to the Toolbar + Icon component's Twig templates
  packages/components/bolt-icon/src/icon.twig
  packages/components/bolt-toolbar/toolbar.twig
Due: none

fix: update the docs site-specific Twig template to address the CSS specificity / load order issue with styles in IE 11
  docs-site/src/templates/_site-head.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.16.1
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

fix: Remove background on web component icons when background="none"
  packages/components/bolt-icon/src/icon.standalone.js
Due: npm run lint:js

chore: update package.json + yarn.lock
  yarn.lock
Due: none

fix: update Jest test
  packages/testing/testing-utils/__tests__/test-utils.test.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
