Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

refactor: update docs on animations
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/15-animations/animations.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/anchorScroll.js
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/animations.js
Due: npm run lint:style

chore: add documentation to animations settings page
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/settings.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/15-animations/animations.twig
  packages/animations/settings/_settings-animations.scss
Due: npm run lint:style

refactor: add documentation for transitions
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/animation-settings.md
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/settings.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-transitions/transitions.twig
  packages/animations/tools/_tools-transitions.scss
Due: npm run lint:style

fix: rearrange CLI args
  scripts/deploy.js
Due: none

fix: test updating Travis build with sauce connect partially disabled
  .travis.yml
Due: none

fix: add missing scripts folder deps
  scripts/package.json
Due: none

docs: copy edits to testing file, link to individual pages rather than kitchen-sink examples
  packages/components/bolt-link/TESTING.md
Due: none

fix: update Travis task order
  .travis.yml
Due: none

docs: copy edits to testing page
  packages/components/bolt-link/TESTING.md
Due: none

refactor: update staggered start demo
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/40-staggered-start/05-staggered-demo.twig
  packages/animations/utilities/animation-utils.js
Due: npm run lint:js

docs: fix typo on testing page
  packages/components/bolt-link/TESTING.md
Due: none

chore: refactors
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
Due: npm run lint:style

chore: linting
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/settings.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-transitions/transitions.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/15-animations/animations.twig
  packages/animations/tools/_tools-animations.scss
  packages/animations/tools/_tools-transitions.scss
  packages/animations/utilities/_utilities-animation.scss
Due: npm run lint:style

chore: linting
  packages/animations/index.js
Due: npm run lint:js

fix: move process.env-related variables to the top
  scripts/deploy.js
Due: none

fix: clean
  scripts/deploy.js
Due: none

fix: remove old vars
  scripts/deploy.js
Due: none

fix: update path to post-build script run by Travis
  .travis.yml
Due: none

fix: update bolt-version script to address deprecation error
  packages/build-tools/utils/bolt-versions.js
Due: npm run lint:js

chore: revert updating the docs site + uikit dependencies to be devDependencies
  docs-site/package.json
  packages/uikit-workshop/package.json
Due: none

fix: remove old e2e tests + old screenshots and reports folders
  reports/screenshots/__tests__/bolt-video.e2e/Bolt-Video-Playback-Rate_FAILED_Nov-28-2018-203254-GMT-0500.png
  reports/screenshots/e2e/bolt-site.e2e/Bolt-Docs:-Verify-Docs-Site-Compiled-+-Deployed_FAILED_Nov-28-2018-201416-GMT-0500.png
  reports/screenshots/e2e/bolt-site.e2e/Bolt-Docs:-Verify-Docs-Site-Compiled-+-Deployed_FAILED_Nov-28-2018-202503-GMT-0500.png
  reports/screenshots/e2e/pattern-lab.e2e/Bolt-Docs:-Verify-Docs-Site-Compiled-+-Deployed_FAILED_Nov-28-2018-205113-GMT-0500.png
  screenshots/bolt-video/bolt-video-external-controls--has-finished----chrome_1.png
  screenshots/bolt-video/bolt-video-external-controls--has-finished----firefox_2.png
  screenshots/bolt-video/bolt-video-external-controls--has-finished----undefined.png
  screenshots/bolt-video/bolt-video-external-controls--has-started-playing----chrome_1.png
  screenshots/bolt-video/bolt-video-external-controls--has-started-playing----firefox_2.png
  screenshots/bolt-video/bolt-video-external-controls--has-started-playing----undefined.png
  screenshots/bolt-video/bolt-video-playback-rate----chrome_1.png
  screenshots/bolt-video/bolt-video-playback-rate----firefox_2.png
  screenshots/bolt-video/bolt-video-playback-rate----ie11_3.png
  screenshots/bolt-video/bolt-video-playback-rate----undefined.png
  screenshots/bolt-video/bolt-video-playback-rate--playback-at-1.3x----chrome_1.png
  screenshots/bolt-video/bolt-video-playback-rate--playback-at-1.3x----firefox_2.png
  screenshots/bolt-video/bolt-video-playback-rate--playback-at-1.3x----undefined.png
  test/e2e/bolt-site.e2e.js
  test/e2e/pattern-lab.e2e.js
Due: none

refactor: clean up devDependencies vs dependencies in root package.json file
  package.json
Due: none

refactor: move the api / router into a separate standalone package
  deploy/package.json
  packages/api/__snapshots__/index.test.js.snap
  packages/api/index.js
  packages/api/index.test.js
  packages/api/package.json
Due: npm run lint:js

chore: update related packages to use new @bolt/api package
  packages/build-tools/package.json
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

refactor: cleanup + rename the "deploys" folder to "server"
  .dockerignore
  Dockerfile
  package.json
  scripts/deploy.js
  server/index.js
  server/package.json
Due: none

chore: update dependencies + fix dev dependencies vs regular dependencies
  docs-site/package.json
  docs-site/src/components/schema-form/package.json
  lerna.json
  package.json
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/components/bolt-code-snippet/package.json
  packages/components/bolt-critical-css/package.json
  packages/config-presets/config-eslint/package.json
  packages/config-presets/config-stylelint/ideal.js
  packages/config-presets/config-stylelint/package.json
  packages/core/package.json
  packages/uikit-workshop/package.json
  yarn.lock
Due: npm run lint:js

fix: temporarily disable stylelint plugin till a non-deprecated replacement is added
  packages/config-presets/config-stylelint/ideal.js
  packages/config-presets/config-stylelint/index.js
Due: npm run lint:js

fix: remove verdaccio npm scripts from root till publishing-related tests are added
  package.json
Due: none

fix: add missing publicConfig to new @bolt/api package
  packages/api/package.json
Due: none

fix: move around webpack loader plugins needed for running the full test suite
  packages/build-tools/package.json
  yarn.lock
Due: none

fix: add missing dependency to prevent install warnings
  packages/build-tools/package.json
Due: none

chore: update babel plugins to the latest versions
  packages/config-presets/babel-preset-bolt/package.json
  yarn.lock
Due: none

fix: update bolt-versions Github check to use the new octokit API call
  packages/build-tools/utils/bolt-versions.js
Due: npm run lint:js

fix: fix prettier errors
  packages/build-tools/utils/bolt-versions.js
Due: npm run lint:js

refactor(Upadte code to be following the pattern): update the code to be correct with pattern provid
  docs-site/src/pages/pattern-lab/_patterns/02-components/ordered-list/05-ordered-list.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/unordered-list/05-unordered-list.twig
  packages/components/lists/bolt-ol/__tests__/__snapshots__/ol.js.snap
  packages/components/lists/bolt-ol/__tests__/ol.js
  packages/components/lists/bolt-ol/src/ol.twig
  packages/components/lists/bolt-ul/__tests__/__snapshots__/ul.js.snap
  packages/components/lists/bolt-ul/__tests__/ul.js
  packages/components/lists/bolt-ul/src/ul.twig
Due: npm run lint:js

Revert "chore: update babel plugins to the latest versions"
  packages/config-presets/babel-preset-bolt/package.json
  yarn.lock
Due: none

Revert "Revert "chore: update babel plugins to the latest versions""
  packages/config-presets/babel-preset-bolt/package.json
  yarn.lock
Due: none

fix: revert updating element-closest; fixes IE 11 JavaScript issues that pop up if updated to a later version (relating to smooth scroll)
  packages/core/package.json
  yarn.lock
Due: none

fix: fix for the PL nav incorrectly auto-closing in certain situations
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Due: npm run lint:js

fix: adding support for deprecated items
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/-deprecated-band.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/20-band-with-pinned-content.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/_includes/_band--flag.twig
  packages/components/bolt-band/README.md
  packages/components/bolt-band/band.schema.yml
  packages/components/bolt-band/src/_band-deprecated-items.twig
  packages/components/bolt-band/src/band.twig
  yarn.lock
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
