Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

styles: meta title and duration design
  apps/pattern-lab/src/_patterns/02-components/card/20-card-with-video.twig
  apps/pattern-lab/src/_patterns/02-components/video/-video--autoplay.twig
  apps/pattern-lab/src/_patterns/02-components/video/-video--no-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/05-video-show-meta-title-and-duration.twig
  apps/pattern-lab/src/_patterns/02-components/video/10-video-hide-meta-title-and-duration.twig
  apps/pattern-lab/src/_patterns/02-components/video/15-video-hide-meta-title.twig
  apps/pattern-lab/src/_patterns/02-components/video/20-video-hide-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/25-video-autoplay.twig
  apps/pattern-lab/src/_patterns/02-components/video/30-video-autoplay-and-loop.twig
  apps/pattern-lab/src/_patterns/02-components/video/35-video-autoplay-and-loop-hide-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/40-video-w-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/45-video-w-inline-script.twig
  apps/pattern-lab/src/_patterns/02-components/video/50-video-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/55-video-as-background-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/video--show-meta-hide-title.twig
  packages/components/bolt-video/src/_video-meta.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video.scss
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js, npm run lint:style

refactor: add async font loading + polyfill loader to bolt site
  apps/bolt-site/templates/site.twig
Due: none

refactor: add critical fonts + polyfill loader to docs site boltrc
  apps/bolt-site/.boltrc.js
Due: npm run lint:js

refactor: add missing deps to docs site
  apps/bolt-site/package.json
Due: none

chore: demo updates
  apps/pattern-lab/src/_patterns/02-components/video/-video-autoplay-and-loop-hide-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/-video-autoplay-and-loop.twig
  apps/pattern-lab/src/_patterns/02-components/video/00-video-docs.twig
  apps/pattern-lab/src/_patterns/02-components/video/05-video-show-meta-title-and-duration.twig
  apps/pattern-lab/src/_patterns/02-components/video/10-video-hide-meta-title-and-duration.twig
  apps/pattern-lab/src/_patterns/02-components/video/15-video-hide-meta-title.twig
  apps/pattern-lab/src/_patterns/02-components/video/20-video-hide-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/25-video-w-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/30-video-w-inline-script.twig
  apps/pattern-lab/src/_patterns/02-components/video/35-video-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/40-video-as-background-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/video.json
Due: none

Changing ownership on copy
  Dockerfile
Due: none

Video Enhancement - Collapse video when clicking away
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

docs: add WIP draft of coding standards and guidelines
  apps/bolt-site/content/20-docs/50-concepts/10-standards/00-frontend-guidelines-and-coding-standards.md
Due: none

docs: rename title
  apps/bolt-site/content/20-docs/50-concepts/10-standards/00-frontend-architecture-principles.md
Due: none

styles: share dialog
  packages/components/bolt-video/src/_video-meta.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video.scss
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js, npm run lint:style

Video Enhancement - Collapse video when hitting the "escape" key
  packages/components/bolt-video/package.json
  packages/components/bolt-video/src/video.standalone.js
  yarn.lock
Due: npm run lint:js

Video Enhancement - Merged in previous branch for enhancing the video player to close when clicking away
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

fix: Adjust logic for adding chevron right icon to links (WWWD-2183)
  packages/components/bolt-headline/src/_typography.twig
Due: none

docs: Document logic for chevron right icon in links (WWWD-2183)
  apps/pattern-lab/src/_patterns/02-components/headline/30-headline-link-variations.twig
  packages/components/bolt-headline/headline.schema.yml
Due: none

fix: IE share dialog postion fix and additional docs
  apps/pattern-lab/src/_patterns/02-components/video/30-video-w-inline-script.twig
  apps/pattern-lab/src/_patterns/02-components/video/40-video-w-inline-script-and-email-share.twig
  apps/pattern-lab/src/_patterns/02-components/video/45-video-as-background-w-inline-script-and-external-controls.twig
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

Updating dockerfile to fully build out site
  Dockerfile
Due: none

docs: fixing play button in the docs and adding more doc pages
  apps/pattern-lab/src/_patterns/02-components/video/20-video-hide-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/25-video-w-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/35-video-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/40-video-w-inline-script-and-email-share.twig
  apps/pattern-lab/src/_patterns/02-components/video/45-video-as-background-w-inline-script-and-external-controls.twig
  apps/pattern-lab/src/_patterns/02-components/video/50-video-w-external-title.twig
Due: none

refactor: disabling icon logic from new text component until work is wrapped up decoupling the two components.
  apps/pattern-lab/src/_patterns/02-components/text/-20-text-icon-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/00-text-docs.twig
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-text/src/text.twig
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js, npm run lint:style

chore: setting private flag till refactoring work on the text component is completed.
  packages/components/bolt-text/package.json
Due: none

Video Enhancement - Adjusted specificity of videoTag selector to "this" and set the "inside" region to the player (not band)
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

Video Enhancement - Clarified code comment and renamed videoTag var to videoWrapper
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

Refactoring Docker approach
  Dockerfile
  now.docker.json
  package.json
  scripts/deploy.js
Due: none

feat: create Content Hub Anchor ribbon example
  apps/pattern-lab/src/_patterns/04-pages/90-content-hub/anchor-ribbon-example.twig
  apps/pattern-lab/src/assets/images/content/backgrounds/background-robotics-customer-service.jpg
Due: none

fix: make sure navbar shadow is visible by setting a z-index
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

fix: upgrade original pattern lab styleguidekit component scripts to address most JS errors being thrown with refactor
  apps/pattern-lab/.boltrc.js
  packages/build-tools/create-webpack-config.js
  packages/styleguidekit-assets-bolt/src/components/pl-modal-styleguide/modal-styleguide.js
  packages/styleguidekit-assets-bolt/src/components/pl-modal-viewer/modal-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels-util/panels-util.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels-viewer/package.json
  packages/styleguidekit-assets-bolt/src/components/pl-panels-viewer/panels-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels/panels.js
  packages/styleguidekit-assets-bolt/src/components/pl-pattern-finder/pattern-finder.js
  packages/styleguidekit-assets-bolt/src/components/pl-prism/prism-languages.js
  packages/styleguidekit-assets-bolt/src/components/pl-styleguide/styleguide.js
  packages/styleguidekit-assets-bolt/src/html/index.twig
  packages/styleguidekit-assets-bolt/src/patternlab-viewer.js
  packages/styleguidekit-assets-bolt/src/utils/data-saver.js
  packages/styleguidekit-assets-bolt/src/utils/eventemitter.js
  packages/styleguidekit-assets-bolt/src/utils/package.json
  packages/styleguidekit-assets-bolt/src/utils/url-handler.js
Due: npm run lint:js

chore: cleanup, removing bower
  packages/styleguidekit-assets-bolt/.bowerrc
  packages/styleguidekit-assets-bolt/.github/CONTRIBUTING.md
  packages/styleguidekit-assets-bolt/.gitignore
  packages/styleguidekit-assets-bolt/bower.json
Due: none

fix: fix pl styleguidekit assets being tracked w/ lerna
  package.json
Due: none

fix: ignore styleguidekit from stylelint check
  package.json
Due: none

fix: temporarily disable eslint on PL
  .eslintignore
  package.json
Due: none

fix: fix misc JavaScript errors due to poor scoping / variable definitions
  packages/styleguidekit-assets-bolt/src/components/pl-modal-styleguide/modal-styleguide.js
  packages/styleguidekit-assets-bolt/src/components/pl-modal-viewer/modal-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels-util/panels-util.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels-viewer/panels-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-plugin-loader/plugin-loader.js
  packages/styleguidekit-twig-default/views/partials/general-footer.twig
  packages/styleguidekit-twig-default/views/partials/general-header.twig
Due: npm run lint:js

chore: update package-lock.json
  package-lock.json
Due: none

v0.10.9
  lerna.json
  packages/bolt/package.json
  src/_patterns/02-components/bolt-icon/package.json
  src/_patterns/02-components/bolt-icons/package.json
  src/_patterns/02-components/components-all/package.json
Due: none

fix: increase timeout time allowed for Travis on v0.x builds
  .travis.yml
Due: none

refactor: remove jwerty and replace with Mousetrap, bug fixes and misc cleanup/Users/sghoweri/sites/bolt-v2/packages/styleguidekit-assets-bolt/src/utils/postmessage.js
  package.json
  packages/styleguidekit-assets-bolt/dist/index.html
  packages/styleguidekit-assets-bolt/dist/styleguide/css/pattern-lab.css
  packages/styleguidekit-assets-bolt/dist/styleguide/js/patternlab-pattern.js
  packages/styleguidekit-assets-bolt/dist/styleguide/js/patternlab-pattern.min.js
  packages/styleguidekit-assets-bolt/dist/styleguide/js/patternlab-viewer.js
  packages/styleguidekit-assets-bolt/dist/styleguide/js/patternlab-viewer.min.js
  packages/styleguidekit-assets-bolt/package.json
  packages/styleguidekit-assets-bolt/src/components/pl-modal-viewer/modal-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-pattern-finder/pattern-finder.js
  packages/styleguidekit-assets-bolt/src/components/pl-styleguide/package.json
  packages/styleguidekit-assets-bolt/src/components/pl-styleguide/styleguide.js
  packages/styleguidekit-assets-bolt/src/html/index.twig
  packages/styleguidekit-assets-bolt/src/sass/scss/abstracts/_variables.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/components/_navigation.scss
  packages/styleguidekit-assets-bolt/src/utils/index.js
  packages/styleguidekit-assets-bolt/src/utils/postmessage.js
  packages/styleguidekit-assets-bolt/views/partials/general-footer.mustache
  yarn.lock
Due: npm run lint:js, npm run lint:style

refactor: clean up tabs logic
  packages/styleguidekit-assets-bolt/src/components/pl-panels-util/panels-util.js
  packages/styleguidekit-assets-bolt/src/html/partials/base-template.twig
Due: npm run lint:js

fix: remove PL styleguidekit src folder from lerna workspaces to fix monorepo test failing
  package.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none
