Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-197: Remove empty object from cx().
  packages/components/bolt-stack/src/stack.js
Due: npm run lint:js

ds-152: set up page header
  docs-site/src/assets/images/logos/pega-logo.svg
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/00-page-header-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/05-page-header.twig
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

ds-200 non working draft
  packages/components/bolt-li/src/li.js
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-ul/src/ul.js
Due: npm run lint:js

DS-198: Rename `update` to `updateLayout` to avoid conflict with Lit Element method.
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js

DS-45: Utilize wc-context's built in LitElement property hooks.
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

DS-45: Remove unnecessary default assignments, BoltElement does this for us automatically.
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

ds-200: handing off to dan
  packages/components/bolt-li/src/li.js
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-ul/src/ul.js
Due: npm run lint:js

DS-45: Import the appropriate wc-context class for lit-element.
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

DS-45: Remove `align` from context, not used.
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/list.js
Due: npm run lint:js

DS-45: Include only the props we use on bolt-list-item.
  packages/components/bolt-list/src/_list-item.js
Due: npm run lint:js

DS-45: Add missing 'wc-context' dependencies.
  packages/components/bolt-accordion/package.json
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-list/package.json
Due: none

ds-152: add page header trigger styles
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
  packages/core-v3.x/styles/02-tools/tools-button-reset/_tools-button-reset.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.28.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-208: Cherry-pick Banner fix onto v2.26.3.
  packages/components/bolt-banner/__tests__/__snapshots__/banner.js.snap
  packages/components/bolt-banner/banner.schema.js
  packages/components/bolt-banner/src/banner.js
  packages/components/bolt-banner/src/banner.scss
  packages/components/bolt-banner/src/banner.twig
Due: npm run lint:js, npm run lint:style

DS-191: Cherry-pick "Fix invalid version error"
  packages/build-tools/tasks/api-tasks/bolt-versions.js
Due: npm run lint:js

ds-213 first pass at modal
  packages/components/bolt-modal/focus-trap/focus-trap.js
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

ds-152: add mobile nav styles
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-200: Rework UL, OL, LI components to avoid race condition when UL loads before LI.
  packages/components/bolt-li/src/li.js
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-ul/src/ul.js
Due: npm run lint:js

DS-200: Remove unused core helper function `mapWithDepth`.
  packages/core-v2.x/utils/index.js
  packages/core-v2.x/utils/map-with-depth.js
  packages/core-v3.x/utils/index.js
  packages/core-v3.x/utils/map-with-depth.js
Due: npm run lint:js

www-269: fix calculator background overflow
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator.scss
Due: npm run lint:style

DS-222: Converter Table to latest renderer
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

DS-222: remove commented out code
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

ds-152: add js
  docs-site/src/index.js
  packages/components/bolt-page-header/index.js
  packages/components/bolt-page-header/package.json
  packages/components/bolt-page-header/src/page-header.js
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:js, npm run lint:style

ds-152: fix 'aria-expanded' attribute JS
  docs-site/src/index.js
Due: none

ds-152: allow only one 'aria-expanded' at a time
  docs-site/src/index.js
Due: none

ds-152: fix sliding transition
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-213: Add constructor back in to provide missing bind methods
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

DS-213: Move code from firstUpdated to updated
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

DS-213: Add promise to fix close button not getting focus
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

DS-213: Remove unnecessary show/hide binds, keep keypress
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

ds-152: polish search and main nav expanding transition
  docs-site/src/index.js
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

DS-200: Fix broken schema
  packages/components/bolt-ul/ul.schema.js
Due: npm run lint:js

DS-213: Remove 'no-shadow' props from schema, not necessary
  packages/components/bolt-modal/modal.schema.js
Due: npm run lint:js

DS-213: Remove "disabled" prop from schema, not used
  packages/components/bolt-modal/modal.schema.js
Due: npm run lint:js

DS-213: Remove "slots" prop from schema, does not belong here, not a real prop
  packages/components/bolt-modal/modal.schema.js
Due: npm run lint:js

DS-213: Update snapshots
  packages/components/bolt-modal/__tests__/__snapshots__/modal.js.snap
Due: none

DS-222: Set `useShadow` to false, as it was set before in constructor
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

DS-222: Move `firstUpdated` code to `updated` so it runs on every update
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
