Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-248: Update navbar component
  packages/components/bolt-navbar/index.js
  packages/components/bolt-navbar/index.scss
  packages/components/bolt-navbar/navbar-item.schema.js
  packages/components/bolt-navbar/navbar.schema.js
  packages/components/bolt-navbar/package.json
  packages/components/bolt-navbar/src/_navbar-macros.twig
  packages/components/bolt-navbar/src/_navbar-title.twig
  packages/components/bolt-navbar/src/navbar-item.scss
  packages/components/bolt-navbar/src/navbar-item.twig
  packages/components/bolt-navbar/src/navbar-menu.scss
  packages/components/bolt-navbar/src/navbar.js
  packages/components/bolt-navbar/src/navbar.scss
  packages/components/bolt-navbar/src/navbar.twig
  packages/components/bolt-navbar/src/overflow-menu.js
Due: npm run lint:js, npm run lint:style

DS-248: Update Page Header to add flag for sticky-offset
  packages/components/bolt-page-header/src/page-header.twig
Due: none

DS-248: Update smoothscroll to include flag for opting out of default behavior
  packages/components/bolt-smooth-scroll/src/smooth-scroll.js
Due: npm run lint:js

DS-248: Update Waypoint to only fire on position change to improve performance
  packages/core-v3.x/utils/waypoint/index.js
Due: npm run lint:js

DS-248: Update selector in autotrack analytics component
  packages/analytics/autotrack/index.js
Due: npm run lint:js

DS-248: Add new Behavior-style loading to Pattern Lab
  docs-site/src/behaviors.js
  docs-site/src/index.js
Due: none

DS-248: Update Navbar docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/00-navbar-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar--centered.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar-full-bleed.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar-hide-title.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar-short.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/10-navbar-theme-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/25-navbar-linked-title.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/30-navbar-transparent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/40-navbar--no-links.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/50-navbar-scroll-offset.twig
Due: none

DS-248: Update Navbar on page demos and homepage
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/40-d8-content-hub/00-sticky-navbar.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/navigation/_nav--search.twig
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/homepage.twig
Due: none

DS-248: Remove unnecessary Sticky Jest test
  packages/components/bolt-sticky/__tests__/sticky.js
Due: npm run lint:js

DS-248: Update yarn.lock
  yarn.lock
Due: none

Update repo README
  README.md
Due: none

chore: add wiki images
  docs-site/src/assets/images/wiki/poc-banner/banner-anatomy.png
  docs-site/src/assets/images/wiki/poc-banner/banner-dark-mode.jpg
  docs-site/src/assets/images/wiki/poc-banner/banner-inline.gif
  docs-site/src/assets/images/wiki/poc-banner/banner-inline.jpg
  docs-site/src/assets/images/wiki/poc-banner/banner-toast.gif
  docs-site/src/assets/images/wiki/poc-banner/banner-toast.jpg
  docs-site/src/assets/images/wiki/poc-banner/banner-validation.jpg
  docs-site/src/assets/images/wiki/poc-navbar/navbar-desktop.png
  docs-site/src/assets/images/wiki/poc-navbar/navbar.gif
  docs-site/src/assets/images/wiki/poc-table/table-checkbox.gif
  docs-site/src/assets/images/wiki/poc-table/table-filters.gif
  docs-site/src/assets/images/wiki/poc-table/table-row-expand.gif
  docs-site/src/assets/images/wiki/poc-table/table-sort.gif
  docs-site/src/assets/images/wiki/poc-tabs/tabs-desktop.png
  docs-site/src/assets/images/wiki/poc-tabs/tabs-dropdown.gif
  docs-site/src/assets/images/wiki/poc-tabs/tabs-scroll.gif
  yarn.lock
Due: none

ds-248: revert width prop and clean up css
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/05-navbar-full-bleed.twig
  packages/components/bolt-navbar/navbar.schema.js
  packages/components/bolt-navbar/src/navbar.scss
  packages/components/bolt-navbar/src/navbar.twig
Due: npm run lint:js, npm run lint:style

DS-411: Updated the blockquote and breadcrumb Jests tests and started to work on the carousel Jest test
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-blockquote/__tests__/blockquote.js
  packages/components/bolt-breadcrumb/__tests__/__snapshots__/breadcrumb.js.snap
  packages/components/bolt-breadcrumb/__tests__/breadcrumb.js
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
  yarn.lock
Due: npm run lint:js

DS-435: base element
  packages/components/bolt-card-replacement/card-replacement.schema.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: npm run lint:js

DS-248: Fix overflow menu text shifting on toggle
  packages/components/bolt-navbar/src/navbar-menu.scss
Due: npm run lint:style

ds-174: fix dark mode and themes
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/05-dark-mode.twig
  packages/global/styles/00-vars/_vars-mode.scss
  yarn.lock
Due: npm run lint:style

Updated the documentation for the video modal
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
Due: none

DS-174: change clean-css-loader level to 1 in prod to fix broken CSS
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

Increase buffer to fix failing auto-release script
  auto-release.js
Due: none

Try increasing maxBuffer once more
  auto-release.js
Due: none

ds-174: fix media query inside scss loops
  packages/layouts/bolt-layout/src/layout.scss
Due: npm run lint:style

DS-435: update test and snap after fixing breaking change
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
  packages/components/bolt-card-replacement/__tests__/card-replacement.js
  packages/components/bolt-card-replacement/card-replacement.schema.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: npm run lint:js

DS-435: standardize card-action twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
Due: none

Deprecated the URL prop on the Share component to allow for more flexible Drupal integration
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/00-share-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/05-share.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/_share-variables.twig
  packages/components/bolt-menu/menu.schema.js
  packages/components/bolt-menu/src/_menu-item.twig
  packages/components/bolt-share/share.schema.js
  packages/components/bolt-share/src/share.twig
Due: npm run lint:js

Changed a addAttribute to setAttribute in the share.twig
  packages/components/bolt-menu/src/_menu-item.twig
  packages/components/bolt-share/src/share.twig
Due: none

ds-465: set up color chips
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-border-radius-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-color-variations.twig
  packages/components/bolt-chip/chip.schema.js
  packages/components/bolt-chip/src/_chip-macros.twig
  packages/components/bolt-chip/src/chip.js
  packages/components/bolt-chip/src/chip.scss
  packages/components/bolt-chip/src/chip.twig
Due: npm run lint:js, npm run lint:style

set maxBuffer to Infinity
  auto-release.js
Due: none

Finished updating the share attributes update and updated the share jest test to the latest standard
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/40-accordion-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/band/30-band-with-pinned-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/60-listing-teaser-use-case-article-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-search-result-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/00-share-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/_share-variables.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-status-and-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/20-d8-details-page-press.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/40-d8-content-hub/00-sticky-navbar.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/_wip-doc-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/accordion/00-accordion-no-shadow.twig
  packages/components/bolt-menu/src/_menu-item.twig
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-share/__tests__/share.js
  packages/components/bolt-share/src/share.twig
Due: npm run lint:js

DS-435: media, body, and final pass.
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action-item.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-actions.twig
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
Due: none

Removed the space diffs from the _menu-item.twig
  packages/components/bolt-menu/src/_menu-item.twig
Due: none

Combined the setAttribute function to include both the target and class objects
  docs-site/.incache
  packages/components/bolt-share/src/share.twig
Due: none

Updated the shrare test to the latest snapshot
  packages/components/bolt-teaser/__tests__/teaser.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v3.6.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

ds-465: rewrite docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/00-chip-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/05-chip.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/10-chip-url-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/15-chip-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-border-radius-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-color-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/25-chip-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/30-chip-color-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/999-chip-with-web-component.twig
  packages/components/bolt-chip/chip.schema.js
  packages/components/bolt-chip/src/chip.scss
Due: npm run lint:js, npm run lint:style

ds-465: fix typo
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/20-chip-border-radius-variations.twig
Due: none

DS-476: Move test data out of docs into Tests section
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/_share-variables.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/share/05-share.twig
Due: none

DS-476: Fix broken 'url' prop when using 'menu' display, add test coverage
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-share/__tests__/share.js
  packages/components/bolt-share/src/share.twig
Due: npm run lint:js

Cherry picked commits to this hotfix
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/share/_share-variables.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-type-and-time.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/share/05-share.twig
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-share/__tests__/share.js
  packages/components/bolt-share/src/share.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: npm run lint:js
