Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

[skip travis] chore: version bump PHP-related dependencies to v3.4.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.4.2
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-hero/CHANGELOG.md
  packages/components/bolt-hero/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

Removed the word-break CSS rule
  packages/components/bolt-teaser/src/teaser.scss
  yarn.lock
Due: npm run lint:style

Removed the word-break declaration on the description text
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

Removed a word break from the teaser hover description text
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

Updated the word break to be normal
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

DS-298: Increase Jest timeout to prevent slow tests from failing, re-add TOC tests
  jest.config.js
  packages/components/bolt-toc/__tests__/__snapshots__/toc.js.snap
  packages/components/bolt-toc/__tests__/toc.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v3.4.3
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.4.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

DS-298: Fix typo
  packages/components/bolt-content-pagination/package.json
Due: none

DS-298: JS syntax tweaks
  packages/components/bolt-side-nav/src/side-nav.js
  packages/layouts/bolt-holy-grail/src/holy-grail.js
Due: npm run lint:js

Merge branch 'master' into feature/ds-298-tech-doc-layout
  CHANGELOG.md
  docs-site/.incache
  docs-site/CHANGELOG.md
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/15-tooltip-inverted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/20-tooltip-use-case-button-and-link.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/25-tooltip-use-case-icon.twig
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-hero/CHANGELOG.md
  packages/components/bolt-hero/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-page-header/src/page-header-nav-li.twig
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-tooltip/tooltip.schema.js
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/global/styles/08-vendor/_vendor-tippy.scss
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/composer.json
  packages/twig-integration/twig-extensions-shared/package.json
Due: npm run lint:js, npm run lint:style

ds-298: fix version
  packages/base-starter-kit/package.json
Due: none

ds-298: add auto width prop to holy grail sidebar
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/10-holy-grail-use-case-documentation.twig
  packages/components/bolt-side-nav/src/side-nav-li.twig
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
Due: npm run lint:js

DS-308: commiting for reference
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
Due: none

DS-372: add type to schema. set button type. stop filtering target. fix filter spacing.
  packages/components/bolt-link/link.schema.js
  packages/components/bolt-link/src/link.twig
Due: npm run lint:js

DS-372: update headline and breadcrumb snaps
  packages/components/bolt-breadcrumb/__tests__/__snapshots__/breadcrumb.js.snap
  packages/components/bolt-headline/__tests__/__snapshots__/headline.js.snap
Due: none

ds-298: update conventions in holy grail layout
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/10-holy-grail-spacing-options.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/15-holy-grail-use-case-documentation.twig
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
  packages/layouts/bolt-holy-grail/src/holy-grail.js
  packages/layouts/bolt-holy-grail/src/holy-grail.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js, npm run lint:style

ds-298: update js selectors to data attributes
  packages/components/bolt-side-nav/src/side-nav-li.twig
  packages/components/bolt-side-nav/src/side-nav.js
  packages/components/bolt-side-nav/src/side-nav.twig
Due: npm run lint:js

ds-298: add full bleed prop
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  packages/components/bolt-side-nav/src/side-nav.scss
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
  packages/layouts/bolt-holy-grail/src/holy-grail.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js, npm run lint:style

DS-333: Increase Jest timeout, update snapshots
  jest.config.js
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-trigger/__tests__/__snapshots__/trigger.js.snap
Due: none

DS-427: Updated the truncation to be handled by a JS library
  packages/components/bolt-tabs/index.js
  packages/components/bolt-teaser/index.js
  packages/components/bolt-teaser/package.json
  packages/components/bolt-teaser/src/teaser.js
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
  yarn.lock
Due: npm run lint:js, npm run lint:style

DS-427: Updated the truncation to be handled by a JS library
  packages/components/bolt-teaser/package.json
Due: none

DS-427: Updated the logic to be a CSS only solution
  packages/components/bolt-teaser/index.js
  packages/components/bolt-teaser/package.json
  packages/components/bolt-teaser/src/teaser.js
  packages/components/bolt-teaser/src/teaser.scss
  yarn.lock
Due: npm run lint:js, npm run lint:style

DS-427: Add class to shorter descriptions to conditionally center them
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

DS-418: Updated the overlay to be position:fixed;
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

DS-447: Replace broken promise and update snapshots
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/testing/testing-helpers/index.js
Due: npm run lint:js

DS-427: reverted the yarn.lock file to prevent the failign tests
  yarn.lock
Due: none

DS-372: Update Twig class filter logic, syntax
  packages/components/bolt-link/src/link.twig
Due: none

WWW-467: Remove |t filter from variable
  packages/components/bolt-page-header/src/page-header.twig
Due: none

WWW-467: Add subheadline to page header schema
  packages/components/bolt-page-header/page-header.schema.js
Due: npm run lint:js

Fixed a modal height issue on iOS
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

Fixed a active state color bug on the quick tabs
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/index.scss
Due: npm run lint:style

Fix :checked icon color in dark theme
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/index.scss
Due: npm run lint:style

DS-448: Add flex back in, add webkit height rule to all 3 containers
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

DS-449: Fix stacking order in FF
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v3.5.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
