Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

ds-491: bring out actions
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-contact-list.twig
Due: none

DS-486: update button and link element tests
  packages/elements/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/elements/bolt-button/__tests__/button.js
  packages/elements/bolt-text-link/__tests__/__snapshots__/text-link.js.snap
  packages/elements/bolt-text-link/__tests__/text-link.js
Due: npm run lint:js

DS-486: simplify button and link component tests
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-link/__tests__/link.js
  packages/elements/bolt-text-link/__tests__/__snapshots__/text-link.js.snap
Due: npm run lint:js

Update Bolt testing-utils to v4.0.0
  package.json
Due: none

DS-486: remove obsolete snaps.
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
Due: none

DS-528: Fix PL homepage navbar
  docs-site/src/templates/homepage.twig
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

ds-491: change button component to button element
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

Upgrade testing utils
  package.json
Due: none

[skip travis] chore: version bump PHP-related dependencies to v4.0.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v4.0.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-navbar/CHANGELOG.md
  packages/components/bolt-navbar/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

DS-505:onboarding component
  .prettierrc
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/00-onboard-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/05-onboard.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/10-onboard-status-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/15-onboard-border-radius-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/20-onboard-vertical-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/25-onboard-with-web-component.twig
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/components/bolt-onboard/README.md
  packages/components/bolt-onboard/__tests__/__snapshots__/onboard.js.snap
  packages/components/bolt-onboard/__tests__/onboard.js
  packages/components/bolt-onboard/index.js
  packages/components/bolt-onboard/index.scss
  packages/components/bolt-onboard/onboard.schema.js
  packages/components/bolt-onboard/package.json
  packages/components/bolt-onboard/src/onboard.js
  packages/components/bolt-onboard/src/onboard.scss
  packages/components/bolt-onboard/src/onboard.twig
Due: npm run lint:js, npm run lint:style

DS-505:remove commented code
  packages/components/bolt-onboard/src/onboard.twig
Due: none

DS-505:remove unnecessary spaces
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/05-onboard.twig
  packages/components/bolt-onboard/src/onboard.twig
Due: none

DS:526 replace button in carousel and update snap.
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
  packages/components/bolt-carousel/src/_carousel.next-previous-buttons.scss
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-carousel/src/carousel.twig
Due: npm run lint:js, npm run lint:style

Add icon-only class to element button docs.
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
Due: none

typo fix
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
Due: none

DS-489: Remove asm89/twig-lint (unused project with twig 1.x dependency)
  docs-site/composer.lock
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

DS-526: change button to span
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-carousel/src/carousel.twig
Due: npm run lint:js

DS-489: Update bolt-design-system/twig-renderer to support twig 2.x
  docs-site/composer.lock
  packages/twig-integration/twig-renderer/composer.json
Due: none

DS-489: Update to latest twig 1.x
  docs-site/composer.lock
Due: none

DS-486: clean up the element tests.
  packages/elements/bolt-button/__tests__/button.js
  packages/elements/bolt-text-link/__tests__/text-link.js
Due: npm run lint:js

DS-526: remove internal labels and hide the element.
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-carousel/src/carousel.twig
Due: npm run lint:js

DS-457: add demo, remove width 100%
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/04-demo-table.twig
  packages/components/bolt-table/src/table.scss
Due: npm run lint:style

ds-491: create more menu
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-contact-list.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
Due: npm run lint:style

DS-174: Output array of strings enums in schema table
  docs-site/src/components/pattern-lab-utils/_schema-docs-macros.twig
Due: none

DS-174: Remove unwanted whitespace around ',' and 'or', fix intendation
  docs-site/src/components/pattern-lab-utils/_schema-docs-macros.twig
Due: none

DS-505: Change requests
  docs-site/src/pages/pattern-lab/_patterns/40-components/banner/10-banner-status-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/00-onboard-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/05-onboard.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/10-onboard-status-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/20-onboard-vertical-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/onboard/25-onboard-with-web-component.twig
  packages/components/bolt-onboard/onboard.schema.js
  packages/components/bolt-onboard/src/onboard.scss
  packages/components/bolt-onboard/src/onboard.twig
Due: npm run lint:js, npm run lint:style

DS-526: remove missed button type
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

DS 536: update snap after removing type
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
Due: none

DS-486: put component tests back.
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-link/__tests__/link.js
Due: npm run lint:js

DS-174: properly resolve merge conflct
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
Due: none

DS-174: fix spacing in theming system
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
Due: none

WWW-793: Updated the PatternLab BC script with the latest
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/40-accordion-content-variations.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

ds-491: set up custom menu and subheadline
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-contact-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js, npm run lint:style

DS-109: Convert components to use border radius function
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-carousel/src/_carousel.next-previous-buttons.scss
  packages/components/bolt-carousel/src/_carousel.pagination.scss
  packages/components/bolt-carousel/src/_carousel.scrollbar.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-navbar/src/navbar-menu.scss
  packages/components/bolt-pagination/src/pagination.scss
  packages/components/bolt-progress-bar/src/progress-bar.scss
  packages/components/bolt-tabs/src/tabs.scss
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video-meta.scss
Due: npm run lint:style

DS-174: layout dependencies
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/layouts/bolt-layout/package.json
Due: npm run lint:js

DS-109: Jest tests
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-tabs/__tests__/__snapshots__/tabs.js.snap
Due: none

DS-535: replace buttons in typeahead
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
  packages/components/bolt-typeahead/typeahead.js
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/components/bolt-typeahead/typeahead.twig
Due: npm run lint:js, npm run lint:style
