Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-614: Clean up quotes on a sticky
  docs-site/src/pages/pattern-lab/_patterns/40-components/sticky/-10-sticky-simple-example.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/sticky/00-sticky-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/sticky/_15-sticky-with-content-example.twig
Due: none

DS-614: Clean up quotes on a table
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/00-table-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/05-table.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/10-table-format-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/15-table-borderless.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/20-table-first-column-fixed-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/25-table-cell-attributes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/30-table-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/35-table-item-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/40-table-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/table/999-table-with-web-component.twig
Due: none

DS-614: Clean up quotes on a tabs
  docs-site/src/pages/pattern-lab/_patterns/40-components/list/35-list-regular-vs-inset-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/00-tabs-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/05-tabs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/10-tabs-inset.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/15-tabs-label-and-content-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/20-tabs-align.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/25-tabs-theme.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/30-tabs-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/35-tabs-selected-tab.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/40-tabs-use-case-tabbed-band.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/45-tabs-deep-linking.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/50-tabs-deep-linking-with-scroll-offset.twig
Due: none

DS-614: Clean up quotes on a text
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/00-teaser-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/00-text-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/05-text.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/10-text-typographic-recipes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/15-text-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/20-text-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/25-text-color-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/30-text-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/35-text-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/40-text-quoted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/45-text-line-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/50-text-letter-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/55-text-transform-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/60-text-font-family-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/65-text-font-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/70-text-font-style-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/75-text-font-weight-variations.twig
Due: none

DS-614: Clean up quotes on a toc
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/00-toc-docs.twig
Due: none

DS-614: Clean up quotes on a tooltip
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/00-tooltip-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/05-tooltip.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/10-tooltip-placement-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/15-tooltip-inverted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/20-tooltip-use-case-button-and-link.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/25-tooltip-use-case-icon.twig
Due: none

DS-614: Clean up quotes on a trigger
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/00-trigger-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/05-trigger.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/10-trigger-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/15-trigger-cursor-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/20-trigger-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/25-trigger-outline-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/30-trigger-disabled-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/35-trigger-advanced-usage.twig
Due: none

DS-614: Clean up quotes on a typeahead
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/00-typeahead-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/_typeahead-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/typeahead--dynamically-fetch-data.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/typeahead--navigate-to-exact-result.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/typeahead--navigate-to-search-results.twig
Due: none

DS-614: Clean up quotes on an ul
  docs-site/src/pages/pattern-lab/_patterns/40-components/ul/00-ul-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/ul/05-ul.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/ul/10-ul-theme-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/ul/15-ul-nested-items.twig
Due: none

DS-614: Clean up quotes on a video
  docs-site/src/pages/pattern-lab/_patterns/40-components/00-overview.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-05-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-10-video-hide-meta-title-and-duration.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-15-video-hide-meta-title-only.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-20-video-hide-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-25-video-with-external-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-35-video-with-inline-script-and-external-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-50-video-with-email-share.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-55-video-with-custom-share-text.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-60-video-with-cue-points.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-65-video-with-external-title.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-70-video-with-default-error-message.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-71-video-with-custom-error-message.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/00-video-thumbnail-docs.twig
Due: none

DS-614: Clean up quotes on pages - homepage
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
Due: none

DS-614: Clean up quotes on pages - product
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
Due: none

DS-614: Clean up quotes on pages - resource
  docs-site/src/pages/pattern-lab/_patterns/50-pages/15-d8-resource-details-pages/00-resource-details-page.twig
Due: none

DS-614: Clean up quotes on pages - news-landing
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
Due: none

DS-614: Clean up quotes on pages - page press
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/20-d8-details-page-press.twig
Due: none

DS-614: Clean up quotes on pages - page partners
  docs-site/src/pages/pattern-lab/_patterns/50-pages/30-d8-partners/00-d8-partners-search.twig
Due: none

DS-614: Clean up quotes on pages - page event
  docs-site/src/pages/pattern-lab/_patterns/50-pages/25-d8-agenda-manager/00-d8-agenda-manager-details.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/00-event-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/05-event-detail.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/10-event-form-example.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/_event-annotation.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/_event-sponsors-with-action-block.twig
Due: none

DS-614: Clean up quotes on pages - page blog
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/50-d8-careers/00-careers-homepage.twig
Due: none

DS-614: Clean up quotes on pages - page calculator
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-results.twig
Due: none

DS-614: Clean up quotes on pages - page browse
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/30-carousel-advanced-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-status-and-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
Due: none

ds-483: add CSS comments
  packages/elements/bolt-text-link/src/text-link.scss
Due: npm run lint:style

ds-590: new design for utility links
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-with-subnav.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-main-site-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-pega-docs-page-header.twig
  packages/components/bolt-page-header/page-header-nav-li.schema.js
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-settings-and-tools.scss
  packages/components/bolt-page-header/src/page-header-nav-li.twig
  packages/components/bolt-page-header/src/page-header.js
  packages/components/bolt-page-header/src/page-header.scss
Due: npm run lint:js, npm run lint:style

DS-391: Add main depreacated banner to image component docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/image/00-deprecated-image-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image/00-image-docs.twig
Due: none

DS-391: Add deprecated label + rename files
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated.md
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-05-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-10-image-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-15-image-source-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-20-image-lazyload-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-25-image-custom-width-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-35-image-with-web-components.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/00-deprecated-image-docs.twig
Due: none

DS-391: Add deprecated banner to all image component files
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-05-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-10-image-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-15-image-source-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-20-image-lazyload-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-25-image-custom-width-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-35-image-with-web-components.twig
Due: none

DS-391: Add detailed information banners
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-10-image-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-15-image-source-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/image-deprecated/-20-image-lazyload-variations.twig
Due: none

DS-615: String to any on action-blocks
  packages/components/bolt-action-blocks/action-blocks.schema.js
Due: npm run lint:js

DS-615: String to any on a blockquote
  packages/components/bolt-blockquote/blockquote.schema.js
Due: npm run lint:js

DS-615: String to any on a button
  packages/components/bolt-button/button.schema.js
Due: npm run lint:js

DS-615: String to any on a card replacement
  packages/components/bolt-card-replacement/card-replacement.schema.js
Due: npm run lint:js

DS-615: String to any on a carousel
  packages/components/bolt-carousel/carousel.schema.js
Due: npm run lint:js

DS-615: String to any on a content-pagination
  packages/components/bolt-content-pagination/content-pagination.schema.js
Due: npm run lint:js

DS-615: String to any on a copy to clipbord
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.js
Due: npm run lint:js

DS-615: String to any on a listing teaser
  packages/components/bolt-dropdown/dropdown.schema.js
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
Due: npm run lint:js

DS-615: String to any on a menu
  packages/components/bolt-menu/menu.schema.js
Due: npm run lint:js

DS-615: String to any on a navbar
  packages/components/bolt-navbar/navbar.schema.js
Due: npm run lint:js

DS-615: String to any on a page-header
  packages/components/bolt-page-header/page-header.schema.js
Due: npm run lint:js

DS-615: String to any on a pagination
  packages/components/bolt-pagination/pagination.schema.js
Due: npm run lint:js

DS-615: String to any on a share
  packages/components/bolt-share/share.schema.js
Due: npm run lint:js

DS-615: String to any on a side-nav
  packages/components/bolt-side-nav/side-nav-li.schema.js
  packages/components/bolt-side-nav/side-nav.schema.js
Due: npm run lint:js
