Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

Update packages/components/bolt-navbar/src/_navbar-title.twig
  packages/components/bolt-navbar/src/_navbar-title.twig
Due: none

ds-160: clean up css
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

ds-160: rename css classes
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

DS-160: Commented out the alt lang JS logic.
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

ds-160: put reusable css into a mixin
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

DS-160: Refactored the JS for accessiblity reasons
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

ds-93: merge in latest form css
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

ds-160: move responsive styles into mixin
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

DS-160: Rename some functions, make minor style changes.
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

DS-160: Updated the logic to remove special characters on bllur
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

DS-160: Reverted the cleanValue logic temporarily
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

ds-93: fix form field spacing
  docs-site/src/pages/pattern-lab/_patterns/02-components/form/00-form-docs.twig
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

ds-93: fix padding right on form inputs
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

Test commit
  packages/build-tools/tasks/api-tasks/bolt-versions.js
Due: npm run lint:js

ds-93: remove scss font variables usage
  docs-site/src/components/schema-form/component-explorer.scss
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-headline/src/_headline.numbered.scss
  packages/components/bolt-li/src/li.scss
  packages/experimental/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:style

ds-160: fix reduced motion logic
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/calculator.scss
Due: npm run lint:style

ds-93: fix font styles diferences
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.scss
  packages/components/bolt-headline/src/headline.scss
  packages/components/bolt-li/src/li.scss
  packages/components/bolt-menu/src/_menu-item.scss
  packages/components/bolt-menu/src/menu.scss
  packages/components/bolt-modal/src/modal.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
  packages/components/bolt-pagination/src/pagination.scss
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-tabs/src/tabs.scss
  packages/components/bolt-toc/src/_toc-item.scss
  packages/components/bolt-toc/src/toc.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/core-v3.x/styles/01-settings/settings-typography/_settings-typography.scss
  packages/global/styles/03-generic/_generic-vars-typography.scss
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

ds-93: update typography docs
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/10-typography/00-typography-overview.twig
  packages/core-v3.x/styles/01-settings/settings-typography/_settings-typography.scss
  packages/global/styles/03-generic/_generic-vars-typography.scss
Due: npm run lint:style

ds-93: fix font family logic
  packages/global/styles/03-generic/_generic-vars-typography.scss
Due: npm run lint:style

ds-93: exclude fallback font on typography docs
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/10-typography/00-typography-overview.twig
Due: none

ds-93: fix bullet size
  packages/components/bolt-li/src/li.scss
Due: npm run lint:style

DS-182: first pass.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-187: Updated the JS behavior to remove invalid characters from input (FF and Safari workaround).
  docs-site/src/pages/pattern-lab/_patterns/02-components/form/26-form-element-auto-format.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-calculator.twig
  packages/components/bolt-form/src/form.js
Due: npm run lint:js

DS-187: Added in the min/max attributes to the percent example
  docs-site/src/pages/pattern-lab/_patterns/02-components/form/26-form-element-auto-format.twig
Due: none

fix: remove unused css
  docs-site/src/components/radio-switch/radio-switch.scss
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/index.scss
Due: npm run lint:style

ds-187: add info icon to tooltip
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-results.twig
Due: none

ds-187: add dollar icon
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-calculator/00-d8-results.twig
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/svgs/utility/dollar-open.svg
Due: none

ds-187: add custom background shapes
  docs-site/src/assets/images/backgrounds/calculator-landing-shapes-transparent.png
  docs-site/src/assets/images/backgrounds/calculator-landing-shapes.jpg
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator.scss
Due: npm run lint:style

DS-176: Add element_id prop to demo form element
  docs-site/src/pages/pattern-lab/_patterns/40-components/form/10-form-element-demo-input-element.twig
Due: none

DS-176: Document demo form element pattern
  docs-site/src/pages/pattern-lab/_patterns/40-components/form/10-form-element-demo-input-element.twig
Due: none

DS-176: Update calculator demo to use demo input element
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
Due: none

ds-187: fix font weight in stats
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator.scss
Due: npm run lint:style

ds-187: change color name from indigo to navy
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-results.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator.scss
Due: npm run lint:style

ds-187: reduce a layers of band
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
Due: none

DS-176: Created the Calculator email markup
  docs-site/src/assets/images/calculator/icon-data.png
  docs-site/src/assets/images/calculator/icon-dollar-sign.png
  docs-site/src/assets/images/calculator/icon-partners.png
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/10-d8-results-email.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator-email.zip
Due: none

DS-164: Added the missing icons
  docs-site/src/assets/images/calculator/icon-platform.png
  docs-site/src/assets/images/calculator/icon-reporting.png
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/10-d8-results-email.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator-email.zip
Due: none

DS-164: Removed unneeded id on various elements
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/10-d8-results-email.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/calculator-email.zip
Due: none

ds-167: remove unused docs
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-lit-test/_00-bolt-lit-test.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-lit-test/bolt-lit-dot.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-lit-test/bolt-lit-test.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-lit-test/bolt-lit-triangle.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-lit-test/index.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-preact-test/_02-bolt-preact-test.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-preact-test/_bolt-preact-dot.tsx
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-preact-test/_bolt-preact-test.tsx
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-preact-test/_bolt-preact-triangle.tsx
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/bolt-preact-test/index.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/_lazy-lit-test.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/index.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/lazy-lit-dot.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/lazy-lit-element.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/lazy-lit-test.ts
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/100-rendering-performance/lazy-lit-test/lazy-lit-triangle.ts
Due: none

ds-167: update spacing and typography docs
  docs-site/src/index.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/00-spacing-overview.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/05-spacing-tokens.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/10-spacing-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/10-typography/00-typography-overview.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/10-typography/05-typography-tokens.twig
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
