Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: update pattern lab to fix header / layout issue in IE 11
  packages/uikit-workshop/src/scripts/components/pl-header/pl-header.scss
Due: npm run lint:style

refactor: make sure the base component's unsubscribe method exists before trying to run it
  packages/uikit-workshop/src/scripts/components/base-component.js
Due: npm run lint:js

fix: remove unzip pkg from Dockerfile
  Dockerfile
Due: none

fix: Update globbing for packages in root boltrc file to be recursive
  .boltrc.js
Due: none

fix: lint styles
  packages/components/bolt-grid/src/grid.scss
Due: npm run lint:style

refactor: update PL entry to async load any components that aren't needed for pre-rendering
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

refactor: fix nav styles + remove JS preloading to work around Safari for iOS loading issue with the component's drawer content
  packages/uikit-workshop/src/scripts/components/pl-layout/pl-layout.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js, npm run lint:style

feat: clean up nav UI to make it easier to see which links have two actions vs only one
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
Due: npm run lint:style

fix: code and organization cleanup
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/10-grid-start-and-span.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/30-grid-item-row-span-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/35-grid-item-responsive-breakpoints.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/40-grid-item-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/50-grid-traditional-columns-and-rows.twig
  packages/components/bolt-grid/grid-item.schema.yml
  packages/components/bolt-grid/index.scss
  packages/components/bolt-grid/package.json
  packages/components/bolt-grid/src/_grid-item.scss
  packages/components/bolt-grid/src/grid.scss
Due: npm run lint:style

fix: update nav links to handle the content / icon variations
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
Due: npm run lint:style

fix: Remove observedAttributes method from nav-priority component
  packages/components/bolt-nav-priority/nav-priority.js
Due: npm run lint:js

fix: add missing dependencies to deploy-specific package.json
  scripts/package.json
Due: none

test: Add functional testing instructions to nav-priority
  packages/components/bolt-nav-priority/TESTING.md
Due: none

fix: add missing lodash dep
  scripts/package.json
Due: none

chore: Fix nav priority indenting
  packages/components/bolt-nav-priority/nav-priority.twig
Due: none

fix: update nightwatch tests
  docs-site/__tests__/homepage.e2e.js
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

chore: yarn
  yarn.lock
Due: none

feat: add animation settings to core, start pl for animations
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/components/pattern-lab-demos/pattern-lab-demos.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/_transitions.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/transitions.json
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/transitions.md
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/transitions.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/03-grow/_grow.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/03-grow/grow.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-fade-in/_fade-in.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-fade-in/fade-in.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-slide-up/_slide-up.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-slide-up/slide-up.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/50-fade-in-and-slide-up/_fade-in-and-slide-up.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/50-fade-in-and-slide-up/fade-in-and-slide-up.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/70-staggered-start/staggered-fade-in-slide-up.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/anchorScroll.js
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/animations.js
  packages/core/styles/01-settings/settings-animations/_settings-animations.scss
  packages/core/styles/index.scss
Due: npm run lint:style

feat: add new placeholder image, use in personalized card demo
  docs-site/src/assets/images/placeholders/landscape-16x9-skyline.jpg
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example-data.js
Due: none

create demo of base animation settings
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/_transitions.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/transitions.json
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/01-transitions/transitions.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-duration/transitions.md
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-duration/transitions.twig
  packages/core/styles/01-settings/settings-animations/_settings-animations.scss
Due: npm run lint:style

fix: Display UL items in edge
  packages/components/lists/bolt-li/src/li.scss
Due: npm run lint:style

refactor(Update bolt-ol and bolt-ul components example): update bolt-ol and bolt-ul components examp
  docs-site/src/pages/pattern-lab/_patterns/02-components/ordered-list/05-ordered-list.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ordered-list/20-ordered-list-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/unordered-list/05-unordered-list.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/unordered-list/20-unordered-list-with-web-component.twig
Due: none

fix(Add support for attributes for bolt-ol and bolt-ul): add support for attributes for bolt-ol and
  packages/components/lists/bolt-ol/src/ol.twig
  packages/components/lists/bolt-ul/src/ul.twig
Due: none

feat(Add testing readme files): add testing readme files
  packages/components/lists/bolt-ol/TESTING.md
  packages/components/lists/bolt-ol/__tests__/__snapshots__/ol.js.snap
  packages/components/lists/bolt-ul/TESTING.md
  packages/components/lists/bolt-ul/__tests__/__snapshots__/ul.js.snap
Due: none

refactor: cleanup + removing old code + dependencies no longer needed
  packages/uikit-workshop/package.json
  packages/uikit-workshop/src/scripts/components/modal-viewer.js
  packages/uikit-workshop/src/scripts/components/panels-viewer.js
  packages/uikit-workshop/src/scripts/components/pl-drawer/pl-drawer.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.js
  packages/uikit-workshop/src/scripts/utils/data-saver.js
  packages/uikit-workshop/src/scripts/utils/index.js
Due: npm run lint:js

refactor: UI bug fixes; add component-friendly close icon that isn't hard-coded in the JS directly
  packages/uikit-workshop/src/scripts/components/pl-drawer/pl-drawer.js
  packages/uikit-workshop/src/scripts/components/pl-drawer/pl-drawer.scss
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.scss
Due: npm run lint:js, npm run lint:style

refactor: fix panels JS to work better when async loaded
  packages/uikit-workshop/src/scripts/components/panels.js
Due: npm run lint:js

fix: disable band transition inline on component overview page in PL
  docs-site/src/pages/pattern-lab/_patterns/02-components/00-overview.twig
Due: none

refactor: async load non-mission-critical components to speed up initial rendering
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

fix: disable console log output with UIKit regeneration
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

feat(Add some test and spanshots): add some JEST test
  packages/components/lists/bolt-ol/__tests__/__snapshots__/ol.js.snap
  packages/components/lists/bolt-ol/__tests__/ol.js
  packages/components/lists/bolt-ul/__tests__/__snapshots__/ul.js.snap
  packages/components/lists/bolt-ul/__tests__/ul.js
Due: npm run lint:js

fix: safari subpixel issue
  packages/components/lists/bolt-list/src/list.scss
Due: npm run lint:style

fix: firefox pinned content bug
  packages/components/bolt-band/src/band.scss
  packages/components/bolt-band/src/band.twig
  packages/components/lists/bolt-list/src/list.scss
Due: npm run lint:style

fix: Update background color in bolt-ul list element
  packages/components/lists/bolt-li/src/li.scss
Due: npm run lint:style

fix: ensure code viewer works consistently when async loading modal-viewer JS; fix width of code displaying in drawer
  packages/uikit-workshop/src/sass/scss/04-components/_tabs.scss
  packages/uikit-workshop/src/scripts/components/modal-viewer.js
Due: npm run lint:js, npm run lint:style

chore: reduce verbosity of Webpack output
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

styles: ie11 only mixin
  packages/core/styles/02-tools/tools-ie11-only/README.md
  packages/core/styles/02-tools/tools-ie11-only/_tools-ie11-only.scss
  packages/core/styles/index.scss
  yarn.lock
Due: npm run lint:style

fix: update existing IE11 only css
  packages/components/lists/bolt-li/src/li.scss
Due: npm run lint:style

feat: add transition mixins
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/animation-settings.md
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/05-settings/settings.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-transitions/transitions.twig
  packages/core/styles/01-settings/settings-animations/_settings-animations.scss
  packages/core/styles/02-tools/tools-animations/_tools-animations.scss
  packages/core/styles/index.scss
Due: npm run lint:style

feat: add spinning animation
  docs-site/src/components/pattern-lab-demos/_animations-demo.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/03-grow/_grow.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-slide-up/_slide-up.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/10-transitions/transitions.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/15-animations/animations.twig
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/30-animations/50-fade-in-and-slide-up/_fade-in-and-slide-up.twig
  packages/core/styles/01-settings/settings-animations/_settings-animations.scss
  packages/core/styles/02-tools/tools-animations/_tools-animations.scss
  packages/core/styles/02-tools/tools-animations/_tools-transitions.scss
  packages/core/styles/index.scss
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
