Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: yarn lock
  yarn.lock
Due: none

fix: update SVG <use> tags
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-icons/__tests__/__snapshots__/icons.js.snap
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-with-band-at-various-viewport-sizes-2-snap.png
Due: npm run lint:js

fix: update Jest tests to more reliably work with fully async-loaded components
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-accordion/__tests__/accordion.js
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-chip-list/__tests__/__snapshots__/chip-list.js.snap
  packages/components/bolt-figure/__tests__/figure.js
  packages/components/bolt-icons/__tests__/icons.js
  packages/components/bolt-link/__tests__/link.js
  packages/components/bolt-modal/__tests__/__image_snapshots__/__diff_output__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-w-o-shadow-dom-renders-1-diff.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-at-various-viewport-sizes-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/modal.js
  packages/components/bolt-table/__tests__/table.js
  packages/components/bolt-tabs/__tests__/tabs.js
  packages/testing/testing-utils/__tests__/test-utils.test.js
Due: npm run lint:js

chore: don't automatically bail out of Jest tests being run so all tests with issues are flagged all at once
  package.json
Due: none

refactor: cherry build-related updates
  packages/base-starter-kit/package.json
  packages/build-tools/utils/manifest.js
  packages/core-v3.x/package.json
Due: npm run lint:js

refactor: cherry pick sideEffects-related updates
  docs-site/src/components/bolt-select/bolt-select.standalone.js
  docs-site/src/components/callout/callout.scss
  docs-site/src/components/component-status/component-status.scss
  docs-site/src/components/docs-search/docs-search.js
  docs-site/src/components/docs-search/docs-search.scss
  docs-site/src/components/docs-search/package.json
  docs-site/src/index.scss
  packages/base-element/package.json
  packages/build-tools/create-webpack-config.js
  packages/components/bolt-device-viewer/src/device-viewer.standalone.js
  packages/components/bolt-list/src/list.js
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js, npm run lint:style

chore: remove extra dependencies that shouldn't be needed
  packages/global/package.json
Due: none

feat: cherry pick perf updates to make ssr-helper elements significantly smaller
  packages/core-v3.x/elements/index.js
  packages/core-v3.x/elements/replace-with-children/index.js
  packages/core-v3.x/elements/replace-with-grandchildren/index.js
  packages/core-v3.x/elements/ssr-keep/index.js
  packages/core-v3.x/index.js
Due: npm run lint:js

refactor: cherry pick Jest tests added for the new build updates
  jest.config.js
  packages/build-tools/__tests__/twig-dependencies/.boltrc.js
  packages/build-tools/__tests__/twig-dependencies/__image_snapshots__/index-js-build-deps-resolution-compiled-code-with-auto-injected-dependencies-renders-correctly-3-snap.png
  packages/build-tools/__tests__/twig-dependencies/__snapshots__/index.js.snap
  packages/build-tools/__tests__/twig-dependencies/fixtures/1200x660.jpg
  packages/build-tools/__tests__/twig-dependencies/index.js
  packages/build-tools/__tests__/twig-dependencies/jest.config.js
  packages/build-tools/__tests__/twig-dependencies/package.json
  packages/core-v3.x/elements/ssr-helper-elements.js
  packages/servers/testing-server/server-only.js
  packages/testing/testing-jest/jest-global-setup.puppeteer-only.js
  packages/testing/testing-jest/jest-global-teardown.puppeteer-only.js
  packages/testing/testing-jest/jest-setup-files-after-env.puppeteer-only.js
  packages/testing/testing-jest/jest.config.puppeteer.js
Due: npm run lint:js

feat: cherry pick theme-specific updates to reduce overall CSS file size
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-list/src/list.js
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
  packages/experimental/micro-journeys/src/interactive-pathways.js
  packages/global/styles/06-themes/_themes.all.scss
  packages/global/styles/06-themes/_themes.wc.scss
Due: npm run lint:js, npm run lint:style

feat: port over CSS updates to reduce overall code generated from utility classes
  packages/global/styles/07-utilities/_utilities-height.scss
  packages/global/styles/07-utilities/_utilities-spacing.scss
Due: npm run lint:style

docs: update card image
  docs-site/src/assets/images/placeholders/thumb-square-abstract.jpg
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/06-card-horizontal.twig
Due: none

refactor: simplify manifest missing dependency logic
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

feat: split manifest up into smaller files + automatically retain existing behavior if issues are found.
  packages/build-tools/utils/manifest.deprecated.js
  packages/build-tools/utils/manifest.get-pkg-info.js
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

refactor: update @bolt/global to use peerDependencies for sibling components that are expected
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/global/package.json
Due: none

refactor: remove peerDependency monorepo check in lieu of new solution
  __tests__/monorepo-basics.test.js
Due: none

chore: fix linting issue
  packages/build-tools/utils/manifest.deprecated.js
Due: npm run lint:js

fix: incorrect docs
  docs-site/src/pages/pattern-lab/_patterns/02-components/headline/05-headline.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/headline/10-headline-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/headline/15-headline-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/headline/20-headline-style-and-weight-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/headline/25-headline-icon-variations.twig
Due: none

fix: body text color
  packages/components/bolt-headline/src/_tools.headlines.scss
  packages/components/bolt-headline/src/headline.scss
Due: npm run lint:style

refactor: consolidate build manifest logic
  packages/build-tools/utils/manifest.get-pkg-info.js
Due: npm run lint:js

fix: remove replace-with-children css
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.scss
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

fix: schema
  packages/components/bolt-accordion/accordion.schema.js
Due: npm run lint:js

chore: update Jest snapshots for Accordion
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
Due: none

fix: add missing JS file
  packages/core-v3.x/elements/ssr-helper-elements.js
Due: npm run lint:js

refactor: simplify + reduce theme-specific code for global and component-specific usage
  packages/global/styles/06-themes/_themes.all.scss
  packages/global/styles/06-themes/_themes.wc.scss
Due: npm run lint:style

fix: disable the Webpack WriteFilePlugin to work around fonts not getting moved to the www folder as expected
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

chore: update Jest snapshot
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

chore: update Navbar Jest VRT snapshots
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
Due: none

fix: update micro journey JS to fix intersection observer-related bug reported
  packages/experimental/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

feat: output `<button>` if no `url` provided
  packages/components/bolt-link/src/link.js
  packages/components/bolt-link/src/link.scss
  packages/components/bolt-link/src/link.twig
Due: npm run lint:js, npm run lint:style

docs: add demo page for Link with Button element
  docs-site/src/pages/pattern-lab/_patterns/02-components/link/28-link-with-button-element.twig
Due: none

chore: temporarily switch back to using a static import till https://github.com/boltdesignsystem/bolt/pull/1858 is merged in
  packages/core-v3.x/elements/index.js
Due: npm run lint:js

chore: update Navbar snapshots
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-8-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-a-linked-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-3-snap.png
Due: none

Revert "chore: update Navbar snapshots"
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-8-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-a-linked-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-3-snap.png
Due: none

Revert "chore: update Navbar Jest VRT snapshots"
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
Due: none

fix: don't remove is="shadow-root" just yet, make that change separately
  packages/components/bolt-link/src/link.twig
Due: none

fix: whitespace around lit html template
  packages/components/bolt-link/src/link.js
Due: npm run lint:js

test: re-test VRT results
  packages/build-tools/create-webpack-config.js
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
Due: npm run lint:js, npm run lint:style

chore: update all Navbar VRT snapshots
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-8-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-a-linked-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-3-snap.png
Due: none

fix: don't add `target` attribute to button
  packages/components/bolt-link/src/link.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
