Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: device viewer z-index
  packages/components/bolt-device-viewer/src/_device-viewer--iphone8.scss
  packages/components/bolt-device-viewer/src/device-viewer.scss
Due: npm run lint:style

fix: backport autotrack fix to update v2.3.2 docs site deployed instance
  docs-site/.incache
  docs-site/package.json
  package.json
  packages/analytics/autotrack/CHANGELOG.md
  packages/analytics/autotrack/index.js
  packages/analytics/autotrack/package.json
  yarn.lock
Due: npm run lint:js

fix: update existing function usage to follow the scale correctly
  docs-site/src/components/pattern-lab-demos/_shadow-demo.scss
  docs-site/src/components/pattern-lab-hacks/pattern-lab-hacks.scss
  docs-site/src/components/site-layout/site-layout.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-video/src/video.scss
Due: npm run lint:style

fix: lint css
  packages/components/bolt-page-header/src/page-header.scss
Due: npm run lint:style

fix: Treat cell.content as renderable in table component
  packages/components/bolt-table/src/table.twig
Due: none

fix: Treat cell.content as renderable in list component
  packages/components/bolt-list/src/_list-item.twig
Due: none

fix: convert to new map and function
  docs-site/src/components/pattern-lab-hacks/pattern-lab-hacks.scss
  docs-site/src/components/site-layout/site-layout.scss
  packages/components/bolt-sticky/src/sticky.scss
  packages/core/styles/01-settings/settings-z-index/_settings-z-index.scss
  packages/core/styles/02-tools/tools-z-index/_tools-z-index.scss
  packages/global/styles/07-utilities/_utilities-z-index.scss
Due: npm run lint:style

fix: rework video JS to prevent bugs that result from multiple initializations
  packages/components/bolt-video/src/_video-tag.twig
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

fix: update onInit script to follow best practices for referencing and configuring a video
  packages/components/bolt-video/src/_video-inline-script.twig
Due: none

test: update video snapshots
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
Due: none

style: eslint
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

fix: use video-js element per Brightcove best practices
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

fix: update broken link to getting started guide on the docs site
  README.md
Due: none

fix: fix error getting thrown due to the `errorAndExit` function not existing in this file
  packages/api/index.js
Due: npm run lint:js

fix: format data passed along to the renderString function + add support for easily passing along data to a template via query string
  packages/api/index.js
  packages/api/package.json
  yarn.lock
Due: npm run lint:js

hotfix: update now.sh scaling config to have a max of 1 instance per deployment
  now.json
Due: none

fix: remove quotes
  now.json
Due: none

fix: deprecate old names
  docs-site/src/components/animated-shapes/animated-shapes.scss
  docs-site/src/components/banner/banner.scss
  docs-site/src/components/hamburger-button/hamburger-button.scss
  docs-site/src/components/site-layout/site-layout.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-video/src/video.scss
  packages/core/styles/01-settings/settings-z-index/_settings-z-index.scss
  packages/core/styles/02-tools/tools-z-index/_tools-z-index.scss
  packages/global/styles/07-utilities/_utilities-z-index.scss
Due: npm run lint:style

chore: update jest snapshots for blockquote
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-renders-to-light-dom-1-snap.png
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-renders-to-shadow-dom-1-snap.png
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-renders-when-inside-a-form-1-snap.png
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
Due: none

chore: update .nvmrc to use the latest stable version of node
  .nvmrc
Due: none

feat: update NPM dependencies + address some quirky install bugs and warnings
  docs-site/package.json
  package.json
  packages/build-tools/package.json
  packages/components/bolt-critical-css-vars/package.json
  packages/core/package.json
  packages/uikit-workshop/package.json
  yarn.lock
Due: none

fix: check incoming API requests to make sure the component explorer API requests continue to work as expected
  packages/api/index.js
Due: npm run lint:js

fix: add DIY lit-html renderer to uikit to remove lit-html version warnings from the NPM package
  packages/uikit-workshop/src/scripts/components/base-component.js
  packages/uikit-workshop/src/scripts/components/with-lit-html.js
Due: npm run lint:js

fix: update paths to Choices.js based on recent component changes
  docs-site/src/components/bolt-select/bolt-select.scss
  docs-site/src/components/bolt-select/bolt-select.standalone.js
Due: npm run lint:style

feat: add new and improved waitpage that works with webpack-dev-server
  packages/build-tools/tasks/webpack-dev-server-waitpage/bolt.ejs
  packages/build-tools/tasks/webpack-dev-server-waitpage/index.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

chore: auto-open new window by default when booting up the build in the Bolt monorepo
  docs-site/.boltrc.js
Due: none

feat: speed up yarn install by adding lerna config flags
  lerna.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: fix eslint issues
  packages/build-tools/tasks/webpack-dev-server-waitpage/index.js
Due: npm run lint:js

fix: update all function usage and comment on self contained z-indexes
  docs-site/src/components/hamburger-button/hamburger-button.scss
  docs-site/src/components/pattern-lab-demos/_shadow-demo.scss
  docs-site/src/components/schema-form/component-explorer.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/pages/pattern-lab/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/templates/homepage.twig
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-device-viewer/src/_device-viewer--iphone8.scss
  packages/components/bolt-device-viewer/src/device-viewer.scss
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-search-filter/search-filter.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-video/src/video.scss
Due: npm run lint:style

test: retest downgrading Jest version
  package.json
Due: none

test: update snapshots
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
Due: none

fix: prevent scroll when modal is open
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

test: update e2e test to reflect new playback rate in demo
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
Due: npm run lint:js

fix: re-update jest + jest-serializer-html packages to the latest versions + remove extra whitespace from snapshots based on jest-serializer-html pkg updates
  package.json
  packages/api/__snapshots__/index.test.js.snap
  packages/components/bolt-action-blocks/__tests__/__snapshots__/action-blocks.js.snap
  packages/components/bolt-background-shapes/__tests__/__snapshots__/background-shapes.js.snap
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-chip-list/__tests__/__snapshots__/chip-list.js.snap
  packages/components/bolt-chip/__tests__/__snapshots__/chip.js.snap
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-icon/__tests__/__snapshots__/icon.js.snap
  packages/components/bolt-icons/__tests__/__snapshots__/icons.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-list/__tests__/__snapshots__/list.js.snap
  packages/components/bolt-logo/__tests__/__snapshots__/logo.js.snap
  packages/components/bolt-navbar/__tests__/__snapshots__/navbar.js.snap
  packages/components/bolt-ol/__tests__/__snapshots__/ol.js.snap
  packages/components/bolt-pagination/__tests__/__snapshots__/pagination.js.snap
  packages/components/bolt-ratio/__tests__/__snapshots__/ratio.js.snap
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-tooltip/__tests__/__snapshots__/tooltip.js.snap
  packages/components/bolt-ul/__tests__/__snapshots__/ul.js.snap
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
