Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: update yarn.lock
  yarn.lock
Due: none

fix: fix linting issue
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

fix: fix eslint issues
  packages/build-tools/create-webpack-config.js
  packages/build-tools/svgo-config.js
  packages/components/bolt-typeahead/autosuggest.js
Due: npm run lint:js

chore: update button snapshot
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

test: update button snapshot
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

refactor: deprecate style and tag props in button
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/button.js
  packages/components/bolt-button/src/button.twig
Due: npm run lint:js

fix: add minor button reset styles
  packages/components/bolt-button/src/button.scss
Due: npm run lint:style

fix: address prettier issues
  packages/core/renderers/with-events.js
Due: npm run lint:js

fix: make sure all available prop data gets passed along to any listeners added
  packages/core/renderers/with-events.js
Due: npm run lint:js

feat: add new @bolt/core withEvents mixin to more easily add declarative events to components
  packages/core/renderers/with-events.js
Due: npm run lint:js

feat: add css module support to Bolt
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

fix: fix prettier / eslint issues
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: update Webpack config to omit all css-module plugins when not compiling *.scoped.scss files
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

feat: update webpack CSS Module behavior to exclude t-bolt classes from getting mangled
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: re-enable OptimizeCssAssetsPlugin
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: address prettier issues with webpack config file
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

feat: add ability to display titles in SVG icons + add POC ability to server-side render specific icons
  packages/build-tools/tasks/icon-tasks.js
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-icon/src/icon.twig
Due: npm run lint:js

fix: update icon component snapshots
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-icons/__tests__/__snapshots__/icons.js.snap
Due: npm run lint:js

feat: update bolt-icon to now eagerly load so pre-rendered icons don't flash when booting up
  packages/components/bolt-icon/src/icon.js
Due: npm run lint:js

feat: port over Craft CMS Twig filter that adds support for using regex in the default Twig replace filter
  packages/core-php/src/TwigExtensions/BoltCore.php
  packages/core-php/src/TwigFilters.php
Due: none

feat: automatically replace hard coded fill and stroke colors in inlined SVGs with CSS custom prop placeholders
  packages/components/bolt-icon/src/icon.twig
Due: none

refactor: further compress SVG icons via Twig only
  packages/components/bolt-icon/src/icon.twig
Due: none

refactor: update SVG icon logic to ignore Webpack-minified assets from the watch task
  packages/build-tools/tasks/icon-tasks.js
Due: npm run lint:js

feat: update Webpack build to minify SVG icons through SVGO — used for server-side pre-rendering SVGs
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

feat: automatically invert SVG icon color at the Twig level
  packages/components/bolt-icon/src/icon.twig
Due: none

chore: add external SVGO config
  packages/build-tools/svgo-config.js
Due: npm run lint:js

feat: pull in all SVG icons into the Webpack build automatically
  packages/components/bolt-icon/src/icon.standalone.js
Due: npm run lint:js

fix: fix eslint issues
  packages/build-tools/create-webpack-config.js
  packages/build-tools/svgo-config.js
Due: npm run lint:js

refactor: update Webpack build to handle minifying Icons differently from other SVG assets
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

docs: add note about `valign` prop on demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/background/35-background-valign-variations.twig
Due: none

docs: add note about which components can be passed into Background component
  packages/components/bolt-background/background.schema.yml
Due: none

feat: initially wire up typeahead
  docs-site/.boltrc.js
  packages/components/bolt-typeahead/package.json
Due: none

refactor: clean up and reduce custom styles for new typeahead component
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

feat: add auto-generated scoped classname
  packages/components/bolt-typeahead/typeahead.scoped.json
Due: none

feat: add customized version of classnames library with added support for CSS modules
  packages/components/bolt-typeahead/classnames.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
