Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

WIP: testing gatsby-js apps site
  apps/gatsby-site/.gitignore
  apps/gatsby-site/.prettierrc
  apps/gatsby-site/LICENSE
  apps/gatsby-site/README.md
  apps/gatsby-site/gatsby-browser.js
  apps/gatsby-site/gatsby-config.js
  apps/gatsby-site/gatsby-node.js
  apps/gatsby-site/gatsby-ssr.js
  apps/gatsby-site/package-lock.json
  apps/gatsby-site/package.json
  apps/gatsby-site/src/components/header.js
  apps/gatsby-site/src/components/layout.css
  apps/gatsby-site/src/components/layout.js
  apps/gatsby-site/src/pages/404.js
  apps/gatsby-site/src/pages/index.js
  apps/gatsby-site/src/pages/page-2.js
  package.json
  yarn.lock
Due: npm run lint:js

Tweaks to phpServer start
  packages/build-tools/tasks/server-tasks.js
Due: npm run lint:js

Bolt Pagination - updated PL docs page to match new format
  apps/pattern-lab/src/_patterns/02-components/pagination/00-pagination-docs.twig
Due: none

Improving resiliency of PHP Twig Renderer API
  apps/bolt-site/renderTwigApi.php
  packages/build-tools/api/index.js
Due: npm run lint:js

test: add first batch of twig rendering service Jest tests
  packages/build-tools/api/__snapshots__/index.test.js.snap
  packages/build-tools/api/index.test.js
Due: npm run lint:js

Removing $data as a requirement
  apps/bolt-site/renderTwigApi.php
Due: none

skipping API test for now
  packages/build-tools/api/index.test.js
Due: npm run lint:js

fix: Add support for button align option in Safari < 11.0 (BDS-348)
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.twig
Due: npm run lint:style

chore: Fix whitespace/indenting in button component (BDS-348)
  packages/components/bolt-button/src/button.twig
Due: none

feat: WIP bolt homepage
  apps/pattern-lab/src/_patterns/04-pages/00-bolt-home-page/00-bolt-home-page.twig
Due: none

DO NOT MERGE: feat: WIP Bolt homepage v2
  apps/pattern-lab/src/_patterns/04-pages/00-bolt-home-page/00-bolt-home-page.twig
Due: none

Adding support for handling query params
  apps/bolt-site/renderTwigApi.php
  packages/build-tools/api/index.js
Due: npm run lint:js

Adding status codes
  apps/bolt-site/renderTwigApi.php
  packages/build-tools/api/index.js
Due: npm run lint:js

feat: Update pagination schema to move more logic to back-end (BDS-5)
  apps/pattern-lab/src/_patterns/02-components/pagination/00-pagination-docs.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/05-pagination.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/10-pagination-theme-variations.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/15-pagination-count-variations.twig
  packages/components/bolt-pagination/pagination.schema.yml
  packages/components/bolt-pagination/pagination.twig
Due: none

fix: Make sure previous and next default text are translatable (BDS-5)
  packages/components/bolt-pagination/pagination.twig
Due: none

docs: Add undocumented attributes object to schema (BDS-5)
  packages/components/bolt-pagination/pagination.schema.yml
Due: none

fix: update render API jest tests to all pass
  packages/build-tools/api/index.test.js
Due: npm run lint:js

Changing around api to handle GET and POST. Returning HTML now too.
  apps/bolt-site/renderTwigApi.php
  packages/build-tools/api/index.js
Due: npm run lint:js

Improving Twig Render API
  apps/bolt-site/renderTwigApi.php
Due: none

little fix
  packages/build-tools/api/index.js
Due: npm run lint:js

fix tests
  packages/build-tools/api/index.test.js
Due: npm run lint:js

fix: test adding now.json config for static deploys
  now.json
Due: none

WIP: stashing latest styleguidekit updates
  apps/bolt-site/package.json
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/styles/_docs.scss
  apps/pattern-lab/src/styles/pl.scss
  packages/components/bolt-band/src/band.scss
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-layout/package.json
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-layout/toggle-layout.js
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-layout/toggle-layout.scss
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-theme/package.json
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-theme/toggle-theme-sg.js
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-theme/toggle-theme.js
  packages/styleguidekit-assets-bolt/src/components/pl-toggle-theme/toggle-theme.scss
  packages/styleguidekit-assets-bolt/src/html/partials/header.twig
  packages/styleguidekit-assets-bolt/src/patternlab-pattern.js
  packages/styleguidekit-assets-bolt/src/patternlab-viewer.js
  packages/styleguidekit-assets-bolt/src/sass/pattern-lab.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/01-abstracts/_mixins.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/02-base/_body.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_controls.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_header.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_ish-sizing.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_tools.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_viewport.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/05-themes/_light-theme.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/05-themes/_sidebar-theme.scss
Due: npm run lint:js, npm run lint:style

fix: testing out misc fixes
  apps/bolt-site/templates/home.twig
  index.js
  now.json
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: none

Adding API to PL
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/renderTwigApi.php
Due: npm run lint:js

wip: add preact-compat and react-schema-form component POC
  apps/pattern-lab/package.json
  apps/pattern-lab/src/_patterns/02-components/schema-form.twig
  apps/pattern-lab/src/components/schema-form.js
  apps/pattern-lab/src/scripts/pl.js
  packages/build-tools/create-webpack-config.js
  packages/core/package.json
  yarn.lock
Due: npm run lint:js

fix: Fix all remaining validation errors (BDS-369)
  apps/pattern-lab/src/_patterns/04-pages/30-product-pages/-product-t3.twig
  apps/pattern-lab/src/_patterns/04-pages/60-d8-homepage/-10-d8-homepage-alt.twig
  apps/pattern-lab/src/_patterns/04-pages/60-d8-homepage/-15-d8-homepage-video-band.twig
  apps/pattern-lab/src/_patterns/04-pages/70-d8-agenda-manager/-agenda-manager-detail.twig
Due: none

feat: Patch twig-tools to allow configurable schema error reporting
  apps/pattern-lab/.patches/configurableSchemaErrorReporting.patch
  apps/pattern-lab/composer.patches.json
Due: none

chore: Update pattern lab composer packages
  apps/pattern-lab/composer.lock
Due: none

feat: Set schema error reporting to cli for pattern lab (BDS-369)
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

feat: Add configuration option for schema error reporting (BDS-369)
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
Due: npm run lint:js

docs: Fix inconsistency in pagination demo URLs (BDS-5)
  apps/pattern-lab/src/_patterns/02-components/pagination/05-pagination.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/15-pagination-count-variations.twig
Due: none

fix: Add empty check for schema error reporting config (BDS-369)
  apps/pattern-lab/.patches/configurableSchemaErrorReporting.patch
Due: none

Setting up schema form in docs approach
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/_patterns/02-components/chip/00-chip-docs.twig
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

Wiring up Schema Form
  apps/pattern-lab/src/components/schema-form.js
  apps/pattern-lab/src/components/schema-form.scss
  apps/pattern-lab/src/scripts/pl.js
  apps/pattern-lab/src/styles/pl.scss
Due: npm run lint:js, npm run lint:style

fix: remove justify content for alignments
  apps/pattern-lab/src/_patterns/02-components/button/35-button-align-items.twig
  packages/components/bolt-button/src/_button.mixins.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.twig
Due: npm run lint:style

Fixing Preact v Web Components issue
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/_meta/_01-foot.twig
  apps/pattern-lab/src/_patterns/02-components/chip/00-chip-docs.twig
  apps/pattern-lab/src/components/schema-form.js
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

Adding NavBar & Share demo
  apps/pattern-lab/renderTwigApi.php
  apps/pattern-lab/src/_patterns/02-components/navbar/00-navbar-docs.twig
  apps/pattern-lab/src/_patterns/02-components/share/00-share-docs.twig
Due: none

Adding PropTypes to SchemaForm
  apps/pattern-lab/package.json
  apps/pattern-lab/src/components/schema-form.js
Due: npm run lint:js

WIP: updating schema form styles
  apps/pattern-lab/src/_patterns/02-components/headline/00-headline-docs.twig
  apps/pattern-lab/src/components/schema-form.js
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-headline/src/text.twig
Due: npm run lint:js
