Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

WIP(@bolt/website,@bolt/components-table): add scope attribute to tr and th
  docs-site/src/pages/pattern-lab/_patterns/02-components/table/40-table-raw.twig
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

WIP(@bolt/components-table): fix rendering scope in tr tags
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

fix: port over Travis CI updates from https://github.com/bolt-design-system/bolt/pull/1109 meant to improve the reliability / consistency of the visual regression test results being run by Jest
  .travis.yml
  jest-global-setup.js
  package.json
  yarn.lock
Due: none

fix: port over ratio component test config updates from https://github.com/bolt-design-system/bolt/pull/1109 based on the ~1.3% average VRT diff that pops up periodically
  packages/components/bolt-ratio/__tests__/ratio.js
Due: npm run lint:js

test: re-test Nightwatch E2E tests after updating Travis to automatically retry if a test fails due to a 502 error from now.sh
  .travis.yml
Due: none

chore: convert component to user border radius function
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/components/bolt-button/src/_button-settings-and-tools.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-chip/src/chip.scss
  packages/components/bolt-code-snippet/src/_code-snippet-base.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navlink/navlink.scss
  packages/components/bolt-pagination/src/pagination.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video-meta.scss
  packages/global/styles/04-elements/_elements-code.scss
Due: npm run lint:style

chore: convert non components to use border radius function
  docs-site/src/components/schema-form/component-explorer.scss
  docs-site/src/components/schema-table/schema-table.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/00-color-palette/_color-swatch.scss
  packages/components/bolt-page-header/src/page-header.scss
Due: npm run lint:style

chore: resolve conflicts
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/40-button-transform-variations.twig
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
Due: npm run lint:js

chore: update tests
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
  packages/components/bolt-ratio/__tests__/__image_snapshots__/__diff_output__/ratio-js-bolt-ratio-component-bolt-ratio-web-component-ratio-prop-fraction-containing-a-decimal-2-diff.png
Due: npm run lint:js

chore: update tests
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
Due: npm run lint:js

chore: yarn update tests
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icons/__tests__/__image_snapshots__/icons-js-bolt-icon-component-additional-bolt-icon-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-icons/__tests__/__image_snapshots__/icons-js-bolt-icon-component-default-bolt-icon-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-icons/__tests__/__snapshots__/icons.js.snap
  packages/components/bolt-icons/src/icons/yeti.js
  packages/components/bolt-icons/src/index.js
Due: npm run lint:js

WIP(@bolt/website,@bolt/components-table): firts approach to render subtag in cells
  docs-site/src/pages/pattern-lab/_patterns/02-components/table/40-table-raw.twig
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

chore: add package.json + initial batch of NPM packages
  packages/components/bolt-modal/package.json
  yarn.lock
Due: none

refactor: iterating on Modal schema
  packages/components/bolt-modal/modal.schema.yml
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

feat: add modal component scaffolding via yeoman generator
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/00-modal-docs.twig
  packages/components/bolt-modal/README.md
  packages/components/bolt-modal/__tests__/index.js
  packages/components/bolt-modal/index.js
  packages/components/bolt-modal/index.scss
  packages/components/bolt-modal/modal.schema.yml
  packages/components/bolt-modal/package.json
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
  packages/components/bolt-modal/src/modal.twig
Due: npm run lint:js, npm run lint:style

feat: addd ability to manually enable / disable server-side rendering + automatically toggle based on dev environment
  packages/build-tools/cli.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
  packages/build-tools/utils/log.js
  packages/core-php/src/TwigFunctions.php
Due: npm run lint:js

fix: update Jest tests to not use async on top level `describe`
  packages/components/bolt-action-blocks/__tests__/action-blocks.js
  packages/components/bolt-band/__tests__/band.js
  packages/components/bolt-icons/__tests__/icons.js
  packages/components/bolt-pagination/__tests__/pagination.js
Due: npm run lint:js

chore: remove NPM postinstall for the docs site + update `setup:php` npm script
  docs-site/package.json
  package.json
Due: none

fix: fix modal schema indentation
  packages/components/bolt-modal/modal.schema.yml
Due: none

fix: temporarily disable modal Jest tests
  packages/components/bolt-modal/__tests__/index.js
Due: npm run lint:js

WIP(@bolt/components-table): give possibilty to render html in cells and add basic styles to bolt-ta
  packages/components/bolt-table/src/table.js
  packages/components/bolt-table/src/table.scss
Due: npm run lint:js, npm run lint:style

chore: set up new structure
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-border-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-maxitemsperrow.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/10-action-blocks-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/15-action-blocks-borderless-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/25-action-blocks-max-items-per-row.twig
  packages/components/bolt-action-blocks/action-blocks.schema.yml
  packages/components/bolt-action-blocks/index.scss
  packages/components/bolt-action-blocks/src/_action-block.twig
  packages/components/bolt-action-blocks/src/_action-blocks-item.scss
  packages/components/bolt-action-blocks/src/_action-blocks-item.twig
  packages/components/bolt-action-blocks/src/_action-blocks-settings-and-tools.scss
  packages/components/bolt-action-blocks/src/action-blocks.scss
  packages/components/bolt-action-blocks/src/action-blocks.twig
Due: npm run lint:style

chore: update tests
  packages/components/bolt-action-blocks/__tests__/__snapshots__/action-blocks.js.snap
  packages/components/bolt-action-blocks/__tests__/action-blocks.js
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-twig-ratio-prop-fraction-containing-a-decimal-2-snap.png
Due: npm run lint:js

test: add jest tests for bolt-text web component
  packages/components/bolt-text/__tests__/text.js
Due: npm run lint:js

WIP: checking in modal accessibility JS logic from original a11y-dialog project
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/10-modal.twig
  packages/components/bolt-modal/README.md
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

chore: fix modal description
  packages/components/bolt-modal/package.json
Due: none

refactor: stashing away dummy styles
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

fix: address prettier issues
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

feat: add docs site search powered by Algolia
  docs-site/src/components/docs-search/docs-search.js
  docs-site/src/components/docs-search/docs-search.scss
  docs-site/src/components/docs-search/index.js
  docs-site/src/components/docs-search/package.json
Due: npm run lint:style

feat: update navbar template used on docs site global header + update .boltrc config
  docs-site/.boltrc.js
  docs-site/src/templates/_navbar-with-version-selector.twig
Due: none

feat: update form component to allow the form input icon size to be optionally adjusted in size
  packages/components/bolt-form/form.schema.yml
  packages/components/bolt-form/src/form-icons.twig
  packages/components/bolt-form/src/inputs/form-input.twig
  packages/components/bolt-form/src/inputs/form-select.twig
Due: none

feat: add ability to render Twig template strings in the Twig rendering service API
  packages/api/index.js
Due: npm run lint:js

fix: deprecated obsolete props
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-border-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/-action-blocks-maxitemsperrow.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/00-full-page-theming/_full-page-theming.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/35-d8-events/_event-sponsors-with-action-block.twig
  packages/components/bolt-action-blocks/action-blocks.schema.yml
  packages/components/bolt-action-blocks/src/_action-blocks-item.scss
  packages/components/bolt-action-blocks/src/_action-blocks-settings-and-tools.scss
  packages/components/bolt-action-blocks/src/action-blocks.scss
  packages/components/bolt-action-blocks/src/action-blocks.twig
Due: npm run lint:style

chore: remove yarn workspace config looking for packages under packages/components/lists folder (now being removed)
  package.json
Due: none

WIP(@bolt/website,@bolt/components-table): add posibility to add dynamicly attributes to th and td
  docs-site/src/pages/pattern-lab/_patterns/02-components/table/40-table-raw.twig
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
