Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

docs: simplify link web component docs page per suggestions from Mike
  apps/pattern-lab/src/_patterns/02-components/link/20-link-with-custom-elements.twig
Due: none

docs: remove old custom-element pattern page
  apps/pattern-lab/src/_patterns/02-components/link/20-custom-element-links.twig
Due: none

fix: temporarily disable read-only-git-repos task in Travis
  .travis.yml
Due: none

fix: temporarily disable width-specific utility class demo till divide by zero issue is fixed
  docs-site/src/pages/pattern-lab/_patterns/01-visual-styles/20-utility-classes/_widths.twig
Due: none

chore: update composer setup command to run composer update instead of an install
  docs-site/composer.json
  packages/core-php/composer.json
  packages/drupal-twig-extensions/composer.json
  packages/twig-renderer/composer.json
Due: none

Update image.js
  packages/components/bolt-image/__tests__/image.js
Due: npm run lint:js

docs: copy edits to link with custom elements docs
  apps/pattern-lab/src/_patterns/02-components/link/20-link-with-custom-elements.twig
Due: none

Update image-tasks.js
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: revert commenting out quicker image task config
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: revert path change to image task
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

test: temporarily disable image component jest test
  packages/components/bolt-image/__tests__/image.js
Due: npm run lint:js

fix: fix infinite dependency loop flagged by lerna
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/package.json
Due: none

fix: fix broken `prep` cli task
  packages/build-tools/cli.js
Due: npm run lint:js

feat: add jest snapshot formatter to help normalize whitespace + generate better diffs in the console
  jest.config.js
  package.json
Due: none

chore: re-add Pattern Lab postinstall commands to composer.json
  docs-site/composer.json
Due: none

fix: update path to point to correctly point to lerna.json
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

fix: revert some of the updates to the image processing task + fix re-writing image originals on the file system; fixes problem with generated image paths + inconsistently rendered jest tests
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

fix: re-enable image jest test + minor cleanup
  packages/components/bolt-image/__tests__/image.js
Due: npm run lint:js

refactor: update image twig logic to include vs embed ratio object — matches similar behavior and setup in video component
  packages/components/bolt-image/src/image.twig
Due: none

chore: update composer setup tasks to run install vs update
  docs-site/composer.json
  packages/core-php/composer.json
  packages/drupal-twig-extensions/composer.json
  packages/twig-renderer/composer.json
Due: none

fix: re-add missing dependency to image task
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: update jest HTML snapshots after adding a library to handle snapshot formatting for more consistency and easier debugging
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-video/__tests__/__snapshots__/video.js.snap
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: update image jest test with higher resolution image to test that the image srcset functionality is working properly + update jest snapshot results
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-image/__tests__/image.js
Due: npm run lint:js

refactor: update image jest tests to use a local image fixture; update jest tests to bulk process fixture-specific images so keep tests quick but also accurate
  .boltrc.js
  jest-global-setup.js
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-image/__tests__/fixtures/1200x660.jpg
  packages/components/bolt-image/__tests__/image.js
Due: npm run lint:js

chore: fix package.json formatting
  packages/components/bolt-video/package.json
Due: none

fix: remove whitespace to fix prettier issue
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

fix: re-enable schema validation for pattern lab but keep disabled for the docs site till 500 server error is troubleshooted
  docs-site/.boltrc.js
  packages/core-php/src/TwigFunctions.php
  packages/twig-renderer/SetupTwigRenderer.php
  packages/twig-renderer/twig-renderer.js
Due: npm run lint:js

chore: re-add Pattern Lab's PSR event to composer.json
  docs-site/composer.json
  docs-site/composer.lock
Due: none

chore: remove the --ignore-scripts flag from the quick setup NPM script + add the www folder to the npm script clean task
  package.json
Due: none

chore: add less verbose output in Pattern Lab UIKit webpack build; update NPM script to not automatically build (speeds up other Travis CI tasks not requiring UIKit)
  packages/uikit-workshop/package.json
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

refactor: update docs site npm scripts to auto-regenerate Pattern Lab's UIKit when the files / folders don't exist
  .travis.yml
  docs-site/package.json
Due: none

feat: re-enable husky git hooks to lint code automatically
  package.json
  yarn.lock
Due: none

test: re-testing travis build times when generating the full css vars fallback code
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

chore: code cleanup
  apps/pattern-lab/src/_patterns/02-components/band/20-band-with-pinned-content.twig
  packages/components/bolt-band/src/band.scss
  packages/components/bolt-band/src/band.twig
Due: npm run lint:style

refactor: Add old and new card adaptors to separate the functionality
  packages/components/bolt-card/src/_adaptor-for-deprecated-card.twig
  packages/components/bolt-card/src/_adaptor-for-new-card.twig
  packages/components/bolt-card/src/card.twig
Due: none

feat: add utility functions to help check if a file or directory already exists
  packages/build-tools/utils/general.js
Due: npm run lint:js
