Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

ds-298: set up holy grail twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-tech-doc.twig
  packages/components/bolt-side-nav/src/side-nav.scss
  packages/global/styles/04-elements/_elements-table.scss
  packages/global/styles/index.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:style

ds-298: set up article twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/05-article.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-tech-doc.twig
  packages/elements/bolt-article/src/article.twig
  packages/layouts/bolt-holy-grail/src/holy-grail.js
Due: npm run lint:js

DS-239: Cannot make shadow dom element the trigger, breaks click to close
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

DS-239: Move "theme" styles to vendor stylesheet, fix specificity bugs
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/global/styles/08-vendor/_vendor-tippy.scss
Due: npm run lint:style

DS-372: some twig cleanup
  packages/components/bolt-link/src/link.twig
Due: none

DS-372: update test snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
Due: none

DS-239: Update CSS Nano config to not reduce CSS transforms, breaking animations
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

DS-239: Add CSS comment to see Tippy styles in vendor
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

DS-239: Update 'hover' settings to open on click/enter not focus
  packages/components/bolt-popover/src/popover.js
Due: npm run lint:js

DS-239: Fix focus in Safari by activating focus-trap immediately on open
  packages/core-v3.x/utils/tippy/index.js
Due: npm run lint:js

DS-239: Cleanup, remove unused params
  packages/core-v3.x/utils/tippy/index.js
Due: npm run lint:js

ds-239: fix doc copy
  docs-site/src/pages/pattern-lab/_patterns/40-components/popover/35-popover-trigger-event-variations.twig
Due: none

ds-239: remove unused code
  docs-site/src/pages/pattern-lab/_patterns/40-components/popover/35-popover-trigger-event-variations.twig
Due: none

DS-239: Make tooltip interactive, i.e. you can hover over it
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

ds-298: document side nav and holy grail
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/00-holy-grail-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/00-side-nav-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-tech-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
  packages/components/bolt-side-nav/src/side-nav-li.twig
  packages/components/bolt-side-nav/src/side-nav-ul.twig
  packages/components/bolt-side-nav/src/side-nav.scss
  packages/components/bolt-side-nav/src/side-nav.twig
  packages/components/bolt-table/src/table.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:style

ds-298: move mockup page
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

ds-298: comment out failing test
  packages/components/bolt-toc/__tests__/__snapshots__/toc.js.snap
  packages/components/bolt-toc/__tests__/toc.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v3.4.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

ds-298: fix article pagination links
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

ds-298: fix pagination styles
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-434: Make tooltip always display inline
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v3.4.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.4.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

ds-298: set up content pagination component
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/00-holy-grail-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/10-holy-grail-use-case-documentation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/00-content-pagination-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/05-content-pagination.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/components/bolt-content-pagination/CHANGELOG.md
  packages/components/bolt-content-pagination/README.md
  packages/components/bolt-content-pagination/content-pagination.schema.js
  packages/components/bolt-content-pagination/index.scss
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-content-pagination/src/content-pagination.scss
  packages/components/bolt-content-pagination/src/content-pagination.twig
  packages/elements/bolt-article/package.json
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
  packages/layouts/bolt-holy-grail/package.json
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js, npm run lint:style

WWW-467: Remove separate hard-coded classes on desktop heading links
  packages/components/bolt-page-header/src/page-header-nav-li.twig
Due: none

ds-298: finish up side nav
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/00-article-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/05-article.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/10-holy-grail-use-case-documentation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/00-side-nav-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  packages/components/bolt-side-nav/side-nav-li.schema.js
  packages/components/bolt-side-nav/side-nav-ul.schema.js
  packages/components/bolt-side-nav/side-nav.schema.js
  packages/components/bolt-side-nav/src/side-nav-li.twig
  packages/components/bolt-side-nav/src/side-nav.twig
  packages/elements/bolt-article/article.schema.js
  packages/elements/bolt-article/src/article.twig
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js

ds-298: finish content pagination
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/00-content-pagination-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/05-content-pagination.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  packages/components/bolt-content-pagination/content-pagination.schema.js
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-content-pagination/src/content-pagination.twig
  packages/components/bolt-side-nav/package.json
Due: npm run lint:js

ds-298: fix side nav and toc heading tag and add readmes
  packages/components/bolt-content-pagination/README.md
  packages/components/bolt-side-nav/README.md
  packages/components/bolt-side-nav/src/side-nav.scss
  packages/components/bolt-side-nav/src/side-nav.twig
  packages/components/bolt-toc/src/toc.js
  packages/components/bolt-toc/src/toc.twig
  packages/elements/bolt-article/README.md
  packages/layouts/bolt-holy-grail/CHANGELOG.md
  packages/layouts/bolt-holy-grail/README.md
Due: npm run lint:js, npm run lint:style

ds-298: update toc docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/00-toc-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/05-toc.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/10-toc-item-active-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/20-toc-use-case-sticky.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/20-toc-variants-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/25-toc-use-case-sticky.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/30-toc-use-case-sticky-and-scroll-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/toc/999-toc-with-web-component.twig
  packages/components/bolt-content-pagination/src/content-pagination.twig
Due: none

ds-298: comment out failing toc tests
  packages/components/bolt-toc/__tests__/__snapshots__/toc.js.snap
  packages/components/bolt-toc/__tests__/toc.js
Due: npm run lint:js

ds-298: fix comments
  packages/global/styles/04-elements/_elements-anchor-and-button.scss
  packages/global/styles/04-elements/_elements-code.scss
  packages/global/styles/04-elements/_elements-misc.scss
  packages/global/styles/04-elements/_elements-page.scss
  packages/global/styles/04-elements/_elements-table.scss
Due: npm run lint:style

ds-298: finishing touches on docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/05-article.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/05-content-pagination.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/00-community-tech-doc.twig
  packages/components/bolt-content-pagination/src/content-pagination.twig
Due: none

www-467: remove link attributes from button
  packages/components/bolt-page-header/src/page-header-nav-li.twig
Due: none

DS-439: Add `inverted` option to Tooltip
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/12-tooltip-inverted.twig
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-tooltip/tooltip.schema.js
  packages/global/styles/08-vendor/_vendor-tippy.scss
Due: npm run lint:js, npm run lint:style

ds-439: fix docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/12-tooltip-inverted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/15-tooltip-inverted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/20-tooltip-use-case-button-and-link.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/25-tooltip-use-case-icon.twig
Due: none

DS-439: Fix typo
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/15-tooltip-inverted.twig
Due: none

ds-427: create logic to truncate description regardless of length
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/35-teaser-text-options.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-description-on-hover.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style
