Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

Fix logic, if IS valid semver
  scripts/deploy-tagged-release.js
Due: none

Merge pull request #2426 from boltdesignsystem/bugfix/docs-53-tooltip-whitespace
  docs-site/src/pages/pattern-lab/_patterns/999-tests/tooltip/15-tooltip-link-whitespace.twig
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

Merge pull request #2430 from boltdesignsystem/feature/fix-deploy-script
  scripts/deploy-tagged-release.js
  scripts/package.json
Due: none

DS-516: Experiments
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table.twig
  packages/components/bolt-responsive-table/src/responsive-table.js
  packages/components/bolt-responsive-table/src/responsive-table.scss
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: npm run lint:js, npm run lint:style

Added back the post deploy steps
  .travis.yml
Due: none

Updated the travis post deploy to include the normal post deploy behavior
  .travis.yml
Due: none

[skip travis] chore: version bump PHP-related dependencies to v5.2.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v5.2.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-content-pagination/CHANGELOG.md
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-listing-teaser/CHANGELOG.md
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-popover/CHANGELOG.md
  packages/components/bolt-popover/package.json
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
  scripts/CHANGELOG.md
  scripts/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-516: Update doc
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table.twig
Due: none

DS-516: Update template
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: Update styles
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Add hidden class trhru js
  packages/components/bolt-responsive-table/src/responsive-table.js
Due: npm run lint:js

DS-516: Toggle checkboxes js drafts
  packages/components/bolt-responsive-table/src/responsive-table.js
Due: npm run lint:js

DS-516: Toggle checkboxes js drafts update
  packages/components/bolt-responsive-table/src/responsive-table.js
Due: npm run lint:js

fix: namespace
  packages/components/bolt-page-footer/src/page-footer-nav-li.twig
  packages/components/bolt-page-footer/src/page-footer-nav-ul.twig
  packages/components/bolt-page-footer/src/page-footer.scss
  packages/components/bolt-page-footer/src/page-footer.twig
Due: npm run lint:style

DS-516: Add cta container to th if tr is a trigger
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: Make thead and left column sticky if table is small
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

PR feedback
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/05-floating-action-buttons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/10-floating-action-buttons-visible-items.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/90-floating-action-buttons-advanced-use.twig
  packages/components/bolt-action-blocks/src/_action-blocks-settings-and-tools.scss
  packages/components/bolt-floating-action-buttons/package.json
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.twig
Due: npm run lint:js, npm run lint:style

DS-516: Pages samples drafts
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/10-reponsive-table-checkboxes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-collapsing-rows.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sorting.twig
Due: none

DS-516: no wrap side table headers
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: template update
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: update js
  packages/components/bolt-responsive-table/src/responsive-table.js
Due: npm run lint:js

DS-516: table ro on hover
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

fix: add max width to regular modal
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

Merge pull request #2433 from boltdesignsystem/bugfix/page-footer-namespace
  packages/components/bolt-page-footer/src/page-footer-nav-li.twig
  packages/components/bolt-page-footer/src/page-footer-nav-ul.twig
  packages/components/bolt-page-footer/src/page-footer.scss
  packages/components/bolt-page-footer/src/page-footer.twig
Due: npm run lint:style

Merge pull request #2434 from boltdesignsystem/bugfix/modal-regular-max-width
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v5.2.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v5.2.2
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-modal/CHANGELOG.md
  packages/components/bolt-modal/package.json
  packages/components/bolt-page-footer/CHANGELOG.md
  packages/components/bolt-page-footer/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

DS-516: page demos update
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-collapsing-rows.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sorting.twig
Due: none

DS-516: flters styling
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: toggle filters
  packages/components/bolt-responsive-table/src/responsive-table.js
Due: npm run lint:js

DS-516: update template with filters
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: update css
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: delete comment
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: filters checkbox list
  packages/components/bolt-responsive-table/src/responsive-table.twig
Due: none

DS-516: filters checkbox list
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: table borders
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style
