Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: max width
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

Update snapshot and update yarn.lock
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  yarn.lock
Due: none

docs: improve copy
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/05-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/10-modal-persistent-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/25-modal-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/30-modal-scroll-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/999-modal-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/999-modal-trigger-variations.twig
  packages/components/bolt-modal/modal.schema.yml
Due: none

docs: content variations
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/30-modal-scroll-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/999-modal-content-variations.twig
Due: none

fix: hide close button
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/35-modal-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/999-modal-trigger-variations.twig
  packages/components/bolt-modal/modal.schema.yml
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

feat: close modal on overlay click if not persistent
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

feat: conditionally output footer wrapper
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

fix: add missing closing comment
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

style: prettier
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

WIP: stashing latest carousel progress
  .incache
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-slide-background.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-slide-content.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-slide-image.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel--loop.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel--slide-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel--stacked.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel--themes.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel-band--stacked.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel-width.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/carousel.twig
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
  packages/components/bolt-background/src/background.scss
  packages/components/bolt-button/src/_button-settings-and-tools.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-carousel/carousel.schema.yml
  packages/components/bolt-carousel/index.js
  packages/components/bolt-carousel/src/_carousel-vars.scss
  packages/components/bolt-carousel/src/_carousel.feature--carousel-band.scss
  packages/components/bolt-carousel/src/_carousel.feature--carousel-band.twig
  packages/components/bolt-carousel/src/_carousel.feature--fixed-cta.scss
  packages/components/bolt-carousel/src/_carousel.feature--stacked.scss
  packages/components/bolt-carousel/src/_swiper-nav-buttons.scss
  packages/components/bolt-carousel/src/_swiper-pagination.scss
  packages/components/bolt-carousel/src/_swiper-scrollbar.scss
  packages/components/bolt-carousel/src/carousel-band.scss
  packages/components/bolt-carousel/src/carousel-band.twig
  packages/components/bolt-carousel/src/carousel-slide.scss
  packages/components/bolt-carousel/src/carousel-slide.twig
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-carousel/src/carousel.scss
  packages/components/bolt-carousel/src/carousel.twig
  packages/components/bolt-carousel/src/fancy-card.scss
  packages/components/bolt-carousel/src/swiper-styles.scss
  packages/core/styles/02-tools/tools-breakpoint/_tools-breakpoint.scss
  yarn.lock
Due: npm run lint:js, npm run lint:style

refactor: cleaning up demos
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/01-carousel.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/02-carousel-examples.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/03-carousel--loop.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/04-carousel--themes.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel--stacked.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-band--stacked.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-band.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/carousel/_carousel-width.twig
Due: none

chore: fix linting issues
  packages/components/bolt-carousel/src/_swiper-nav-buttons.scss
  packages/components/bolt-carousel/src/_swiper-scrollbar.scss
  packages/components/bolt-carousel/src/carousel-slide.scss
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js, npm run lint:style

fix: fix remaining lint issues
  packages/components/bolt-carousel/index.js
  packages/components/bolt-carousel/package.json
  packages/components/bolt-carousel/src/carousel.js
  yarn.lock
Due: npm run lint:js

styles: open transition
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

fix: hide modal header when slot is empty
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

fix: add first/last classes to slotted children
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

style: eslint
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

fix: logic that hides modal header
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

chore: remove console log
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

docs: hide close button
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/35-modal-close-button-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/40-modal-content-variations.twig
Due: none

fix: last child spacing
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/05-modal.twig
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

feat: add accordion component, wip
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/00-accordion-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/05-accordion.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/10-accordion-center.twig
  packages/components/bolt-accordion/CHANGELOG.md
  packages/components/bolt-accordion/README.md
  packages/components/bolt-accordion/accordion.schema.yml
  packages/components/bolt-accordion/index.js
  packages/components/bolt-accordion/index.scss
  packages/components/bolt-accordion/package.json
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/_accordion-handorgel.js
  packages/components/bolt-accordion/src/_accordion-item.twig
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-accordion/src/accordion.scss
  packages/components/bolt-accordion/src/accordion.twig
Due: npm run lint:js, npm run lint:style

fix: schema docs error when nested props have multiple types
  docs-site/src/components/pattern-lab-utils/schema-docs.twig
Due: none

fix: remove debugging style
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

style: eslint
  packages/components/bolt-accordion/src/_accordion-handorgel.js
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

Update npm scripts to run only yarn command to install all dependencies
  example-integrations/angular/.bolt/.boltrc.js
  example-integrations/angular/.bolt/package.json
  example-integrations/angular/.bolt/yarn.lock
  example-integrations/angular/package.json
  example-integrations/static-website/.bolt/.boltrc.js
  example-integrations/static-website/.bolt/package.json
  example-integrations/static-website/.bolt/yarn.lock
  example-integrations/static-website/package.json
Due: none

fix: update button component snapshot to pass
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

refactor: UI cleanup + implement basic auto-mapping to carousel schema
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

fix: fix JS error with renaming imported schema variable + disable schema enum in the schema to fix Twig error
  packages/components/bolt-carousel/carousel.schema.yml
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

fix: update carousel component Jest tests
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-8-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-9-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-10-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-8-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-9-snap.png
  packages/components/bolt-carousel/__tests__/__snapshots__/index.js.snap
  packages/components/bolt-carousel/__tests__/index.js
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

feat: rework accordion item twig template to remove unneeded elements on load
  packages/components/bolt-accordion/src/_accordion-item.twig
Due: none

feat: update JS to remove unneeded elements on load, throttle resize
  packages/components/bolt-accordion/src/AccordionItem/index.js
Due: npm run lint:js

feat: comment out box-shadow to avoid dupe layers of shadow
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

fix: make replace-with-grandchildren element span full-width
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

chore: remove test element from demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/05-accordion.twig
Due: none

fix: update + retest failing carousel Jest test
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-8-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-9-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-10-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-8-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-9-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-1-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/index-js-carousel-basic-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/index.js
  packages/components/bolt-carousel/package.json
  packages/components/bolt-carousel/src/_swiper-nav-buttons.scss
Due: npm run lint:js, npm run lint:style

fix: css cleanup
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/40-modal-content-variations.twig
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

fix: lint js
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

feat: add timed modal example
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/999-modal-trigger-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/includes/_modal-trigger-script.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
