Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix(interactive-step): IE 11 bottom slot layout
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

fix(pathway): IE 11 layout
  packages/micro-journeys/src/interactive-pathway.scss
Due: npm run lint:style

build: add yarn fix cmd for linting
  package.json
Due: none

fix: allow html and bolt components to content prop
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

feat: update tooltip schema
  packages/components/bolt-tooltip/tooltip.schema.yml
Due: none

feat: add new example page
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/35-tooltip-content-variations.twig
Due: none

feat: add test for bolt component and html in content
  packages/components/bolt-tooltip/__tests__/__snapshots__/tooltip.js.snap
  packages/components/bolt-tooltip/__tests__/tooltip.js
Due: npm run lint:js

fix(micro-journey): wrap shadow dom hrs in width to remove 2px horizontal scroll
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

style(micro-journeys): lint scss
  packages/micro-journeys/src/interactive-pathway.scss
Due: npm run lint:style

fix: cleaning config to work with default cache folder
  .gitignore
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: cleaning package.json
  package.json
Due: none

feat: set selected tab color to 'headline'
  packages/components/bolt-tabs/src/tabs.scss
Due: npm run lint:style

fix: comment-out findIndex polyfill for now, exposing a bug in table JS
  packages/components/bolt-table/src/table.js
  packages/components/bolt-tabs/src/tabs.js
  packages/core/polyfills/index.js
Due: npm run lint:js

Fix/horizontal scroll on micro journeys (#1419)
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/interactive-pathway.scss
  packages/micro-journeys/src/interactive-step.scss
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:js, npm run lint:style

fix: don't include the editor JS in with the rest of the packages run through the Webpack Dev Server instance
  .boltrc.js
Due: none

fix: temporarily exclude the editor from packages that have to get the dependency map checked
  __tests__/monorepo-deps.test.js
Due: none

chore: update @bolt/core
  packages/editor/package.json
Due: none

fix: skip testing Typescript types in @bolt/components-editor as workaround to Jest test errors
  .travis.yml
Due: none

chore: update deps
  docs-site/composer.lock
  packages/core-php/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
  yarn.lock
Due: none

chore: re-arrange Travis CI tasks to prioritize Jest tests
  .travis.yml
Due: none

fix: temporarily switch to using a locally patched version of get-own-property-symbols to fix patch-package-related postinstall issues
  packages/core/package.json
  packages/core/polyfills/get-own-property-symbols.max.js
  packages/core/polyfills/symbol-polyfill.js
Due: npm run lint:js

fix: temporarily switch to using a locally patched version of lazysizes to fix patch-package-related postinstall issues
  packages/components/bolt-image/package.json
  packages/components/bolt-image/src/_image-lazy-sizes.js
  packages/components/bolt-image/src/lazysizes.js
Due: npm run lint:js

fix: update jest-image-snapshot to fix warnings getting thrown
  packages/testing/testing-jest/package.json
  patches/jest-image-snapshot+2.11.0.patch
Due: none

fix: increase max timeout in Carousel component Jest tests to reduce errors thrown
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: disable linting on patched libs
  packages/components/bolt-image/src/lazysizes.js
  packages/core/polyfills/get-own-property-symbols.max.js
Due: npm run lint:js

[skip travis] chore: revert back to using a minimal Webpack output when compiling
  packages/uikit-workshop/package.json
Due: none

chore: version bump PHP-related dependencies to v2.7.0
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

fix: add .js AND ref support schemas
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

chore: update .incache file
  docs-site/.incache
Due: none

chore: update Drupal Lab to use v2.7.0 + remove workaround
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
  example-integrations/drupal-lab/web/themes/bolt-starter/patches/get-own-property-symbols+0.9.4.patch
  example-integrations/drupal-lab/web/themes/bolt-starter/patches/lazysizes+5.1.0.patch
Due: none

chore(release): publish v2.7.0
  docs-site/.incache
Due: none

test: update deps + re-test Jest tests
  docs-site/composer.lock
  package.json
  packages/core-php/composer.lock
  packages/testing/testing-jest/jest-environment-puppeteer-basichtml.js
  packages/testing/testing-jest/jest-global-setup.js
  packages/testing/testing-jest/package.json
  packages/testing/testing-nightwatch/package.json
  packages/twig-renderer/composer.lock
  packages/uikit-critical-css-webpack-plugin/package.json
  packages/uikit-prerenderer/index.js
  packages/uikit-prerenderer/package.json
  packages/uikit-prerenderer/renderer.mjs
  packages/uikit-workshop/package.json
  packages/uikit-workshop/webpack.config.js
  yarn.lock
Due: npm run lint:js

fix: downgrade jest-dom
  packages/testing/testing-jest/package.json
  yarn.lock
Due: none

test: increase Jest server timeout
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

test: retest Jest with debug mode enabled
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

test: retest Jest
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

test: retest Jest
  .travis.yml
Due: none

docs(animate): tweaks to demos
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/animate/00-animate-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/animate/05-animate.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/animate/10-animate-build-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/animate/10-animate-build-stages.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/animate/animate-demo-helpers.js
Due: none
