Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

feat: update webpack config and boltrc
  docs-site/.boltrc.js
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix(micro-journeys): make dot colors match comps with bolt-theme(map) -- not working
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:style

feat(core-styles): add documentaiton to bolt-theme
  packages/core/styles/02-tools/tools-themes/_tools.themes.scss
Due: npm run lint:style

chore(micro-journey): revert changes to lock files
  docs-site/composer.lock
  packages/core-php/composer.lock
  packages/core/styles/02-tools/tools-shadow/_tools-shadow.scss
  packages/twig-renderer/composer.lock
  yarn.lock
Due: npm run lint:style

fix(micro-journeys): ie 11 color fixes
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:style

refactor: updating release script + temporarily disabling Travis auto-deployments
  .travis.yml
  release.js
Due: none

fix: add missing fuse.js library to Typeahead
  packages/components/bolt-typeahead/package.json
Due: none

[skip travis] chore(release): publish v2.7.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-typeahead/CHANGELOG.md
  packages/components/bolt-typeahead/package.json
Due: none

[skip travis] chore(release): publish v2.7.1
  docs-site/.incache
Due: none

fix(micro-journeys): allow for multiple demo theme controllers to address PR feedback
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

fix(micro-journeys): fix IntersectionObserver on IE 11
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

fix(micro-journeys): fix dropdown text color in IE 11
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:style

update SVGs to include dark versions and latest feedback
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/svg-animations/05-svg-animations.twig
  packages/micro-journeys/src/bolt-svg-animations/svg/automation.js
  packages/micro-journeys/src/bolt-svg-animations/svg/connectionBand.js
  packages/micro-journeys/src/bolt-svg-animations/svg/orbit.js
  packages/micro-journeys/src/bolt-svg-animations/svg/radar.js
Due: npm run lint:js

feat: add onClick and onClick target to button and link through editor
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: lint and docs
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/editor/20-editor-modal.twig
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix one typo
  docs-site/src/pages/docs/50-guides/50-tips-on-building-web-components.md
Due: none

feat: add Slack plugin to release script
  .autorc
  package.json
Due: none

refactor: update release script to finish rebuilding, deploying and aliasing the websites
  release.js
  yarn.lock
Due: none

chore: re-enable release script for testing
  release.js
Due: none

refactor: fix typo + clean up release script
  .autorc
  release.js
Due: none

feat: add Slack integration
  package.json
  release.js
  yarn.lock
Due: none

fix: update Slack notification logic
  release.js
Due: none

test: test cutting a canary release on Travis
  .travis.yml
  release.js
Due: none

test: test canary release tests
  .travis.yml
  __tests__/canary-release/.boltrc--ja.js
  __tests__/canary-release/.boltrc.js
  __tests__/canary-release/.gitignore
  __tests__/canary-release/__tests__/index.js
  __tests__/canary-release/fix-missing-ja-spacing-value.patch.scss
  __tests__/canary-release/index.js
  __tests__/canary-release/index.scss
  __tests__/canary-release/package.json
  package.json
  release-utils.js
  release.js
Due: npm run lint:style

fix: add missing install to release stage of Travis
  .travis.yml
Due: none

fix: typo
  packages/components/bolt-accordion/accordion.schema.yml
Due: none

feat: add `inactive` prop to Accordion items
  packages/components/bolt-accordion/accordion.schema.yml
  packages/components/bolt-accordion/src/AccordionItem/AccordionItemTrigger.js
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.scss
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js, npm run lint:style

feat: add `inactive` demo page, include inactive item on content variations demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/32-accordion-inactive-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/40-accordion-content-variations.twig
Due: none

refactor: rename '--no-js' class to '--offset'
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.scss
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
Due: npm run lint:style

test: add jest test for inactive accordion item
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-accordion/__tests__/accordion.js
Due: npm run lint:js

fix: bump '@bolt/testing-utils' to 2.8.0-beta.2
  package.json
Due: none

feat: manually pull in the @bolt/animations package to help support the with/without ongoing work
  packages/animations/README.md
  packages/animations/index.scss
  packages/animations/package.json
  packages/animations/settings/_settings-animations.scss
  packages/animations/tools/_tools-animations.scss
Due: npm run lint:style

chore: add @bolt/animations to the docs site build for testing
  docs-site/.boltrc.js
  docs-site/package.json
Due: none

chore: increase max timeout for dependency graph Jest test
  __tests__/monorepo-deps.test.js
Due: none

chore: update composer.lock
  docs-site/composer.lock
  packages/core-php/composer.lock
  packages/twig-renderer/composer.lock
Due: none

chore: version bump PHP-related dependencies to v2.8.0-beta.3
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

[skip travis] chore(release): publish v2.8.0-beta.3
  docs-site/.incache
Due: none

test: add e2e accordion test for inactive prop
  packages/components/bolt-accordion/__tests__/accordion.e2e.js
Due: npm run lint:js

update micro journey in pattern lab to properly structure link component
  packages/micro-journeys/starters/cta-text-1.html
Due: none
