Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

ds-167: rename doc files
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/00-spacing-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/10-spacing-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/10-typography/00-typography-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/15-breakpoints/00-breakpoint-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/15-breakpoints/_breakpoints.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/15-breakpoints/breakpoints.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/_margin-and-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/_widths.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/clearfix.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/color.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/displays.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/flex.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/height.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/opacity.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/shadow.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/text-align.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/text-decoration.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/visually-hidden.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utility-classes/z-index.twig
Due: npm run lint:style

ds-167: update theming system doc
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/04-theming.twig
Due: none

WIP
  .travis.yml
  docs-site/__tests__/__snapshots__/vrt-urls.js.snap
  docs-site/__tests__/vrt-urls.js
  docs-site/package.json
  package.json
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
  packages/build-tools/tasks/api-tasks/index.js
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

DS-183: Enable vrt-urls api task.
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
  packages/build-tools/tasks/api-tasks/index.js
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

DS-183: Add vrt-urls Jest test to catch changes to urls.
  .travis.yml
  docs-site/__tests__/__snapshots__/vrt-urls.js.snap
  docs-site/__tests__/vrt-urls.js
  docs-site/package.json
  package.json
Due: none

ds-167: fix japanese demo
  docs-site/src/pages/pattern-lab/_meta/_00-head.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/_margin-and-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/_widths.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/clearfix.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/color.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/displays.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/flex.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/height.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/opacity.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/shadow.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/text-align.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/text-decoration.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/visually-hidden.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/z-index.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_default-page-template.twig
  docs-site/src/templates/_site-head.twig
  docs-site/src/templates/base-template.twig
Due: none

DS-182: conversion first pass
  packages/components/bolt-blockquote/src/Author/AuthorImage.js
  packages/components/bolt-blockquote/src/Author/AuthorName.js
  packages/components/bolt-blockquote/src/Author/AuthorTitle.js
  packages/components/bolt-blockquote/src/blockquote.js
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/components/bolt-blockquote/src/blockquote.twig
Due: npm run lint:js, npm run lint:style

DS-182: full bleed demo page
  docs-site/src/pages/pattern-lab/_patterns/40-components/blockquote/25-blockquote-fullBleed-variation.twig
Due: none

ds-167: remove more unused docs
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/10-typography/00-typography-system.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/01-full-page-theming--xlight.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/02-full-page-theming--light.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/03-full-page-theming--dark.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/04-full-page-theming--xdark.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/05-full-page-theming--none.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/00-full-page-theming/_full-page-theming.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_www-page-template.twig
Due: none

DS-191: Check that tag is valid before adding to array.
  packages/build-tools/tasks/api-tasks/bolt-versions.js
Due: npm run lint:js

ds-167: update color docs
  docs-site/src/index.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/01-brand-colors.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/02-status-colors.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/03-accessibility-check.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/04-theming.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color-palette/_color-swatch.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/00-color-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/05-theme-color-tokens.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/10-spacing-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/15-breakpoints/00-breakpoint-system.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/00-d8-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

ds-167: fix color swatch alignment
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/00-color-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
Due: npm run lint:style

ds-182: rename demo page, delete constructor, reorder declarations.
  docs-site/src/pages/pattern-lab/_patterns/40-components/blockquote/25-blockquote-full-bleed-variation.twig
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: single partial for author
  packages/components/bolt-blockquote/src/Author/AuthorImage.js
  packages/components/bolt-blockquote/src/Author/AuthorName.js
  packages/components/bolt-blockquote/src/Author/AuthorTitle.js
  packages/components/bolt-blockquote/src/Author/index.js
  packages/components/bolt-blockquote/src/_blockquote-author.js
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: full bleed preview, author partial, full conversion to latest renderer
  docs-site/src/pages/pattern-lab/_patterns/40-components/blockquote/25-blockquote-full-bleed-variation.twig
  packages/components/bolt-blockquote/src/Author/AuthorImage.js
  packages/components/bolt-blockquote/src/Author/AuthorName.js
  packages/components/bolt-blockquote/src/Author/AuthorTitle.js
  packages/components/bolt-blockquote/src/Author/index.js
  packages/components/bolt-blockquote/src/_blockquote-author.js
  packages/components/bolt-blockquote/src/blockquote.js
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/components/bolt-blockquote/src/blockquote.twig
Due: npm run lint:js, npm run lint:style

ds-167: update bds home page
  docs-site/config/config.yml
  docs-site/src/assets/images/shapes/brand-shape-01.svg
  docs-site/src/assets/images/shapes/brand-shape-02.svg
  docs-site/src/assets/images/shapes/brand-shape-03.svg
  docs-site/src/assets/images/shapes/brand-shape-04.svg
  docs-site/src/assets/images/shapes/brand-shape-05.svg
  docs-site/src/assets/images/shapes/brand-shape-06.svg
  docs-site/src/assets/images/shapes/brand-shape-07.svg
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/templates/_site-head.twig
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

ds-167: add text color utilities
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-text-color-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/10-spacing-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/_margin-and-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/_widths.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-more-utilities/color.twig
Due: npm run lint:style

ds-167: fix home page links and text color util names
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-text-color-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  docs-site/src/templates/homepage.twig
Due: none

ds-167: refine home page animation
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

ds-167: fix components link in nav
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

DS-182: Use `this.data` to get valid prop values and set default.
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

DS-182: Remove unused vars, fix whitespace.
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

DS-182: Remove is="shadow-root", legacy attribute.
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

ds-167: fix color chips
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/05-theming-system.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-text-color-utilities.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.scss
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

DS-182: Fix author font-style in WC-only version, consolidate shared styles.
  packages/components/bolt-blockquote/src/blockquote.scss
Due: npm run lint:style

DS-182: Fix prop syntax, broken on WC-only demos.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: Update mutation observer to work with BoltElement, requires fix to Slotify.
  packages/base-element/src/Slotify.js
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: Refactor 'addClassesToSlottedChildren'.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: Filter out undefined values so empty footer containers aren't output.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

DS-182: Remove old commented out code, no longer relevant.
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

styles: add compact and comfortable spacing system
  packages/global/styles/03-generic/_generic-vars-spacing.scss
Due: npm run lint:style

ds-193: fix list wrapping bug in safari
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

ds-167: re-organize css vars
  packages/global/styles/00-vars/_vars-info-density.scss
  packages/global/styles/00-vars/_vars-japanese.scss
  packages/global/styles/00-vars/_vars-spacing.scss
  packages/global/styles/00-vars/_vars-typography.scss
  packages/global/styles/index.scss
Due: npm run lint:style

ds-167: update home page
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

ds-167: update animation
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/templates/homepage.twig
Due: npm run lint:style

DS-194: Remove unwanted padding above navbar on mobile.
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

DS-194: Update navbar image snapshots, delete obsolete images.
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-centered-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-4-short-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-8-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-a-linked-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-a-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-3-snap.png
Due: none

DS-144: demo page, id in schema
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/45-accordion-deep-linking.twig
  packages/components/bolt-accordion/accordion-item.schema.js
Due: npm run lint:js

DS-182: Fix variable case
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

DS-182 Simplify twig class syntax
  packages/components/bolt-blockquote/src/blockquote.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
