Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-516: Update styles
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

made content required on the toggle button. made show_on_scroll a data attribute.
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/05-floating-action-buttons.twig
  packages/components/bolt-floating-action-buttons/floating-action-buttons-toggle-button.schema.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons-toggle-button.twig
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.twig
Due: npm run lint:js

DS-516: Update toggle filter checkboxes UI feature
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
  packages/components/bolt-responsive-table/src/responsive-table.js
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:js, npm run lint:style

DS-516: Table expandable rows static mockup
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
Due: none

DS-516: Remove cutommvisible class and add bolt hidden utility class
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Change targeting classes
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table-checkbox.twig
Due: none

DS-516: Sticky side heders on expandable rows
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Typos
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
Due: none

DS-516: Toggle rows feature
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
  packages/components/bolt-responsive-table/src/table-expand-button.twig
Due: npm run lint:style

DS-516: Typo
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
Due: none

DS-516: Table print styles
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Table button expand cklickable area
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: change btn width
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Use row tamplate on doc pages
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/00-responsive-table.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table-checkbox.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/10-responsive-table-side-headers.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
Due: none

DS-516: Toggling sorting
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
Due: none

DS-516: Renamings
  packages/components/bolt-responsive-table/src/table-cell.twig
Due: none

DS-516: Sorting button
  packages/components/bolt-responsive-table/src/table-expand-button.twig
  packages/components/bolt-responsive-table/src/table-sorting-text-button.twig
Due: none

DS-516: Sorting page doc
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
Due: none

DS-516: Prevent clickin
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Sorting toggling
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
  packages/components/bolt-responsive-table/src/table-sorting-text-button.twig
Due: none

DS-516: Sorting toggling line removal
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-sort-and-filter.twig
Due: none

ds-516: organize docs and fix border radius
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/00-responsive-table-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/00-responsive-table.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table-checkbox.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/05-responsive-table.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-checkbox.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-expando.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-expandable-row.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/25-responsive-table-sort-and-filter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/_old-responsive-table-collapsing-rows.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/_old-responsive-table-sorting.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Sticky styles
  packages/components/bolt-responsive-table/src/responsive-table.scss
Due: npm run lint:style

DS-516: Sticky class
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-checkbox.twig
Due: none

DS-516: Update row templates
  packages/components/bolt-responsive-table/src/table-row.twig
Due: none

DS-516: Update doc page and test
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-expandable-row.twig
Due: none

DS-516: REmove unnecessary thing
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-expandable-row.twig
Due: none

DS-729 Test button blank page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button-without-states.twig
Due: none

DS-729 Test button doc page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button-without-states.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button/00-button-without-states.twig
Due: none

DS-729 Update button styles
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:style

update button simple tooltip. change show_on_load to hide. remove reliance on aria-hidden. use twig for toggle button. update fab docs.
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/00-floating-action-buttons-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/05-floating-action-buttons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/10-floating-action-buttons-position.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/15-floating-action-buttons-show-on-scroll.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/90-floating-action-buttons-advanced-use.twig
  packages/components/bolt-floating-action-buttons/floating-action-buttons.schema.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons-li.twig
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons-toggle-button.twig
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.scss
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.twig
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:js, npm run lint:style

ds-516: remove classes on inner table elements
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/10-responsive-table-side-headers.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/15-responsive-table-checkbox.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/20-responsive-table-expandable-row.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/25-responsive-table-sort-and-filter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/responsive-table/30-responsive-table-column-width.twig
  packages/components/bolt-responsive-table/src/responsive-table.scss
  packages/components/bolt-responsive-table/src/table-expand-button.twig
Due: npm run lint:style

ds-516: update plain element styles
  packages/global/styles/04-elements/_elements-table.scss
Due: npm run lint:style

DS-729 Update button styles
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button/00-button-without-states.twig
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:style

DS-729 Update test doc page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button/00-button-without-states.twig
Due: none

DS-729 Typo
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button/00-button-without-states.twig
Due: none

DS-729 Test docs
  docs-site/src/pages/pattern-lab/_patterns/999-tests/button/00-button-without-states.twig
Due: none

DS-516: Remove classes from inner table elements - table-cell
  packages/components/bolt-responsive-table/src/table-cell.twig
Due: none

DS-516: Remove classes from inner table elements - table
  packages/components/bolt-responsive-table/src/table.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
