Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

refactor: adjust Nightwatch results data passing
  scripts/nightwatch-sauce.js
Due: none

refactor: Nightwatch reporting improvements
  scripts/nightwatch-sauce.js
Due: none

fix: pass in passed
  scripts/nightwatch-sauce.js
Due: none

fix: get latest now.sh deploy for Nightwatch tests
  nightwatch.js
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
  test/e2e/bolt-site.e2e.js
  test/e2e/pattern-lab.e2e.js
Due: npm run lint:js

fix: remove meta flag from now deploy
  scripts/deploy.js
Due: none

set correct Check status
  scripts/nightwatch-sauce.js
Due: none

fix: Remove issue with paths on non-local machine
  docs-site/.incache
  packages/components/bolt-icons/build-icons.js
Due: npm run lint:js

fix: Pretter issue
  packages/components/bolt-icons/build-icons.js
Due: npm run lint:js

fix: Update icons prettier config to that it would be like the main config
  packages/components/bolt-icons/build-icons.js
Due: npm run lint:js

fix: test updating the SVG Icon build script to include the build prep task
  packages/components/bolt-icons/build-icons.js
Due: npm run lint:js

chore: clean up and remove old packages and files no longer needed from the original @bolt/components-icons package
  packages/components/bolt-icons/.babelrc
  packages/components/bolt-icons/package.json
Due: none

refactor: wire up new icon build task to @bolt/build-tools + add build and watch tasks to the build tools' task collection
  packages/build-tools/package.json
  packages/build-tools/tasks/icon-tasks.js
  packages/build-tools/tasks/task-collections.js
  yarn.lock
Due: npm run lint:js

docs: Update information related PHP 7.3
  docs-site/src/pages/docs/50-guides/01-preparing-your-environment.md
Due: none

fix: button border-radius default
  packages/components/bolt-button/src/button.standalone.js
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

fix: lint js
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

fix: Prettier issue
  packages/components/bolt-icons/build-icons.js
Due: npm run lint:js

dosc: Update docs for PHP 7.3 users
  docs-site/.incache
  docs-site/src/pages/docs/50-guides/01-preparing-your-environment.md
Due: none

docs: add missing periods
  packages/components/bolt-link/link.schema.yml
Due: none

chore: nightwatch tweak
  .travis.yml
  scripts/check-run.js
  scripts/nightwatch-sauce.js
Due: none

chore: add video output for Nightwatch
  scripts/nightwatch-sauce.js
Due: none

chore: logging total tests collected
  scripts/nightwatch-sauce.js
Due: none

set up nightwatch globals
  nightwatch-globals.js
  nightwatch.js
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
  test/e2e/bolt-site.e2e.js
  test/e2e/pattern-lab.e2e.js
Due: npm run lint:js

using global testingUrl
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
  test/e2e/bolt-site.e2e.js
  test/e2e/pattern-lab.e2e.js
Due: npm run lint:js

fix: ensure all default Sass spacing scale config can be overwritten (ex. lang-specific spacing options like we have with Japanese)
  packages/core/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:style

fix: update Webpack build and server config to better account for situations where lang can be defined as a string, an array with one item, and an array with multiple items
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

fix: update Twig header / footer for docs site to still work when lang is set to a string, an array with a single value, and an array with multiple values
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

global report test
  nightwatch-globals.js
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
Due: npm run lint:js

chore: update incache setup to expire in 30 days to prevent file changes every 5 minutes for devs
  packages/build-tools/utils/bolt-versions.js
Due: npm run lint:js

fix: bypass cache when doing a full tagged release + fix deploy script to not update the main docs site url when doing pre-releases
  packages/build-tools/utils/bolt-versions.js
  scripts/deploy.js
Due: npm run lint:js

chore: persist global data on nightwatch
  nightwatch.js
Due: none

chore: tweak nightwatch globals
  nightwatch-globals.js
Due: none

chore: adjust globals ref
  nightwatch-globals.js
  nightwatch.js
Due: none

chore: another thing has changed
  nightwatch-globals.js
Due: none

chore: update .incache to include longer max life config
  docs-site/.incache
Due: none

storing nightwatch result data in filesystem
  nightwatch-globals.js
Due: none

removing old allResults approach
  scripts/nightwatch-sauce.js
Due: none

chore: fix file path
  nightwatch-globals.js
Due: none

refactor: include basic slot support in the existing image, logo, and text component's Twig files
  packages/components/bolt-headline/src/_typography.twig
  packages/components/bolt-image/src/image.twig
  packages/components/bolt-logo/src/logo.twig
  packages/components/bolt-text/src/text.twig
Due: none

refactor: update slotted selectors to work with first/last-child + class-based equivalents
  packages/components/bolt-blockquote/src/blockquote.scss
Due: npm run lint:style
