Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

ds-306: fix desktop primary nav full width item
  packages/components/bolt-page-header/src/_page-header-desktop.scss
Due: npm run lint:style

ds-306: fix min width
  packages/components/bolt-page-header/src/_page-header-desktop.scss
Due: npm run lint:style

ds-214: code cleanup
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-discussion-list.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-302: first pass at band update
  packages/components/bolt-band/band.schema.js
  packages/components/bolt-band/src/band.twig
Due: npm run lint:js

DS-302: return pinned_content
  packages/components/bolt-band/src/band.twig
Due: none

DS-302: update pinned content to match, fix class print error
  packages/components/bolt-band/src/band.twig
Due: none

DS-302: make middle an option for valign, put attributes back, fixed contentTag deprecation
  packages/components/bolt-band/band.schema.js
  packages/components/bolt-band/src/band.twig
Due: npm run lint:js

ds-291: update copy
  docs-site/src/pages/pattern-lab/_patterns/40-components/popover/05-popover.twig
Due: none

ds-291: remove old demo
  docs-site/src/pages/pattern-lab/_patterns/40-components/popover/25-popover-theme-variations.twig
Due: none

ds-174: fix starter kit
  packages/base-starter-kit/package.json
  packages/layouts/bolt-layout/package.json
Due: none

ds-174: comment out schema validations
  packages/layouts/bolt-layout/layout.schema.js
  packages/layouts/bolt-layout/src/layout-item.twig
  packages/layouts/bolt-layout/src/layout.twig
Due: npm run lint:js

DS-302: fix band schema error
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
  packages/components/bolt-band/band.schema.js
Due: npm run lint:js

DS-302: add only to demo include
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/35-background-valign-variations.twig
Due: none

DS-311: filter out the style prop to avoid conflict with jquery
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

ds-291: add edge 42 fallback value for popover bubble width
  docs-site/src/pages/pattern-lab/_patterns/40-components/popover/25-popover-use-case-custom-width.twig
  packages/components/bolt-popover/src/popover.scss
Due: npm run lint:style

DS-311: filter out button style prop
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

DS-311: Filter out `style` prop from button WC
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v2.30.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-302: Updated jest tests
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
Due: none

ds-214: remove icon background
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/-discussion-list.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
Due: npm run lint:style

DS-302: update snapshots for modal and sticky
  packages/components/bolt-modal/__tests__/__snapshots__/modal.js.snap
  packages/components/bolt-sticky/__tests__/__snapshots__/sticky.js.snap
Due: none

DS-238: Remove polyfills from webpack config and include via lazyqueue and elements
  packages/base-element/index.js
  packages/base-lazy-queue/index.mjs
  packages/base-lazy-queue/package.json
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

DS-238: Get config asynchronously via `explorer.search()`
  packages/build-tools/cli.js
Due: npm run lint:js

DS-238: Skip brightcove entry when building in 'drupal' env
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

ds-312: mock up homepage layout
  docs-site/src/assets/images/backgrounds/teal-stripes.png
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/00-homepage.twig
Due: none

ds-312: set up gallery page
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/05-gallery.twig
Due: none

DS-238: yarn lock
  yarn.lock
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.0.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

ds-291: Upgrade chromedriver to fix failing Travis build
  packages/testing/testing-nightwatch/package.json
  scripts/package.json
  yarn.lock
Due: none

ds-312: mock up gallery page
  docs-site/src/assets/images/content/promos/promo-16x9-mask.jpg
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/00-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/05-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/_default-page-template.twig
  packages/elements/bolt-text-link/src/text-link.scss
Due: npm run lint:style

DS-315: Format icon file with prettier instead of with node-fs
  packages/build-tools/tasks/icon-tasks.js
Due: npm run lint:js

DS-315: Update icon schema formatting
  packages/components/bolt-icon/icon.schema.json
Due: none

ds-312: set up listing page
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/05-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/10-listing-pw.twig
Due: none

DS-238: Remove build-tools from micro-journeys
  packages/experimental/micro-journeys/package.json
Due: none

DS-238: Remove uikit-polyfills, replace with Bolt polyfills
  packages/website-ui/uikit-polyfills/CHANGELOG.md
  packages/website-ui/uikit-polyfills/index.js
  packages/website-ui/uikit-polyfills/package.json
  packages/website-ui/uikit-workshop/package.json
  packages/website-ui/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

DS-238: Update testing-utils to 3.0
  package.json
  yarn.lock
Due: none
