Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

refactor: temporarily remove penthouse and critical css-related deps from uikit-workshop; merge devDeps and deps together
  packages/uikit-workshop/package.json
  packages/uikit-workshop/webpack.config.js
  packages/uikit-workshop/yarn.lock
Due: npm run lint:js

refactor: add composer setup commands to packages with php dependencies
  docs-site/composer.json
  docs-site/package.json
  packages/components/bolt-share/README.md
  packages/core-php/composer.json
  packages/drupal-stubs/composer.json
  packages/drupal-stubs/composer.lock
  packages/drupal-stubs/package.json
  packages/twig-extensions/composer.json
  packages/twig-renderer/composer.json
  packages/twig-renderer/package.json
Due: none

refactor: temporarily remove penthouse dependency + disable critical css build task
  packages/build-tools/package.json
  packages/build-tools/tasks/criticalcss-tasks.js
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

refactor: add babel-cli dep to babel config
  packages/config-presets/babel-preset-bolt/package.json
Due: none

refactor: clean up webpack config
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

refactor: clean up and consolidate npm scripts
  .stylelintrc
  package.json
  yarn.lock
Due: none

test: temporarily disable inlined Bolt data in docs site head to see impact on build times
  docs-site/templates/_site-head.twig
Due: none

WIP: testing per-component babel transpiling for potential perf boost
  packages/components/bolt-button/.babelrc
  packages/components/bolt-button/package.json
Due: none

fix: fixing broken travis commands
  .travis.yml
Due: none

Delete .babelrc
  packages/components/bolt-button/.babelrc
Due: none

Update package.json
  packages/components/bolt-button/package.json
Due: none

style: stylelint fixes
  packages/components/bolt-link/src/link.scss
Due: npm run lint:style

fix: remove extra whitespace in and around links in twig
  packages/components/bolt-link/src/_link-macros.twig
  packages/components/bolt-link/src/link.twig
Due: none

style: prettier fixes
  packages/components/bolt-link/src/link.js
Due: npm run lint:js

refactor: update npm scripts + move certain dependencies over to be optionally installed (via devDependencies)
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/sass-export-data/package.json
  packages/core-php/composer.json
  packages/core-php/package.json
  packages/twig-extensions/composer.json
  packages/twig-extensions/package.json
  packages/uikit-workshop/package.json
Due: none

refactor: add package.json for custom webpack sassdoc plugin
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/sassdoc-webpack-plugin.js
Due: npm run lint:js

chore: update webpack dependencies
  packages/build-tools/package.json
Due: none

refactor: remove old twig-extensions package — no longer needed or used
  packages/twig-extensions/README.md
  packages/twig-extensions/composer.json
  packages/twig-extensions/composer.lock
  packages/twig-extensions/filters/webpack.filter.php
  packages/twig-extensions/functions/get_config.function.php
  packages/twig-extensions/functions/glob.function.php
  packages/twig-extensions/functions/inline.function.php
  packages/twig-extensions/functions/lastmodified.function.php
  packages/twig-extensions/functions/scandir.function.php
  packages/twig-extensions/globals/bolt.global.php
  packages/twig-extensions/package.json
  packages/twig-extensions/postinstall.js
Due: npm run lint:js

feat: migrate over and rename "drupal-stubs" to "drupal-twig-extensions"
  docs-site/composer.json
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.json
  packages/drupal-twig-extensions/composer.lock
  packages/drupal-twig-extensions/package.json
  packages/drupal-twig-extensions/src/Core/Template/Attribute.php
  packages/drupal-twig-extensions/src/Core/Template/AttributeArray.php
  packages/drupal-twig-extensions/src/Core/Template/AttributeBoolean.php
  packages/drupal-twig-extensions/src/Core/Template/AttributeString.php
  packages/drupal-twig-extensions/src/Core/Template/AttributeValueBase.php
  packages/drupal-twig-extensions/src/Core/Url.php
  packages/twig-renderer/SetupTwigRenderer.php
  packages/twig-renderer/composer.json
  packages/twig-renderer/package.json
Due: none

chore: add twig-renderer as a dependency to the Bolt docs site
  docs-site/package.json
Due: none

feature: only output icon wrapper span when slot has content
  packages/components/bolt-link/src/link.js
Due: npm run lint:js

refactor: remove old PHP renderer — no longer used in lieu of twig rendering service
  docs-site/TwigRendererApi.php
Due: none

refactor: update webpack to use browsersync for more stable server reloads; break out webpack config handling verbosity into separate include
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/webpack-verbosity.js
Due: npm run lint:js

fix: remove basic PL Twig extensions — had been causing the static site renderer to use the dumbed down version of the "without" twig filter which doesn't actually work
  packages/core-php/src/TwigRenderer.php
Due: none

chore: update watch paths for the pattern lab and static site generator tasks
  packages/build-tools/package.json
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

feat: add font-display swap to Bolt global's font stack
  packages/global/styles/03-generic/_generic-font-stacks.scss
Due: npm run lint:style

feat: upgrade Node to 10.14 (latest stable version)
  .nvmrc
Due: none

fix: update image task to not output image assets where the file originated from
  docs-site/.boltrc.js
  docs-site/src/index.js
  packages/build-tools/package.json
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: remove line breaks before and after lit-html template tags, causes unwanted space on inline elements
  packages/components/bolt-link/src/link.js
  packages/core/renderers/renderer-lit-html.js
Due: npm run lint:js

fix: remove line breaks from link web component examples, can cause unwanted space inside and around links
  apps/pattern-lab/src/_patterns/02-components/link/20-custom-element-links.twig
Due: none

chore: fix stylelint and eslint paths
  .eslintignore
  .stylelintrc
  packages/twig-renderer/composer.lock
Due: none

fix: update button component twig template based on new snapshot rendering tests + snapshot failure-related updates
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-button/src/button.twig
Due: npm run lint:js

fix: fixing internal PHP dependency mis-match
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
Due: none

refactor: clean up manifest data pulled into the site head / footer
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

chore: clean up build tasks
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js
