Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore(micro-journeys): remove destructured assignment to prevent truthy undefined string when default is empty string
  packages/micro-journeys/src/character.js
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-pathways.schema.js
  packages/micro-journeys/src/interactive-step.js
  packages/micro-journeys/src/status-dialogue-bar.js
Due: npm run lint:js

chore(micro-journeys): make character useIcon default to true; would have been truthy 'undefined' before
  packages/micro-journeys/src/character.schema.js
Due: npm run lint:js

fix(self-drawing-circle): PL animation fix
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/svg-animations/10-self-drawing-circle.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/01-with-without--no-shadow-dom.twig
Due: none

debug(self-drawing-circle) DO NOT MERGE; debug code only
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

fix(self-drawing-circle): horizontal scroll on edge/ie in PL
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/svg-animations/10-self-drawing-circle.twig
Due: none

fix(with-without): add check for toggler, bail if not found; overload handleResize and call to fix overlap bug on tablet
  packages/with-without/js/handleResize.js
  packages/with-without/js/with-without.js
Due: npm run lint:js

feat(with-without): add visual cues to see if with-without properly breaks out of padding
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/00-with-without.twig
Due: none

style(with-without): eslinting
  packages/with-without/js/handleResize.js
Due: npm run lint:js

fix: incorret character schema default fixed
  packages/micro-journeys/src/character.schema.js
Due: npm run lint:js

fix: update with/without to use the latest version of Bolt Core
  packages/with-without/package.json
  yarn.lock
Due: none

feat(with-without): fire animations on intersection; clean up dom querying
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/05-with-without-intersection-test.twig
  packages/with-without/js/with-without.js
  packages/with-without/with-without.twig
Due: npm run lint:js

chore(with-without): add placeholder links to fix anchor to top 'bug' caused but '#' links
  packages/with-without/with-without.twig
Due: none

fix(with-without): remove horizontal scroll when vertical scrollbar present on IE/Edge
  packages/with-without/with-without.scss
Due: npm run lint:style

fix(self-drawing-circle): move transforms outside of spin animation to fix Edge jerkiness
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.scss
Due: npm run lint:js, npm run lint:style

style(with-without): phrasing cleanup in comments
  packages/with-without/with-without.scss
Due: npm run lint:style

style(with-without): add comment
  packages/with-without/js/with-without.js
Due: npm run lint:js

fix: update all micro journey cta to use bolt link over text
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/starters/cta-text-2.html
  packages/micro-journeys/starters/cta-text-3.html
  packages/micro-journeys/starters/cta-text-4.html
  packages/micro-journeys/starters/cta-text-5.html
  packages/micro-journeys/starters/cta-text-lorem.html
  packages/micro-journeys/starters/one-character-1.html
  packages/micro-journeys/starters/one-character-lorem.html
  packages/micro-journeys/starters/steo-one-character-lorem.html
  packages/micro-journeys/starters/steo-two-character-lorem.html
  packages/micro-journeys/starters/two-characters-3.html
Due: npm run lint:js

fix(micro-journeys): Context JS error when animations have no parent bolt-interactive-pathways w/ context
  packages/core/utils/context/with-context.js
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

style(svg-animations): tweak schema language
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.schema.js
Due: npm run lint:js

fix: add ':scope' polyfill, required by ssr-hydrate function
  packages/core/package.json
  packages/core/polyfills/index.js
Due: npm run lint:js

refactor: remove extra unused code in the self-drawing-circle component + rename class
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

fix: add static "is" for registering the component
  packages/components/bolt-ratio/src/ratio.js
Due: npm run lint:js

feat: turn off left-right keyboard control of carousels, conflicting with tabs keyboard control
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

feat: refactor carousel init, eliminating unnecessary re-inits, add 'will-update' feature to link carousel to accordion and tabs change events
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js

fix: remove `is="shadow-root"` to prevent HTML from getting mistakenly nuked when booting up
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

feat: add accordion demo, testing `slidesPerView` option
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/40-accordion-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/30-tabs-content.twig
Due: none

refactor: add self-drawing-circle demo
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/svg-animations/10-self-drawing-circle.twig
  packages/with-without/wwo-self-drawing-circle/__demos__/self-drawing-circle.demo.twig
Due: none

chore: update dependencies + UIKit package versions
  docs-site/composer.lock
  packages/core/package.json
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
  packages/uikit-workshop/package.json
  packages/uikit-workshop/webpack.config.js
  yarn.lock
Due: npm run lint:js

fix: fix linting issues
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

fix: z-index clash between dropdown menu and status bars
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:style

feat: speed up default exit animation to create a smoother experience
  packages/components/bolt-animate/animate.schema.js
Due: npm run lint:js

fix: hidden pagination in IE11
  packages/components/bolt-carousel/src/_carousel.pagination.scss
Due: npm run lint:style

fix: this not self
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

chore: run setup
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  yarn.lock
Due: none

chore: update composer.lock
  packages/core-php/composer.lock
Due: none

refactor: rename class functions for clarity
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

chore(with-without): add todo comments when bolt-ratio would be appropriate
  packages/with-without/with-without.scss
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.scss
Due: npm run lint:style

Revert "debug(self-drawing-circle) DO NOT MERGE; debug code only"
  packages/with-without/wwo-self-drawing-circle/self-drawing-circle.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
