Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

test: retesting updates to shell util in build process
  apps/bolt-site/templates/site.twig
  packages/build-tools/utils/sh.js
  yarn.lock
Due: npm run lint:js

fix: re-enabling sauce_connect
  .travis.yml
Due: none

fix: icon background color and position
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

test: retesting error handling on travis
  packages/build-tools/package.json
  packages/build-tools/utils/sh.js
Due: npm run lint:js

fix: align default
  apps/pattern-lab/src/_patterns/02-components/text/-text-display-variations.twig
  packages/components/bolt-text/README.md
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:style

fix: schema naming change from camelCase to kabab-case
  apps/pattern-lab/src/_patterns/02-components/text/-text-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/-text-tag-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  apps/pattern-lab/src/_patterns/02-components/text/15-text-link.twig
  apps/pattern-lab/src/_patterns/02-components/text/20-text-quoted.twig
  apps/pattern-lab/src/_patterns/02-components/text/25-text-size-and-weight-variations.twig
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js

test: revert shell script util updates to troubleshoot travis build error. test using npm commands instead of yarn commands while doing build.
  .travis.yml
  package.json
  packages/build-tools/utils/sh.js
Due: npm run lint:js

test: retesting travis + npm script updates
  .travis.yml
  package.json
Due: none

test: re-testing express server logic that closes everything down
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

test: retesting travis build
  package.json
Due: none

test: re-testing travis with cache disabled
  .travis.yml
Due: none

fix: retest composer install
  package.json
Due: none

fix: re-enabling docs site prod build
  package.json
Due: none

fix: updating docs site homepage E2E test
  tests/e2e/pattern-lab-compiling.js
Due: none

chore: revert package.json and travis config changes not needed for this initial fix
  .travis.yml
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: none

docs: Set initially active item in nav priority demo (BDS-380)
  apps/pattern-lab/src/_patterns/02-components/nav-priority/00-nav-priority.twig
Due: none

fix: disable postbootstrap command
  package.json
Due: none

Update nightwatch.js
  nightwatch.js
Due: none

fix: update dropdown menu Twig template block location so vanilla Twig embeds are still fully server-side rendered before the JS kicks in
  packages/components/bolt-dropdown/_dropdown-item.twig
  packages/components/bolt-dropdown/dropdown.twig
Due: none

fix: clean up dropdown menu custom element demo (remove dead links + add extra links to the extra long demo example)
  apps/pattern-lab/src/_patterns/02-components/dropdown/30-dropdown-custom-element-demo-collection.twig
Due: none

refactor: refactoring + cleanup
  packages/styleguidekit-assets-bolt/src/components/pl-modal-viewer/modal-viewer.js
  packages/styleguidekit-assets-bolt/src/components/pl-panels-viewer/panels-viewer.js
  packages/styleguidekit-assets-bolt/src/html/index.twig
  packages/styleguidekit-assets-bolt/src/html/partials/controls.twig
  packages/styleguidekit-assets-bolt/src/sass/scss/01-abstracts/_mixins.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/01-abstracts/_variables.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/02-base/_body.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_header.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_ish-sizing.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_modal.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_navigation.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_tools.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/03-components/_viewport.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/04-vendor/_typeahead.scss
  packages/styleguidekit-assets-bolt/src/sass/scss/05-themes/_sidebar-theme.scss
Due: npm run lint:js, npm run lint:style

refactor: remove pw-site from apps
  apps/pw-site/.boltrc.js
  apps/pw-site/.gitignore
  apps/pw-site/.npmignore
  apps/pw-site/composer.json
  apps/pw-site/composer.lock
  apps/pw-site/package.json
  apps/pw-site/readme.md
  apps/pw-site/renderTwig.php
  apps/pw-site/src/content/00-index.md
  apps/pw-site/src/index.js
  apps/pw-site/src/index.scss
  apps/pw-site/src/templates/pw-video.twig
  apps/pw-site/src/templates/site.twig
  packages/build-tools/package-lock.json
Due: npm run lint:js, npm run lint:style

chore: upgrade deps + remove references to pw-site in package.json npm scripts
  package.json
  packages/build-tools/package.json
  yarn.lock
Due: none

fix: remove PL post install commands no longer needed with new build process
  apps/pattern-lab/composer.json
Due: none

fix: update bolt-core sass path to fix broken webpack build
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

refactor: update build tools to not automatically clean the build folder every time to speed up bootup times of build tools
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: update navbar demo to test additional use cases (dead links + extra long title)
  apps/pattern-lab/src/_patterns/02-components/sticky/-15-sticky-with-content-example.twig
Due: none

fix: allow navbar title to wrap to multiple lines + adjust flex behavior of priority nav
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

fix: update priority nav logic to only show nav items that fit until it encounters one that doesn't
  packages/components/bolt-nav-priority/nav-priority.js
Due: npm run lint:js

fix: update smooth scroll logic to check to make sure ID's exist on the page before trying to scroll
  packages/components/bolt-navlink/navlink.js
  packages/components/bolt-smooth-scroll/src/smooth-scroll.js
Due: npm run lint:js

fix: update smooth scroll library to use fork till https://github.com/cferdinandi/smooth-scroll/pull/443 is resolved
  packages/components/bolt-smooth-scroll/package.json
  packages/components/bolt-smooth-scroll/src/smooth-scroll.js
  yarn.lock
Due: npm run lint:js

fix: allow navbar title to wrap to multiple lines (BDS-424, BDS-367)
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

fix: add better check for display: contents browser support (BDS-426)
  packages/core/styles/02-tools/tools-browser-support/_tools-browser-support.scss
Due: npm run lint:style

fix: use improved check for "display: contents" support in nav (BDS-426)
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

Restore gumshoe offset to navbar.
  packages/components/bolt-nav-priority/nav-priority.twig
Due: none
