Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

style(micro-journeys): sass lint
  packages/micro-journeys/src/interactive-pathway.scss
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

feat(micro-journeys): add bold on hover to nav title
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:style

fix(micro-journeys): title overflow at 320px
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:style

feat(editor): add url and disabled to button in editor
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

chore: add demo of IE 11 issue with super simplified with/without JS code
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/with-without/10-with-without-simplified.twig
  packages/with-without-simplified/_wwo-toggle-simplified.scss
  packages/with-without-simplified/index.js
  packages/with-without-simplified/package.json
  packages/with-without-simplified/with-without-simplified.scss
  packages/with-without-simplified/with-without-simplified.twig
Due: npm run lint:js, npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.8.0-beta.4
  packages/core-php/composer.json
  packages/core-php/composer.lock
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

chore(bolt): increment testing utils in root package json to fix nhandledPromiseRejectionWarning: Error
  package.json
Due: none

[skip travis] chore(release): publish v2.8.0-beta.4
  docs-site/.incache
Due: none

chore(bolt): increment testing utils in root package json to fix UnhandledPromiseRejectionWarning: Error
  package.json
Due: none

chore: bump utils package version
  package.json
Due: none

chore: add component details page
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/bds-redesign/wip-component-page-redesign.twig
Due: none

test: increase threshold on tabs jest tests
  packages/components/bolt-tabs/__tests__/tabs.js
Due: npm run lint:js

feat: remove useShadow from accordion context, let base class handle that
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

fix: move `ssrHydrationPrep` to base and rework to prevent bugs when components are nested
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-tabs/src/tabs.js
  packages/core/renderers/bolt-base.js
Due: npm run lint:js

fix: add custom event to accordions and tabs to emit when layout changes
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js

feat: replace `bolt-text` with `div` in demo, causing unwanted bottom margin
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/999-accordion-web-component.twig
Due: none

style: eslint
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

test: test faster travis build
  .travis.yml
  .yarnrc
Due: none

chore: update travis config
  .travis.yml
Due: none

test: re-test faster travis checks
  .travis.yml
  package.json
Due: none

chore: add additional folder caches
  .travis.yml
Due: none

test: disable clean task + enable cache in prod mode
  docs-site/.boltrc.js
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

test: disable "fast" Jest test job
  .travis.yml
Due: none

test: retest quick Nightwatch tests running just Chrome
  package.json
Due: none

test: switch back to composer install vs update
  package.json
Due: none

test: retest Jest with maxWorkers config set
  package.json
Due: none

test: update maxWorkers back down to 1
  package.json
Due: none

revert: increase maxWorkers + have Jest auto clean www dir automatically
  package.json
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

fix: update cache path
  .travis.yml
Due: none

fix: fix prettier issue
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

test: retest Jest
  .travis.yml
Due: none

fix: remove gif causing issues with sharp image library
  docs-site/src/assets/images/docs/bolt-nav-priority-only.gif
Due: none

styles: add pinned links
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/bds-redesign/wip-component-page-redesign.twig
Due: none

fix(with-without): force full-bleed as per comps; simplify CSS in desktop circle for stability
  packages/with-without/with-without.scss
Due: npm run lint:style

fix: testing copy
  packages/components/bolt-list/TESTING.md
Due: none

fix(with-without): tablet height overflow on load; force resize
  packages/with-without/js/with-without.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
