Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

feat: Add Github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: update opacity logic to output correct values in CSS var fallback; update card component to use new opacity parameter in the bolt-theme function
  packages/components/bolt-card/src/card.scss
  packages/core/styles/01-settings/settings-themes/index.scss
  packages/themify/src/index.js
Due: npm run lint:js, npm run lint:style

fix: re-add missing build-tools dependency
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

chore: cleaning up browsersync info outputted to the terminal; webpack-dashboard to pl-specific build
  apps/pattern-lab/package.json
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/webpack-tasks.js
  yarn.lock
Due: npm run lint:js

feat: Remove all vertical padding on video share overlay (BDS-495)
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

fix: tighten up content inside share dialog
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

fix: even tighter
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

Implement Sassdoc - Round #1
  packages/core/styles/01-settings/00-settings-lang/_settings.lang-ja.scss
  packages/core/styles/01-settings/_settings-z-index.scss
  packages/core/styles/01-settings/settings-breakpoints/_settings-breakpoints.scss
  packages/core/styles/01-settings/settings-colors/_settings-colors.scss
  packages/core/styles/01-settings/settings-font-family/_settings-font-family.scss
  packages/core/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/core/styles/01-settings/settings-font-weight/_settings-font-weight.scss
  packages/core/styles/01-settings/settings-global/_settings-global.scss
  packages/core/styles/01-settings/settings-shadow/_settings-shadow.scss
  packages/core/styles/01-settings/settings-spacing/_settings-spacing.scss
  packages/core/styles/02-tools/tools-breakpoint/_tools-breakpoint.scss
  packages/core/styles/02-tools/tools-browser-support/_tools-browser-support.scss
  packages/core/styles/02-tools/tools-color-palette/_tools-color-palette.scss
  packages/core/styles/02-tools/tools-font-family/_tools-font-family.scss
  packages/core/styles/02-tools/tools-font-size/_tools-font-size.scss
  packages/core/styles/02-tools/tools-font-weight/_tools-font-weight.scss
  packages/core/styles/02-tools/tools-shadow/_tools-shadow.scss
  packages/core/styles/02-tools/tools-z-index/_tools-z-index.scss
Due: npm run lint:style

Sassdoc utils - updated code block macro to format mixins and functions correctly
  apps/pattern-lab/src/_includes/utils/sassdocs.twig
Due: none

Sassdoc utils - updated code block macro to remove blank space after closing mixin/function bracket
  apps/pattern-lab/src/_includes/utils/sassdocs.twig
Due: none

refactor: rename themify to postcss-themify; move to build-tools/plugins; cleanup
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/plugins/postcss-themify/README.md
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/helpers/css.util.js
  packages/build-tools/plugins/postcss-themify/src/index.js
  packages/themify/src/index.js
Due: npm run lint:js

fix: fix action block border css var
  packages/components/bolt-action-blocks/src/action-blocks.scss
Due: npm run lint:style

refactor: adding additional helper functions for checking for valid CSS var names + identifying theme-specific CSS vars
  packages/core/styles/01-settings/settings-themes/_helpers.scss
  packages/core/styles/01-settings/settings-themes/index.scss
  packages/core/styles/02-tools/tools-css-vars/_tools-css-vars.scss
  packages/core/styles/02-tools/tools-themes/_tools.themes.scss
Due: npm run lint:style

chore: update package dependencies to prep for upcoming v2.0.0 release
  apps/pattern-lab/src/components/schema-form/package.json
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/components/bolt-critical-css-vars/package.json
  packages/config-presets/config-eslint/package.json
  packages/config-presets/config-stylelint/package.json
  packages/core/package.json
Due: none

refactor: clean up and improve Pattern Lab build task compilation messages
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

refactor: revert enabling webpack-dashboard temporarily till larger updates + performance optimizations in place; wire up fast-sass-loader to improve build process compilation times
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/package.json
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

chore: remove package-lock; update yarn.lock with latest deps
  package-lock.json
  yarn.lock
Due: none

chore: update package deps
  apps/bolt-site/package.json
  yarn.lock
Due: none

fix: update jest monorepo test to only test against actual package.json files that exist in the codebase, ignoring anything in a node_modules folder.
  scripts/monorepo.test.js
Due: none

fix: update to address linting issues
  packages/core/styles/01-settings/settings-shadow/_settings-shadow.scss
  packages/core/styles/01-settings/settings-spacing/_settings-spacing.scss
  packages/core/styles/02-tools/tools-spacing/_tools-spacing.scss
Due: npm run lint:style

fix: packages/build-tools/.snyk & packages/build-tools/package.json to reduce vulnerabilities
  packages/build-tools/.snyk
  packages/build-tools/package.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore: update max timeout for monorepo jest test
  scripts/monorepo.test.js
Due: none

fix: update jest monorepo test to exclude bower_components; revert globbing package workspaces to speed up test suite
  apps/drupal-lab/web/themes/flash/package.json
  package.json
  scripts/monorepo.test.js
  yarn.lock
Due: none

fix: re-add missing package to yarn workspaces
  package.json
Due: none

fix: remove image-to-ascii dependency that's tripping up the Travis build
  package.json
  yarn.lock
Due: none

fix: revert removing parallelism cap in build tools -- still required till even better solution in @bolt/postcss-themify is figured out.
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: remove hoist flag from lerna.json config
  lerna.json
Due: none

fix: add missing url-loader to build; force yarn to pull in forked version of fast-sass-loader that properly passes along custom functions to node-sass
  packages/build-tools/package-lock.json
  packages/build-tools/package.json
  yarn.lock
Due: none

chore: update travis config to use latest version of yarn
  .travis.yml
Due: none

Implement Sassdoc - Round #2 (remainder of initial documentation)
  packages/core/styles/02-tools/tools-browser-support/_tools-browser-support.scss
  packages/core/styles/02-tools/tools-button-color/_tools-button-color.scss
  packages/core/styles/02-tools/tools-clearfix/_tools-clearfix.scss
  packages/core/styles/02-tools/tools-css-vars/_tools-css-vars.scss
  packages/core/styles/02-tools/tools-font-face/_tools-font-face.scss
  packages/core/styles/02-tools/tools-font-kerning/_tools-font-kerning.scss
  packages/core/styles/02-tools/tools-font-size/_tools-font-size.scss
  packages/core/styles/02-tools/tools-linear-interpolation/_tools-linear-interpolation.scss
  packages/core/styles/02-tools/tools-list-remove/_tools-list-remove.scss
  packages/core/styles/02-tools/tools-list-sort/_tools-list-sort.scss
  packages/core/styles/02-tools/tools-map-sort/_tools-map-sort.scss
  packages/core/styles/02-tools/tools-no-select/_tools-no-select.scss
  packages/core/styles/02-tools/tools-poly-fluid-sizing/_tools-poly-fluid-sizing.scss
  packages/core/styles/02-tools/tools-px-to-rem/_tools-px-to-rem.scss
  packages/core/styles/02-tools/tools-scrolling/_tools-scrolling.scss
  packages/core/styles/02-tools/tools-spacing/_tools-spacing.scss
  packages/core/styles/02-tools/tools-spacing/libs/_tools-collapse-directionals.scss
  packages/core/styles/02-tools/tools-spacing/libs/_tools-contains-falsy.scss
  packages/core/styles/02-tools/tools-spacing/libs/_tools-directional-property.scss
  packages/core/styles/02-tools/tools-strip-unit/_tools-strip-unit.scss
  packages/core/styles/02-tools/tools-text-contrast/_tools-text-contrast.scss
  packages/core/styles/02-tools/tools-uppercase/_tools-uppercase.scss
  packages/core/styles/02-tools/tools-visuallyhidden/_tools-visuallyhidden.scss
  packages/core/styles/index.scss
Due: npm run lint:style

test: testing Node version bump on Travis
  .nvmrc
Due: none

test: re-testing workaround to parallel build bottleneck
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

Update index.js
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

fix: exclude chai tests in sass-export-data from jest testing
  jest.config.js
Due: none
