Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: pull in small CSS logo fix for ie 11 on windows 7
  packages/uikit-workshop/src/scripts/lit-components/pl-logo/pl-logo.scss
Due: npm run lint:style

feat(micro-journeys): prevent body content render on inactive steps
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

style(micro-journeys): eslint js error fixes
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

chore(micro-journeys): remove code for render forgo on inactive step, see PR #1530
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

feat(micro-journeys): add w and w/o shadow dom PL visual tests for character layouts
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/15-character-kitchen-sink.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

style(micro-journeys): remove commented-out css
  packages/micro-journeys/src/one-character-layout.scss
Due: npm run lint:style

chore(micro-journeys): remove debug code from two-char layout
  packages/micro-journeys/src/two-character-layout.js
Due: npm run lint:js

chore: yarn lock
  yarn.lock
Due: none

refactor: move optimized-resize to core, add `debouncedResize` event
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-image/src/image.js
  packages/components/bolt-nav-indicator/nav-indicator.js
  packages/components/bolt-nav-priority/nav-priority.js
  packages/components/bolt-tabs/src/tabs.js
  packages/core/utils/debounce.js
  packages/core/utils/index.js
  packages/core/utils/optimized-resize.js
Due: npm run lint:js

fix(micro-journeys): don't render inactive pathway; fix render issues on pathway and step
  packages/components/bolt-animate/utils.js
  packages/micro-journeys/src/interactive-pathway.js
  packages/micro-journeys/src/interactive-step.js
Due: npm run lint:js

style(bolt-animate): jslinting
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

chore(micro-journeys): adding comment about shadow dom not workiung
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/_shadow-dom-demo.twig
Due: none

fix: update Image component lazyloading logic to properly scope lazySizes.elements check + ensure lazySizes knows to check late loaded / dynamically injected images
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

test: update e2e Nightwatch tests to check to confirm late injected, lazy loaded images load as expected
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example-data.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/personalized-card--client-rendered/personalized-card-example--client-rendered-tests.twig
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

fix: fix prettier issue
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

chore: add comment to e2e test
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

chore: component setup
  docs-site/.boltrc.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/00-popover-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/05-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/00-test.twig
  packages/components/bolt-popover/CHANGELOG.md
  packages/components/bolt-popover/README.md
  packages/components/bolt-popover/TESTING.md
  packages/components/bolt-popover/__tests__/popover.js
  packages/components/bolt-popover/index.js
  packages/components/bolt-popover/index.scss
  packages/components/bolt-popover/package.json
  packages/components/bolt-popover/popover.schema.yml
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-popover/src/popover.twig
Due: npm run lint:js, npm run lint:style

style: base design
  packages/components/bolt-popover/src/popover.scss
Due: npm run lint:style

fix: update Chrome Driver to the latest version of Chrome to fix issues running Nightwatch locally
  packages/testing/testing-nightwatch/package.json
  yarn.lock
Due: none

fix: don't try and auto-assign Selenium port when doing local Nightwatch development
  packages/testing/testing-nightwatch/nightwatch.local.js
Due: npm run lint:js

fix: update auto-release script to use correct args to Auto plugin
  auto-release.js
Due: none

chore: update auto-release script
  auto-release.js
Due: none

chore: update .autorc config to include new 'patch' and 'minor' label options
  .autorc
Due: none

chore: update Title used in release notes
  .autorc
Due: none

chore: fix formatting
  auto-release.js
Due: none

fix: update Nightwatch test selector + demo code to render the client-side image used for testing w/o a Shadow DOM
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example-data.js
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

test: Create failing test for renderable content as a list item
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/__tests__/-list-with-object-in-item.twig
  packages/components/bolt-list/__tests__/bolt-list.e2e.js
Due: npm run lint:js

fix: Update list item to allow renderable arrays or objects
  packages/components/bolt-list/list.schema.yml
  packages/components/bolt-list/src/_list-item.twig
Due: none

[skip travis] chore: temporarily disable Nightwatch test till Sauce Labs issue troubleshooted
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

fix: Allow render arrays as table cell content
  packages/components/bolt-table/src/table.twig
  packages/components/bolt-table/table.schema.yml
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.10.1
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

[skip travis] chore(release): release v2.10.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/core-php/CHANGELOG.md
  packages/core-php/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

[skip travis] chore(release): release v2.10.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore(release): manually publish @bolt/core-php
  packages/core-php/composer.json
  packages/core-php/package.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

feat(bolt-animate): explicitly specify children being animate in event for clear separation of concerns, remove debug code
  packages/components/bolt-animate/src/animate.js
Due: npm run lint:js

chore: set up twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/05-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/00-test.twig
  packages/components/bolt-popover/popover.schema.yml
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-popover/src/popover.twig
Due: npm run lint:style

feat: add lang-specific quotes to blockquote
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/35-blockquote-language-specific-quotation-marks.twig
  packages/components/bolt-blockquote/src/blockquote.js
  packages/components/bolt-blockquote/src/blockquote.scss
  packages/core/styles/01-settings/settings-quotes/_settings-quotes.scss
  packages/core/styles/index.scss
Due: npm run lint:js, npm run lint:style

test: add tests for language-specific quotes
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-with-lang-specific-quotes-de-1-snap.png
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-with-lang-specific-quotes-en-1-snap.png
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-with-lang-specific-quotes-fr-1-snap.png
  packages/components/bolt-blockquote/__tests__/__image_snapshots__/blockquote-js-bolt-blockquote-component-bolt-blockquote-with-lang-specific-quotes-ja-1-snap.png
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-blockquote/__tests__/blockquote.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
