Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: footer nav labels
  packages/components/bolt-page-footer/src/page-footer.twig
Due: none

CC-829: Set button to block
  docs-site/src/pages/pattern-lab/_patterns/999-tests/grid/00-grid.twig
Due: none

DS-747: Remove commented code with inline twig examples + fix prop name
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/_40-nav-position.twig
Due: none

DS-712: Update styles to render dotted underline
  packages/components/bolt-tooltip/src/tooltip.scss
Due: npm run lint:style

DS-712: Update twig doc site
  docs-site/src/pages/pattern-lab/_patterns/40-components/tooltip/15-tooltip-inverted.twig
Due: none

DS-712: Create test page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/tooltip/20-tooltip-whitespace.twig
Due: none

DS-498: Check for closest anchor
  packages/components/bolt-page-header/src/page-header-nav.js
Due: npm run lint:js

Teaser video thumbnail/teaser update
  docs-site/src/pages/pattern-lab/_patterns/999-tests/teaser/00-teaser.twig
Due: none

increment package version
  packages/components/bolt-floating-action-buttons/package.json
Due: none

CC-843: Remove fibers dependency from build tools
  packages/build-tools/package.json
  yarn.lock
Due: none

CC-843: Remove fibers dependency from uikit workshop
  packages/website-ui/uikit-workshop/package.json
  yarn.lock
Due: none

[skip travis] chore: version bump PHP-related dependencies to v5.3.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v5.3.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/build-tools/package.json
  packages/servers/default-server/CHANGELOG.md
  packages/servers/default-server/package.json
  packages/servers/ssr-server/CHANGELOG.md
  packages/servers/ssr-server/package.json
  packages/servers/testing-server/CHANGELOG.md
  packages/servers/testing-server/package.json
  packages/testing/testing-helpers/CHANGELOG.md
  packages/testing/testing-helpers/package.json
  packages/testing/testing-jest/CHANGELOG.md
  packages/testing/testing-jest/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
  packages/website-ui/uikit-workshop/CHANGELOG.md
  packages/website-ui/uikit-workshop/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-422: Add cookie expiration
  packages/layouts/bolt-holy-grail/src/holy-grail.js
Due: npm run lint:js

scrollhandler overhaul
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/-10a-floating-action-buttons-demo-show-on-scroll-position.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/-15a-floating-action-buttons-demo-toggle-button.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/10-floating-action-buttons-show-on-scroll-position.twig
  packages/components/bolt-floating-action-buttons/__tests__/__snapshots__/floating-action-buttons.js.snap
  packages/components/bolt-floating-action-buttons/__tests__/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/floating-action-buttons-li.schema.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons-li.twig
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.twig
Due: npm run lint:js

comments. change this.dialog to this.el. rename trigger into target.
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-scroll-behaviors.twig
  packages/components/bolt-dialog/src/dialog.js
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:js

snapshot
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
Due: none

add more tests. rename scroll to scroll_behavior. fix bug with event.target.yarn lint:js --fix
  docs-site/src/assets/images/content/screenshots/device-screenshot--desktop.jpg
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-scroll-behaviors.twig
  packages/build-tools/create-webpack-config.js
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
  packages/components/bolt-dialog/__tests__/dialog.js
  packages/components/bolt-dialog/dialog.schema.js
  packages/components/bolt-dialog/src/dialog.js
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:js

fix test snap
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
Due: none

DS-744: Create test site for tables with sticky headers
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table/table.twig
Due: none

DS-744: Update color shadows
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

DS-744: Update table styles
  packages/components/bolt-table/src/table.scss
Due: npm run lint:style

DS-744: Updates
  docs-site/.incache
  yarn.lock
Due: none

DS-744: Update package json
  packages/components/bolt-table/package.json
Due: none

DS-744: Tests
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
  packages/core-v3.x/styles/01-settings/settings-colors/_settings-colors.scss
Due: npm run lint:style

DS-732: Add color to for search icon
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

DS-756: Fix css animation selector
  packages/global/styles/06-animations/_animations.scss
Due: npm run lint:style

DS-756: Update test doc pages
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/banner-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/gallery-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/icon-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/video-test-bounce-ins.twig
Due: none

DS-756: Update animation file css with new class
  packages/global/styles/06-animations/_animations.scss
Due: npm run lint:style

DS-756: Update JS file with new class
  packages/global/styles/06-animations/_999-animations-on-load-test.js
Due: npm run lint:js

DS-756: Update animation CSS with more specifi selectors
  packages/global/styles/06-animations/_animations.scss
Due: npm run lint:style

DS-756: Update test animation pages with new classes
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/banner-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/gallery-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/icon-test-fade-ins.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/animations/video-test-bounce-ins.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v5.4.0
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

ds-744: refine table colors
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  packages/components/bolt-table/src/table.scss
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:style

ds-744: fix tertiary colors and add usage info banner
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:style

Fixed a typo and updated the banner to be a warning banner.
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  packages/components/bolt-table/src/table.scss
Due: npm run lint:style

DS-541: remove hide_on_load
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/-20a-floating-action-buttons-demo-hide-on-load.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/20-floating-action-buttons-hide-on-load.md
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/20-floating-action-buttons-hide-on-load.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/20a-floating-action-buttons-demo-hide-on-load.md
  docs-site/src/pages/pattern-lab/_patterns/40-components/floating-action-buttons/999-floating-action-buttons-use-case-offsets.twig
  packages/components/bolt-floating-action-buttons/floating-action-buttons.schema.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.js
  packages/components/bolt-floating-action-buttons/src/floating-action-buttons.twig
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
