Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: make sure Dropdown isn't double-defined + workaround to fix Dropdown component rendering / interaction when being extended in MicroJourneysDropdown
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-dropdown/index.js
  packages/micro-journeys/package.json
  packages/micro-journeys/src/micro-journeys-dropdown.js
Due: npm run lint:js

test: test optimized Jest tests
  .travis.yml
  packages/servers/testing-server/index.js
  yarn.lock
Due: npm run lint:js

test: re-test Jest
  .travis.yml
Due: none

test: re-test Jest
  .travis.yml
  packages/servers/testing-server/index.js
Due: npm run lint:js

test: re-test Jest
  packages/testing/testing-jest/jest-global-setup.js
Due: npm run lint:js

revert: revert Travis config updates
  .travis.yml
Due: none

test: re-test build with more optimized testing server
  .boltrc.js
  packages/build-tools/create-webpack-config.js
  packages/core/data/get-data.js
  packages/servers/testing-server/index.js
Due: npm run lint:js

chore: add develop to branches that can be published on
  lerna.json
Due: none

fix: temp disable editor type check
  packages/editor/package.json
Due: none

chore: version bump PHP-related dependencies to v2.8.0-beta.1
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

chore(release): publish v2.8.0-beta.1
  docs-site/.incache
  packages/uikit-workshop/package.json
  yarn.lock
Due: none

fix(editor): restore type check testing
  packages/editor/package.json
  packages/editor/src/editor.js
Due: npm run lint:js

fix: manually backport Jest testing server fix added in v2.8.0-beta.1
  packages/servers/testing-server/index.js
Due: npm run lint:js

fix: disable source maps
  .boltrc.js
Due: none

fix(micro-journeys): remove transform from connection band to fix ie 11
  packages/micro-journeys/src/bolt-svg-animations/svg/connectionBand.js
Due: npm run lint:js

fix: update Jest snapshots
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-6-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__snapshots__/navbar.js.snap
  packages/components/bolt-sticky/__tests__/__snapshots__/sticky.js.snap
Due: none

feat: add PL demos of three character layout
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/billing-micro-journey-fragments/_step-three-character-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/combos/-94-micro-journeys-three-character.twig
Due: none

feat: wiring up auto to automate the Bolt release process
  .autorc
  package.json
Due: none

chore(with-without) move self-drawing circle into with-without
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/00-svg-animations-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
  packages/components/bolt-self-drawing-circle/index.js
  packages/components/bolt-self-drawing-circle/index.scss
  packages/components/bolt-self-drawing-circle/package.json
  packages/with-without/bolt-self-drawing-circle/self-drawing-circle.js
  packages/with-without/bolt-self-drawing-circle/self-drawing-circle.schema.yml
  packages/with-without/bolt-self-drawing-circle/self-drawing-circle.scss
  packages/with-without/bolt-self-drawing-circle/self-drawing-circle.twig
  packages/with-without/index.js
  packages/with-without/package.json
  packages/with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

chore(with-without): bump version in package.json
  packages/with-without/package.json
Due: none

test: test canary releases
  .autorc
  .travis.yml
  package.json
  yarn.lock
Due: none

feat: remove the connection band options from the character background slot
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix(editor): load grapesjs version specific CSS
  packages/editor/src/index.js
Due: npm run lint:js

test(testing-utils): remove error when multiple Twig files found
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

test: retest release script
  .travis.yml
Due: none

test(testing-utils): remove error when multiple Twig files found (#1426)
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

chore(editor): add new feedback utility
  packages/editor/src/editor.js
  packages/editor/src/editor.twig
  packages/editor/src/index.js
  yarn.lock
Due: npm run lint:js

test(editor): restore type testing
  packages/editor/package.json
Due: none

fix(testing-utils): finding twig should ignore what .gitignore does
  packages/testing/testing-utils/dependency-map.js
Due: npm run lint:js

fix(micro-journeys): set correct local version of dropdown dependency
  packages/micro-journeys/package.json
  yarn.lock
Due: none

feat(editor): emit save event
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/editor/00-editor-docs.twig
  packages/editor/src/index.js
Due: npm run lint:js

fix: clean untracked files before publishing
  .travis.yml
Due: none

WIP: stashing work on custom auto plugin
  packages/auto-release/index.js
  packages/auto-release/package.json
  packages/auto-release/rollup.config.js
Due: npm run lint:js

chore: add base branch
  .autorc
Due: none

feat: setup Knapsack foundation, and button
  docs-site/knapsack.config.js
  docs-site/package.json
  knapsack-data/knapsack.custom-pages.json
  knapsack-data/knapsack.page-builder.json
  knapsack-data/knapsack.patterns.json
  knapsack-data/knapsack.settings.json
  package.json
  packages/components/bolt-button/button.schema.json
  packages/components/bolt-button/knapsack.pattern-meta.json
  packages/components/bolt-button/knapsack.pattern.js
  twig-namespaces.js
  yarn.lock
Due: npm run lint:js

test: retest canary release
  .travis.yml
Due: none

chore: update release script
  .autorc
  release.js
Due: none

chore: update release script
  release.js
Due: none

build: hook up knapsack build script
  docs-site/package.json
  package.json
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
