Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

WIP(@bolt/components-video): update bolt-video test files
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
Due: npm run lint:js

test: update PL test timeout to troubleshoot IE 11 test failing
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

chore: re-generate composer.lock + update package.json to use newer version of iframe resizer library
  docs-site/composer.lock
  docs-site/package.json
  packages/uikit-workshop/package.json
Due: none

feat: add utility class for bg-color
  packages/global/styles/07-utilities/_utilities-colors.scss
Due: npm run lint:style

chore: update yarn.lock
  yarn.lock
Due: none

chore: revert increasing PL test timeout
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

fix: disable exporting JS data in patternlab-data.js. addresses IE 11 error causing Nightwatch tests to fail
  docs-site/.patches/exported-data.patch
Due: none

fix: update uikit logic to update iframe width to fill space available when resizing the browser
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
Due: npm run lint:js

chore: update yarn.lock
  docs-site/composer.lock
Due: none

WIP(*): update nightwatch srcipts
  nightwatch.js
  package.json
Due: none

fix: reformat the component name in the status table
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

fix: remove extra hidden character getting added to icons
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

refactor: update web component icon used
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

refactor: remove unused 'casechange-objects' dependency, once required by '/styles/01-settings/settings-themes/index.js' and '/styles/01-settings/settings-themes/BoltTheme.js'
  packages/core/package.json
Due: none

styles: set up new square video
  docs-site/src/pages/pattern-lab/_patterns/04-pages/50-d8-careers/00-careers-homepage.twig
Due: none

refactor: update demo names + add nav alias to wire up with status board
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/00-ol-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/05-ol.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/10-ol-theme-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/15-ol-nested-items.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/20-ol-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul/00-ul-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul/05-ul.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul/10-ul-theme-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul/15-ul-nested-items.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ul/20-ul-with-web-component.twig
Due: none

refactor: better handle / track async rendering of status board
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

fix: update prettier issues
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

fix: globally replace dashes with spaces in displayed status board name
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

feat: add WIP status to yet to be released components
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

refactor: update default page displayed in Pattern Lab
  docs-site/config/config.yml
Due: none

refactor: sort packages displayed based on name
  packages/build-tools/tasks/api-tasks/bolt-status-board.js
Due: npm run lint:js

refactor: update uikit to display the standalone pages on top and complex patterns with folders below
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Due: npm run lint:js

fix: remove hero text and set up themes
  docs-site/src/pages/pattern-lab/_patterns/04-pages/50-d8-careers/00-careers-homepage.twig
Due: none

chore: added variations
  docs-site/src/pages/pattern-lab/_patterns/04-pages/50-d8-careers/00-careers-homepage.twig
Due: none

fix: revert renaming status board page; rename in nav instead
  docs-site/config/config.yml
  docs-site/src/pages/pattern-lab/_patterns/02-components/00-overview.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/00-overview.twig
Due: none

refactor: adjustments to PL nav theming / spacing + max height; update search component to load immediately
  packages/uikit-workshop/src/sass/pattern-lab--iframe-loader.scss
  packages/uikit-workshop/src/sass/pattern-lab.scss
  packages/uikit-workshop/src/sass/scss/01-abstracts/_theming.scss
  packages/uikit-workshop/src/sass/scss/02-base/_body.scss
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js, npm run lint:style

refactor: mark existing page-header component as private till refactored / rolled out as a fully supported component
  packages/components/bolt-page-header/package.json
Due: none

refactor: add keyboard shortcut to search input
  packages/uikit-workshop/src/scripts/components/pl-header/pl-header.js
Due: npm run lint:js

feat(*): run nightwatch tests on local
  nightwatch.js
  nightwatch.local.js
  package.json
  yarn.lock
Due: none

test(@bolt/components-image): add basic tests to bolt-image
  nightwatch.local.js
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

refactor(@bolt/components-image): cleaning the code
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

test(@bolt/components-image): update bolt-image size logic
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

test(*): update JEST config
  jest.config.js
Due: none

feat: convert schema data to camelCase before calling validate
  packages/core/package.json
  packages/core/renderers/bolt-base.js
  packages/core/utils/index.js
  packages/core/utils/rename-key.js
Due: npm run lint:js

feat: pass placeholder values, ratio data via web component props
  packages/components/bolt-image/image.schema.yml
  packages/components/bolt-image/src/image.js
  packages/components/bolt-image/src/image.twig
Due: npm run lint:js

fix: 'ratio' prop conflicts with prop set from background template, update name in background template
  packages/components/bolt-background/src/background.twig
Due: none

fix: update selector for image zoom to work when images are rendered to shadow DOM
  packages/components/bolt-device-viewer/src/device-viewer.standalone.js
Due: npm run lint:js

fix: make images display "block" by default to avoid whitespace issues inside custom-element
  packages/components/bolt-image/src/image.scss
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
