Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: update theme logic in js to apply to close button
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:js, npm run lint:style

fix: idle animation timing to linear
  packages/components/bolt-animate/src/animate.js
Due: npm run lint:js

fix: add ability to set no anim for idle and out
  packages/components/bolt-animate/animate.meta.js
Due: npm run lint:js

feat: step triggering build in and build outs
  packages/components/bolt-animate/src/animate.scss
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  packages/components/bolt-interactive-step/src/interactive-step.js
Due: npm run lint:js, npm run lint:style

feat: add dropzone for empty slots
  packages/editor/src/editor.js
  packages/editor/src/index.scss
Due: npm run lint:js, npm run lint:style

feat: add demos of connection element to PL
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/20-connection.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/22-connection-w-editor.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/_editor-wrapper.twig
Due: none

refactor: remove old band blocks markup from editor
  packages/editor/src/blocks.js
Due: npm run lint:js

feat: registar bolt connection with grapes
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

chore: lint fixes
  packages/editor/src/blocks.js
  packages/editor/src/index.scss
Due: npm run lint:js, npm run lint:style

fix: update code to match .com branch
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/styles/_global-search.scss
  packages/components/bolt-page-header/src/page-header.twig
Due: npm run lint:style

fix: themed docs
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-wip-global-search.twig
Due: none

feat: add build in/out order to steps
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayOne.twig
  packages/components/bolt-animate/animate.schema.js
  packages/components/bolt-animate/utils.js
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  packages/components/bolt-interactive-step/src/interactive-step.js
Due: npm run lint:js

fix: slot inline bug
  packages/editor/src/index.scss
Due: npm run lint:style

Remove cli interface to be replaced with HTTP2
  packages/servers/ssr-server/cli.js
Due: npm run lint:js

Refactor of rendering system
  packages/servers/ssr-server/index.js
  packages/servers/ssr-server/libs/puppeteer.mjs
  packages/servers/ssr-server/libs/render/RenderBackend.js
  packages/servers/ssr-server/libs/render/Renderer.js
  packages/servers/ssr-server/libs/render/backend/jsdom/FilesystemResourceLoader.js
  packages/servers/ssr-server/libs/render/backend/jsdom/JsDomRenderBackend.js
  packages/servers/ssr-server/libs/render/backend/jsdom/index.js
  packages/servers/ssr-server/libs/render/backend/jsdom/template.js
  packages/servers/ssr-server/libs/render/backend/pupeteer/PupeteerRenderBackend.js
  packages/servers/ssr-server/libs/render/backend/pupeteer/index.js
  packages/servers/ssr-server/libs/render/index.js
  packages/servers/ssr-server/libs/render/renderer/WebComponentRenderer.js
  packages/servers/ssr-server/renderer.js
Due: npm run lint:js

chore: add comments for future code refactor
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-button/src/button.js
  packages/components/bolt-trigger/__tests__/trigger.js
  packages/components/bolt-trigger/src/trigger.js
Due: npm run lint:js

fix: remove include
  packages/components/bolt-page-header/src/page-header.twig
Due: none

feat(with-without): continued theming
  packages/components/bolt-with-without/SimpleSwitch.scss
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js, npm run lint:style

feat: create character component, clean BEM on connection
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/10-character.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/12-character-w-editor.twig
  packages/components/bolt-interactive-step/index.js
  packages/components/bolt-interactive-step/src/character.js
  packages/components/bolt-interactive-step/src/character.scss
  packages/components/bolt-interactive-step/src/connection.js
  packages/components/bolt-interactive-step/src/connection.scss
  packages/editor/src/index.scss
  packages/editor/src/setup-bolt.js
Due: npm run lint:js, npm run lint:style

chore: lint fixes
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/10-character.twig
  packages/editor/src/index.scss
Due: npm run lint:style

chore: lint fixes
  packages/editor/src/index.scss
Due: npm run lint:style

refactor: character remove behind slot, add size attribute
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/10-character.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/14-character-variations.twig
  packages/components/bolt-interactive-step/src/character.js
  packages/components/bolt-interactive-step/src/character.schema.yml
  packages/components/bolt-interactive-step/src/character.scss
  packages/editor/src/setup-bolt.js
Due: npm run lint:js, npm run lint:style

refactor: character gets a border, images rounded
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/10-character.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/_editor-wrapper.twig
  packages/components/bolt-interactive-step/src/character.js
  packages/components/bolt-interactive-step/src/character.scss
Due: npm run lint:js, npm run lint:style

rename file
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

rename file
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:style

rename file
  packages/components/bolt-with-without/js/with-without.js
Due: npm run lint:js

feat: add build in/out order to steps (#1308)
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayOne.twig
  packages/components/bolt-animate/animate.schema.js
  packages/components/bolt-animate/utils.js
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  packages/components/bolt-interactive-step/src/interactive-step.js
  packages/editor/src/index.scss
Due: npm run lint:js, npm run lint:style

chore: update NPM dependencies to @bolt/core, @bolt/build-tools, @bolt/uikit-workshop, @bolt/babel-preset-bolt, testing server packages + dev server packages
  packages/build-tools/package.json
  packages/configs/babel-preset-bolt/package.json
  packages/core/package.json
  packages/servers/default-server/package.json
  packages/servers/ssr-server/package.json
  packages/servers/testing-server/package.json
  packages/testing/testing-jest/package.json
  packages/testing/testing-nightwatch/package.json
  packages/testing/testing-utils/package.json
  packages/uikit-prerender-spa-plugin/package.json
  packages/uikit-prerenderer/package.json
  packages/uikit-workshop/package.json
Due: none

fix: update Webpack Clean plugin's to use updated API
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

fix: update Yarn workspaces config to ensure core-js uses the version expected
  package.json
Due: none

fix: update polyfill loader path
  packages/components/bolt-ratio/index.js
Due: npm run lint:js

chore: remove unused dependencies
  packages/core/elements/replace-with-children/index.js
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: make sure core-js version hoisted is v3 or later
  package.json
  yarn.lock
Due: none

fix: update uikit webpack config for cleancss plugin
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

feat: update build tools + babel config
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/tasks/webpack-tasks.js
  packages/configs/babel-preset-bolt/index.js
  packages/core/polyfills/es6-misc.js
  packages/core/polyfills/index.js
Due: npm run lint:js

chore: update babel config
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

feat: character element now supports either an image or an svg
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/10-character.twig
  packages/components/bolt-interactive-step/src/character.js
  packages/components/bolt-interactive-step/src/character.schema.yml
  packages/components/bolt-interactive-step/src/character.scss
  packages/editor/src/index.scss
  packages/editor/src/setup-bolt.js
Due: npm run lint:js, npm run lint:style

IE11: Nav Indicator hotfix
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
