Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-614: Change request on a typehead
  docs-site/src/pages/pattern-lab/_patterns/40-components/typeahead/_typeahead-demo.twig
Due: none

DS-614: Change request on pages - product
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
Due: none

DS-614: Change request on pages - landing news
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
Due: none

DS-614: Change request on pages - press media
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
Due: none

DS-614: Change request on pages - agenda manager
  docs-site/src/pages/pattern-lab/_patterns/50-pages/25-d8-agenda-manager/00-d8-agenda-manager-details.twig
Due: none

DS-614: Change request on pages - partners
  docs-site/src/pages/pattern-lab/_patterns/50-pages/30-d8-partners/00-d8-partners-search.twig
Due: none

DS-614: Change request on pages - events
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/00-event-landing.twig
Due: none

DS-614: Change request on pages - events
  docs-site/src/pages/pattern-lab/_patterns/50-pages/35-d8-events/05-event-detail.twig
Due: none

DS-614: Change request on pages - careers
  docs-site/src/pages/pattern-lab/_patterns/50-pages/50-d8-careers/00-careers-homepage.twig
Due: none

DS-614: Change request on pages - calculator
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-calculator.twig
Due: none

DS-614: Change request on pages - calculator
  docs-site/src/pages/pattern-lab/_patterns/50-pages/55-d8-calculator/00-d8-results.twig
Due: none

DS-614: DS-614: Clean up quotes on pages
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/25-d8-agenda-manager/00-d8-agenda-manager-details.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/30-d8-partners/00-d8-partners-search.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/40-d8-content-hub/00-sticky-navbar.twig
Due: none

DS-614: DS-614: Clean up quotes on pages - blog homepage
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/00-blog-homepage.twig
Due: none

Update folder structure of bolt-generator test to fix issues with asynchronisly run tests
  packages/generators/bolt-generator/__tests__/component/__snapshots__/bolt-generator.js.snap
  packages/generators/bolt-generator/__tests__/component/bolt-generator.js
  packages/generators/bolt-generator/__tests__/element/__snapshots__/bolt-generator.js.snap
  packages/generators/bolt-generator/__tests__/element/bolt-generator.js
  packages/generators/bolt-generator/helpers/aggregate-data.js
  packages/testing/testing-jest/jest-global-teardown.js
Due: npm run lint:js

DS-609: Update docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/25-icon-use-case-custom-twig-svg.twig
Due: none

DS-609: Update docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

ds-590: fix layout docs typos
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-10-layout-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-15-layout-sub-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-35-layout-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-40-layout-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-45-layout-item-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-50-layout-item-order.twig
Due: none

fix: layout demo typos
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-10-layout-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-15-layout-sub-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-35-layout-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-40-layout-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-45-layout-item-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-50-layout-item-order.twig
Due: none

ds-590: remove unused prop
  packages/components/bolt-page-header/page-header-nav-li.schema.js
  packages/components/bolt-page-header/src/page-header-nav-li.twig
Due: npm run lint:js

Added 2 video testing pages, updated the video logic to include a preview option and a delyed auto play attribute, style updates
  docs-site/src/pages/pattern-lab/_patterns/999-tests/video/00-video-no-autoplay.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/video/05-video-preview.twig
  packages/components/bolt-video/brightcove/_video.scss
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: npm run lint:style

ds-594: fix chevron svgs
  packages/elements/bolt-icon/src/icons/chevron-down.twig
  packages/elements/bolt-icon/src/icons/chevron-left.twig
  packages/elements/bolt-icon/src/icons/chevron-right.twig
  packages/elements/bolt-icon/src/icons/chevron-up.twig
  packages/elements/bolt-icon/src/svgs/chevron-down.svg
  packages/elements/bolt-icon/src/svgs/chevron-left.svg
  packages/elements/bolt-icon/src/svgs/chevron-right.svg
  packages/elements/bolt-icon/src/svgs/chevron-up.svg
Due: none

Updated the meta container and the big play button to make the video thumbnail positioning
  packages/components/bolt-video/brightcove/_video.scss
Due: npm run lint:style

Removean unneeded CSS transtion option
  packages/components/bolt-video/brightcove/_video.scss
Due: npm run lint:style

ds-594: fix yellow icon color
  packages/elements/bolt-icon/src/icon.scss
Due: npm run lint:style

DS-483: Set lang to 'none' by default, use data-attrs for mode, update naming
  docs-site/src/pages/pattern-lab/_patterns/999-tests/code-snippet/00-code-snippet-languages.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/code-snippet/05-code-snippet-lang-none.twig
  packages/components/bolt-code-snippet/code-snippet.schema.js
  packages/components/bolt-code-snippet/src/_code-snippet-base.scss
  packages/components/bolt-code-snippet/src/_code-snippet-syntax-dark.scss
  packages/components/bolt-code-snippet/src/_code-snippet-syntax-light.scss
  packages/components/bolt-code-snippet/src/code-snippet.js
  packages/components/bolt-code-snippet/src/code-snippet.twig
Due: npm run lint:js, npm run lint:style

DS-483: Fix HTML decoding
  docs-site/src/pages/pattern-lab/_patterns/999-tests/code-snippet/10-code-snippet-escape-html.twig
  packages/components/bolt-code-snippet/src/code-snippet.js
Due: npm run lint:js

DS-483: Update Jest tests
  packages/components/bolt-code-snippet/__tests__/__snapshots__/code-snippet.js.snap
  packages/components/bolt-code-snippet/__tests__/code-snippet.js
Due: npm run lint:js

DS-483: Update docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/05-code-snippet.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/10-code-snippet-language.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/15-code-snippet-syntax.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/20-code-snippet-custom-language-label.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/25-code-snippet-header-display.twig
  packages/components/bolt-code-snippet/package.json
Due: none

ds-594: revert page header CSS
  packages/components/bolt-page-header/src/page-header.scss
Due: npm run lint:style

DS-622 more demos based on bolt-hero
  packages/components/bolt-billboard/src/billboard.twig
Due: none

DS-622 more demos from bolt-hero
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/10-billboard-reverse-order.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/15-billboard-reverse-order-no-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/20-billboard-image-min-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/25-billboard-image-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/billboard/90-billboard-centered.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/25-hero--reverse-order--no-image.twig
Due: none

DS-483: Rename docs file, copy updates
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/05-code-snippet.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/code-snippet/15-code-snippet-mode.twig
Due: none

DS-609: Docs update
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
