Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

fix: ommit options in the spacing css
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/30-action-blocks-spacing-variations.twig
  packages/components/bolt-action-blocks/src/_action-blocks-item.scss
Due: npm run lint:style

fix: resolve conflict
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
Due: none

fix: create tests for new props
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
  packages/components/bolt-card-replacement/__tests__/card-replacement.js
Due: npm run lint:js

fix: use spacing map for css
  packages/components/bolt-card-replacement/src/card-replacement-body/_card-replacement-body.scss
Due: npm run lint:style

fix: change rounded usage to borderRadius
  docs-site/src/pages/pattern-lab/_patterns/02-components/card-replacement/55-card-replacement-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--before-submit.twig
Due: none

fix: card background stacking order
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--rating.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--return-to-mission.twig
  packages/components/bolt-card-replacement/src/card-replacement-background/_card-replacement-background.scss
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.scss
Due: npm run lint:style

feat: remove `browser.sendKeys()` which is only required for ie11 support
  docs-site/__tests__/pattern-lab.e2e.js
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

fix: revert removing `.keys` command in Typeahead E2E test.
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

Updated the create a new component documentation to leverage the 'yarn cc' command
  docs-site/src/pages/docs/50-guides/15-building-a-new-component.md
Due: none

feat: do not force booleans to reflect
  packages/base-element/src/lib/decorators.js
Due: npm run lint:js

docs: small tweak to new docs update
  docs-site/src/pages/docs/50-guides/15-building-a-new-component.md
Due: none

feat: add new lazy-queue MVP package to help with ongoing web performance optimization work
  packages/base-lazy-queue/idle-queue.mjs
  packages/base-lazy-queue/index.mjs
  packages/base-lazy-queue/lazy-definition-observer.mjs
  packages/base-lazy-queue/package.json
  yarn.lock
Due: none

feat: update Chip and Video to use the new LazyQueue functionality
  packages/components/bolt-chip/index.js
  packages/components/bolt-chip/package.json
  packages/components/bolt-video/index.js
  packages/components/bolt-video/package.json
Due: npm run lint:js

test: test updated deployment status commands
  .travis.yml
  package.json
  yarn.lock
Due: none

fix: update CI script
  .travis.yml
Due: none

fix: add only to twig includes
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/cards/_horizontal-card.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/cards/_vertical-card.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/navigation/_nav--search.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/band/_band--request-feedback.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/collections/dashboard/_dashboard-band--in-progress.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/collections/dashboard/_dashboard-band--my-missions.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/collections/dashboard/_dashboard-band--new-training.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/collections/dashboard/_dashboard-band--recommended.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal--rating.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/search/_form--search-filter.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/search/_search-bar.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/toolbar/_toolbar.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/04-templates/_blueprints-detail-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/04-templates/_blueprints-landing-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/completed-training/completed-training.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/dashboard/dashboard--my-missions/dashboard--my-missions.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/certification-exam/certification-exam-page.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/01-t1-mission-landing--test-with-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing--test-with-modal/02-t1-mission-landing--test-with-modal--after-submit.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/mission-landing/_mission-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/module-landing/t1-module-landing-page.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t2-inner-pages/topic-details/t2-topic-detail-page.twig
Due: none

fix: remove typo
  .travis.yml
Due: none

factor: remove original example per PR feedback
  docs-site/src/pages/pattern-lab/_patterns/02-components/link/30-link-with-web-component.twig
Due: none

refactor: auto-remove HTML style attributes per PR feedback
  packages/base-element/src/lib/decorators.js
Due: npm run lint:js

refactor: add new Link demos RE extra HTML attributes passed in
  docs-site/src/pages/pattern-lab/_patterns/02-components/link/35-link-with-web-component-html-attributes.twig
Due: none

refactor: update Button Jest tests per PR feedback + to clean things up a bit
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

test: re-test Travis CI config so other branches don't lose their deployment links
  .travis.yml
Due: none

test: re-test CI build with shorter GIT_SHA
  .travis.yml
  scripts/get-git-sha.js
Due: none

fix: add missing `_self` default prop value to to the target prop in BoltActionElement
  packages/base-element/src/BoltActionElement.schema.js
Due: npm run lint:js

chore: remove old duplicate Link schema no longer getting used
  packages/components/bolt-link/link.schema.yml
Due: none

hotfix: fix to address Headline regression when using <span> tags
  packages/components/bolt-headline/__tests__/__image_snapshots__/headline-js-bolt-headline-component-span-based-headlines-do-not-overlap-with-neighboring-p-tags-3-snap.png
  packages/components/bolt-headline/__tests__/__image_snapshots__/headline-js-bolt-headline-component-span-based-headlines-horizontally-align-properly-3-snap.png
  packages/components/bolt-headline/__tests__/__snapshots__/headline.js.snap
  packages/components/bolt-headline/__tests__/headline.js
  packages/components/bolt-headline/src/_tools.headlines.scss
Due: npm run lint:js, npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.21.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v2.21.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/CHANGELOG.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-button-group/CHANGELOG.md
  packages/components/bolt-button-group/package.json
  packages/components/bolt-card-deprecated/CHANGELOG.md
  packages/components/bolt-card-deprecated/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-form/CHANGELOG.md
  packages/components/bolt-form/package.json
  packages/components/bolt-headline/CHANGELOG.md
  packages/components/bolt-headline/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-search-filter/CHANGELOG.md
  packages/components/bolt-search-filter/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/components/bolt-typeahead/CHANGELOG.md
  packages/components/bolt-typeahead/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

chore: remove outdated comment
  docs-site/src/pages/pattern-lab/_patterns/02-components/link/30-link-with-web-component.twig
Due: none

fix: remove unused `.spacing` property on card-replacement-body WC markup
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
Due: npm run lint:js

feat: convert schema from YML to JS
  packages/generators/yeoman-create-component/generators/component/__tests__/component-generator.js
  packages/generators/yeoman-create-component/generators/component/index.js
  packages/generators/yeoman-create-component/generators/component/templates/component.schema.js
  packages/generators/yeoman-create-component/generators/component/templates/component.schema.yml
  packages/generators/yeoman-create-component/generators/component/templates/package.json
  packages/generators/yeoman-create-component/generators/component/templates/package.tpl.json
Due: npm run lint:js

feat: remove polyfill loader
  packages/generators/yeoman-create-component/generators/component/templates/index.component.js
Due: npm run lint:js

feat: update component JS to use latest conventions, auto-props
  packages/generators/yeoman-create-component/generators/component/templates/component.js
Due: npm run lint:js

feat: add prop example to component Twig template
  packages/generators/yeoman-create-component/generators/component/templates/component.html.twig
Due: none

feat: add title comment to SCSS, fix formatting
  packages/generators/yeoman-create-component/generators/component/templates/component.scss
Due: npm run lint:style

feat: remove boilerplate component description
  packages/generators/yeoman-create-component/generators/component/index.js
  packages/generators/yeoman-create-component/generators/component/templates/README.md
Due: npm run lint:js

test: update Jest tests to use latest conventions
  packages/generators/yeoman-create-component/generators/component/templates/component.test.js
Due: npm run lint:js

test: update generator test snapshot
  packages/generators/yeoman-create-component/generators/component/__tests__/__snapshots__/component-generator.js.snap
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
