Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix(micro-journeys): fix horizontal scroll problem; responsiveness for bolt-connection
  packages/micro-journeys/src/character.scss
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/connection.scss
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:js, npm run lint:style

feat: properly register svg-animations to the editor
  packages/components/bolt-svg-animations/svg-animations.schema.js
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: lint fixes
  packages/components/bolt-svg-animations/src/svg-animations.js
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: correct spacing for non-link title
  packages/components/bolt-navbar/src/_navbar-title.twig
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

refactor: small code cleanups
  packages/components/bolt-svg-animations/svg-animations.schema.js
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

style: type fix
  packages/editor/src/editor.js
Due: npm run lint:js

add checkmark to active
  docs-site/.incache
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

refactor: remove empty slot from html starter files
  packages/micro-journeys/starters/two-characters-1.html
  packages/micro-journeys/starters/two-characters-2.html
  packages/micro-journeys/starters/two-characters-3.html
  packages/micro-journeys/starters/two-characters-4.html
Due: none

refactor: clean ups
  packages/components/bolt-svg-animations/src/svg/tripleConnectionBand.js
  packages/components/bolt-svg-animations/svg-animations.schema.js
  packages/micro-journeys/src/connection.schema.js
Due: npm run lint:js

feat: add triple band to one of the demo steps
  packages/micro-journeys/starters/two-characters-2.html
Due: none

fix: lint fixes
  packages/micro-journeys/src/connection.js
Due: npm run lint:js

fix: PL demo fix
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
Due: none

feat: setup editor blocks for initial micro journeys
  packages/editor/src/setup-bolt.js
  packages/editor/types/grapesjs/index.d.ts
Due: npm run lint:js

fix(editor): when adding via slotControls, ensure to not select grandchildren slots
  packages/editor/src/editor.js
Due: npm run lint:js

update dropdown styles
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/micro-journeys-dropdown.scss
Due: npm run lint:js, npm run lint:style

merge in epic, research into tab freeze issue
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/micro-journeys-dropdown.js
  yarn.lock
Due: npm run lint:js

feat: add lorem impsum starters for the step top and bottom
  packages/micro-journeys/starters/cta-text-lorem.html
  packages/micro-journeys/starters/index.js
  packages/micro-journeys/starters/one-character-lorem.html
  packages/micro-journeys/starters/two-characters-lorem.html
Due: npm run lint:js

feat: a few more lorem starters
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/starters/index.js
  packages/micro-journeys/starters/pathwayLorem.js
  packages/micro-journeys/starters/steo-one-character-lorem.html
  packages/micro-journeys/starters/steo-two-character-lorem.html
  packages/micro-journeys/starters/two-characters-1.html
  packages/micro-journeys/starters/two-characters-lorem.html
Due: npm run lint:js

chore: a bunch of clean up
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/60-two-character-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/combos/-92-micro-journey-in-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/combos/-99-in-page-example.twig
  packages/editor/src/editor.js
  packages/editor/src/editor.twig
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: mobile styling of status bars, no longer overlap
  packages/micro-journeys/src/one-character-layout.scss
  packages/micro-journeys/src/status-dialogue-bar.scss
  packages/micro-journeys/src/two-character-layout.scss
Due: npm run lint:style

feat: add cache-loader to repo
  package.json
  packages/build-tools/package.json
Due: none

feat: update webpack configuration
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  yarn.lock
Due: npm run lint:js

feat: add webpack cache to gitignore
  .gitignore
Due: none

feat: update node version for travis
  .nvmrc
Due: none

feat: update node version for travis
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

test: Add failing test to check whether button supports ID attribute
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: Update button component to support ID attribute
  packages/components/bolt-button/src/button.twig
Due: none

fix: add missing PL demo file
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_micro-journey-demo-1.twig
Due: none

interactive pathway test, reverted
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

scss linting
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/micro-journeys-dropdown.scss
Due: npm run lint:style

feat(icons): add exclamation icon
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/icons/exclamation.js
  packages/components/bolt-icons/src/index.js
  packages/components/bolt-icons/src/svgs/utility/exclamation.svg
Due: npm run lint:js

fix(twig-renderer): upgrade @basalt/twig-renderer 0.12.0 => 0.12.1
  packages/twig-renderer/package.json
  yarn.lock
Due: none

chore: remove patch file
  patches/@basalt+twig-renderer+0.12.0.patch
Due: none

fix(micro-journeys): fixes for no shadow dom, mostly icons
  docs-site/src/index.scss
  packages/micro-journeys/src/character.js
  packages/micro-journeys/src/character.scss
  packages/micro-journeys/src/nav-shared.scss
  packages/micro-journeys/src/no-shadow-dom.scss
  packages/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:js, npm run lint:style

style(micro-journeys): scss lint
  packages/micro-journeys/src/nav-shared.scss
  packages/micro-journeys/src/no-shadow-dom.scss
Due: npm run lint:style

fix(micro-journeys-dropdown): super.render() crash
  packages/micro-journeys/src/micro-journeys-dropdown.js
Due: npm run lint:js

style(micro-journeys-dropdown): scss lint
  packages/micro-journeys/src/micro-journeys-dropdown.js
Due: npm run lint:js
