Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

docs(editor): setup Editor docs
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/docs/50-guides/30-adding-custom-icons.md
  docs-site/src/pages/pattern-lab/_patterns/02-components/editor/00-editor-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/editor/10-editor-simple.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/editor/15-editor-blockquote.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/_editor-wrapper.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/60-editor/10-editor-1.twig
  packages/editor/editor-in-pl.twig
  packages/editor/editor.schema.js
  packages/editor/package.json
  packages/editor/src/index.js
  packages/editor/src/index.scss
Due: npm run lint:js, npm run lint:style

fix(editor): add main template file
  packages/editor/src/editor.twig
Due: none

fix: typo on testing instructions
  packages/components/bolt-modal/TESTING.md
Due: none

feat(with-without): WIP mobile theming
  packages/animations/settings/_settings-animations.scss
  packages/animations/tools/_tools-animations.scss
  packages/components/bolt-animate/animate.meta.js
  packages/components/bolt-animate/src/animate.scss
  packages/components/bolt-animate/utils.js
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js, npm run lint:style

feat(with-without): WIP mobile theming
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:style

fix(editor): scrollbars in UI
  packages/editor/src/index.scss
Due: npm run lint:style

fix(editor): remove editor styles on close
  packages/editor/src/index.js
Due: npm run lint:js

Update manifest files during watch compilation
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

Update manifest files during watch compilation, typo fix
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

fix: update @bolt/analytics-autolink to catch errors thrown if a Google Analytics `analytics.js` script tag doesn't exist on the page.
  packages/analytics/autolink/index.js
Due: npm run lint:js

fix: update @bolt/analytics-autotrack package to catch a JS error thrown if `window.drupalSettings.google_analytics.trackCrossDomains` isn't defined
  packages/analytics/autotrack/index.js
Due: npm run lint:js

fix: add missing calls to super in navlink JS
  packages/components/bolt-navlink/navlink.js
Due: npm run lint:js

fix: add missing config to disable Shadow DOM in the Navlink component (temp workaround to component not currently rendering HTML)
  packages/components/bolt-navlink/navlink.js
Due: npm run lint:js

refactor: update navlink JS logic to account for links that don't have an href, aren't a hashed link to scroll to an element on the page, or don't have a matching element to scroll to
  packages/components/bolt-navlink/navlink.js
Due: npm run lint:js

fix: add possibility to run bolt start on external projects
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

patching the static-html for testing
  example-integrations/static-html/.bolt/.patches/@bolt+build-tools+2.5.6.patch
  example-integrations/static-html/.bolt/package.json
  example-integrations/static-html/.bolt/yarn.lock
Due: none

fix: lint fix
  packages/micro-journeys/src/character.schema.js
  packages/micro-journeys/src/icon-group.schema.js
Due: npm run lint:js

feat: remove old pl markup, add band examples of micro journeys
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/92-micro-journey-in-band.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/-20-interactive-pathways.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayOne.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayThree.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathwayTwo.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/99999-bolt-dev-sandbox/interactive-pathway-fragments/_pathways.twig
Due: none

fix: move over old scss
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

WIP with/without
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js, npm run lint:style

fix: lint fix
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

fix(micro-journeys): strikethrough line alignment and padding fix
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/interactive-step.js
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:js, npm run lint:style

test: fix path to trigger advanced usage template in e2e test
  packages/components/bolt-trigger/__tests__/trigger.e2e.js
Due: npm run lint:js

refactor: better handling of browser meta
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
  packages/testing/testing-nightwatch/applitools.js
Due: npm run lint:js

fix: lint fixes
  docs-site/src/assets/images/band-shapes.svg
  docs-site/src/assets/images/bolt-logo--dark.svg
  docs-site/src/assets/images/bolt-logo--light.svg
  docs-site/src/assets/images/content/logos/logo-capgemini.svg
  docs-site/src/assets/images/content/logos/logo-paypal.svg
  docs-site/src/assets/images/docs/bolt-logo-lockup-dark.svg
  docs-site/src/assets/images/docs/bolt-logo.svg
  packages/testing/testing-nightwatch/applitools.js
Due: npm run lint:js

merging
  packages/components/bolt-icons/src/icons/circle-dashed.js
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

chore: sass lint
  packages/animations/tools/_tools-animations.scss
Due: npm run lint:style

Fixing merge conflicts
  packages/components/bolt-animate/utils.js
  packages/components/bolt-icons/src/icons/circle-dashed.js
Due: npm run lint:js

chore: update device viewer snapshots
  packages/components/bolt-device-viewer/__tests__/__snapshots__/device-viewer.js.snap
Due: none

style: eslint fixes
  packages/components/bolt-with-without/js/with-without.js
Due: npm run lint:js

style: lint fix
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

test: temporarily skip e2e tests for sticky + copy to clipboard until FF and IE issues resolved; fix urls for Pattern Lab e2e tests
  docs-site/__tests__/pattern-lab.e2e.js
  docs-site/__tests__/server-side-rendering.e2e.js
  packages/components/bolt-copy-to-clipboard/__tests__/copy-to-clipboard.no2e.js
  packages/components/bolt-sticky/__tests__/sticky.no2e.js
Due: npm run lint:js

test: intentional accordion regression for testing purposes
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

fix: ignore skipped e2e tests in Jest
  jest.config.js
Due: none

ci: re-enable quick js test
  .travis.yml
Due: none

test: empty line commit to retrigger deploy
  packages/components/bolt-accordion/src/accordion.scss
Due: npm run lint:style

refactor: restore proper accordion background color, set match level to exact
  packages/components/bolt-accordion/src/accordion.scss
  packages/testing/testing-nightwatch/applitools.js
Due: npm run lint:js, npm run lint:style

test: re-test nightwatch
  docs-site/__tests__/pattern-lab.e2e.js
  docs-site/__tests__/server-side-rendering.e2e.js
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
