Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

[skip travis] chore: version bump PHP-related dependencies to v5.7.3
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v5.7.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-profile/CHANGELOG.md
  packages/components/bolt-profile/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-837: Remove repetitive set time out function
  packages/global/styles/06-animations/_999-animations-on-scroll.js
Due: npm run lint:js

Added a Table Basic component and docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/00-table-basic-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/05-table-basic.twig
  packages/base-starter-kit/.boltrc.js
  packages/components/bolt-table-basic/CHANGELOG.md
  packages/components/bolt-table-basic/README.md
  packages/components/bolt-table-basic/TESTING.md
  packages/components/bolt-table-basic/__tests__/table-basic.js
  packages/components/bolt-table-basic/index.scss
  packages/components/bolt-table-basic/package.json
  packages/components/bolt-table-basic/src/table-basic.scss
  packages/components/bolt-table-basic/src/table-basic.twig
  packages/components/bolt-table-basic/table-basic.schema.js
Due: npm run lint:js, npm run lint:style

Worked on the basic twig and css for the table basic component
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/05-table-basic.twig
  packages/components/bolt-table-basic/src/table-basic.scss
  packages/components/bolt-table-basic/src/table-basic.twig
  packages/components/bolt-table-basic/table-basic.schema.js
Due: npm run lint:js, npm run lint:style

Teaser card test page creation
  docs-site/src/pages/pattern-lab/_patterns/999-tests/teaser/05-teaser-video.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/teaser/10-teaser-video-card.twig
Due: none

DS-244: Support gradient
  packages/components/bolt-background/src/background.scss
Due: npm run lint:style

DS-244: Make default background without overlay
  packages/components/bolt-background/background.schema.js
Due: npm run lint:js

DS-244: Add theme colors docs and rename numeration in docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/10-background-theme-colors-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/15-background-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/20-background-focal-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-shapes-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/30-background-fill-variations.twig
Due: none

DS-770: Add bolt cli option for async
  packages/build-tools/cli.js
Due: npm run lint:js

DS-823: Update background overlay template
  packages/components/bolt-background/src/background-overlay.twig
Due: none

DS-837: Refactor setTimeOut func
  packages/global/styles/06-animations/_999-animations-on-scroll.js
Due: npm run lint:js

Worked on the Table Basic ttest pages
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/05-table-basic.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/10-table-basic-format-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/15-table-basic-borderless.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tables-basic/20-table-basic-column-fixed-width.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table-basic/00-table-basic-default-html.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table-basic/05-table-basic-format-variations-html.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table-basic/10-table-basic-borderless-html.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table-basic/15-table-basic-column-fixed-width-html.twig
  packages/components/bolt-table-basic/src/table-basic.scss
  packages/components/bolt-table-basic/src/table-basic.twig
  packages/components/bolt-table-basic/table-basic.schema.js
Due: npm run lint:js, npm run lint:style

DS-823: Support for gradients
  packages/components/bolt-background/src/background.scss
Due: npm run lint:style

DS-823: Academy page fill update
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/05-pages/t1-landing-pages/certification-exam/acd-certification-exam-page.twig
Due: none

DS-823: Docs update
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/00-background-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/05-background.twig
Due: none

DS-823: Docs solid, gradient variations
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/999-background-solid-gradient-variations.twig
Due: none

Initial build of Docker for bolt
  .docksal/cli/Dockerfile
  .docksal/commands/init
  .docksal/docksal.env
  .docksal/docksal.yml
Due: none

Updated configuration
  .dockerignore
  .docksal/docksal.yml
Due: none

DS-661: Remove unused svg to icon script that used preact
  packages/build-tools/svg-to-icon-component-runtime-generator.js
Due: npm run lint:js

DS-661: Replace preact with react, update typeahead component accordingly
  babel.config.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/components/bolt-typeahead/package.json
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.status.js
  packages/configs/babel-preset-bolt/index.js
  packages/configs/babel-preset-bolt/package.json
  packages/configs/eslint-config/ideal.js
  packages/core-v3.x/package.json
  packages/core-v3.x/renderers/index.js
  packages/core-v3.x/renderers/preact-markup.js
  packages/core-v3.x/renderers/renderer-react.js
  yarn.lock
Due: npm run lint:js

DS-833: List element templates
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/elements/bolt-list/CHANGELOG.md
  packages/elements/bolt-list/README.md
  packages/elements/bolt-list/__tests__/list.js
  packages/elements/bolt-list/index.scss
  packages/elements/bolt-list/list-item.schema.js
  packages/elements/bolt-list/list.schema.js
  packages/elements/bolt-list/package.json
  packages/elements/bolt-list/src/list-item.twig
  packages/elements/bolt-list/src/list.scss
  packages/elements/bolt-list/src/list.twig
Due: npm run lint:js, npm run lint:style

DS-833: Basic docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/00-list-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/05-list.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/25-list-spacing-variations.twig
Due: none

DS-833: Basic docs - comented for now
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/10-list-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/15-list-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/list/20-list-nowrap-variations.twig
Due: none

DS-661: Remove Typeahead Status component, unused a11y features
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.status.js
Due: npm run lint:js

DS-310: update to match twig conventions and remove deprecated props.
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: npm run lint:js

Updated version with web server
  .dockerignore
  .docksal/cli/Dockerfile
  .docksal/docksal.env
  .docksal/docksal.yml
Due: none

DS-244: Add missing "pattern" prop to fix Academy template
  docs-site/src/pages/pattern-lab/_patterns/999-archive/academy/03-organisms/landing-page/_landing-page-inner-layout.twig
Due: none

DS-244: Add missing support for deprecated `fillColor` prop
  packages/components/bolt-background/src/background-overlay.twig
Due: none

CC-959: Hide instead of destroy Tippy instance on disconnect
  docs-site/src/pages/pattern-lab/_patterns/999-tests/popover/15-popover-disconnected-callback.twig
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

Merge pull request #2546 from boltdesignsystem/feature/CC-959-popover-disconnect-bug
  docs-site/src/pages/pattern-lab/_patterns/999-tests/popover/15-popover-disconnected-callback.twig
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

DS-310 fix failing test from testing phase.
  packages/components/bolt-copy-to-clipboard/__tests__/__snapshots__/copy-to-clipboard.js.snap
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.js
Due: npm run lint:js

[skip travis] chore: version bump PHP-related dependencies to v5.7.4
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v5.7.4
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-content-pagination/CHANGELOG.md
  packages/components/bolt-content-pagination/package.json
  packages/components/bolt-listing-teaser/CHANGELOG.md
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-popover/CHANGELOG.md
  packages/components/bolt-popover/package.json
  packages/components/bolt-tooltip/CHANGELOG.md
  packages/components/bolt-tooltip/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

DS-823: Clean up fill variations
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
Due: none

DS-823: Add fill/color variations
  docs-site/src/pages/pattern-lab/_patterns/40-components/background/25-background-fill-variations.twig
Due: none

DS-835: Update schema
  packages/components/bolt-table-basic/table-basic.schema.js
Due: npm run lint:js
