Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

refactor: convert Ratio over to LitElement
  packages/components/bolt-ratio/src/ratio.js
Due: npm run lint:js

refactor: convert Image over to LitElement
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

refactor: pre-package the most common web component dependencies into @bolt/element exports
  packages/base-element/index.js
Due: npm run lint:js

refactor: update Button to use consolidated dependencies from @bolt/element
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

refactor: update injected card / image examples to use more up to date schema props + include aspect ratio data
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example-data.js
Due: none

chore: update @bolt/element dependency version
  packages/base-element/package.json
  packages/components/bolt-image/package.json
  packages/components/bolt-ratio/package.json
  packages/core/package.json
Due: none

fix: Add missing type_options variable to button component
  packages/components/bolt-button/src/button.twig
Due: none

docs: Remove docs for deprecated button tag prop
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/45-button-tag-variations.twig
Due: none

docs: Add docs for button type prop
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/45-button-type-variations.twig
Due: none

test: Update test snapshots where type="button" was added by default
  packages/api/__snapshots__/index.test.js.snap
  packages/components/bolt-button-group/__tests__/__snapshots__/button-group.js.snap
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
Due: none

test: Update test snapshots that have changed tags
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: update bolt element version
  packages/components/bolt-band/package.json
  packages/components/bolt-button/package.json
Due: none

test: Add type prop jest test to button
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: miscalculating menu width when 'show-more' button is hidden
  packages/components/bolt-tabs/src/tabs-dropdown.scss
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js, npm run lint:style

test: update ssr test to work with new PL markup
  docs-site/__tests__/server-side-rendering.e2e.js
Due: none

feat: add `lang` as a prop, update demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/blockquote/35-blockquote-language-specific-quotation-marks.twig
  packages/components/bolt-blockquote/blockquote.schema.yml
  packages/components/bolt-blockquote/src/blockquote.js
Due: npm run lint:js

chore: setting up pages
  docs-site/src/assets/images/content/backgrounds/background-night-sky.jpg
  docs-site/src/assets/images/placeholders/thumb-comet.jpg
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/00-landing-page-l1.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/05-landing-page-l2.twig
Due: none

fix(micro-journeys): move link component to use slot-after for icon
  packages/micro-journeys/starters/cta-text-1.html
  packages/micro-journeys/starters/step-two-character-starter.html
Due: none

feat: add new options to Typeahead to disable sorting, disable filtering, mapping custom data keys, and custom rendering of individual results
  docs-site/.boltrc.js
  docs-site/src/components/pattern-lab-utils/schema-docs.twig
  docs-site/src/index.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/typeahead/typeahead--disable-search-filtering.twig
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.js
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.md
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.twig
  packages/components/bolt-typeahead/__demos__/typeahead.demo-data.json
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.js
  packages/components/bolt-typeahead/typeahead.schema.yml
Due: npm run lint:js

feat: uikit bug fixes + polishing up nav behavior across screen sizes + layout options
  docs-site/config/config.yml
  packages/uikit-workshop/.nvmrc
  packages/uikit-workshop/package.json
  packages/uikit-workshop/src/html/index.html
  packages/uikit-workshop/src/sass/scss/01-abstracts/_mixins.scss
  packages/uikit-workshop/src/sass/scss/02-base/_body.scss
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-header/pl-header.js
  packages/uikit-workshop/src/scripts/lit-components/pl-icon/pl-icon.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-layout/pl-layout.js
  packages/uikit-workshop/src/scripts/lit-components/pl-layout/pl-layout.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-tools-menu/pl-tools-menu.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport-size/pl-viewport-size.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/src/scripts/localstorage.js
  yarn.lock
Due: npm run lint:js, npm run lint:style

chore: remove console.log
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Due: npm run lint:js

chore: port over Expand / Collapse template changes made to the inner component template
  packages/uikit-workshop/views-twig/partials/patternSection.twig
  packages/uikit-workshop/views/partials/patternSection.mustache
Due: none

fix: update Nightwatch E2E test
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

fix: call super in the firstUpdated lifecycle event
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

refactor: remove in-progress schema decorator from the Image component
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: address prettier issues
  docs-site/src/components/shadow-toggle/index.js
  docs-site/src/components/shadow-toggle/shadow-toggle.js
Due: none

fix: update Ratio component Jest test
  packages/components/bolt-ratio/__tests__/ratio.js
Due: npm run lint:js

fix: update Jest snapshots
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

feat: add debounce and optimized-resize helpers to core
  packages/core/utils/debounce.js
  packages/core/utils/index.js
  packages/core/utils/optimized-resize.js
Due: npm run lint:js

feat: update all components using optimizedResize to import event from core
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-image/src/image.js
  packages/components/bolt-nav-indicator/nav-indicator.js
  packages/components/bolt-nav-priority/nav-priority.js
  packages/components/bolt-tabs/src/tabs-dropdown.scss
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js, npm run lint:style

test: update navbar snapshots
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-variable-width-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-3-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-4-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-5-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-7-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-8-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-6-lengthy-links-9-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-with-a-linked-title-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-2-snap.png
  packages/components/bolt-navbar/__tests__/__image_snapshots__/navbar-js-bolt-navbar-component-bolt-navbar-without-links-3-snap.png
Due: none

refactor: Convert accordion schema from yml to js
  packages/components/bolt-accordion/accordion.schema.js
  packages/components/bolt-accordion/accordion.schema.yml
  packages/components/bolt-accordion/package.json
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

Add data-store module for managing the active data store
  packages/build-tools/utils/data-store/README.js
  packages/build-tools/utils/data-store/data-cache/Data.js
  packages/build-tools/utils/data-store/data-cache/DataCache.js
  packages/build-tools/utils/data-store/data-cache/DataMerger.js
  packages/build-tools/utils/data-store/data-cache/Mapper.js
  packages/build-tools/utils/data-store/data-cache/Matcher.js
  packages/build-tools/utils/data-store/data-cache/Reducer.js
  packages/build-tools/utils/data-store/data-cache/index.js
  packages/build-tools/utils/data-store/data-cache/mappers/FileLoader.js
  packages/build-tools/utils/data-store/data-cache/mappers/JsonDecoder.js
  packages/build-tools/utils/data-store/data-cache/mappers/index.js
  packages/build-tools/utils/data-store/data-cache/matchers/MatchDataFormat.js
  packages/build-tools/utils/data-store/data-cache/matchers/MatchFilename.js
  packages/build-tools/utils/data-store/data-cache/matchers/MatchKey.js
  packages/build-tools/utils/data-store/data-cache/matchers/index.js
  packages/build-tools/utils/data-store/data-cache/reducers/DeepMergeReducer.js
  packages/build-tools/utils/data-store/data-cache/reducers/EmptyDataReducer.js
  packages/build-tools/utils/data-store/data-cache/reducers/TwigNamespaceReducer.js
  packages/build-tools/utils/data-store/data-cache/reducers/index.js
  packages/build-tools/utils/data-store/data-cache/types/NullData.js
  packages/build-tools/utils/data-store/data-cache/types/RawObjectData.js
  packages/build-tools/utils/data-store/data-cache/types/StringData.js
  packages/build-tools/utils/data-store/data-cache/types/TextFileData.js
  packages/build-tools/utils/data-store/data-cache/types/index.js
  packages/build-tools/utils/data-store/defaults.js
  packages/build-tools/utils/data-store/index.js
Due: npm run lint:js

Load active data store when webpack is initialized
  packages/build-tools/create-webpack-config.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
Due: npm run lint:js

Make sass-export-data export to the active data store
  packages/build-tools/create-webpack-config.js
  packages/build-tools/plugins/sass-export-data/lib/export-data-sync.js
  packages/build-tools/plugins/sass-export-data/lib/export-data.js
Due: npm run lint:js

Make postcss-themify read from the active data store
  packages/build-tools/create-webpack-config.js
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

Ensure the active data store is written to disk at the end of the build
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

feat: add a new Demo Component wrapper for easily demoing components in different themes
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/components/component-demo/component-demo.js
  docs-site/src/components/component-demo/component-demo.scss
  docs-site/src/components/component-demo/index.js
  docs-site/src/components/component-demo/package.json
  package.json
Due: npm run lint:style

feat: add the ability to render a custom footer template below the Typeahead search results
  packages/components/bolt-typeahead/package.json
  packages/components/bolt-typeahead/typeahead.autosuggest.js
Due: npm run lint:js

docs: update docs to show how to custom render the new footerTemplate config option
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
