Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: disable browsersync ghost syncing as a workaround to ensure local Nightwatch.js browser tests don't have clicks / interactions triggered by other browsers.
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

refactor: update E2E tests to ensure more consistent cross browser behavior
  docs-site/__tests__/pattern-lab.e2e.js
  docs-site/__tests__/server-side-rendering.e2e.js
Due: none

fix: copy updates
  packages/components/bolt-action-blocks/TESTING.md
Due: none

fix: resolve conflicts
  docs-site/composer.lock
  docs-site/src/pages/pattern-lab/_patterns/02-components/10-action-blocks/10-action-blocks-align-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/10-action-blocks/10-action-blocks-border-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/10-action-blocks/15-action-blocks-max-items-per-row-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/10-action-blocks/20-action-blocks-theme-variation.twig
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

feat: add 'gcd' twig function
  packages/core-php/src/TwigExtensions/BoltExtras.php
  packages/core-php/src/TwigFunctions.php
Due: none

fix: use gcd instead of conditionally dividing each by 100
  packages/components/bolt-ratio/src/ratio.twig
Due: none

fix: ensure vanilla <code> elements can scroll horizontally and/or vertically if needed
  packages/global/styles/04-elements/_elements-code.scss
Due: npm run lint:style

fix: docs site-specific layout updates to address display / responsive behavior issues
  docs-site/src/components/site-layout/site-layout.scss
Due: npm run lint:style

fix: update docs site inner page template to use the new pinned content option with bands
  docs-site/src/templates/default.twig
Due: none

refactor: update docs on button component ssr
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/999-button-with-web-component.twig
Due: none

fix: update button SSR text
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/999-button-with-web-component.twig
Due: none

fix: update button SSR text to not compile Twig filter + update SSR code block
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/999-button-with-web-component.twig
Due: none

fix: update Nightwatch test for PL search input to end early in IE 11
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

chore: update test formatting
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

fix: address prettier issues
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

fix: fix prettier issuers
  docs-site/__tests__/pattern-lab.e2e.js
Due: none

chore: update composer.lock files
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

fix: remove doc page template
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/05-list.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/10-list-item-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/15-list-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/20-list-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/25-list-separator-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/30-list-inset-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/35-list-regular-vs-inset-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/40-list-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/45-list-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/50-list-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/list/includes/_list-doc-template.twig
Due: none

chore: lock files
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

fix: inset inline list spacing poking out of container
  packages/components/lists/bolt-list/src/list.scss
Due: npm run lint:style

feat: update gcd twig function with type check
  packages/core-php/src/TwigFunctions.php
Due: none

test: add jest test for logo
  packages/components/bolt-logo/__tests__/fixtures/logo-paypal.svg
  packages/components/bolt-logo/__tests__/logo.js
Due: npm run lint:js

fix: resolve conflicts
  docs-site/composer.lock
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/40-button-text-transform-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/40-button-transform-variations.twig
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

fix: broken button demo code
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/999-button-with-web-component.twig
Due: none

fix: incorrect repsonsive width options
  docs-site/src/pages/pattern-lab/_patterns/02-components/70-button/25-button-width-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/20-d8-press-and-media/00-d8-news-landing.twig
  packages/components/bolt-button/TESTING.md
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.twig
  packages/components/bolt-form/src/inputs/form-button.twig
Due: npm run lint:style

fix: return intval from gcd function, edit comment
  packages/core-php/src/TwigFunctions.php
Due: none

test: update ratio snapshot
  packages/components/bolt-ratio/__tests__/__snapshots__/ratio.js.snap
Due: none

test: add logo snapshots
  packages/components/bolt-logo/__tests__/__image_snapshots__/logo-js-logo-default-bolt-logo-renders-1-snap.png
  packages/components/bolt-logo/__tests__/__image_snapshots__/logo-js-logo-inverted-bolt-logo-renders-as-inverted-1-snap.png
  packages/components/bolt-logo/__tests__/__snapshots__/logo.js.snap
Due: none

test: update card, figure, and image snapshots to reflect changes to ratio component
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
Due: none

docs: add logo testing steps
  packages/components/bolt-logo/TESTING.md
Due: none

styles: add mixins and util
  docs-site/composer.lock
  packages/core/styles/02-tools/tools-border-radius/_tools-border-radius.scss
  packages/drupal-twig-extensions/composer.lock
  packages/global/styles/07-utilities/_utilities-border-radius.scss
  packages/global/styles/index.scss
  packages/twig-renderer/composer.lock
Due: npm run lint:style

chore: composer lock files
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

fix: adding important
  packages/global/styles/07-utilities/_utilities-border-radius.scss
Due: npm run lint:style

fix: change setup:php to run composer *install* not update, we will update manually
  package.json
Due: none

refactor: rename initialize() to init()
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/core-php/src/TwigExtensions/BoltCore.php
  packages/core-php/src/TwigFunctions.php
Due: none

refactor: include $context via 'needs_context' instead of external argument
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/core-php/src/TwigFunctions.php
Due: none

chore: yarn lock
  yarn.lock
Due: none

feat: add initial `@bolt/analytics-autolink` implementation
  packages/analytics/autolink/index.js
  packages/analytics/autolink/package.json
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
