Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: IE KeyboardEvent error on submit
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: prevent search form from submitting multiple times
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: be sure ready event is emitted by 'bolt-autosuggest' before adding event listeners
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: set up focus
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/05-tooltip.twig
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

test: test Travis CI build
  .gitignore
  docs-site/src/assets/images/academy/device-screenshot--tablet-portrait.jpg
  package.json
  packages/build-tools/package.json
  packages/build-tools/tasks/image-tasks.js
  packages/build-tools/tasks/pattern-lab-tasks.js
  packages/uikit-workshop/package.json
  packages/website/.boltrc.js
  packages/website/src/assets/images/band-shapes.svg
  packages/website/src/assets/images/bolt-logo--dark.svg
  packages/website/src/assets/images/bolt-logo--light.svg
  packages/website/src/assets/images/content/logos/logo-paypal.svg
  packages/website/src/assets/images/content/screenshots/device-screenshot--desktop.jpg
  packages/website/src/assets/images/content/screenshots/device-screenshot--phone.jpg
  packages/website/src/assets/images/content/screenshots/device-screenshot--tablet-portrait.jpg
  packages/website/src/assets/images/content/screenshots/device-screenshot--tablet.jpg
  yarn.lock
Due: npm run lint:js

chore: set up POC on button and link as tooltip trigger
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/05-tooltip.twig
  packages/components/bolt-link/link.schema.js
  packages/components/bolt-tooltip/package.json
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-tooltip/src/tooltip.twig
  packages/components/bolt-tooltip/tooltip.schema.js
Due: npm run lint:js

fix: force add auto-generated Icons index.js
  packages/components-icons/src/index.js
Due: npm run lint:js

fix: add yarn cache + include scripts folder in yarn workspaces
  .travis.yml
  package.json
Due: none

test: re-test
  .boltrc.js
  .travis.yml
  jest.config.js
  packages/build-tools-utils/manifest.js
  packages/testing-jest/jest-global-setup.js
  yarn.lock
Due: npm run lint:js

Re-add original image support to upgraded image task
  packages/build-tools/tasks/image-tasks.js
  packages/testing-utils/__tests__/dependency-map.test.js
  yarn.lock
Due: npm run lint:js

fix: re-add empty Icons component index.js
  packages/components-icons/src/index.js
Due: npm run lint:js

fix: exclude experimental + uikit folders from eslint rules
  .eslintignore
Due: none

chore: update gitignore
  .eslintignore
Due: none

feat: add wc-context to Menu component
  packages/components/bolt-menu/package.json
  packages/components/bolt-menu/src/_menu-item.js
  packages/components/bolt-menu/src/menu.js
Due: npm run lint:js

chore: demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/tooltip/05-tooltip.twig
Due: none

fix: eslint errors not fixable with --fix
  auto-release.js
Due: none

fix: temporarily skip auto-linting / fixing md files till rules get updated
  package.json
Due: none

fix: minor Nav fixes for Firefox + IE 11
  packages/uikit-workshop/src/sass/scss/05-themes/_sidebar-theme.scss
  packages/uikit-workshop/src/scripts/components/pl-nav/nav-link.scss
Due: npm run lint:style

chore: run prettier on all json files
  docs-site/config/listeners.json
  docs-site/config/patternengines.json
  docs-site/src/pages/pattern-lab/_patterns/04-pages/45-d8-blog/05-blog-post.json
  example-integrations/angular/angular.json
  example-integrations/angular/e2e/tsconfig.e2e.json
  example-integrations/angular/src/tsconfig.app.json
  example-integrations/angular/src/tsconfig.spec.json
  example-integrations/angular/src/tslint.json
  example-integrations/angular/tsconfig.json
  example-integrations/angular/tslint.json
  example-integrations/drupal-lab/now.drupal-lab.json
  lerna.json
  now.json
  packages/build-tools/plugins/sass-export-data/tests/basics/expected/sub/class-names.json
  packages/build-tools/plugins/sass-export-data/tests/basics/expected/sub/nested-data.json
  packages/build-tools/utils/schemaSchema-v4.json
  packages/build-tools/utils/test-sample-files/basic.json
  packages/components/bolt-critical-fonts/src/font-stacks.bolt.json
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icon/src/icon.json
  packages/components/bolt-smooth-scroll/demo/smooth-scroll.demo.json
  packages/components/bolt-typeahead/typeahead.scoped.json
  packages/core-php/composer.json
  packages/core-v2.x/styles/01-settings/settings-breakpoints/breakpoints.json
  packages/core-v3.x/styles/01-settings/settings-breakpoints/breakpoints.json
  packages/drupal-modules/bolt_connect/composer.json
  packages/editor/tsconfig.json
  packages/global/styles/05-objects/objects-bare-list/demo/bare-list.json
  packages/global/styles/05-objects/objects-flag/demo/flag.json
  packages/global/styles/05-objects/objects-flag/demo/flag~align-middle.json
  packages/global/styles/05-objects/objects-inline-list/demo/inline-list.json
  packages/global/styles/05-objects/objects-inline-list/demo/inline-list~bottom.json
  packages/global/styles/05-objects/objects-inline-list/demo/inline-list~center.json
  packages/global/styles/05-objects/objects-ui-list/demo/ui-list.json
  packages/global/styles/06-themes/themes.schema.json
  packages/styleguidekit-twig-default/composer.json
  packages/testing/testing-utils/tsconfig.json
  packages/twig-renderer/composer.json
  packages/uikit-workshop/tsconfig.json
  tsconfig.json
Due: none

chore: run sort-package-json on all json files
  docs-site/src/components/bolt-select/package.json
  example-integrations/angular/package.json
  example-integrations/drupal-lab/package.json
  packages/analytics/autolink/package.json
  packages/analytics/autotrack/package.json
  packages/api/package.json
  packages/base-polyfills/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/package.json
  packages/core-php/package.json
  packages/drupal-twig-extensions/package.json
  packages/generators/yeoman-create-component/package.json
  packages/polyfills/critical-path-polyfills/package.json
  packages/servers/default-server/package.json
  packages/servers/ssr-server/package.json
  packages/servers/testing-server/package.json
  packages/testing/testing-helpers/package.json
  packages/testing/testing-utils/package.json
  packages/twig-renderer/package.json
  packages/uikit-critical-css-webpack-plugin/package.json
  packages/uikit-polyfills/package.json
  packages/uikit-prerender-spa-plugin/package.json
  packages/uikit-prerenderer/package.json
  packages/uikit-workshop/package.json
  scripts/package.json
Due: none

chore: sort json files
  docs-site/src/components/bolt-select/package.json
  example-integrations/angular/package.json
  example-integrations/drupal-lab/package.json
  packages/analytics/autolink/package.json
  packages/analytics/autotrack/package.json
  packages/api/package.json
  packages/base-polyfills/package.json
  packages/build-tools/plugins/sassdoc-webpack-plugin/package.json
  packages/core-php/package.json
  packages/drupal-twig-extensions/package.json
  packages/generators/yeoman-create-component/package.json
  packages/polyfills/critical-path-polyfills/package.json
  packages/servers/default-server/package.json
  packages/servers/ssr-server/package.json
  packages/servers/testing-server/package.json
  packages/testing/testing-helpers/package.json
  packages/testing/testing-utils/package.json
  packages/twig-renderer/package.json
  packages/uikit-critical-css-webpack-plugin/package.json
  packages/uikit-polyfills/package.json
  packages/uikit-prerender-spa-plugin/package.json
  packages/uikit-prerenderer/package.json
  packages/uikit-workshop/package.json
  scripts/package.json
Due: none

fix: Remove cache-loader from webpack fonts rule
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

chore: add eslint-ignore camelcase comment to script
  scripts/check-run.js
Due: none

chore: run eslint on all JS except example-integrations
  jest.config.js
  scripts/check-run.js
  scripts/release/update-php-package-versions.js
  scripts/utils/branch-name.js
Due: none

fix: remove auto patch no longer needed
  patches/@auto-it+core+8.0.0.patch
Due: none

chore: update eslint + stylelint rules for the monorepo
  package.json
Due: none

fix: fix recent changes to auto-release.js
  auto-release.js
Due: none

fix: adding removed earlier functionality
  jest.config.js
  packages/generators/yeoman-create-component/generators/component/add-bolt-package.js
  packages/generators/yeoman-create-component/generators/component/index.js
  packages/generators/yeoman-create-component/generators/component/update-boltrc.js
  packages/generators/yeoman-create-component/package.json
  packages/testing/testing-jest/jest-global-teardown.js
  yarn.lock
Due: npm run lint:js

fix: add testing file for generator
  packages/generators/yeoman-create-component/generators/component/__tests__/component-generator.js
Due: npm run lint:js

feat: update naming ot newest approach
  packages/generators/yeoman-create-component/generators/component/templates/component.js
  packages/generators/yeoman-create-component/generators/component/templates/index.component.js
Due: npm run lint:js

chore: update snapshot
  packages/generators/yeoman-create-component/generators/component/__tests__/__snapshots__/component-generator.js.snap
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.13.2
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

[skip travis] chore(release): release v2.13.2
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/build-tools/package.json
  packages/components/bolt-critical-css-vars/CHANGELOG.md
  packages/components/bolt-critical-css-vars/package.json
  packages/components/bolt-critical-css/CHANGELOG.md
  packages/components/bolt-critical-css/package.json
  packages/core-php/CHANGELOG.md
  packages/core-php/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/servers/default-server/CHANGELOG.md
  packages/servers/default-server/package.json
  packages/servers/ssr-server/CHANGELOG.md
  packages/servers/ssr-server/package.json
  packages/servers/testing-server/CHANGELOG.md
  packages/servers/testing-server/package.json
  packages/testing/testing-helpers/CHANGELOG.md
  packages/testing/testing-helpers/package.json
  packages/testing/testing-jest/CHANGELOG.md
  packages/testing/testing-jest/package.json
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
