Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-174: first pass with updated styles
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/10-bolt-layout-doc.twig
  docs-site/src/pages/pattern-lab/_patterns/_30-layouts/.gitkeep
  packages/layouts/bolt-layout/layout.schema.js
  packages/layouts/bolt-layout/src/_layout-item.twig
  packages/layouts/bolt-layout/src/layout-item.twig
  packages/layouts/bolt-layout/src/layout.scss
  packages/layouts/bolt-layout/src/layout.twig
Due: npm run lint:js, npm run lint:style

ACD-365: Update dashboard to reflect latest Academy code
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/cards/_vertical-card.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/dashboard/_dashboard-band--my-missions.twig
Due: none

ds-157: set up button element
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/00-button-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/00-text-link-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/05-text-link.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/10-text-link-with-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/15-text-link-reversed-underline.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/20-text-link-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/25-text-link-attributes.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/30-text-link-expand-click-target.twig
  packages/base-starter-kit/.boltrc.js
  packages/elements/bolt-button/CHANGELOG.md
  packages/elements/bolt-button/__tests__/button.js
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/index.scss
  packages/elements/bolt-button/package.json
  packages/elements/bolt-button/src/button.scss
  packages/elements/bolt-button/src/button.twig
  packages/global/styles/00-vars/_vars-interactive-states.scss
  packages/global/styles/00-vars/_vars-mode.scss
  packages/global/styles/index.scss
Due: npm run lint:js, npm run lint:style

ds-157: fix primary shadow
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:style

Updated the work based on PR feedback
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/999-card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-video/brightcove.scss
  packages/components/bolt-video/brightcove/_video.scss
  packages/components/bolt-video/brightcove/video.scss
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: npm run lint:style

WWW-353: Remove and replace 'data-social-title' option
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

WWW-350: updated the autoplay plugin to the Brigthcove player
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

www-105: fix card video doc and hide old video docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/999-card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-05-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-10-video-hide-meta-title-and-duration.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-15-video-hide-meta-title-only.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-20-video-hide-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-25-video-with-external-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-35-video-with-inline-script-and-external-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-50-video-with-email-share.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-55-video-with-custom-share-text.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-60-video-with-cue-points.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-65-video-with-external-title.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-70-video-with-default-error-message.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/-71-video-with-custom-error-message.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/00-video-docs.twig
Due: none

ds-105: update copy
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
Due: none

DS-253: Fix deep link race condition when accordion is in band
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-band/src/band.js
Due: npm run lint:js

ds-157: fix icon size and white space
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  packages/core-v3.x/styles/02-tools/tools-text-link/_tools-text-link.scss
  packages/elements/bolt-button/src/button.scss
  packages/elements/bolt-text-link/src/text-link.scss
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:style

Fixed a typo on the video deprecatation banner
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-deprecated/00-video-docs.twig
Due: none

WWW-105: Updated the brightcove CSS to the latest bolt-video styling
  packages/components/bolt-video/brightcove/_video.scss
Due: npm run lint:style

ds-157: set up additional props
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/src/button.scss
  packages/elements/bolt-button/src/button.twig
  packages/elements/bolt-text-link/src/text-link.twig
  packages/elements/bolt-text-link/text-link.schema.js
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:js, npm run lint:style

ds-157: set up display prop
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/src/button.scss
  packages/elements/bolt-button/src/button.twig
Due: npm run lint:js, npm run lint:style

ds-157: fix levitating effect
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:style

ds-174: rollback and first look at new approach
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/05-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/10-bolt-layout-doc.twig
  packages/layouts/bolt-layout/layout.schema.js
  packages/layouts/bolt-layout/src/layout-item.twig
  packages/layouts/bolt-layout/src/layout.scss
Due: npm run lint:js, npm run lint:style

Updated the disabled controls pointer event and reworked the attributes control on the BC video
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/25-device-viewer-video.twig
  packages/components/bolt-video/brightcove/_video.scss
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: npm run lint:style

Updated the video class to c-base-video
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/40-accordion-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/999-card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/25-carousel-basic-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/device-viewer/25-device-viewer-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/figure/10-figure-media-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/30-tabs-content.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/50-d8-careers/00-careers-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t2-inner-pages/topic-details/acd-topic-detail-page.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  packages/components/bolt-video/brightcove/_video.scss
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: npm run lint:style

ds-157: add more doc pages
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/10-button-link.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/15-button-attributes.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/20-button-with-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/10-text-link-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/15-text-link-attributes.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/20-text-link-with-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/25-text-link-reversed-underline.twig
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/package.json
  packages/elements/bolt-button/src/button.scss
  packages/elements/bolt-button/src/button.twig
  packages/elements/bolt-text-link/src/text-link.twig
  packages/elements/bolt-text-link/text-link.schema.js
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:js, npm run lint:style

DS-255: add the option to pass an image component in the background image
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.md
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
  packages/components/bolt-hero/hero.schema.js
  packages/components/bolt-hero/hero.twig
Due: npm run lint:js

DS-255: set new variable case to snake
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
  packages/components/bolt-hero/hero.schema.js
  packages/components/bolt-hero/hero.twig
Due: npm run lint:js

Added in responsive behavior the control bar buttons
  packages/components/bolt-video/brightcove/_video.scss
Due: npm run lint:style

ds-157: finish documentation
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/30-button-hierarchy.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/35-button-size.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/40-button-border-radius.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/45-button-display.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/50-button-upload.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/05-text-link.twig
  packages/core-v3.x/styles/02-tools/tools-text-link/_tools-text-link.scss
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-button/src/button.scss
Due: npm run lint:js, npm run lint:style

ds-157: fix typos
  packages/elements/bolt-button/button.schema.js
  packages/elements/bolt-text-link/text-link.schema.js
Due: npm run lint:js

ds-157: fix doc template
  docs-site/src/components/pattern-lab-utils/pattern-doc-page.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/20-button-with-icon.twig
  packages/elements/bolt-button/button.schema.js
Due: npm run lint:js

ds-157: remove input resets
  packages/global/styles/04-elements/_elements-anchor-and-button.scss
Due: npm run lint:style

Update docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
Due: none

Update packages/components/bolt-hero/hero.schema.js
  packages/components/bolt-hero/hero.schema.js
Due: npm run lint:js

DS-255: update documentation to include information on the cover prop
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
  packages/components/bolt-hero/hero.schema.js
Due: npm run lint:js

DS-255: changed demo theme just so the differences are more obvious.
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
Due: none

DS-255: doc warning note update
  docs-site/src/pages/pattern-lab/_patterns/40-components/hero/60-hero--bg-valign.twig
Due: none

ds-157: change mode class to attributes
  packages/global/styles/00-vars/_vars-mode.scss
Due: npm run lint:style

ds-157: show light and dark hierarchy
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/30-button-hierarchy.twig
Due: none

ds-157: update pattern doc template
  docs-site/src/components/pattern-lab-utils/pattern-doc-page.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/05-button.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/30-button-hierarchy.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/05-text-link.twig
Due: none

Updated the demos with meta title and duration examples
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/40-accordion-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card-replacement/35-card-replacement-with-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/25-carousel-basic-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/figure/10-figure-media-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/45-modal-usage-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/30-tabs-content.twig
Due: none

ds-258: fix typos and bad code
  packages/components/bolt-stack/src/stack.scss
  packages/components/bolt-stack/src/stack.twig
  packages/components/bolt-stack/stack.schema.js
Due: npm run lint:js, npm run lint:style

ds-157: Add missing snapshot
  packages/elements/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
