Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

fix: handle the pattern parameter query string if the page loading doesn't know which pattern is currently getting loaded
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
Due: npm run lint:js

chore: run pl-nav.js through Prettier
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Due: npm run lint:js

refactor(micro-journeys): pull out starter templates
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  packages/micro-journeys/starters/cta-text-1.html
  packages/micro-journeys/starters/cta-text-2.html
  packages/micro-journeys/starters/cta-text-3.html
  packages/micro-journeys/starters/cta-text-4.html
  packages/micro-journeys/starters/cta-text-5.html
  packages/micro-journeys/starters/one-character.html
  packages/micro-journeys/starters/two-characters-2.html
  packages/micro-journeys/starters/two-characters-3.html
  packages/micro-journeys/starters/two-characters-4.html
  packages/micro-journeys/starters/two-characters.html
Due: none

fix(micro-journeys): move pathway title to attribute
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/80-micro-journeys-solo.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  packages/micro-journeys/src/interactive-pathway.js
Due: npm run lint:js

fix: remove spaghetti code
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

refactor(micro-journeys): rename starter templates with numbers
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  packages/micro-journeys/starters/one-character-1.html
  packages/micro-journeys/starters/two-characters-1.html
Due: none

docs: simplify testing instructions
  packages/components/bolt-list/TESTING.md
Due: none

fix(interactive-step): add padding for nav dot truncation
  packages/micro-journeys/src/interactive-pathway.scss
  packages/micro-journeys/src/interactive-step.scss
  packages/micro-journeys/src/nav-shared.scss
Due: npm run lint:style

style(interactive-pathways): scss lint
  packages/micro-journeys/src/interactive-pathway.scss
Due: npm run lint:style

style(interactive-pathways): js lint
  packages/micro-journeys/src/interactive-pathway.js
Due: npm run lint:js

fix(editor): adding bolt-animate as new slot
  packages/editor/src/editor.js
Due: npm run lint:js

refactor: automatically add @bolt-assets and @bolt-icon-assets Twig namespaces internally by default
  packages/build-tools/tasks/internal-tasks.js
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

chore: remove manually added Twig namespace for @bolt-assets since this is now getting added automatically
  docs-site/.boltrc.js
Due: none

fix: update svgo Webpack config import so the config customizations work as expected
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

revert: revert adding SVG icon assets to the icons component folder — move back to using the wwwDir / buildDir to organize everything
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

refactor: consolidate and simplify shared SVGO config
  packages/build-tools/svgo-config.js
Due: npm run lint:js

fix: ignore missing SVG icons in the Twig template when attempting to inline the fallback SVG icon
  packages/components/bolt-icon/src/icon.twig
Due: none

refactor: simplify Twig filter work needed on SVGs + add CSS classes so sizing of icons is correct
  packages/components/bolt-icon/src/icon.twig
Due: none

fix: rename Bolt SVG icon to ensure the path name + icon name match up
  packages/components/bolt-icons/src/svgs/utility/bolt-logo-colored.svg
Due: none

fix: update Navbar component to allow passing in additional Icon component config options
  packages/components/bolt-navbar/src/_navbar-title.twig
Due: none

refactor: update docs site page header to automatically pre-render SVG icons being used
  docs-site/src/templates/_page-header.twig
Due: none

fix: remove unused comment
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

refactor: re-enable Shadow DOM by default when supported
  packages/components/bolt-typeahead/typeahead.twig
Due: none

refactor: rename the Icon `fallback` prop name to instead be called `preload`
  docs-site/src/templates/_page-header.twig
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icon/src/icon.twig
  packages/components/bolt-typeahead/typeahead.twig
Due: none

fix: address prettier formatting issues
  packages/build-tools/svgo-config.js
Due: npm run lint:js

fix: reformat icon `preload` prop description
  packages/components/bolt-icon/icon.schema.yml
Due: none

refactor: grab parent element reference based on rendering to Shadow DOM or not
  packages/components/bolt-typeahead/autosuggest.js
Due: npm run lint:js

fix: add missing <style> tag for the parent <bolt-typeahead> component
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

fix: fix prettier issues
  packages/components/bolt-typeahead/autosuggest.js
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

feat: update starter templates to have bolt-animate for all slots
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/starters/cta-text-1.html
  packages/micro-journeys/starters/cta-text-2.html
  packages/micro-journeys/starters/cta-text-3.html
  packages/micro-journeys/starters/cta-text-4.html
  packages/micro-journeys/starters/cta-text-5.html
  packages/micro-journeys/starters/one-character-1.html
  packages/micro-journeys/starters/two-characters-1.html
  packages/micro-journeys/starters/two-characters-2.html
  packages/micro-journeys/starters/two-characters-3.html
  packages/micro-journeys/starters/two-characters-4.html
Due: npm run lint:js

chore: re-add formatted icon schema file
  packages/components/bolt-icon/icon.schema.yml
Due: none

test: update Node to v12 for preliminary testing
  .nvmrc
Due: none

feat(micro-journeys): add starter templates to step
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/starters/index.js
Due: npm run lint:js

fix(editor): components extend text by default to allow text editability
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: add raw-loader dep
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

update pattern lab, linting
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
  packages/components/bolt-svg-animations/src/svg/connectionBand.js
  packages/components/bolt-svg-animations/src/svg/tripleConnectionBand.js
Due: npm run lint:js

merging in epic
  yarn.lock
Due: none

feat(editor): improve slot controls
  packages/components/bolt-animate/utils.js
  packages/editor/src/editor.js
  packages/editor/src/setup-bolt.js
  packages/editor/types/grapesjs/index.d.ts
  yarn.lock
Due: npm run lint:js

test(editor): adding to repo boltrc
  .boltrc.js
Due: none

refactor: fixes to naming conventions around the svg animatons package
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
  packages/components/bolt-svg-animations/package.json
  packages/components/bolt-svg-animations/src/svg-animations.js
  packages/components/bolt-svg-animations/src/svg/automation.js
  packages/components/bolt-svg-animations/src/svg/connectionBand.js
  packages/components/bolt-svg-animations/src/svg/orbit.js
  packages/components/bolt-svg-animations/src/svg/radar.js
  packages/components/bolt-svg-animations/svg-animations.schema.js
  packages/components/bolt-svg-animations/svg-animations.schema.yml
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/starters/two-characters-1.html
  packages/micro-journeys/starters/two-characters-2.html
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
