Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix: update test file to address prettier issue
  packages/build-tools/__tests__/multi-lang/index.js
Due: npm run lint:js

fix(self-drawing-circle): replace shadowRoot with renderRoot for IE 11
  packages/components/bolt-self-drawing-circle/src/self-drawing-circle.js
Due: npm run lint:js

fix(with-without): working with no shadow dom; replace a-simple-switch for no-js alternative
  packages/components/bolt-with-without/SimpleSwitch.scss
  packages/components/bolt-with-without/bolt-toggle/bolt-toggle.scss
  packages/components/bolt-with-without/bolt-toggle/bolt-toggle.twig
  packages/components/bolt-with-without/js/Switch/Switch.js
  packages/components/bolt-with-without/js/Switch/index.js
  packages/components/bolt-with-without/js/handleActiveRegionChange.js
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/package.json
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js, npm run lint:style

fix(with-without): sass fixes for no shadow dom icons
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:style

fix(with-without): sass fixes for no shadow dom icons; remove swiping
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:style

test: test adding Github actions workflow
  .github/main.workflow
Due: none

test: re-test workflow
  .github/main.workflow
Due: none

fix: remove old "uses" config
  .github/main.workflow
Due: none

fix: re-test
  .github/main.workflow
Due: none

test: re-test composer install
  .github/main.workflow
Due: none

test: re-test
  .github/main.workflow
Due: none

fix: add missing "runs" command
  .github/main.workflow
Due: none

test: retest Docker build
  .github/main.workflow
Due: none

Update webpack.config.js
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

Update package.json
  packages/uikit-workshop/package.json
Due: none

fix(self-drawing-circle): decrease stroke width
  packages/components/bolt-self-drawing-circle/src/self-drawing-circle.js
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

add Tome to dependencies
  example-integrations/drupal-lab/composer.json
  example-integrations/drupal-lab/composer.lock
Due: none

feat: Update config files
  example-integrations/drupal-lab/config/sync/block.block.bartik_admin.yml
  example-integrations/drupal-lab/config/sync/block.block.bartik_tools.yml
  example-integrations/drupal-lab/config/sync/block.block.bolt_starter_admin.yml
  example-integrations/drupal-lab/config/sync/block.block.bolt_starter_tools.yml
  example-integrations/drupal-lab/config/sync/block.block.stark_admin.yml
  example-integrations/drupal-lab/config/sync/block.block.stark_tools.yml
  example-integrations/drupal-lab/config/sync/core.extension.yml
Due: none

feat: Create commands to build, generate, clean and prepare static version of Drupal-Lab
  example-integrations/drupal-lab/web/themes/bolt-starter/yarn.lock
  package.json
Due: none

fix(with-without): fixing some svg errors on ie 11
  packages/components/bolt-with-without/svg/book.svg
  packages/components/bolt-with-without/svg/book.twig
  packages/components/bolt-with-without/svg/eye-contrast.svg
  packages/components/bolt-with-without/svg/eye-contrast.twig
  packages/components/bolt-with-without/svg/eye.svg
Due: none

fix(with-without): fix accordion toggle breakage
  packages/components/bolt-with-without/js/accordion.js
Due: npm run lint:js

fix(self-drawing-circle): fix overdrawn line
  packages/components/bolt-self-drawing-circle/src/self-drawing-circle.js
Due: npm run lint:js

style(with-without): linter fixes
  packages/components/bolt-with-without/bolt-toggle/bolt-toggle.scss
  packages/components/bolt-with-without/js/accordion.js
Due: npm run lint:js, npm run lint:style

fix(with-without): increase animation speed
  packages/components/bolt-with-without/with-without.scss
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:style

fix(with-without): fix toggle after change to radio
  packages/components/bolt-with-without/js/handleActiveRegionChange.js
  packages/components/bolt-with-without/js/handleResize.js
  packages/components/bolt-with-without/js/with-without.js
  packages/components/bolt-with-without/with-without.twig
Due: npm run lint:js

fix(with-without): fix toggle after change to radio
  packages/components/bolt-with-without/js/handleActiveRegionChange.js
  packages/components/bolt-with-without/js/with-without.js
Due: npm run lint:js

chore: cleanup
  packages/components/bolt-animate/src/animate.js
  packages/components/bolt-animate/utils.js
  packages/editor/src/editor.js
  packages/editor/src/utils.js
Due: npm run lint:js

fix(micro-journeys): set status-dialog-bar to inline-block
  packages/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:style

chore(editor): upgrade grapesjs v0.14.62 => 0.15.3
  packages/editor/package.json
  yarn.lock
Due: none
