Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

feat: remove bolt-image children on connect
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

feat: add timeout to workaround lazyload render race condition, wip
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: only add main bolt image class to fallback
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: return if src or srcset
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

style: remove console log
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

feat: render image template every time, do not keep initial HTML
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

test(@bolt/components-image): update test logic
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

refactor: expose function stop testing server when keepAlive mode is being used
  packages/twig-renderer/twig-renderer.js
Due: npm run lint:js

refactor: remove old button component tests — now replaced by new Jest testing setup
  packages/components/bolt-button/__tests__/button-wc.test.js
Due: npm run lint:js

refactor: generate all image cuts in all environments to simplify testing and build behavior
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: remove old deps no longer needed
  package.json
  yarn.lock
Due: none

refactor: add new button tests + new tests gradually being switched on
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-default-bolt-button-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-button/__tests__/button.mocha.js
Due: npm run lint:js

refactor: add new webpack dev server spun up by Jest + env config setup needed in order to run component tests more natively
  .boltrc.js
  babel.config.js
  jest-environment-puppeteer-basichtml.js
  jest-global-setup.js
  jest-global-teardown.js
  jest-setup-files-after-env.js
  jest.config.js
  server/testing-server.js
Due: none

test(@bolt/components-image): update nightwatch test logic
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

fix: remove mocha references
  .travis.yml
  package.json
  yarn.lock
Due: none

fix: clean up and update package.json dependencies + update button snapshot
  package.json
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  yarn.lock
Due: none

chore: remove old mocha integration test
  test/integration/index.js
Due: none

fix: update max timeout for Jest test
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

test: retest puppeteer timeout
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: manually add font loader class to jest test page
  server/testing-server.js
Due: none

feat(@bolt/website,@bolt/components-chip): create web component for bolt-chip component
  docs-site/src/pages/pattern-lab/_patterns/02-components/chip/05-chip.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/chip/10-chip-with-web-component.twig
  packages/components/bolt-chip/chip.schema.yml
  packages/components/bolt-chip/index.js
  packages/components/bolt-chip/index.scss
  packages/components/bolt-chip/package.json
  packages/components/bolt-chip/src/chip.js
  packages/components/bolt-chip/src/chip.scss
  packages/components/bolt-chip/src/chip.twig
Due: npm run lint:js, npm run lint:style

test(@bolt/components-chip): adding test for bolt-chip component
  packages/components/bolt-chip/TESTING.md
  packages/components/bolt-chip/__tests__/__snapshots__/chip.js.snap
  packages/components/bolt-chip/__tests__/chip.js
Due: npm run lint:js

fix: update puppeteer testing config
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

feat: add additional vrt test to button
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

feat: update jest vrt reporter to upload images to now.sh
  jest.config.js
  package.json
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-default-bolt-button-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  scripts/report-jest-screenshots.js
  yarn.lock
Due: none

refactor: update Jest visual regression test reporting logic to auto upload and point to now.sh instance assets are auto-deployed to
  packages/components/bolt-button/__tests__/__image_snapshots__/button-js-button-default-bolt-button-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
  scripts/report-jest-screenshots.js
  server/testing-server.js
Due: npm run lint:js

fix: fix line break when reporting failed vrt tests
  scripts/report-jest-screenshots.js
Due: none

fix: update min image snapshot threshold before failing to 1%
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

chore: update Jest CLI params
  package.json
Due: none

test: break Jest test to check Travis fail / exit codes working
  server/testing-server.js
Due: none

fix: update Jest CLI args to exclude env flag
  package.json
Due: none

fix: update button tests to address prettier issue
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

refactor: test potential fix for BDS-1048 and BDS-1049
  .travis.yml
Due: none

fix: add fast_finish option to Travis job config
  .travis.yml
Due: none

test: update Travis build config to check fast_finish config option
  .travis.yml
Due: none

fix: remove 'striptags' filter from bolt-teaser text, creates IE bugs with bolt-link
  packages/components/bolt-teaser/src/teaser.twig
Due: none

fix: update Travis config to include caching
  .travis.yml
Due: none

chore: remove non-applicable fast_finish config
  .travis.yml
Due: none

chore: rename Travis CI jobs + split up build / deploy task to run after lint / unit tests run successfully
  .travis.yml
Due: none

fix: remove sudo from Travis config
  .travis.yml
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
