Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

feat: Add border radius prop to button component
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/_button.mixins.scss
  packages/components/bolt-button/src/_button.settings.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.twig
Due: npm run lint:style

feat: Add border-radius prop to button web component
  packages/components/bolt-button/src/button.standalone.js
  packages/components/bolt-button/src/button.twig
Due: npm run lint:js

feat: Add flex variable to display prop
  apps/pattern-lab/src/_patterns/02-components/list/15-list-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/20-list-spacing-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/25-list-separator-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/30-list-inset-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/40-list-align-variations.twig
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.js
  packages/components/bolt-list/src/list.scss
  packages/components/bolt-list/src/list.twig
Due: npm run lint:js, npm run lint:style

style: Cleaning styles
  packages/components/bolt-list/src/_list-item.scss
Due: npm run lint:style

docs: Add pattern lab examples of button border_radius prop
  apps/pattern-lab/src/_patterns/02-components/button/05-button-border-radii.twig
Due: none

docs: Replace all usages of rounded button property with radius
  apps/pattern-lab/src/_patterns/02-components/button/05-button-rounded-options.twig
  apps/pattern-lab/src/_patterns/02-components/button/45-button-icon-only.twig
  apps/pattern-lab/src/_patterns/02-components/buttons-group/10-button-group-icon-only.twig
  apps/pattern-lab/src/_patterns/02-components/buttons-group/20-button-group-contentItems.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
  apps/pattern-lab/src/_patterns/04-pages/30-d8-partners/00-d8-partners-search.twig
  apps/pattern-lab/src/_patterns/04-pages/45-d8-blog/00-blog-homepage.twig
  packages/components/bolt-search-filter/search-filter.twig
Due: none

feat: Deprecate rounded property for button component
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/_button.settings.scss
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.standalone.js
  packages/components/bolt-button/src/button.twig
Due: npm run lint:js, npm run lint:style

test: Update jest tests
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

refactor: fix prettier errors
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

fix: Update schema syntax when multiple props are deprecated
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
  packages/components/bolt-share/share.schema.yml
Due: none

fix: Update accepted values for button border radius prop
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/_button.mixins.scss
  packages/components/bolt-button/src/_button.settings.scss
Due: npm run lint:style

refactor: remove pre-compiled assets from wrong uikit folder
  packages/uikit-workshop/www/pattern-lab/index.html
  packages/uikit-workshop/www/pattern-lab/styleguide/css/pattern-lab.css
  packages/uikit-workshop/www/pattern-lab/styleguide/js/patternlab-pattern.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-controls-chunk-e8f9989e29d98946bb42.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-controls~pl-drawer~pl-header~pl-iframe~pl-layout~pl-logo~pl-nav~pl-search~pl-toggle-info~pl-toggl~c1a38674-chunk-d94cebbbb24538de458f.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-drawer-chunk-c90a053211d8ade5e226.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-header-chunk-8e4ae72c9d0a69a5220c.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-iframe-chunk-5b01f5bcc53a610e66ed.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-layout-chunk-c67b68d6a408833b889e.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-logo-chunk-a967a00034364aba5831.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-modal-viewer-chunk-2f5a931d46fab2270042.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-nav-chunk-679f93e7e80da59bb0b2.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-search-chunk-1b3349e37d2e51cad268.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-search-chunk-6e4366ba4b612ce49431.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-styleguide-chunk-6a60bf653709f9db2033.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-toggle-info-chunk-20d1e36c3d386044f458.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-toggle-layout-chunk-9046f63b831df9312a8a.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-toggle-theme-chunk-59683e5e4613c31e944e.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/pl-tools-menu-chunk-bbc4efc503f32cde437d.js
  packages/uikit-workshop/www/pattern-lab/styleguide/js/vendors-chunk-d4c1d79af10ce25810e5.js
Due: npm run lint:js

fix: remove hard-coded path from pattern lab uikit config paths
  packages/uikit-workshop/.patternlabrc.js
Due: npm run lint:js

fix: auto-copy bolt logo assets used in uikit
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

fix: address alignment in header / sidebar
  packages/uikit-workshop/src/scripts/components/pl-controls/pl-controls.scss
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.scss
Due: npm run lint:style

fix: adjust padding in mobile nav
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
Due: npm run lint:style

chore: set up basic figure
  apps/pattern-lab/src/_patterns/02-components/figure/00-figure-docs.twig
  apps/pattern-lab/src/_patterns/02-components/figure/05-figure.twig
  packages/components/bolt-figure/figure.schema.yml
  packages/components/bolt-figure/index.scss
  packages/components/bolt-figure/package.json
  packages/components/bolt-figure/src/figure.scss
  packages/components/bolt-figure/src/figure.twig
Due: npm run lint:style

docs: adding media variations demo
  apps/pattern-lab/src/_patterns/02-components/figure/10-figure-media-variations.twig
Due: none

WIP: theming and PL UI updates
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/_patterns/02-components/00-overview.twig
  apps/pattern-lab/src/styles/_docs.scss
  packages/global/styles/03-generic/_generic-reset.scss
  packages/global/styles/04-elements/_elements-page.scss
  packages/global/styles/04-elements/_elements-paragraphs.scss
  packages/uikit-workshop/package.json
  packages/uikit-workshop/src/sass/scss/01-abstracts/_mixins.scss
  packages/uikit-workshop/src/sass/scss/01-abstracts/_variables.scss
  packages/uikit-workshop/src/sass/scss/02-base/_body.scss
  packages/uikit-workshop/src/sass/scss/04-components/_pattern-category.scss
  packages/uikit-workshop/src/sass/scss/04-components/_pattern.scss
  packages/uikit-workshop/src/sass/scss/05-themes/_light-theme.scss
  packages/uikit-workshop/src/sass/scss/05-themes/_sidebar-theme.scss
  packages/uikit-workshop/src/scripts/actions/app.js
  packages/uikit-workshop/src/scripts/components/pl-controls/pl-controls.js
  packages/uikit-workshop/src/scripts/components/pl-drawer/pl-drawer.scss
  packages/uikit-workshop/src/scripts/components/pl-header/pl-header.scss
  packages/uikit-workshop/src/scripts/components/pl-layout/pl-layout.js
  packages/uikit-workshop/src/scripts/components/pl-layout/pl-layout.scss
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.js
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.scss
  packages/uikit-workshop/src/scripts/components/pl-toggle-theme/pl-toggle-theme.js
  packages/uikit-workshop/src/scripts/components/pl-viewport-size/pl-viewport-size.js
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.scss
  packages/uikit-workshop/src/scripts/components/styleguide.js
  packages/uikit-workshop/src/scripts/patternlab-pattern.js
  packages/uikit-workshop/src/scripts/reducers/app.js
Due: npm run lint:js, npm run lint:style

feature: Changing handling of spacing with inset or not
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.js
  packages/components/bolt-list/src/list.scss
Due: npm run lint:js, npm run lint:style

feat: Remove unused "none" option for border_radius prop
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-button/src/_button.settings.scss
Due: npm run lint:style

docs: update demo
  apps/pattern-lab/src/_patterns/02-components/list/-00-list-demo.twig
  apps/pattern-lab/src/_patterns/02-components/list/40-list-align-variations.twig
  apps/pattern-lab/src/_patterns/02-components/list/45-list-valign-variations.twig
  packages/components/bolt-list/index.scss
Due: npm run lint:style

fix: Remove usages of the deprecated inline property in share component
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/00-d8-news-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/20-d8-details-page-press.twig
  apps/pattern-lab/src/_patterns/04-pages/40-d8-content-hub/00-sticky-navbar.twig
Due: none

fix: remove extra style block
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

fix: Remove border on entire list
  packages/components/bolt-list/src/_list-item.scss
  packages/components/bolt-list/src/list.scss
Due: npm run lint:style

feat: fix formatting of code examples
  apps/pattern-lab/src/_patterns/02-components/link/20-link-with-custom-elements.twig
Due: none

ci(travis) adjust now settings
  .travis.yml
  deploys/now.json
Due: none

ci(travis) hook up new deploy
  .travis.yml
  Dockerfile
  Xnow.old.json
  deploys/now.json
  package.json
  scripts/deploy.js
  yarn.lock
Due: none

chore(docker): add docker scripts
  scripts/docker-build.sh
  scripts/docker-run.sh
Due: none

ci(travis): install npm deps needed for deploy scripts
  .travis.yml
  scripts/deploy.js
Due: none

ci(travis): temp disabling sauce labs as I think it's down
  .travis.yml
Due: none

feat(build-tools): setting up API endpoint on server
  packages/build-tools/api/index.js
  server.js
Due: npm run lint:js

chore(ci): setting up CI script package.json for deps
  .travis.yml
  scripts/package.json
Due: none

chore(ci): deploy tweak
  scripts/deploy.js
Due: none

chore(ci): log api requests to test
  packages/build-tools/api/index.js
Due: npm run lint:js

chore(ci): logging DOCKER_TAG
  deploys/Dockerfile
Due: none

chore(ci): quiet docker output
  .travis.yml
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
