Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: update yarn lock
  yarn.lock
Due: none

hotfix: revert package.json file update in the Drupal Lab example theme; fixes failing Travis CI builds
  docs-site/.boltrc-ja.js
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

fix: revert adding Japanese-specific .boltrc config
  docs-site/.boltrc-ja.js
Due: none

chore: update yarn.lock + Jest and imagemin-related dependencies
  packages/build-tools/package.json
  packages/testing/testing-jest/package.json
  yarn.lock
Due: none

refactor: test optimizing image build task + attempt to stabilize results for CI tests
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

refactor: create package testing-utils
  packages/testing/testing-helpers/README.md
  packages/testing/testing-utils/README.md
  packages/testing/testing-utils/__tests__/dependency-map.test.js
  packages/testing/testing-utils/__tests__/fixtures/button/button.twig
  packages/testing/testing-utils/__tests__/fixtures/card/card.twig
  packages/testing/testing-utils/__tests__/test-utils.test.js
  packages/testing/testing-utils/dependency-map.js
  packages/testing/testing-utils/package.json
  packages/testing/testing-utils/test-utils.js
Due: npm run lint:js

chore: update snapshots after updating image build task
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-twig-ratio-prop-fraction-containing-a-decimal-2-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-web-component-ratio-prop-fraction-containing-a-decimal-2-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-with-html-5-video-renders-1-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-default-bolt-ratio-w-o-shadow-dom-renders-2-snap.png
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: fix prettier issue
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

test: test updating VRT threshold config to reduce # of incorrectly failing Travis VRT tests
  packages/components/bolt-carousel/__tests__/carousel.js
  packages/components/bolt-ratio/__tests__/ratio.js
Due: npm run lint:js

fix: remove scss extend in button css
  packages/components/bolt-button/src/button.scss
Due: npm run lint:style

test: setup test types for testing-utils pkg
  docs-site/package.json
  package.json
  packages/testing/testing-utils/dependency-map.js
  packages/testing/testing-utils/package.json
  packages/testing/testing-utils/test-utils.js
  packages/testing/testing-utils/tsconfig.json
  packages/twig-renderer/twig-renderer.js
  scripts/check-run.js
  tsconfig.json
  yarn.lock
Due: npm run lint:js

Fix: remove extend
  packages/components/bolt-button/src/button.scss
Due: npm run lint:style

test: update table test to strict gherkin format
  packages/components/bolt-table/TESTING.md
Due: none

test: add "side header" language back in
  packages/components/bolt-table/TESTING.md
Due: none

fix: add missing log dependency to cli.js
  packages/build-tools/cli.js
Due: npm run lint:js

fix: update internal @bolt/build-tools references to utils to globally use the NPM namespaced version so the config store matches across the board
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/api-tasks/bolt-versions.js
  packages/build-tools/tasks/criticalcss-tasks.js
Due: npm run lint:js

fix: make sure the config-file CLI args work together with the default cosmic config behavior
  packages/build-tools/cli.js
Due: npm run lint:js

fix: make sure config schema path can be resolved in the build tools CLI
  example-integrations/drupal-lab/web/themes/bolt-starter/.boltrc--ja.js
  example-integrations/drupal-lab/web/themes/bolt-starter/.gitignore
  packages/build-tools/cli.js
Due: npm run lint:js

fix: temporarily patch Drupal Lab build tools so Jest tests continue to pass until hotfix released
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
  example-integrations/drupal-lab/web/themes/bolt-starter/patches/@bolt+build-tools+2.5.2.patch
Due: none

test: add Jest test to make sure multiple .boltrc build configs can be compiled successfully + the Japanese-optimized build continues to compile as expected as well
  example-integrations/drupal-lab/web/themes/bolt-starter/__tests__/index.js
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
  example-integrations/drupal-lab/web/themes/bolt-starter/yarn.lock
Due: none

fix: adjust Japanese-specific CSS build test
  example-integrations/drupal-lab/web/themes/bolt-starter/__tests__/index.js
Due: none

fix: fix eslint issue + update Drupal Lab patch
  example-integrations/drupal-lab/web/themes/bolt-starter/patches/@bolt+build-tools+2.5.2.patch
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

refactor: pre-demo polish, hide pre-hydration state
  packages/components/bolt-interactive-pathway/src/interactive-pathway.js
  packages/components/bolt-interactive-pathways/src/interactive-pathways.js
  packages/components/bolt-interactive-pathways/src/interactive-pathways.scss
  packages/components/bolt-interactive-step/src/interactive-step.scss
Due: npm run lint:js, npm run lint:style

refactor: css stylelint
  packages/components/bolt-interactive-pathways/src/interactive-pathways.scss
Due: npm run lint:style

test: update band test to strict gherkin format
  packages/components/bolt-band/TESTING.md
Due: none

fix: add test for aligning inline button
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
Due: npm run lint:js

fix: update tests
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-band/__tests__/band.js
Due: npm run lint:js

fix: lint js
  packages/components/bolt-band/__tests__/band.js
Due: npm run lint:js

Update static html structure
  example-integrations/static-html/.bolt/.boltrc.js
  example-integrations/static-html/.bolt/package.json
  example-integrations/static-html/.bolt/serve.json
  example-integrations/static-html/.bolt/yarn.lock
Due: none

Small fixes in logic
  docs-site/.boltrc.js
  example-integrations/drupal-lab/yarn.lock
  packages/build-tools/tasks/webpack-tasks.js
  yarn.lock
Due: npm run lint:js

chore: remove default proxyHostname + update Browsersync logic to better handle using a proxy server
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/config.schema.yml
Due: npm run lint:js

refactor: back out of build-specific updates — moving changes to a separate feature branch
  packages/build-tools/package.json
  packages/build-tools/tasks/image-tasks.js
  packages/testing/testing-jest/package.json
  yarn.lock
Due: npm run lint:js

chore: regenerate Jest snapshots + VRT screenshots
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-1-slide-per-view-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-6-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-7-slide-bolt-carousel-renders-7-snap.png
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-twig-ratio-prop-fraction-containing-a-decimal-2-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-web-component-ratio-prop-fraction-containing-a-decimal-2-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-with-html-5-video-renders-1-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-default-bolt-ratio-w-o-shadow-dom-renders-2-snap.png
Due: none

test: manually port over VRT config settings from https://github.com/bolt-design-system/bolt/pull/1243
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

feat: improve the compression % that images get optimized + globally add base64 and average image color data to the internal data store
  packages/build-tools/package.json
  packages/build-tools/tasks/image-tasks.js
Due: npm run lint:js

chore: backport upstream Twig template update to the image component to test build improvements
  packages/components/bolt-image/src/image.twig
Due: none

chore: backport upstream VRT config updates
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

fix: update image.twig template to only output placeholder images when lazyloading
  packages/components/bolt-image/src/image.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
