Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

Updates to Bands page
  apps/bolt-site/content/20-docs/30-patterns/bands.md
Due: none

Updates to Button page
  apps/bolt-site/content/20-docs/30-patterns/buttons.md
Due: none

Updated cards page
  apps/bolt-site/content/20-docs/30-patterns/cards.md
Due: none

Updated Forms page
  apps/bolt-site/content/20-docs/30-patterns/forms.md
Due: none

chore: fix block object alignment values
  packages/global/styles/05-objects/objects-block/_objects-block.scss
Due: npm run lint:style

chore: remove currently unused font-family subset
  packages/core/styles/01-settings/settings-font-family/_settings-font-family.scss
  packages/core/styles/01-settings/settings-global/_settings-global.scss
  packages/global/styles/04-elements/_elements-page.scss
Due: npm run lint:style

chore: normalize font weight variations
  apps/pattern-lab/src/styles/_docs.scss
  packages/components/bolt-headline/src/_tools.headlines.scss
  packages/components/bolt-headline/src/headline.scss
  packages/core/styles/01-settings/settings-font-weight/_settings-font-weight.scss
Due: npm run lint:style

Updated the Patterns page with Anatomy
  apps/bolt-site/content/20-docs/30-patterns/00-index.md
  apps/bolt-site/images/sharing.png
Due: none

feat: update font-size mixin, add line-height mixin, add utility classes for font size and line height.
  packages/core/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/core/styles/02-tools/tools-font-size/_tools-font-size.scss
  packages/core/styles/02-tools/tools-line-height/_tools-line-height.scss
  packages/core/styles/02-tools/tools-poly-fluid-sizing/_tools-poly-fluid-sizing.scss
  packages/global/styles/07-utilities/_utilities-colors.scss
  packages/global/styles/07-utilities/_utilities-font-size.scss
  packages/global/styles/07-utilities/_utilities-line-height.scss
Due: npm run lint:style

feat: restructure font family logic to be exportable
  packages/core/styles/01-settings/settings-font-family/_settings-font-family.scss
  packages/global/styles/03-generic/_generic-font-stacks.scss
Due: npm run lint:style

feat: update grid tags to support specifying tag names, add new width param, fixes how extra array or object params get crunched in the custom twig extension; update icon component expample in PL
  apps/pattern-lab/src/_patterns/02-components/icon/20-icon-name-variations.twig
  apps/pattern-lab/src/styles/pl.scss
  packages/core-php/src/Layout/GridCellNode.php
  packages/core-php/src/Layout/GridTagNode.php
Due: npm run lint:style

Added anatomy of share component
  apps/bolt-site/content/20-docs/30-patterns/00-index.md
  apps/bolt-site/images/sharing.png
Due: none

feat: update font loader to be wired up to font stack JS data
  apps/pattern-lab/src/_meta/_00-head.twig
  apps/pattern-lab/src/styles/_docs.scss
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/components/bolt-critical-fonts/src/critical-fonts.js
  packages/core/styles/01-settings/settings-font-face/_settings-font-face.js
  packages/core/styles/index.js
  packages/global/styles/03-generic/_generic-font-stacks.scss
  yarn.lock
Due: npm run lint:js, npm run lint:style

Text Component -- Added vpsacing & opacity, renamed size to font-size, schema updates
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js, npm run lint:style

example of events getting lost
  apps/pattern-lab/src/_patterns/05-sandbox/event-attachment.twig
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

lint fixes
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

Text Component -- Added tag options, css reset for h and p tags, and fixed quoted styling with wrapper tags
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js, npm run lint:style

Text Component -- Added url option to turn into link and css for reseting link styles
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js, npm run lint:style

Disabling missing file for globalData
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

Text Component -- updated the opacity param to accept a range of specific numnbers, removed outer div wrapper from render since we are always providing a tag
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js, npm run lint:style

Text Component -- updated example to work with bolt-icon
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
Due: none

WIP: example of dual PL buildsbuilds with Japanese Typography
  apps/pattern-lab-ja/.boltrc-ja.js
  apps/pattern-lab-ja/.patches/addTwigGlobals.patch
  apps/pattern-lab-ja/.patches/allowMarkdownFilesToSpecifyAssociatedPattern.patch
  apps/pattern-lab-ja/.patches/beautifyHTML.patch
  apps/pattern-lab-ja/.patches/compileTemplatesInMarkdownFiles.patch
  apps/pattern-lab-ja/.patches/configurablePatternDataRules.patch
  apps/pattern-lab-ja/.patches/dont-regenerate-styleguidekit.patch
  apps/pattern-lab-ja/.patches/fixPsuedoPatternTemplatePaths.patch
  apps/pattern-lab-ja/.patches/ignoreCertainFolders.patch
  apps/pattern-lab-ja/.patches/regeneratePatternLabStyleguideKit.patch
  apps/pattern-lab-ja/composer.json
  apps/pattern-lab-ja/composer.lock
  apps/pattern-lab-ja/composer.patches.json
  apps/pattern-lab-ja/config/.gitkeep
  apps/pattern-lab-ja/config/config.yml
  apps/pattern-lab-ja/config/listeners.json
  apps/pattern-lab-ja/config/patternengines.json
  apps/pattern-lab-ja/core/console
  apps/pattern-lab-ja/core/server/router.php
  apps/pattern-lab-ja/core/src/PatternLab/Installer.php
  apps/pattern-lab-ja/package.json
  apps/pattern-lab-ja/settings.lang-ja.scss
  apps/pattern-lab-ja/src/_includes/utils/demo.twig
  apps/pattern-lab-ja/src/_includes/utils/docs.twig
  apps/pattern-lab-ja/src/_includes/utils/md-embed.twig
  apps/pattern-lab-ja/src/_includes/utils/schema-docs.twig
  apps/pattern-lab-ja/src/_includes/utils/theme-demo.twig
  apps/pattern-lab-ja/src/scripts/pl.js
  apps/pattern-lab-ja/src/styles/_docs.scss
  apps/pattern-lab-ja/src/styles/pl.scss
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/src/_meta/_00-head.twig
  packages/build-tools/cli.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/server-tasks.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/build-tools/utils/config-store.js
  packages/build-tools/utils/config.schema.yml
Due: npm run lint:js, npm run lint:style

Text Component -- fix for Firefox
  packages/components/bolt-text/src/text.scss
Due: npm run lint:style

Text Component -- updated opacity checking and styles fix
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js, npm run lint:style

Update 00-index.md
  apps/bolt-site/content/20-docs/30-patterns/00-index.md
Due: none

Removing Japanese language implementation for Pattern Lab
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/src/_patterns/04-pages/10-homepage/-02-homepage-japanese.twig
  apps/pattern-lab/src/styles/settings.lang-ja.scss
Due: npm run lint:js, npm run lint:style

feat: Allowing style vars to be overridden BDS-146 (#677)
  apps/pattern-lab/.boltrc.js
  packages/core/styles/01-settings/settings-font-family/_settings-font-family.scss
  packages/core/styles/01-settings/settings-font-size/_settings-font-size.scss
  packages/core/styles/01-settings/settings-global/_settings-global.scss
  packages/core/styles/01-settings/settings-spacing/_settings-spacing.scss
Due: npm run lint:js, npm run lint:style

Text updates to published docs (#668)
  apps/bolt-site/content/20-docs/30-patterns/bands.md
  apps/bolt-site/content/20-docs/30-patterns/buttons.md
  apps/bolt-site/content/20-docs/30-patterns/cards.md
  apps/bolt-site/content/20-docs/30-patterns/forms.md
Due: none

Fixing broken links on Docs site
  apps/bolt-site/content/20-docs/10-getting-started/15-whats-new-in-bolt-v1.md
  apps/bolt-site/content/20-docs/30-patterns/00-index.md
Due: none

Adding deploy alias for main site for www subdomain as well
  scripts/deploy.js
Due: none

fix(manifest.js): Manifest Version Fetching
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

v1.3.1
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  apps/pw-site/package.json
  lerna.json
  packages/build-tools/package.json
Due: none

style(manifest.js): trailing commas
  packages/build-tools/utils/manifest.js
Due: npm run lint:js

v1.3.2
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  apps/pw-site/package.json
  lerna.json
  packages/build-tools/package.json
Due: none

fix(build-tools/cli.js): Fix for .boltrc.js cli flag override
  packages/build-tools/cli.js
Due: npm run lint:js

v1.3.3
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  apps/pw-site/package.json
  lerna.json
  packages/build-tools/package.json
Due: none
