Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: set up search page
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/15-blog-search.twig
Due: none

chore: copy changes
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/15-blog-search.twig
Due: none

fix: fix long-standing issue with static docs site not recompiling when files have changed (while in watch mode); improve static site build reliability
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/twig-renderer/twig-renderer.js
Due: npm run lint:js

chore: remove console log on updated static site watch task
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

refactor: overhaul approach to gathering git tag info + approach to cross-referencing to see which Bolt release versions match working URLs
  apps/bolt-site/package.json
  apps/bolt-site/templates/_site-head.twig
  packages/build-tools/package.json
  packages/build-tools/utils/bolt-versions.js
  packages/build-tools/utils/git-semver-tags.js
  yarn.lock
Due: npm run lint:js

refactor: 1st pass implementation of <bolt-select> custom element that's powered by Choices.js; initial integration with version selector on Bolt site till docs and examples built out in Pattern Lab
  apps/bolt-site/components/bolt-select/bolt-select.js
  apps/bolt-site/components/bolt-select/bolt-select.scss
  apps/bolt-site/components/bolt-select/bolt-select.standalone.js
  apps/bolt-site/components/bolt-select/utils.js
  apps/bolt-site/components/version-selector/version-selector.js
  apps/bolt-site/components/version-selector/version-selector.scss
  apps/bolt-site/components/version-selector/version-selector.twig
Due: npm run lint:js, npm run lint:style

fix: fix prettier errors
  apps/bolt-site/components/bolt-select/utils.js
Due: npm run lint:js

fix: fix several meta tag content issues with the docs and Pattern Lab sites
  apps/bolt-site/templates/_site-head.twig
  apps/pattern-lab/src/_meta/_00-head.twig
Due: none

fix: update button component JS to call the `rendered` method on the base class
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

chore: clean up button JS demo + toggle theme class on the page to make it easier to check that the demo is working as expected.
  apps/pattern-lab/src/_patterns/02-components/button/60-button-with-3rd-party-js.twig
Due: none

chore: update lerna bootstrap config to properly include the drupal lab theme
  example-integrations/drupal-lab/web/themes/flash/package.json
  package.json
  yarn.lock
Due: none

fix: Prevent double rendering of legacy band content
  packages/components/bolt-band/src/band.twig
Due: none

v2.1.5
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

docs: Add cautionary inline comment for band content check
  packages/components/bolt-band/src/band.twig
Due: none

styles: refactor css
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

chore: update docs and twig
  apps/pattern-lab/src/_patterns/02-components/card/05-card.twig
  apps/pattern-lab/src/_patterns/02-components/card/10-card-with-two-buttons.twig
  apps/pattern-lab/src/_patterns/02-components/card/15-card-with-video.twig
  apps/pattern-lab/src/_patterns/02-components/card/20-card-theme-variations.twig
  apps/pattern-lab/src/_patterns/02-components/card/20-card-with-teaser.twig
  apps/pattern-lab/src/_patterns/02-components/card/25-card-band-variation.twig
  packages/components/bolt-card/card.schema.yml
  packages/components/bolt-card/package.json
  packages/components/bolt-card/src/card-w-teaser-list.twig
  packages/components/bolt-card/src/card-w-teaser.twig
  packages/components/bolt-card/src/card.js
  packages/components/bolt-card/src/card.standalone.js
  packages/components/bolt-card/src/card.twig
Due: npm run lint:js

fix: button wrapping
  apps/pattern-lab/src/_patterns/02-components/card/20-card-theme-variations.twig
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

chore: add height prop
  apps/pattern-lab/src/_patterns/02-components/card/20-card-theme-variations.twig
  apps/pattern-lab/src/_patterns/02-components/card/25-card-height-variations.twig
  apps/pattern-lab/src/_patterns/02-components/card/30-card-band-variation.twig
  packages/components/bolt-card/card.schema.yml
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-card/src/card.twig
Due: npm run lint:style

fix: typo in twig
  packages/components/bolt-list/src/list.twig
Due: none

fix: update input field font size
  apps/bolt-site/components/version-selector/version-selector.scss
Due: npm run lint:style

chore: update font size default
  apps/bolt-site/components/bolt-select/bolt-select.scss
Due: npm run lint:style

fix: separating gradient and background color
  packages/components/bolt-card/card.schema.yml
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

chore: Update theme name in workspace definitions
  package.json
Due: none

fix: use background-image for gradient
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

docs: Add plain text to themed card
  apps/pattern-lab/src/_patterns/02-components/card/25-card-band-variation.twig
Due: none

fix: Remove unnecessary card theming
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

feat: update Bolt version selector to open up in a new window if the CMD key is pressed down
  apps/bolt-site/components/version-selector/version-selector.js
Due: npm run lint:js

chore: upgrade lerna to latest version
  lerna.json
  package.json
  yarn.lock
Due: none

refactor: split apart component mutation observer logic into standalone JS utility in Bolt core
  packages/components/bolt-button/src/button.standalone.js
  packages/core/utils/contains-any.js
  packages/core/utils/index.js
  packages/core/utils/watch-for-component-mutations.js
Due: npm run lint:js

chore: update button event demo in PL with console logs for walking through events and checks
  apps/pattern-lab/src/_patterns/02-components/button/60-button-with-3rd-party-js.twig
Due: none

chore: update Bolt polyfills to latest versions
  packages/core/package.json
  yarn.lock
Due: none

fix: update native shim polyfill path for ES6-supporting browsers
  packages/core/polyfills/index.js
Due: npm run lint:js

chore: update remaining @bolt/core JS dependencies
  packages/core/package.json
Due: none

fix: fix issue with recent Webpack build updates causing build errors to not be output when the Bolt build tools verbosity is set to 1
  packages/build-tools/utils/webpack-helpers.js
Due: npm run lint:js

fix: update Bolt Base component slot check to not expect childNodes to exist in a selector that might also not exist
  packages/core/renderers/bolt-base.js
Due: npm run lint:js

chore: update button comments
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

fix: update the button component's initial setup work to ensure the component doesn't continue to try to process any original HTML after the button component has rendered the first time
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

fix: IE theme colors
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
