Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

ds-782: uncomment docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/00-dialog-prerelease-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-form.twig
Due: none

ds-782: rewrite the close button
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-form.twig
  packages/components/bolt-dialog/src/dialog-header.twig
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

ds-782: update prop docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/00-dialog-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/00-dialog-prerelease-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-widths.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-form.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_00-dialog-docs.twig
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

ds-782: delete theme prop
  packages/components/bolt-dialog/dialog.schema.js
Due: npm run lint:js

ds-782: fix backdrop animation
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

ds-782: add transparent prop and fix docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-transparent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-use-case-image-and-caption.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/45-dialog-use-case-form.twig
  packages/components/bolt-dialog/dialog.schema.js
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:js, npm run lint:style

ds-782: fix transparent doc
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-transparent.twig
Due: none

DS-247: Create test tables in tests
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table/table.twig
Due: none

Ds-247: Delete commented old code
  docs-site/src/pages/pattern-lab/_patterns/999-tests/table/table.twig
Due: none

DS-478: Add initial demo
  docs-site/src/index.js
  docs-site/src/index.scss
  docs-site/src/pages/pattern-lab/_patterns/999-tests/smooth-scroll/00-basic-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/smooth-scroll/05-demo-with-sticky-elements.twig
  packages/components/bolt-navbar/src/navbar.js
  packages/components/bolt-smooth-scroll/index.js
  packages/components/bolt-smooth-scroll/src/smooth-scroll.js
Due: npm run lint:js, npm run lint:style

ds-423 pointer-events: all; only applied when search is open.
  packages/components/bolt-page-header/src/_page-header-desktop.scss
Due: npm run lint:style

ds-782: update layout to accommodate dialog
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/50-dialog-use-case-layouts.twig
  packages/layouts/bolt-layout/src/layout.scss
Due: npm run lint:style

ds-782: fix tests
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
  packages/components/bolt-dialog/__tests__/dialog.js
Due: npm run lint:js

ds-769 fixed clickable close button
  packages/components/bolt-page-header/src/_page-header-desktop.scss
Due: npm run lint:style

ds-471: fix video modal teaser doc
  docs-site/.incache
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/45-teaser-video-modal.twig
Due: none

DS-769: Change from visibility to display to fix accessibility bug
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

DS-769: prettier
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

DS-782: Append popover/tooltip to <dialog> if needed
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

ds-782: fix modifier names and css
  packages/components/bolt-dialog/__tests__/__snapshots__/dialog.js.snap
  packages/components/bolt-dialog/src/dialog.scss
  packages/components/bolt-dialog/src/dialog.twig
Due: npm run lint:style

Updated the description text for the Teaser Time doc
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-time.twig
Due: none

ds-782: add browser warning
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/05-dialog.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/10-dialog-width.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/15-dialog-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/20-dialog-persistent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/25-dialog-transparent.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/30-dialog-themes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/35-dialog-use-case-image.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/40-dialog-use-case-video.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/45-dialog-use-case-form.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/50-dialog-use-case-layouts.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dialog/_dialog-warning.twig
Due: none

Teaser mobile padding fix
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

ds-789 rewrite accordion deeplink to use hash and rely on browser smooth scroll
  docs-site/src/pages/pattern-lab/_patterns/40-components/accordion/50-accordion-deep-linking-with-scroll-offset.twig
  packages/components/bolt-accordion/package.json
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

ds-471: improve teaser card design
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/50-teaser-variant.twig
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

ds-471: decrease video thumbnail min-width
  packages/components/bolt-video-thumbnail/src/video-thumbnail.scss
Due: npm run lint:style

ds-471: remove signifier ratio in teaser cards
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

DS-771: carousel test
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/carousel-in-layout.twig
Due: none

DS-771: update wrapper style
  packages/global/styles/05-objects/objects-wrapper/_objects-wrapper.scss
Due: npm run lint:style

DS-771: add page to test folder
  docs-site/src/pages/pattern-lab/_patterns/999-tests/carousel/00-carousel-in-layout.twig
Due: none

ds-789 open accordion item on link click
  packages/components/bolt-accordion/src/accordion.js
Due: npm run lint:js

ds-471: clean up CSS and fix docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/05-teaser.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/10-teaser-layout-and-variant.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/15-teaser-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/20-teaser-chips.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/25-teaser-time.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-status-and-actions.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/35-teaser-text-options.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-description-on-hover.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/50-teaser-variant.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/teaser/00-teaser.twig
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

ds-471: fix tests
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
Due: none

ds-809: fix dialog test pages build errors
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/05-dialog-with-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/10-dialog-in-relative-div.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/15-dialog-in-carousel.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/20-dialog-in-table.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/25-dialog-with-table.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/30-dialog-from-card.twig
Due: none

ds-809: fix dialog in carousel page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/dialog/15-dialog-in-carousel.twig
Due: none

DS-771: Update CSS
  docs-site/src/pages/pattern-lab/_patterns/999-tests/carousel/00-carousel-in-layout.twig
  packages/components/bolt-carousel/src/_carousel.scss
  packages/global/styles/05-objects/objects-wrapper/_objects-wrapper.scss
Due: npm run lint:style

DS-771: Update test page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/carousel/00-carousel-in-layout.twig
Due: none

DS-808: Profile page skeleton in sandbox
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/profile-edit-form.twig
Due: none

DS-808: Profile page form inputs
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/profile-edit-form-alt.twig
Due: none

ds-517: fix version number
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/elements/bolt-type/package.json
Due: npm run lint:js
