Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix: revert execa CLI update
  packages/testing/testing-utils/test-utils.js
Due: npm run lint:js

fix: ordered list markup
  packages/components/bolt-li/src/li.js
  packages/components/bolt-li/src/li.twig
  packages/components/bolt-ol/ol.schema.yml
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-ol/src/ol.twig
Due: npm run lint:js

docs: article sections
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/20-ol-use-case-article-sections.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/ol/999-ol-with-web-component.twig
Due: none

fix: resolve execa / shell issue
  docs-site/.boltrc.js
  package.json
  packages/testing/testing-utils/package.json
  packages/testing/testing-utils/test-utils.js
  scripts/utils.js
Due: npm run lint:js

fix: remove unnecessary z-index
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/02-molecules/cards/_vertical-card.twig
Due: none

fix: remove z-index and position
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/02-molecules/cards/_vertical-card.twig
Due: none

fix: update image paths
  docs-site/.boltrc.js
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/dashboard-page-hero/dashboard-page-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/homepage-heros/_hero--hp-community.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/homepage-heros/_hero--hp-hero.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/heros/homepage-heros/_hero--hp-missions.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/03-organisms/modals/_test-completed-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/04-templates/_landing-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/05-pages/t1-landing-pages/certification-exam/certification-exam-page.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.15.1
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v2.15.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/CHANGELOG.md
  docs-site/src/pages/pattern-lab/_patterns/03-blueprints/package.json
  lerna.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

Create install.yml
  .github/workflows/install.yml
Due: none

Update install.yml
  .github/workflows/install.yml
Due: none

Add caching
  .github/workflows/install.yml
Due: none

chore: re-enable Webpack cache
  docs-site/.boltrc.js
Due: none

Update .boltrc.js
  docs-site/.boltrc.js
Due: none

test: re-test with Webpack cache disabled
  docs-site/.boltrc.js
Due: none

test: speed up Travis
  .travis.yml
Due: none

test: re-test Nightwatch speed using just Chrome
  package.json
Due: none

test: re-test w/o Lighthouse tests
  .travis.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

feat: cherry pick new Banner-specific component work to merge down
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/00-banner-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/05-banner.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/10-banner-status-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/15-banner-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/20-banner-use-case-status-report.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/banner/999-banner-with-web-component.twig
  packages/components/bolt-banner/README.md
  packages/components/bolt-banner/__tests__/__snapshots__/banner.js.snap
  packages/components/bolt-banner/__tests__/banner.js
  packages/components/bolt-banner/banner.schema.js
  packages/components/bolt-banner/index.js
  packages/components/bolt-banner/index.scss
  packages/components/bolt-banner/package.json
  packages/components/bolt-banner/src/banner.js
  packages/components/bolt-banner/src/banner.scss
  packages/components/bolt-banner/src/banner.twig
Due: npm run lint:js, npm run lint:style

[skip travis] chore: version bump PHP-related dependencies to v2.15.2
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

fix: docs comments consitency
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/10-menu-title-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/15-menu-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/20-menu-use-case-button-link-items.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/25-menu-use-case-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/999-menu-with-web-component.twig
  packages/components/bolt-menu/src/_menu-settings-and-tools.scss
  packages/components/bolt-menu/src/menu.js
  packages/components/bolt-menu/src/menu.twig
Due: npm run lint:js, npm run lint:style

docs: themes and tests
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/15-menu-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/25-menu-use-case-popover.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/menu/30-menu-use-case-theming.twig
  packages/components/bolt-menu/__tests__/__snapshots__/menu.js.snap
  packages/components/bolt-menu/__tests__/menu.js
Due: npm run lint:js

fix(editor): fix add of empty bolt-animate and replacement with content that triggered removal of empty before replacement
  packages/experimental/editor/src/editor.js
Due: npm run lint:js

feat(editor): refresh all the things on 'Refresh Content'
  packages/experimental/editor/src/editor.js
Due: npm run lint:js

feat(micro-journeys): center Character when in One Character Layout
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/15-character-kitchen-sink.twig
  packages/experimental/micro-journeys/src/one-character-layout.scss
Due: npm run lint:style

docs: document props
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/10-popover-placement-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/15-popover-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/20-popover-use-case-icon-button.twig
Due: none

styles: refactor transition
  packages/components/bolt-popover/popover.schema.js
  packages/components/bolt-popover/src/popover.js
  packages/components/bolt-popover/src/popover.scss
Due: npm run lint:js, npm run lint:style

WWWD-4219 Allow button group to render non-composed items.
  packages/components/bolt-button-group/src/button-group.twig
Due: none

fix(editor): restore editability to Animates added via new slot
  packages/experimental/editor/src/editor.js
Due: npm run lint:js

debug(editor): twig render is failing for editor... why?
  packages/experimental/editor/__tests__/editor.js
Due: npm run lint:js
