Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

test: add tests for `noWC` Link prop
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-link/__tests__/link.js
Due: npm run lint:js

test: upgrade Chromedriver, troubleshooting Travis test failures
  packages/testing/testing-nightwatch/package.json
  yarn.lock
Due: none

fix: remove accidental closing span tag
  packages/components/bolt-link/src/_link-replacement.twig
Due: none

fix: update "deprecated" link template to match what is on master
  packages/components/bolt-link/src/_link-deprecated.twig
Due: none

Allow autoplay video for iPhone when controls disabled
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

styles: make base values unitless
  packages/components/bolt-grid/src/grid.scss
  packages/components/bolt-layout/src/layout.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing-vars.scss
Due: npm run lint:style

styles: make base values unitless
  packages/components/bolt-grid/src/grid.scss
  packages/components/bolt-headline/src/_headline.numbered.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing-vars.scss
Due: npm run lint:style

docs: add FAQ entry
  docs-site/src/pages/docs/_00-faq.md
Due: none

BDS-2118: Investigate options for Brightcove error styling/UX
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

BDS-2118: Removed commented out code and added a testing page for the brightcove video error styling
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/70-video-with-error-message.twig
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

chore: code formatting
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

chore: Enable block-opening-brace-space-before style lint rule
  docs-site/src/components/component-status/component-status.scss
  docs-site/src/components/docs-search/docs-search.scss
  docs-site/src/components/pattern-lab-demos/_visually-hidden-demo.scss
  docs-site/src/components/schema-table/schema-table.scss
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/components/version-selector/version-selector.scss
  packages/components/bolt-button/src/_button-settings-and-tools.scss
  packages/components/bolt-card-deprecated/src/card.scss
  packages/components/bolt-carousel/src/_carousel.scss
  packages/components/bolt-carousel/src/_carousel.stacked.scss
  packages/components/bolt-device-viewer/src/_device-viewer--ipad.scss
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
  packages/components/bolt-navlink/navlink.scss
  packages/components/bolt-ratio/src/ratio.scss
  packages/components/bolt-table/src/table.scss
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-toc/src/toc.scss
  packages/configs/stylelint-config/index.js
  packages/core-v3.x/styles/01-settings/settings-global/_settings-global.scss
  packages/core-v3.x/styles/01-settings/settings-themes/index.scss
  packages/core-v3.x/styles/02-tools/tools-font-weight/_tools-font-weight.scss
  packages/core-v3.x/styles/02-tools/tools-themes/_tools.themes.scss
Due: npm run lint:js, npm run lint:style

chore: Enable declaration-colon-space-before style lint rule
  packages/components/bolt-device-viewer/src/_device-viewer--iphone8.scss
  packages/configs/stylelint-config/index.js
Due: npm run lint:js, npm run lint:style

chore: Enable function-max-empty-lines style lint rule
  packages/configs/stylelint-config/index.js
Due: npm run lint:js

BDS-2118: CSS order adjustments
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

BDS-2118: Updated the Brightcove error message to the new content.
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

BDS-2118: reduced the font size for the error messageing
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

chore: remove unused `debounce` import
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

BDS-2118: reworked the error handling behavior on the brightcove video
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/70-video-with-default-error-message.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/71-video-with-custom-error-message.twig
  packages/components/bolt-video/src/_video-tag.twig
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video.standalone.js
  packages/components/bolt-video/video.schema.yml
Due: npm run lint:js, npm run lint:style

BDS-2118: included back some of the error messaging for the brightcove player
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

chore: Remove commented style lint rule
  packages/configs/stylelint-config/index.js
Due: npm run lint:js

style: update microjourney side nav to 25%
  packages/experimental/micro-journeys/src/interactive-pathway.scss
Due: npm run lint:style

chore: update tests
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-2-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-4-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-5-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-3-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-outer-nav-controls-7-snap.png
  packages/components/bolt-carousel/__tests__/__image_snapshots__/carousel-js-carousel-basic-3-slide-bolt-carousel-renders-w-variable-auto-slide-per-view-7-snap.png
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-at-various-viewport-sizes-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-w-o-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-with-band-at-various-viewport-sizes-2-snap.png
  packages/components/bolt-modal/__tests__/__image_snapshots__/modal-js-bolt-modal-component-long-content-usage-bolt-modal-with-shadow-dom-renders-1-snap.png
  packages/components/bolt-modal/__tests__/__snapshots__/modal.js.snap
  packages/components/bolt-table/__tests__/__image_snapshots__/table-js-bolt-table-component-web-component-rendered-table-with-html-comments-3-snap.png
  packages/components/bolt-table/__tests__/__snapshots__/table.js.snap
  packages/components/bolt-tabs/__tests__/__image_snapshots__/tabs-js-bolt-tabs-web-component-usage-light-dom-1-snap.png
Due: none

BDS-2118: included back some of the error messaging for the brightcove player
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js, npm run lint:style

fix: mannually update each test
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-modal/__tests__/__snapshots__/modal.js.snap
  packages/components/bolt-table/__tests__/__snapshots__/table.js.snap
Due: none

docs: Update docs and inline comments for iOS autoplay functionality
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay-and-loop-hide-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay-and-loop.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay.twig
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

BDS-2118: included back some of the error messaging for the brightcove player
  packages/components/bolt-video/src/_video-tag.twig
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

styles: adding typography css vars
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size-vars.scss
  packages/core-v3.x/styles/01-settings/settings-spacing/_settings-spacing-vars.scss
  packages/core-v3.x/styles/main.scss
Due: npm run lint:style

styles: convert bolt-text to us CSS custom props
  packages/components/bolt-text/src/text.scss
  packages/core-v3.x/styles/01-settings/settings-font-size/_settings-font-size-vars.scss
Due: npm run lint:style

Disable unnecessary steps
  .travis.yml
Due: none

BDS-2118: removed a unneeded console log
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js

Test replacing renderWC
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-band/__tests__/band.js
Due: npm run lint:js

Disable band VRT test
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-band/__tests__/band.js
Due: npm run lint:js

Disable link VRT test
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-link/__tests__/link.js
Due: npm run lint:js
