Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

refactor: update bolt core polyfills based on new reqs using lithtml
  packages/core/package.json
  packages/core/polyfills/index.js
  packages/core/polyfills/symbol-polyfill.js
Due: npm run lint:js

chore: update async imports that are missing the component / import name
  packages/components/bolt-block-list/src/block-list.js
  packages/components/bolt-dropdown/index.js
  packages/components/bolt-nav-indicator/index.js
  packages/components/bolt-nav-priority/index.js
  packages/components/bolt-navlink/index.js
  packages/components/bolt-text/src/text.js
  packages/components/bolt-tooltip/src/tooltip.js
Due: npm run lint:js

fix: add target prop missing from button component's pre-rendered twig template; tweak button component's CSS based on nested slot behavior
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-button/src/button.twig
Due: npm run lint:style

refactor: remove HyperHTML renderer superseded by LitHTML
  packages/core/package.json
  packages/core/renderers/index.js
  packages/core/renderers/renderer-hyperhtml.js
Due: npm run lint:js

refactor: add refactored card media
  packages/components/bolt-card/index.js
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/src/_card-media.twig
  packages/components/bolt-card/src/card-media.js
  packages/components/bolt-card/src/card-media.scss
  packages/components/bolt-card/src/card-media.twig
Due: npm run lint:js, npm run lint:style

refactor: add refactored card entry files + update package.json deps
  packages/components/bolt-card/index.js
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/package.json
  packages/components/bolt-card/src/card.js
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-card/src/card.twig
Due: npm run lint:js, npm run lint:style

refactor: break out shared mixins and variables into separate files
  packages/components/bolt-card/src/_card.mixins.scss
  packages/components/bolt-card/src/_card.variables.scss
Due: npm run lint:style

refactor: wire up refactored card body
  packages/components/bolt-card/index.js
  packages/components/bolt-card/src/_card-body.twig
  packages/components/bolt-card/src/card-body.js
  packages/components/bolt-card/src/card-body.scss
  packages/components/bolt-card/src/card-body.twig
Due: npm run lint:js, npm run lint:style

refactor: wire up refactored card actions
  packages/components/bolt-card/index.js
  packages/components/bolt-card/src/_card-actions.twig
  packages/components/bolt-card/src/card-actions.js
  packages/components/bolt-card/src/card-actions.scss
  packages/components/bolt-card/src/card-actions.twig
Due: npm run lint:js, npm run lint:style

refactor: wire up card action
  packages/components/bolt-card/index.js
  packages/components/bolt-card/src/card-action.js
  packages/components/bolt-card/src/card-action.scss
  packages/components/bolt-card/src/card-action.twig
Due: npm run lint:js, npm run lint:style

refactor: retain original card template prior to refactoring until initial buildout completed
  packages/components/bolt-card/src/_card.original.twig
Due: none

chore: fix card schema typos
  packages/components/bolt-card/card.schema.yml
Due: none

fix: remove card schema props not needed / invalid
  packages/components/bolt-card/card.schema.yml
Due: none

fix: update card schema to spell out prop type options allowed
  packages/components/bolt-card/card.schema.yml
Due: none

chore: update refactored card examples; add example rendering to form
  apps/pattern-lab/src/_patterns/02-components/card/05-card-in-form.twig
  apps/pattern-lab/src/_patterns/02-components/card/05-card.twig
  apps/pattern-lab/src/_patterns/02-components/card/10-card-with-two-buttons.twig
Due: none

refactor: add slight page transition to bolt site head / footer to help with non-SSR rendered web components
  apps/pattern-lab/src/_meta/_00-head.twig
  apps/pattern-lab/src/_meta/_01-foot.twig
  packages/global/native-shim.twig
Due: none

refactor: update bolt data build task to only conditionally gather data in prod builds
  packages/build-tools/utils/bolt-versions.js
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: fix eslint warnings
  packages/components/bolt-band/src/band.standalone.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-device-viewer/src/device-viewer.standalone.js
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-nav-indicator/nav-indicator.js
  packages/core/polyfills/symbol-polyfill.js
Due: npm run lint:js

chore: jest test
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
Due: none

chore: css fixes and file organization
  packages/components/bolt-card/index.js
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/src/__card-original.twig
  packages/components/bolt-card/src/_card-action.js
  packages/components/bolt-card/src/_card-action.scss
  packages/components/bolt-card/src/_card-action.twig
  packages/components/bolt-card/src/_card-actions.js
  packages/components/bolt-card/src/_card-actions.scss
  packages/components/bolt-card/src/_card-actions.twig
  packages/components/bolt-card/src/_card-body.js
  packages/components/bolt-card/src/_card-body.scss
  packages/components/bolt-card/src/_card-body.twig
  packages/components/bolt-card/src/_card-media.js
  packages/components/bolt-card/src/_card-media.scss
  packages/components/bolt-card/src/_card-media.twig
  packages/components/bolt-card/src/_card-settings-and-tools.scss
  packages/components/bolt-card/src/_card.variables.scss
  packages/components/bolt-card/src/card.js
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-card/src/card.twig
Due: npm run lint:js, npm run lint:style

chore: remove comments
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

fix: re-organized tests and fixed card-action class
  apps/pattern-lab/src/_patterns/02-components/card/05-card.twig
  apps/pattern-lab/src/_patterns/02-components/card/__tests__/test-card-in-form.twig
  apps/pattern-lab/src/_patterns/02-components/card/__tests__/test-card.twig
  packages/components/bolt-card/card.schema.yml
  packages/components/bolt-card/src/_card-action.twig
  packages/components/bolt-card/src/_card-actions.twig
  packages/components/bolt-card/src/_card-body.twig
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

fix: index css
  packages/components/bolt-card/index.scss
  packages/components/bolt-card/src/card.scss
Due: npm run lint:style

chore: remove some copy
  apps/pattern-lab/src/_patterns/02-components/card/30-card-band-variation.twig
Due: none

docs: Add example of navbar without links (WWWD-2764)
  apps/pattern-lab/src/_patterns/02-components/navbar/40-navbar--no-links.twig
Due: none

feat: Add opacity settings
  packages/core/styles/01-settings/settings-opacity/_settings-opacity.scss
  packages/core/styles/index.scss
Due: npm run lint:style

feat: Add opacity tools (function and mixin) based on opacity settings
  packages/core/styles/02-tools/tools-opacity/_tools-opacity.scss
  packages/core/styles/index.scss
Due: npm run lint:style

feat: Update opacity utilities to match new opacity settings
  packages/global/styles/07-utilities/_utilities-opacity.scss
Due: npm run lint:style

chore: Add support for deprecated opacity utility classes
  packages/global/styles/07-utilities/_utilities-opacity.scss
Due: npm run lint:style

docs: Enable and update opacity utility docs
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/opacity.twig
Due: none

docs: Remove deprecated 'homebrew-php' package, migrated into 'homebrew-core'
  apps/bolt-site/composer.lock
  apps/bolt-site/pages/20-docs/50-guides/01-preparing-your-environment.md
  apps/pattern-lab/composer.lock
  yarn.lock
Due: none

chore: Update existing opacity declarations to use bolt-opacity()
  packages/components/bolt-action-blocks/src/action-blocks.scss
  packages/components/bolt-background/src/background.scss
  packages/components/bolt-button/src/_button.mixins.scss
  packages/components/bolt-card/src/card.scss
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.scss
  packages/components/bolt-device-viewer/src/device-viewer.scss
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-image/src/image.scss
  packages/components/bolt-link/src/link.scss
  packages/components/bolt-nav-indicator/nav-indicator.scss
  packages/components/bolt-nav-priority/nav-priority.scss
  packages/components/bolt-navbar/src/navbar.scss
  packages/components/bolt-navlink/navlink.scss
  packages/components/bolt-page-header/src/page-header.scss
  packages/components/bolt-pagination/pagination.scss
  packages/components/bolt-search-filter/search-filter.scss
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-tooltip/src/tooltip.scss
  packages/components/bolt-video/src/_video-meta.scss
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video.scss
Due: npm run lint:style

chore: copy changes
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/00-blog-homepage-b.twig
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/05-blog-post-c.twig
Due: none

chore: homepage copy
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/00-blog-homepage-b.twig
Due: none

fix: filter icon
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/00-blog-homepage-b.twig
Due: none

fix: search field
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/00-blog-homepage-b.twig
  apps/pattern-lab/src/_patterns/04-pages/55-d8-blog/10-blog-search.twig
Due: none

chore: Update link hover opacities using new opacity mixin
  packages/core/styles/01-settings/settings-global/_settings-global.scss
Due: npm run lint:style

docs: Replace curly quotes with straight quotes in bash code blocks
  apps/bolt-site/pages/20-docs/50-guides/01-preparing-your-environment.md
Due: none

fix: Do not render bolt-nav-priority if links array is empty
  packages/components/bolt-nav-priority/nav-priority.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
