Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

DS-109: change requests
  packages/components/bolt-button/src/button.scss
  packages/components/bolt-carousel/src/_carousel.next-previous-buttons.scss
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

DS-381: Remove click-handler JS module
  packages/core-v3.x/modules/index.js
  packages/core-v3.x/modules/modules.js
  packages/core-v3.x/modules/src/click-handler.js
Due: npm run lint:js

DS-381: Remove reference to modules
  packages/core-v3.x/index.js
Due: npm run lint:js

ds-174: fix typos and add warnings
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/10-theming-system.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-05-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-10-layout-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-15-layout-sub-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-20-layout-background-and-theme.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-25-layout-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-30-layout-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-35-layout-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-40-layout-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-45-layout-item-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-50-layout-item-order.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-layout-full-page-use-case.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/00-layout-docs.twig
  yarn.lock
Due: none

DS-534: replace buttons in card
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.scss
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/card-replacement-action.js
Due: npm run lint:js, npm run lint:style

DS-524: Fix smooth scroll bug on deep linked Tabs, add test page
  docs-site/src/pages/pattern-lab/_patterns/999-tests/tabs/10-tabs-deep-linking.twig
  packages/components/bolt-tabs/src/tabs.js
Due: npm run lint:js

ds-545: add pin icon and fix name typo
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/svgs/pega/pega-connection-hierarchy.svg
  packages/components/bolt-icons/src/svgs/pega/pega-database.svg
  packages/components/bolt-icons/src/svgs/pega/pega-pin.svg
Due: none

ds-491: update docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/15-listing-teaser-headline.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-contact-list.twig
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icons/src/svgs/pega/pega-connection-hierarchy.svg
Due: none

DS-537: Standarize schema and twig for bolt-banner
  packages/components/bolt-banner/__tests__/__snapshots__/banner.js.snap
  packages/components/bolt-banner/__tests__/banner.js
  packages/components/bolt-banner/banner.schema.js
  packages/components/bolt-banner/src/banner.twig
Due: npm run lint:js

DS-109: carousel next-prev-btn change request
  packages/components/bolt-carousel/src/_carousel.next-previous-buttons.scss
Due: npm run lint:style

DS-537: update test file
  packages/components/bolt-banner/__tests__/__snapshots__/banner.js.snap
  packages/components/bolt-banner/__tests__/banner.js
Due: npm run lint:js

DS-534: update typeahead test
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
Due: none

DS-535: add focus to interaction overwrites.
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

ds-491: add custom replies label
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

Updated a comment to match and update to the code
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

add aria-hidden to icons in js markup
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

DS-535: remove button title and reformat so bot buttons match.
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

ds-548: set up custom status numbers
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  packages/components/bolt-listing-teaser/listing-teaser-status-number.schema.js
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser-status-number.twig
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: npm run lint:js

DS-489: Fix non-functional patch
  docs-site/.patches/addTwigGlobals.patch
Due: none

DS-489: Use forked version of basaltinc/twig-tools
  docs-site/composer.json
  docs-site/composer.lock
  packages/twig-integration/twig-extensions-shared/composer.json
  packages/twig-integration/twig-extensions-shared/composer.lock
  packages/twig-integration/twig-renderer/composer.json
Due: none

DS-489: Use forked version of patternlab/patternengine-php-twig
  docs-site/composer.json
  docs-site/composer.lock
Due: none

DS-489: Update to twig 2.14
  packages/twig-integration/twig-extensions-shared/composer.json
  packages/twig-integration/twig-extensions-shared/composer.lock
Due: none

DS-489: Update to twig 2.14 in pattern lab
  docs-site/composer.json
  docs-site/composer.lock
Due: none

DS-489: Remove twig string loader from shared twig code
  packages/twig-integration/twig-extensions-shared/src/Layout/GridCellNode.php
  packages/twig-integration/twig-extensions-shared/src/Layout/GridTagNode.php
  packages/twig-integration/twig-extensions-shared/src/SSR/SSRTagNode.php
Due: none

DS-489: Replace unsupported 'sameas' with 'same as'
  docs-site/src/components/pattern-lab-utils/_schema-docs-macros.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/action-blocks/15-action-blocks-borderless-variations.twig
  packages/components/bolt-action-blocks/src/action-blocks.twig
  packages/components/bolt-band/src/band.twig
  packages/components/bolt-headline/src/_typography.twig
  packages/components/bolt-image/src/image.twig
  packages/components/bolt-list/src/list.twig
  packages/components/bolt-navbar/src/navbar-li.twig
  packages/components/bolt-page-header/src/page-header.twig
  packages/components/bolt-table/src/table.twig
  packages/components/bolt-tooltip/src/tooltip.twig
  packages/components/bolt-trigger/src/trigger.twig
  packages/layouts/bolt-list/src/list.twig
Due: none

DS-489: Update forked basalt twig renderer to support twig 2.x
  packages/testing/testing-helpers/package.json
  packages/twig-integration/twig-renderer/package.json
  yarn.lock
Due: none

DS-489: Fix implicitly imported macros
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/05-text.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/10-text-typographic-recipes.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/15-text-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/20-text-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/25-text-color-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/30-text-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/35-text-opacity-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/40-text-quoted.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/45-text-line-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/50-text-letter-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/55-text-transform-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/60-text-font-family-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/65-text-font-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/70-text-font-style-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/text/75-text-font-weight-variations.twig
Due: none

DS-489: Update twig tools in twig renderer package
  packages/twig-integration/twig-renderer/composer.json
  packages/twig-integration/twig-renderer/composer.lock
Due: none

DS-489: Fix .class syntax
  packages/components/bolt-accordion/src/AccordionItem/accordion-item.twig
  packages/components/bolt-accordion/src/accordion.twig
  packages/components/bolt-action-blocks/src/action-blocks.twig
  packages/components/bolt-banner/src/banner.twig
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/components/bolt-button/src/button.twig
  packages/components/bolt-chip/src/chip.twig
  packages/components/bolt-link/src/link.twig
  packages/components/bolt-menu/src/menu.twig
  packages/components/bolt-modal/src/modal.twig
  packages/components/bolt-navbar/src/navbar.twig
  packages/components/bolt-popover/src/popover.twig
  packages/components/bolt-stack/src/stack.twig
  packages/components/bolt-tabs/src/TabPanel/tab-panel.twig
  packages/components/bolt-tabs/src/tabs.twig
  packages/components/bolt-toc/src/_toc-item.twig
  packages/components/bolt-toc/src/toc.twig
  packages/components/bolt-tooltip/src/tooltip.twig
  packages/components/bolt-trigger/src/trigger.twig
Due: none

Revert "DS-489: Fix update forked basalt twig renderer to support twig 2.x"
  packages/testing/testing-helpers/package.json
  packages/twig-integration/twig-renderer/package.json
  yarn.lock
Due: none

DS-547: Restore global data
  packages/twig-integration/twig-extensions-shared/src/TwigExtensions/BoltCore.php
Due: none

DS-489: Properly check that blocks are defined
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-detail-page-template.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-landing-page-template.twig
  packages/components/bolt-card-replacement/src/card-replacement-media/_card-replacement-media.twig
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.twig
  packages/components/bolt-toolbar/toolbar.twig
Due: none

DS-489: Pull in customizations to patternengine-twig
  docs-site/composer.json
  docs-site/composer.lock
Due: none

DS-489: Fix update forked basalt twig renderer to support twig 2.x
  packages/testing/testing-helpers/package.json
  packages/twig-integration/twig-renderer/package.json
  yarn.lock
Due: none

DS-539-Fix-alignmen-on-Toolbar-component
  packages/components/bolt-toolbar/toolbar.scss
Due: npm run lint:style

ds-548: add schema for status numbers and fix docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/25-listing-teaser-custom-status-number.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/30-listing-teaser-meta-data-and-more.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/35-listing-teaser-reply.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-variant.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-callout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/50-listing-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/55-listing-teaser-use-case-academy.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/60-listing-teaser-use-case-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-article-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-search-result-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/75-listing-teaser-use-case-contact-list.twig
  packages/components/bolt-listing-teaser/package.json
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
Due: npm run lint:style

ds-548: fix demo typos
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
Due: none

DS-204: make this work into an element and add docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/printable/00-printable-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/printable/05-printable.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/index.scss
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/elements/bolt-printable/CHANGELOG.md
  packages/elements/bolt-printable/README.md
  packages/elements/bolt-printable/index.scss
  packages/elements/bolt-printable/package.json
  packages/elements/bolt-printable/printable.schema.js
  packages/elements/bolt-printable/src/printable.scss
  packages/elements/bolt-printable/src/printable.twig
Due: npm run lint:js, npm run lint:style

ds-548: deprecate views and replies
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/05-listing-teaser.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/25-listing-teaser-custom-status-number.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/25-listing-teaser-meta-data-and-more.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/30-listing-teaser-reply.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/35-listing-teaser-variant.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/40-listing-teaser-callout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/45-listing-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/50-listing-teaser-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/50-listing-teaser-use-case-academy.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/55-listing-teaser-use-case-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/60-listing-teaser-use-case-article-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-search-result-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/70-listing-teaser-use-case-contact-list.twig
  packages/components/bolt-listing-teaser/listing-teaser.schema.js
  packages/components/bolt-listing-teaser/src/listing-teaser.scss
Due: npm run lint:js, npm run lint:style

ds-204: make css less generic
  docs-site/src/pages/pattern-lab/_patterns/20-elements/printable/00-printable-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/printable/05-printable.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-detail-page-template.twig
  packages/elements/bolt-printable/src/printable.scss
  packages/elements/bolt-printable/src/printable.twig
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
