Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

test: re-test Travis build
  .travis.yml
Due: none

test: temporarily disable patches to SSR Server
  packages/servers/ssr-server/package.json
Due: none

chore: re-enable all Travis CI jobs except Drupal Lab build
  .travis.yml
Due: none

test: re-test after swapping out Puppeteer Core for Puppeteer
  .npmrc
  package.json
  packages/testing/testing-jest/jest-global-setup.js
  packages/testing/testing-jest/package.json
  packages/uikit-prerenderer/package.json
  packages/uikit-workshop/package.json
  packages/uikit-workshop/webpack.config.js
  yarn.lock
Due: npm run lint:js

chore: update yarn.lock
  yarn.lock
Due: none

fix: replace puppeteer-core dependency w/ puppeteer
  packages/uikit-prerenderer/index.js
  packages/uikit-prerenderer/renderer.mjs
Due: npm run lint:js

fix: replace puppeteer-core reference
  packages/testing/testing-jest/jest-environment-puppeteer-basichtml.js
Due: npm run lint:js

test: re-test switching to Chrome beta
  .travis.yml
Due: none

test: retest after removing Travis-installed Chrome
  .travis.yml
Due: none

test: re-test Puppeteer + Jest
  .travis.yml
  packages/testing/testing-jest/jest-environment-puppeteer-basichtml.js
  packages/testing/testing-jest/jest-global-setup.js
  packages/testing/testing-jest/jest-global-teardown.js
Due: npm run lint:js

chore: update composer deps vs install
  package.json
Due: none

test: re-test Jest
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

revert: revert Travis config updates; re-testing
  .travis.yml
Due: none

chore: cleanup, update deps, and test fix for Drupal Lab build
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
  example-integrations/drupal-lab/web/themes/bolt-starter/patches/@bolt+build-tools+2.5.2.patch
  example-integrations/drupal-lab/web/themes/bolt-starter/yarn.lock
  package.json
  packages/servers/ssr-server/package.json
  packages/testing/testing-jest/jest-environment-puppeteer-basichtml.js
  packages/testing/testing-jest/jest-global-setup.js
  packages/testing/testing-jest/jest-global-teardown.js
  packages/testing/testing-jest/package.json
  packages/testing/testing-nightwatch/package.json
  packages/twig-renderer/composer.json
  packages/uikit-workshop/package.json
  patches/jest-image-snapshot+2.11.0.patch
Due: npm run lint:js

fix: prettier updates
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

test: re-test with simpler / optimized Drupal Lab build
  .travis.yml
Due: none

style(editor): scss lint
  packages/editor/src/index.scss
Due: npm run lint:style

test: re-testing Drupal Lab build
  .travis.yml
  example-integrations/drupal-lab/package.json
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

fix(pathways): restore menu broken by pathways instead of this.pathways
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

fix(with-without): remove accordion/markup coupling, style for no meta-stage=INITIAL
  packages/components/bolt-with-without/js/accordion.js
  packages/components/bolt-with-without/with-without.scss
Due: npm run lint:js, npm run lint:style

style(with-without): lint js
  packages/components/bolt-with-without/js/accordion.js
Due: npm run lint:js

fix: update Autolink Jest tests
  packages/analytics/autolink/__tests__/autolink.test.js
  packages/analytics/autolink/__tests__/fixtures/test-analytics.drupal-config.data.js
Due: npm run lint:js

test: re-test Drupal Lab build
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

fix(micro-journeys-dropdown): correct z-index higher than error overlay
  packages/micro-journeys/src/interactive-pathways.scss
Due: npm run lint:style

fix(micro-journeys-dropdown): bump version of dropdown fixing no action on click
  packages/micro-journeys/package.json
  yarn.lock
Due: none

chore(editor): add no-alert eslint ignore
  packages/editor/src/index.js
Due: npm run lint:js

fix(micro-journeys): switch active tab before triggering new anims
  packages/micro-journeys/src/interactive-pathway.js
Due: npm run lint:js

fix(editor): exclude animate show meta attribute
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix(micro-journeys): adjust animation config for examples
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  packages/micro-journeys/starters/two-characters-1.html
Due: none

fix(animate): if animation doesn't finish by the time it should, move to next
  packages/components/bolt-animate/utils.js
Due: npm run lint:js

fix: temp fix to work around patch-package postinstall / path issues from v2.6.0
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

test: re-test minimal Travis config fix
  .travis.yml
Due: none

fix: text styles for lead text
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/80-micro-journeys-solo.twig
  docs-site/src/pages/pattern-lab/_patterns/06-experiments/micro-journeys/billing-micro-journey-fragments/_micro-journey-demo-1.twig
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

refactor: consolidate Drupal Lab build / test process + temporarily switch over to using local packages till patch-package fix rolled out
  .travis.yml
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

fix: re-test Drupal Lab build
  example-integrations/drupal-lab/web/themes/bolt-starter/package.json
Due: none

docs: 1st pass documenting WC tips and tricks
  docs-site/src/pages/docs/50-guides/50-tips-on-building-web-components.md
Due: none

fix: styling and theme override
  packages/micro-journeys/src/interactive-pathways.js
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/micro-journeys-dropdown.scss
Due: npm run lint:js, npm run lint:style

docs: remove light background, add demo with several tab labels
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/10-tabs-inset-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/15-tabs-label-and-content-spacing-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/30-tabs-content-variations.twig
Due: none

docs: remove unused `tag` prop from Trigger demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/trigger/10-trigger-tag-variations.twig
Due: none
