Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

test: Add background shapes jest tests
  packages/components/bolt-background-shapes/__tests__/__snapshots__/background-shapes.js.snap
  packages/components/bolt-background-shapes/__tests__/background-shapes.js
Due: npm run lint:js

test: Add background shapes testing steps
  packages/components/bolt-background-shapes/TESTING.md
Due: none

feat: remove merge_attributes function
  packages/core-php/src/TwigExtensions/BoltCore.php
  packages/core-php/src/TwigFunctions.php
Due: none

docs: update comments on new functions
  packages/core-php/src/TwigFunctions.php
  packages/core-php/src/Utils.php
Due: none

fix: list prop context
  packages/components/lists/bolt-list/src/_list-item.js
Due: npm run lint:js

refactor: clean up 'initialize_props' function, add documentation.
  packages/core-php/src/TwigFunctions.php
  packages/core-php/src/Utils.php
Due: none

feat: Adds manual testing steps for bolt-button on PatternLab in an approximation of Gherkin format
  packages/components/bolt-button/TESTING.md
  packages/components/bolt-button/images/button_custom.png
  packages/components/bolt-button/images/button_js.png
  packages/components/bolt-button/images/button_styles.png
  packages/components/bolt-button/images/button_styles_mobile.png
  packages/components/bolt-button/images/button_tags.png
  packages/components/bolt-button/images/button_widths.png
  packages/components/bolt-button/images/button_widths_mobile.png
  packages/components/bolt-button/images/performance.png
Due: none

docs: extensive grid usage demos
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/00-grid-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/00-grid.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/05-grid.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/10-grid-start-and-span.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/15-grid-gutter-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/20-grid-row-gutter-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/25-grid-item-column-span-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/30-grid-item-row-span-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/35-grid-item-responsive-breakpoints.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/40-grid-item-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/45-grid-item-valign-variations.twig
  packages/components/bolt-grid/README.md
  packages/components/bolt-grid/grid.schema.yml
  packages/components/bolt-grid/src/grid.scss
Due: npm run lint:style

fix: consistent copy
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/10-grid-start-and-span.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/35-grid-item-responsive-breakpoints.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/grid/40-grid-item-align-variations.twig
Due: none

fix: remove deprecated props
  apps/bolt-site/templates/default.twig
  apps/bolt-site/templates/homepage.twig
  apps/pattern-lab/src/_patterns/02-components/backgrounds/_00-background-band-demo.twig
  apps/pattern-lab/src/_patterns/02-components/sticky/-15-sticky-with-content-example.twig
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  apps/pattern-lab/src/_patterns/04-pages/00-full-page-theming/_full-page-theming.twig
  apps/pattern-lab/src/_patterns/04-pages/05-d8-homepage/00-d8-homepage.twig
  apps/pattern-lab/src/_patterns/04-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  apps/pattern-lab/src/_patterns/04-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  apps/pattern-lab/src/_patterns/04-pages/10-d8-product-pages/_product-t3.twig
  apps/pattern-lab/src/_patterns/04-pages/10-d8-product-pages/product-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/10-d8-product-pages/product-t2.twig
  apps/pattern-lab/src/_patterns/04-pages/10-d8-product-pages/product-t4.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/00-d8-news-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/20-d8-press-and-media/05-d8-browse-page.twig
  apps/pattern-lab/src/_patterns/04-pages/30-d8-partners/00-d8-partners-search.twig
  apps/pattern-lab/src/_patterns/04-pages/35-d8-events/00-event-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/35-d8-events/05-event-detail.twig
  apps/pattern-lab/src/_patterns/04-pages/40-d8-content-hub/00-sticky-navbar.twig
  apps/pattern-lab/src/_patterns/04-pages/45-d8-blog/00-blog-homepage.twig
  apps/pattern-lab/src/_patterns/04-pages/45-d8-blog/05-blog-post.twig
  packages/components/bolt-band/band.schema.yml
Due: none

chore: re-test build after removing node req from package.json
  packages/uikit-workshop/package.json
Due: none

test: test closing mobile nav when tapping on a nav link
  packages/uikit-workshop/src/scripts/components/styleguide.js
Due: npm run lint:js

fix: replace missing card image with new one from pega.com
  docs-site/src/pages/pattern-lab/_patterns/02-components/card/__tests__/_personalized-card-example-data.js
Due: none

fix: fix issues with nav opening / closing when expected based on screen size + layout mode
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/components/styleguide.js
Due: npm run lint:js, npm run lint:style

test: re-test component explorer after locking down lit-html version
  packages/core/package.json
Due: none

test: re-test after upgrading Twig Renderer lib version
  packages/twig-renderer/package.json
Due: none

feat: Simplifies and conslidates functinal testing steps using tables
  packages/components/bolt-button/TESTING.md
  packages/components/bolt-button/images/button_styles_mobile.png
Due: none

feat: Differentiate between developer testing and functional testing
  packages/components/bolt-button/TESTING.md
Due: none

chore: disable auto-adding min-height util on iframe page load
  docs-site/src/components/handle-iframe-height/index.js
Due: none

refactor: clean up PL docs site UI
  docs-site/src/components/pattern-lab-utils/docs.twig
Due: none

chore: update component explorer deps
  docs-site/src/components/schema-form/package.json
Due: none

refactor: capture currentUrl and wire up to redux
  packages/uikit-workshop/src/scripts/actions/app.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/src/scripts/reducers/app.js
Due: npm run lint:js

refactor: clean up PL head / footer
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
Due: none

fix: adjust default link line height + icon and text spacing
  packages/components/bolt-link/src/link.scss
  packages/uikit-workshop/src/scripts/components/styleguide.js
Due: npm run lint:js, npm run lint:style

chore: temporarily disable list component console log regarding validation
  packages/components/lists/bolt-list/src/list.js
Due: npm run lint:js

fix: adjust breakpoint for hiding viewport resizer controls
  packages/uikit-workshop/src/scripts/components/pl-viewport-size-list/pl-viewport-size-list.scss
Due: npm run lint:style

refactor: clean up active state handling in nav + viewport
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.scss
  packages/uikit-workshop/src/scripts/components/styleguide.js
Due: npm run lint:js, npm run lint:style

refactor: adjust default background color of viewport + lighten up dark theme a bit
  packages/uikit-workshop/src/sass/scss/02-base/_body.scss
  packages/uikit-workshop/src/scripts/components/pl-layout/pl-layout.scss
Due: npm run lint:style

refactor: widen grid column used for nav + add extra space around logo while nav is in vertical mode; update deps
  docs-site/src/components/pattern-lab-hacks/pattern-lab-hacks.scss
  docs-site/src/components/site-layout/site-layout.scss
  packages/uikit-workshop/src/scripts/components/pl-logo/pl-logo.scss
  yarn.lock
Due: npm run lint:style

refactor: update entrypoint to eagerly download all main JS chunks
  packages/uikit-workshop/src/scripts/patternlab-viewer.js
Due: npm run lint:js

test: potential perf improvements via webpack config updates to include fewer bundles + preloading image assets in the main index.html file
  packages/uikit-workshop/src/html/index.html
  packages/uikit-workshop/webpack.config.js
Due: npm run lint:js

fix: IE and Edge ordered list background and numbering fix
  packages/components/lists/bolt-li/src/li.js
Due: npm run lint:js

nightwatch checks reports and CI/Checks improvments (#1026)
  .gitignore
  .travis.yml
  docs-site/__tests__/homepage.e2e.js
  docs-site/__tests__/pattern-lab.e2e.js
  jest.config.js
  nightwatch.js
  package.json
  packages/components/bolt-video/__tests__/bolt-video.e2e.js
  scripts/check-run-failure.js
  scripts/check-run-in-progress.js
  scripts/check-run-queue.js
  scripts/check-run-success.js
  scripts/check-run.js
  scripts/get-latest-deploy.js
  scripts/nightwatch-sauce.js
  scripts/report-nightwatch-results.js
  scripts/utils.js
  test/lint.js
  test/unit.js
  tests/e2e/pattern-lab-compiling.js
  yarn.lock
Due: npm run lint:js

Remove all unwanted children blocks from twig templates (#1036)
  docs-site/src/pages/pattern-lab/_patterns/02-components/code-snippet/05-code-snippet.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/code-snippet/10-code-snippet-display-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/code-snippet/15-code-snippet-language-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/code-snippet/20-code-snippet-syntax-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/icon/11-icon-branded-colors.twig
  packages/components/bolt-code-snippet/src/code-snippet.twig
Due: none

fix: Replace index() sass function with map-get() (#1004)
  packages/components/bolt-button/src/_button.mixins.scss
Due: npm run lint:style

Fix: inline list alignment (#1043)
  packages/components/lists/bolt-list/src/_list-item.js
  packages/components/lists/bolt-list/src/list.scss
Due: npm run lint:js, npm run lint:style

Add Support for Async / Preloaded Link Tags (#1039)
  docs-site/.boltrc.js
  docs-site/src/components/loadcss-fix/loadcss-fix.js
  docs-site/src/components/pattern-lab-hacks/pattern-lab-hacks.scss
  docs-site/src/templates/_site-head.twig
  packages/components/bolt-critical-css-vars/README.md
  packages/components/bolt-critical-css-vars/index.js
  packages/components/bolt-critical-css/README.md
  packages/components/bolt-critical-css/index.js
  packages/components/bolt-critical-css/package.json
  yarn.lock
Due: npm run lint:js, npm run lint:style

fix: temporarily disable pattern lab data being inlined in the main site head + add fully inlined version to the site's footer template
  docs-site/src/templates/_site-head.twig
  packages/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

refactor: update component docs sub-nav to align to the right
  docs-site/src/components/pattern-lab-utils/docs.twig
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
