Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

chore: cleaning up slotted icon used in the Button component
  packages/components/bolt-button/src/button.twig
  packages/components/bolt-icon/src/icon.twig
Due: none

docs: adding docs on the <replace-with-children> helper element
  packages/core/elements/replace-with-children/README.md
  packages/core/elements/replace-with-children/index.js
Due: npm run lint:js

fix: updating wire dependency to pull from @bolt/core/renderers
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js

fix: workaround to IE 11 flex bug causing Pattern Lab UI to collapse
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.critical.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/src/sass/scss/base/_body.scss
Due: npm run lint:style

styles: columns and rows
  packages/components/bolt-table/src/table.scss
  packages/components/bolt-table/src/table.twig
Due: npm run lint:style

Bolt Carousel - initial commit adding bolt carousel to PL
  apps/pattern-lab/.boltrc.js
  apps/pattern-lab/package.json
  package.json
  yarn.lock
Due: npm run lint:js

Bolt Carousel - initial work to implement Swiper
  packages/components/bolt-carousel/README.md
  packages/components/bolt-carousel/carousel.js
  packages/components/bolt-carousel/carousel.schema.yml
  packages/components/bolt-carousel/carousel.scss
  packages/components/bolt-carousel/carousel.standalone.js
  packages/components/bolt-carousel/carousel.twig
  packages/components/bolt-carousel/package.json
Due: npm run lint:js, npm run lint:style

Bolt Carousel - docs and demos
  apps/pattern-lab/src/_patterns/02-components/carousel/00-carousel-docs.twig
  apps/pattern-lab/src/_patterns/02-components/carousel/05-carousel.twig
  apps/pattern-lab/src/_patterns/02-components/carousel/10-carousel-three-per-view.twig
  apps/pattern-lab/src/_patterns/02-components/carousel/15-carousel-autoplay.twig
  apps/pattern-lab/src/_patterns/02-components/carousel/20-carousel-nosnap.twig
  apps/pattern-lab/src/_patterns/02-components/carousel/25-carousel-cards.twig
Due: none

Bolt Carousel - linting fix by removing "is same as(true)" logic
  packages/components/bolt-carousel/carousel.twig
Due: none

Bolt Carousel - linting fix by cleaning up carousel.js
  packages/components/bolt-carousel/carousel.js
  packages/components/bolt-carousel/carousel.scss
Due: npm run lint:js, npm run lint:style

fix: update action block interactive states to switch out colors properly in CSS Vars fallback
  packages/components/bolt-action-blocks/src/action-blocks.scss
Due: npm run lint:style

refactor: remove deprecated / unused JS function from lit-HTML
  packages/core/renderers/renderer-lit-html.js
Due: npm run lint:js

chore: clean up Webpack config file; remove unused deps and commented out code that's not currently being used
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

chore: globally update dependencies used in Bolt core, shared configs and build tools
  lerna.json
  package.json
  packages/build-tools/package.json
  packages/config-presets/babel-preset-bolt/package.json
  packages/config-presets/config-browserlist/package.json
  packages/config-presets/config-eslint/package.json
  packages/config-presets/config-stylelint/package.json
  packages/core/package.json
  packages/global/package.json
  yarn.lock
Due: none

fix: fix eslint issues in webpack config
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: fixing prettier / eslint issues with decorators next to exported Classes
  packages/components/bolt-band/src/band.standalone.js
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-button/src/button.standalone.js
  packages/components/bolt-code-snippet/src/code-snippet.standalone.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-device-viewer/src/device-viewer.standalone.js
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-nav-indicator/nav-indicator.js
  packages/components/bolt-nav-priority/nav-priority.js
  packages/components/bolt-navlink/navlink.js
  packages/components/bolt-placeholder/placeholder.standalone.js
  packages/components/bolt-share/src/share.standalone.js
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-tooltip/src/tooltip.standalone.js
  packages/components/bolt-video/src/video.standalone.js
  packages/core/elements/replace-with-children/index.js
  packages/global/styles/05-objects/objects-ratio/ratio.standalone.js
Due: npm run lint:js

feature: deprecate button itemAlignment property (BDS-575) using schema
  packages/components/bolt-button/button.schema.yml
Due: none

feature: Remove all usages of deprecated button itemAlignment prop
  apps/pattern-lab/src/_patterns/02-components/card/00-card-docs.twig
  apps/pattern-lab/src/_patterns/02-components/card/05-card.twig
  apps/pattern-lab/src/_patterns/02-components/card/10-card-band-variation.twig
  apps/pattern-lab/src/_patterns/02-components/card/20-card-with-video.twig
  apps/pattern-lab/src/_patterns/04-pages/90-content-hub/anchor-ribbon-example.twig
  packages/components/bolt-card/src/card.twig
Due: none

PR Feedback - convert more double quote into single
  apps/pattern-lab/src/styles/_docs.scss
  packages/global/styles/07-utilities/_utilities-text-align.scss
  packages/global/styles/07-utilities/_utilities-text-decoration.scss
Due: npm run lint:style

styles: numeric table
  packages/components/bolt-table/src/table.scss
  packages/components/bolt-table/src/table.twig
Due: npm run lint:style

styles: use at-root
  packages/components/bolt-table/src/table.scss
  packages/components/bolt-table/src/table.twig
Due: npm run lint:style

PR Feedback - add 'loop' to props and set default to false
  apps/pattern-lab/src/_patterns/02-components/carousel/30-carousel-cards-loop.twig
  packages/components/bolt-carousel/carousel.schema.yml
  packages/components/bolt-carousel/carousel.standalone.js
  packages/components/bolt-carousel/carousel.twig
Due: npm run lint:js

fix: updating build tool deps based on v2.0.0-beta.0 testing
  packages/build-tools/package.json
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

chore: adjust import order to fix eslint issue
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

test: re-testing Cache util import; removing dependency loop
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

chore: Fix misc indenting issues in press and media page (BDS-605)
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
Due: none

docs: Replace hard-coded band with include on press and media (BDS-605)
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
Due: none

fix: Remove transform from bands (BDS-605)
  packages/components/bolt-band/src/band.scss
Due: npm run lint:style

fix: Remove hard-coded band HTML on 'Press Releases' browse page too
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-media-browse--list-view.twig
  apps/pattern-lab/src/_patterns/04-pages/100-d8-Press-and-Media/d8-press-browse--list-view.twig
Due: none

docs: Misc cleanup on partners search page (BDS-605)
  apps/pattern-lab/src/_patterns/04-pages/110-d8-partners/d8-partners-search.twig
Due: none

docs: Replace hard-coded band markup on partners search page (BDS-605)
  apps/pattern-lab/src/_patterns/04-pages/110-d8-partners/d8-partners-search.twig
Due: none

refactor: re-implement sass-loader Webpack plugin for Sourcemap and Sass importer plugin support
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

refactor: updating to tighten up initial rendering; add component composition for button and icon controls
  packages/components/bolt-carousel/carousel.scss
  packages/components/bolt-carousel/carousel.standalone.js
  packages/components/bolt-carousel/carousel.twig
Due: npm run lint:js, npm run lint:style

chore: fix prettier issues
  packages/components/bolt-carousel/carousel.standalone.js
Due: npm run lint:js

test: re-testing @bolt/themify peer dependency on @bolt/build-tools
  packages/build-tools/plugins/postcss-themify/package.json
  packages/build-tools/plugins/postcss-themify/src/index.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
