Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

[skip travis] chore(release): release v3.5.2
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-share/CHANGELOG.md
  packages/components/bolt-share/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

DS-389 first pass
  packages/components/bolt-image/src/image.twig
Due: none

WWW-694: Fixed a modal scroll bug
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

ds-299: fix chopped off icons
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon/35-icon-pega-branding.twig
  packages/components/bolt-icons/src/svgs/pega/pega-cloud-download.svg
  packages/components/bolt-icons/src/svgs/pega/pega-cloud-upload.svg
  packages/components/bolt-icons/src/svgs/pega/pega-vehicle-bicycle.svg
Due: none

ds-299: update docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon/35-icon-pega-branding.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.5.3
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.5.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-modal/CHANGELOG.md
  packages/components/bolt-modal/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

ds-299: set max height on demo
  docs-site/src/pages/pattern-lab/_patterns/40-components/icon/35-icon-pega-branding.twig
Due: none

Update test snapshot
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
Due: none

Removed IE 11 specific code from the modal.js
  packages/components/bolt-modal/src/modal.js
Due: npm run lint:js

DS-449: Fix stacking order in FF
  packages/components/bolt-teaser/src/teaser.scss
Due: npm run lint:style

DS-427 Enhance Teaser description ellipsis display
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/35-teaser-text-options.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/40-teaser-description-on-hover.twig
  packages/components/bolt-tabs/index.js
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:js, npm run lint:style

Hotfix: DS-450 limit z-index to like and share buttons
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style

Hotfix: WWW-696 Fix Drupal escaping markup when using 'set' in Share component
  packages/components/bolt-share/src/share.twig
Due: none

Updated the teaser.twig clamp conditionals to not hard-code the '...'
  packages/components/bolt-teaser/src/teaser.twig
Due: none

Reverted the teaser.twig ellipsis change
  packages/components/bolt-teaser/src/teaser.twig
Due: none

DS-389: update tests
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
Due: none

[skip travis] chore: version bump PHP-related dependencies to v3.4.4
  packages/twig-integration/drupal-module/bolt_connect.info.yml
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

[skip travis] chore(release): release v3.4.4
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/base-starter-kit/package.json
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-share/CHANGELOG.md
  packages/components/bolt-share/package.json
  packages/components/bolt-tabs/CHANGELOG.md
  packages/components/bolt-tabs/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/generators/yeoman-create-component/package.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/package.json
Due: none

ds-467: allow search panel to be closed by click anywhere else
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-mobile.scss
  packages/components/bolt-page-header/src/page-header-nav.js
  packages/components/bolt-typeahead/typeahead.js
  packages/global/styles/07-utilities/_utilities-pointer-events.scss
  packages/global/styles/index.scss
Due: npm run lint:js, npm run lint:style

DS-389: fix lazyload failure
  packages/components/bolt-image/src/image.twig
Due: none

Merge master and release version 3.4.4
  CHANGELOG.md
  docs-site/.incache
  docs-site/CHANGELOG.md
  lerna.json
  packages/base-starter-kit/CHANGELOG.md
  packages/components/bolt-card-replacement/CHANGELOG.md
  packages/components/bolt-share/CHANGELOG.md
  packages/components/bolt-tabs/CHANGELOG.md
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/src/teaser.twig
  packages/generators/yeoman-create-component/CHANGELOG.md
  packages/twig-integration/drupal-module/composer.json
  packages/twig-integration/twig-extensions-shared/CHANGELOG.md
  packages/twig-integration/twig-extensions-shared/composer.json
Due: none

DS-389: update card-replacement test
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
Due: none

ds-467: add important to util
  packages/global/styles/07-utilities/_utilities-pointer-events.scss
Due: npm run lint:style

DS-456: Overwrite, do not merge, `this.defaultProps`
  packages/base-element/src/lib/decorators/json-schema-props.js
Due: npm run lint:js

DS-389: fix card snap
  packages/components/bolt-card-replacement/__tests__/__snapshots__/card-replacement.js.snap
Due: none

DS-389 filter out lazyload
  packages/components/bolt-image/src/image.twig
Due: none

DS-411: Updated the tabs.js Jest test to the new structure, need to test on Travis
  packages/components/bolt-tabs/__tests__/__snapshots__/tabs.js.snap
  packages/components/bolt-tabs/__tests__/tabs.js
Due: npm run lint:js

Reverted the work-in-progress tests
  packages/components/bolt-breadcrumb/__tests__/breadcrumb.js
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

DS-389: blockquote test resloved
  packages/components/bolt-blockquote/__tests__/__snapshots__/blockquote.js.snap
  packages/components/bolt-image/src/image.twig
Due: none

ds-298: fix gutter and padding props and comment out docs
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/00-holy-grail-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/_05-holy-grail.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/_10-holy-grail-spacing-options.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/_15-holy-grail-use-case-documentation.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/00-side-nav-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/_05-side-nav.twig
  packages/layouts/bolt-holy-grail/holy-grail.schema.js
  packages/layouts/bolt-holy-grail/src/holy-grail.scss
  packages/layouts/bolt-holy-grail/src/holy-grail.twig
Due: npm run lint:js, npm run lint:style

Fix the auto escaping in Drupal
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

Fix the test issue
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none

ds-298: fix article and content pagination docs
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/05-article.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/content-pagination/05-content-pagination.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/_wip-doc-layout.twig
Due: none

DS-458: Add spaceless around icon to remove extra whitespace
  packages/components/bolt-listing-teaser/src/listing-teaser.twig
Due: none
