Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

feat: add getBoltData Twig function
  packages/core-php/src/TwigExtensions/BoltCore.php
  packages/core-php/src/TwigFunctions.php
Due: none

feat: add POC watch task to regenerate manifest data pulled in by the build tools
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

feat: update the component docs template to pull in always-up-to-date schema data
  docs-site/src/components/pattern-lab-utils/docs.twig
Due: none

fix: move the yarn workspaces' nohoist config under workspaces
  package.json
Due: none

refactor: move patch into a .patches folder in @bolt/core
  packages/core/.patches/get-own-property-symbols+0.9.2.patch
  packages/core/package.json
Due: none

fix: revert patch change
  packages/core/.patches/get-own-property-symbols+0.9.2.patch
Due: none

fix: update patch path + commit ref
  packages/core/.patches/get-own-property-symbols+0.9.2.patch
  packages/core/package.json
Due: none

fix: remove obsolete snapshots
  packages/components/bolt-card/__tests__/__snapshots__/card.js.snap
  packages/components/bolt-headline/__tests__/__snapshots__/headline.js.snap
  packages/components/bolt-table/__tests__/__snapshots__/table.js.snap
Due: none

feat: port over and update the original critical CSS work started
  docs-site/.boltrc.js
  packages/build-tools/tasks/critical-css-task/dom.js
  packages/build-tools/tasks/critical-css-task/index.js
  packages/build-tools/tasks/criticalcss-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/utils/config.schema.yml
Due: npm run lint:js

feat: automatically preload async loaded Webpack chunks + test omitting async font loader JS
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
  packages/build-tools/package.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

feat: add critical CSS to full Bolt Build
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: remove console log
  packages/build-tools/tasks/critical-css-task/index.js
Due: npm run lint:js

fix: remove old comments
  packages/build-tools/tasks/critical-css-task/index.js
Due: npm run lint:js

feat: add status-bar/dialogue and register with editor
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/30-status-dialogue-bar.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/34-status-dialogue-bar-kitchen-sink.twig
  packages/components/bolt-interactive-step/src/character.js
  packages/components/bolt-interactive-step/src/character.scss
  packages/components/bolt-interactive-step/src/status-dialogue-bar.js
  packages/components/bolt-interactive-step/src/status-dialogue-bar.schema.js
  packages/components/bolt-interactive-step/src/status-dialogue-bar.scss
  packages/editor/src/setup-bolt.js
Due: npm run lint:js, npm run lint:style

feat: begin icon group, WIP blocked by needed bolt-icon work
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/40-icon-group.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/80-micro-journeys/42-icon-group-w-editor.twig
  packages/components/bolt-animate/src/animate.scss
  packages/components/bolt-interactive-step/index.js
  packages/components/bolt-interactive-step/src/icon-group.js
  packages/components/bolt-interactive-step/src/icon-group.schema.yml
  packages/components/bolt-interactive-step/src/icon-group.scss
  packages/components/bolt-interactive-step/src/status-dialogue-bar.scss
Due: npm run lint:js, npm run lint:style

fix: lint fix
  packages/components/bolt-interactive-step/src/character.js
Due: npm run lint:js

fix: lint fix
  packages/components/bolt-interactive-step/index.js
  packages/components/bolt-interactive-step/src/icon-group.js
Due: npm run lint:js

chore(micro-journeys): create placeholder NPM package
  docs-site/.boltrc.js
  docs-site/package.json
  packages/micro-journeys/README.md
  packages/micro-journeys/index.js
  packages/micro-journeys/index.scss
  packages/micro-journeys/package.json
  packages/micro-journeys/src/character.schema.js
  packages/micro-journeys/src/connection.schema.js
Due: npm run lint:js, npm run lint:style

Removed duplicated get-own-property-symbols patch
  patches/get-own-property-symbols+0.9.2.patch
Due: none

Remove not required postinstall script
  package.json
Due: none

fix: update headline component Jest test to not use async forEach
  packages/components/bolt-headline/__tests__/headline.js
Due: npm run lint:js

fix: eslint fixes + add spinner with status
  packages/build-tools/tasks/critical-css-task/dom.js
  packages/build-tools/tasks/critical-css-task/index.js
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

refactor: extract schemaToProps function
  packages/components/bolt-animate/src/animate.js
  packages/core/utils/convert-schema-to-props.js
  packages/core/utils/index.js
Due: npm run lint:js

feat(micro-journeys): exposing multiple schemas
  packages/micro-journeys/package.json
  packages/micro-journeys/schemas.js
Due: npm run lint:js

fix: make sure Jest tests using the Twig Renderer stop the server when finished
  packages/components/bolt-copy-to-clipboard/__tests__/copy-to-clipboard.js
  packages/components/bolt-device-viewer/__tests__/device-viewer.js
  packages/components/bolt-sticky/__tests__/sticky.js
Due: npm run lint:js

test: tweak Travis CI config + retest Jest tests
  .travis.yml
  packages/components/bolt-navbar/__tests__/navbar.js
Due: npm run lint:js

fix: update travis CLI command to kill anything running on port 4444
  .travis.yml
Due: none

test: update autolink package's Jest test to point to MDN for more predictable Jest tests
  packages/analytics/autolink/__tests__/autolink.test.js
  packages/analytics/autolink/__tests__/fixtures/test-analytics.drupal-config.data.js
Due: npm run lint:js

fix: revert adding command to kill open ports
  .travis.yml
Due: none

fix: doc copy
  docs-site/src/pages/pattern-lab/_patterns/02-components/modal/40-modal-usage-image-and-caption.twig
Due: none

refactor(icon): change schema format Yaml => JSON
  packages/components/bolt-icon/icon.schema.json
  packages/components/bolt-icon/icon.schema.yml
  packages/components/bolt-icon/package.json
Due: none

fix(micro-journeys): correct schema import
  packages/components/bolt-interactive-step/src/status-dialogue-bar.schema.js
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/src/icon-group.schema.js
  packages/micro-journeys/src/interactive-step.schema.js
  packages/micro-journeys/src/status-dialogue-bar.schema.js
Due: npm run lint:js

refactor(icon): update schema filename used elsewhere
  packages/build-tools/tasks/icon-tasks.js
  packages/components/bolt-button/button.schema.yml
  packages/components/bolt-figure/figure.schema.yml
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-link/link.schema.yml
  packages/components/bolt-navlink/navlink.schema.yml
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js

docs(micro-journeys): add code highlighting
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/10-character-docs.twig
Due: none

chore: update package versions
  packages/animations/package.json
  packages/editor/package.json
  packages/micro-journeys/package.json
Due: none

fix(button): simple change
  packages/components/bolt-button/src/button.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
