Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

WIP: polishing up demo
  apps/pattern-lab/src/_patterns/02-components/navbar/00-navbar-docs.twig
  apps/pattern-lab/src/components/schema-form.js
  yarn.lock
Due: npm run lint:js

fix: retain all features of sass-mq
  packages/core/styles/02-tools/tools-breakpoint/_tools-breakpoint.scss
Due: npm run lint:style

fix: add missing EOL to code-snippet.scss
  packages/components/bolt-code-snippet/src/code-snippet.scss
Due: npm run lint:style

Update now.json
  now.json
Due: none

chore: update package.json to point at fork of sass-mq
  packages/core/package.json
Due: none

fix: include forked version of sass-mq
  apps/pattern-lab/src/_patterns/01-styleguide/25-breakpoints/_breakpoints.scss
  apps/pattern-lab/src/_patterns/01-styleguide/25-breakpoints/breakpoints.twig
  packages/core/styles/02-tools/tools-breakpoint/_tools-breakpoint.scss
  yarn.lock
Due: npm run lint:style

styles: code cleanup
  apps/pattern-lab/src/_patterns/02-components/pagination/00-pagination-docs.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/05-pagination.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/10-pagination-theme-variations.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/15-pagination-count-variations.twig
  apps/pattern-lab/src/_patterns/02-components/pagination/20-pagination-align-variations.twig
  packages/components/bolt-pagination/pagination.scss
  packages/components/bolt-pagination/pagination.twig
Due: npm run lint:style

Bolt Pagination - Updated component structure and classes
  packages/components/bolt-pagination/pagination.scss
  packages/components/bolt-pagination/pagination.twig
Due: npm run lint:style

fix: Fix autoprefixer in Drupal builds (WWWD-2139)
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: making it accessible
  packages/components/bolt-pagination/pagination.twig
Due: none

fix: removing extra layer of mixin
  packages/components/bolt-form/src/form.scss
Due: npm run lint:style

refactor: update / normalize twig namespaces used in versioned components to switch to newer Twig namespace syntax introduced in Bolt v1.x
  packages/components/bolt-action-blocks/src/action-block.twig
  packages/components/bolt-action-blocks/src/action-blocks.twig
  packages/components/bolt-background-shapes/src/background-shapes.twig
  packages/components/bolt-background/src/background.twig
  packages/components/bolt-band/src/band--card-collection.twig
  packages/components/bolt-band/src/band--collection.twig
  packages/components/bolt-band/src/band--feature.twig
  packages/components/bolt-band/src/band--flag.twig
  packages/components/bolt-band/src/band--teaser-collection.twig
  packages/components/bolt-band/src/band.twig
  packages/components/bolt-blockquote/src/blockquote.twig
  packages/components/bolt-button-group/src/button-group.twig
  packages/components/bolt-button/src/button.twig
  packages/components/bolt-card/src/card-w-teaser-list.twig
  packages/components/bolt-card/src/card-w-teaser.twig
  packages/components/bolt-chip-list/chip-list.twig
  packages/components/bolt-device-viewer/src/device-viewer.twig
  packages/components/bolt-device-viewer/src/devices/_ipad.twig
  packages/components/bolt-device-viewer/src/parts/_screen.twig
  packages/components/bolt-figure/src/figure.twig
  packages/components/bolt-form/src/elements/form-fieldset.twig
  packages/components/bolt-form/src/inputs/form-button.twig
  packages/components/bolt-form/src/inputs/form-input.twig
  packages/components/bolt-form/src/inputs/form-radios.twig
  packages/components/bolt-form/src/inputs/form-select.twig
  packages/components/bolt-headline/src/_typography.twig
Due: none

feat: add new (missing) brand operations icon + update Icon component docs to include examples on customizing the different CSS Variable props available
  apps/pattern-lab/src/_patterns/02-components/icon/11-icon-branded-colors.twig
  packages/components/bolt-icons/src/icons/brand-operations.js
  packages/components/bolt-icons/src/index.js
  packages/components/bolt-icons/src/svgs/brand/brand-operations.svg
Due: npm run lint:js

fix: remove one bit of the cleanup logic from the nav-priority component; throws a JS error when removed / re-added via rendering service
  packages/components/bolt-nav-priority/nav-priority.js
Due: npm run lint:js

wip: update webpack config to compile test template via Twig Loader PHP
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

feat: add example twig file being tested w/ new rendering service
  apps/pattern-lab/src/index.twig
Due: none

chore: update alignment of content in schema form; tweak Twig Renderer to handle inline Twig templates + file based templates
  apps/pattern-lab/src/components/schema-form.js
  packages/core-php/src/TwigRenderer.php
Due: npm run lint:js

chore: fix linting issues in webpack config; add package.json shortcut for easier npm run setup command
  apps/pattern-lab/package.json
  packages/build-tools/create-webpack-config.js
  yarn.lock
Due: npm run lint:js

fix: spacing fix
  packages/components/bolt-pagination/README.md
  packages/components/bolt-pagination/pagination.scss
Due: npm run lint:style

fix: removing redundant sass variables
  packages/core/styles/01-settings/settings-breakpoints/_settings-breakpoints.scss
Due: npm run lint:style

fix: temporarily replace vanilla custom element w/ Twig include
  apps/pattern-lab/src/_includes/utils/docs.twig
Due: none

chore: update to new breakpoint mixin
  packages/components/bolt-pagination/pagination.scss
Due: npm run lint:style

fix: temporary disable schema validation CLI on master branch
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

fix: update rendering service to always make sure the port is available
  apps/bolt-site/renderTwig.php
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

fix: update docs site sass to use new bolt-mq sass mixin
  apps/bolt-site/templates/site.scss
Due: npm run lint:style

fix: remove hard-coded values on docs homepage -- workaround no longer needed
  apps/bolt-site/content/20-docs/50-concepts/20-tech/10-sass.md
  apps/bolt-site/templates/home.twig
Due: none

chore: remove extra CSS / JS being loaded on docs site that's no longer required
  apps/bolt-site/templates/site.twig
Due: none

fix: make sure only webpack configs with more than 1 language get language-specific file assets emitted
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

Fix: increase sass math precision to 3 decimals
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: Fix schema validation errors in Japanese homepage PL demo
  apps/pattern-lab/src/_patterns/04-pages/10-homepage/-02-homepage-japanese.twig
Due: none

test: update composer.json styleguidekit repo
  apps/pattern-lab/composer.json
Due: none

Delete composer.lock
  apps/pattern-lab/composer.lock
Due: none

chore: manually update browserslist config
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

Update composer.json
  apps/pattern-lab/composer.json
Due: none

chore: remove pw-site from apps
  apps/pw-site/.boltrc.js
  apps/pw-site/.gitignore
  apps/pw-site/.npmignore
  apps/pw-site/composer.json
  apps/pw-site/composer.lock
  apps/pw-site/package.json
  apps/pw-site/readme.md
  apps/pw-site/renderTwig.php
  apps/pw-site/src/content/00-index.md
  apps/pw-site/src/index.js
  apps/pw-site/src/index.scss
  apps/pw-site/src/templates/pw-video.twig
  apps/pw-site/src/templates/site.twig
Due: npm run lint:js, npm run lint:style

refactor: add favicons to docs and PL
  apps/bolt-site/favicons/android-chrome-192x192.png
  apps/bolt-site/favicons/android-chrome-384x384.png
  apps/bolt-site/favicons/apple-touch-icon.png
  apps/bolt-site/favicons/browserconfig.xml
  apps/bolt-site/favicons/favicon-16x16.png
  apps/bolt-site/favicons/favicon-32x32.png
  apps/bolt-site/favicons/favicon.ico
  apps/bolt-site/favicons/mstile-150x150.png
  apps/bolt-site/favicons/safari-pinned-tab.svg
  apps/bolt-site/favicons/site.webmanifest
  apps/bolt-site/templates/site.twig
  apps/pattern-lab/src/_meta/_00-head.twig
  apps/pattern-lab/src/favicons/android-chrome-192x192.png
  apps/pattern-lab/src/favicons/android-chrome-384x384.png
  apps/pattern-lab/src/favicons/apple-touch-icon.png
  apps/pattern-lab/src/favicons/browserconfig.xml
  apps/pattern-lab/src/favicons/favicon-16x16.png
  apps/pattern-lab/src/favicons/favicon-32x32.png
  apps/pattern-lab/src/favicons/favicon.ico
  apps/pattern-lab/src/favicons/mstile-150x150.png
  apps/pattern-lab/src/favicons/safari-pinned-tab.svg
  apps/pattern-lab/src/favicons/site.webmanifest
Due: none

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
