Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

lint: update snapshots
  packages/micro-journeys/__tests__/__snapshots__/index.js.snap
Due: none

refactor: remove bolded text re: mikes feedback
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/92-micro-journey-in-band.twig
Due: none

finalize radar component, cleanup existing animated svgs, update pattern lab
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/00-svg-animations-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
  packages/components/bolt-svg-animations/README.md
  packages/components/bolt-svg-animations/index.scss
  packages/components/bolt-svg-animations/package.json
  packages/components/bolt-svg-animations/src/index.scss
  packages/components/bolt-svg-animations/src/svg-animations.js
  packages/components/bolt-svg-animations/src/svg-animations.twig
  packages/components/bolt-svg-animations/src/svg/automation.js
  packages/components/bolt-svg-animations/src/svg/index.js
  packages/components/bolt-svg-animations/src/svg/orbit.js
  packages/components/bolt-svg-animations/src/svg/radar.js
  packages/components/bolt-svg-animations/svg-animations.schema.yml
Due: npm run lint:js, npm run lint:style

remove unecessary .scss
  packages/components/bolt-svg-animations/src/index.scss
Due: npm run lint:style

feat: Add commands to serve static drupal-lab content
  package.json
Due: none

feat(editor): much improved slot dropzones
  packages/editor/src/index.scss
  packages/editor/src/setup-bolt.js
  packages/editor/types/grapesjs/index.d.ts
Due: npm run lint:js, npm run lint:style

refactor: move query util into core
  packages/animations/utilities/animation-utils.js
  packages/core/utils/index.js
  packages/core/utils/query.js
  packages/editor/package.json
  packages/editor/src/editor.js
  packages/editor/src/index.js
Due: npm run lint:js

fix: changing query import so IDEs recognize it
  packages/animations/utilities/animation-utils.js
  packages/editor/src/editor.js
  packages/editor/src/index.js
Due: npm run lint:js

fix(micro-journeys): proper twig demo render
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
Due: none

fix(animations): PL JS code for IE 11
  docs-site/src/pages/pattern-lab/_patterns/02-components/animate/05-animate.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/animate/10-animate-build-ins.twig
Due: none

note: manually moved from incorrectly based branch. includes all work for the svg animations component, including Radar, Orbit, and Auotmation. Barebones pattern lab page also included
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/00-svg-animations-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/svg-animations/05-svg-animations.twig
  packages/components/.DS_Store
  packages/components/bolt-icon/__tests__/.DS_Store
  packages/components/bolt-svg-animations/.DS_Store
  packages/components/bolt-svg-animations/README.md
  packages/components/bolt-svg-animations/index.js
  packages/components/bolt-svg-animations/package.json
  packages/components/bolt-svg-animations/src/.DS_Store
  packages/components/bolt-svg-animations/src/svg-animations.js
  packages/components/bolt-svg-animations/src/svg-animations.twig
  packages/components/bolt-svg-animations/src/svg/automation.js
  packages/components/bolt-svg-animations/src/svg/index.js
  packages/components/bolt-svg-animations/src/svg/orbit.js
  packages/components/bolt-svg-animations/src/svg/radar.js
  packages/components/bolt-svg-animations/svg-animations.schema.yml
Due: npm run lint:js

feat: update first step to match new comp
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/92-micro-journey-in-band.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
Due: none

feat: one character layout and bug fixes
  packages/micro-journeys/index.js
  packages/micro-journeys/src/character.scss
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/one-character-layout.js
  packages/micro-journeys/src/one-character-layout.scss
  packages/micro-journeys/src/two-character-layout.scss
Due: npm run lint:js, npm run lint:style

feat: update steps 2 and 3 to new comp
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/92-micro-journey-in-band.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
Due: none

feat: update steps 4 5 6
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/92-micro-journey-in-band.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
Due: none

refactor: fix copy typos steps 4 5 6
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
Due: none

feat: various image updates for steps
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
Due: none

feat: add custom cta with icon component
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  packages/micro-journeys/index.js
  packages/micro-journeys/src/cta.js
  packages/micro-journeys/src/cta.scss
Due: npm run lint:js, npm run lint:style

feat: Update configuration for Tome
  example-integrations/drupal-lab/web/sites/default/settings.local.php
Due: none

feat: Add express server for drupal-lab example integration
  packages/servers/integration-server/index.js
Due: npm run lint:js

feat: Update command to run integration server
  package.json
Due: none

fix: cleaning code
  jest.config.js
  package.json
  packages/generators/yeoman-create-component/generators/component/__tests__/__snapshots__/component-generator.js.snap
  packages/generators/yeoman-create-component/generators/component/__tests__/component-generator.js
  packages/generators/yeoman-create-component/generators/component/add-bolt-package.js
  packages/generators/yeoman-create-component/generators/component/index.js
  packages/generators/yeoman-create-component/generators/component/templates/component.js
  packages/generators/yeoman-create-component/generators/component/templates/component.scss
  packages/generators/yeoman-create-component/generators/component/update-boltrc.js
  packages/generators/yeoman-create-component/package.json
  packages/testing/testing-jest/jest-global-teardown.js
Due: npm run lint:js, npm run lint:style

fix: cleaning code
  jest.config.js
  packages/generators/yeoman-create-component/generators/component/templates/component.scss
Due: npm run lint:style

feat: wire up the docs-site specific version selector component to simplify ES Module include logic
  docs-site/src/components/version-selector/index.js
  docs-site/src/components/version-selector/version-selector.js
Due: none

refactor: globally update withLitHtml and withPreact base renderer Classes in order to avoid throwing a JS error in non-polyfilled browsers
  docs-site/src/components/bolt-select/bolt-select.standalone.js
  docs-site/src/components/docs-search/docs-search.js
  docs-site/src/components/radio-switch/change-case.js
  docs-site/src/components/radio-switch/radio-switch.js
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-band/src/band.js
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-blockquote/src/blockquote.js
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-chip/src/chip.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-device-viewer/src/device-viewer.standalone.js
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-figure/src/figure.js
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-image/src/image.js
  packages/components/bolt-li/src/li.js
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/list.js
  packages/components/bolt-modal/focus-trap/focus-trap.js
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-nav-indicator/nav-indicator.js
  packages/components/bolt-nav-priority/nav-priority.js
  packages/components/bolt-navlink/navlink.js
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-placeholder/placeholder.standalone.js
  packages/components/bolt-stack/src/stack.js
  packages/components/bolt-table/src/table.js
  packages/components/bolt-text/src/text.js
  packages/components/bolt-tooltip/src/tooltip.js
  packages/components/bolt-ul/src/ul.js
  packages/components/bolt-video/src/video-meta.js
  packages/components/bolt-video/src/video.standalone.js
  packages/core/elements/bolt-action/index.js
Due: npm run lint:js

refactor: adjust base class + renderer subclasses to work with native ES Modules
  packages/core/renderers/bolt-base.js
  packages/core/renderers/renderer-lit-html.js
  packages/core/renderers/renderer-preact.js
Due: npm run lint:js

chore: minor JS cleanup
  packages/core/decorators/convert-initial-tags.js
  packages/core/utils/index.js
Due: npm run lint:js

chore: add version selector component to the Yarn workspace
  package.json
Due: none

refactor: adjust Bolt Ratio base class to better work with ES Modules
  packages/components/bolt-ratio/src/ratio.js
Due: npm run lint:js

refactor: finish making the version selector component ES Module-friendly
  docs-site/.boltrc.js
  docs-site/package.json
Due: none

docs: add comment about autoplay on iOS
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay-and-loop-hide-controls.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay-and-loop.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/video/autoplay/-autoplay.twig
Due: none

refactor: convert code snippet component over to lit-html
  packages/components/bolt-code-snippet/src/code-snippet.standalone.js
Due: npm run lint:js

refactor: switch over to using Terser instead of Uglify
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

chore: remove old code snippet deps no longer needed
  packages/components/bolt-code-snippet/package.json
Due: none

refactor: webpack config + babel + browserslist config updates to support compiling and outputting ES Module code
  packages/build-tools/create-webpack-config.js
  packages/build-tools/utils/manifest.js
  packages/configs/babel-preset-bolt/index.modern.js
  packages/configs/browserslist-config/index.modern.js
  packages/global/package.json
  packages/global/styles/index.mjs
Due: npm run lint:js

chore: cleanup + make update build to avoid infinite reloads when compiling 2 JS builds at once
  docs-site/.boltrc.js
  docs-site/src/index.js
  docs-site/src/index.scss
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/webpack-tasks.js
  packages/components/bolt-nav-priority/nav-priority.scss
Due: npm run lint:js, npm run lint:style

feat: add .mjs module script to the head + reorganize <head> scripts based on perf workshop + testing
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
  packages/build-tools/tasks/webpack-dev-server-waitpage/bolt.ejs
Due: none

chore: update deps + better account for multiple progress indicators on dev server loading screen
  package.json
  packages/build-tools/tasks/webpack-dev-server-waitpage/bolt.ejs
  yarn.lock
Due: none

fix: temporarily disable Webpack changes being tested
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
