Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix: fix duplicate component rendering by fixing the Bolt core BoltBase class to use the right renderer mixin
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-code-snippet/src/code-snippet.standalone.js
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-tooltip/src/tooltip.standalone.js
  packages/components/bolt-video/src/video.standalone.js
  packages/core/renderers/bolt-base.js
  packages/core/renderers/renderer-hyperhtml.js
  packages/core/renderers/renderer-preact.js
Due: npm run lint:js

fix: move the gumshoe.js dependency to the correct package using it
  packages/components/bolt-nav-indicator/package.json
  packages/components/bolt-nav-priority/package.json
Due: none

docs: demo updates
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
Due: none

fix: add element.closest polyfill for IE 11 (required by smooth scroll library)
  packages/core/package.json
  packages/core/polyfills/index.js
Due: npm run lint:js

fix: update nav-indicator connecting Promise order so indicator animates in a bit more consistently
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

chore: upgrade babel to latest version
  packages/config-presets/babel-preset-bolt/package.json
Due: none

fix: temporarily move new bolt text component styling selectors to be nested inside of the custom element till upstream fix in place
  packages/components/bolt-text/src/text.scss
Due: npm run lint:style

fix: update tooltip component to opt out of using shadow DOM for the time being
  packages/components/bolt-tooltip/src/tooltip.standalone.js
Due: npm run lint:js

fix: add forEach polyfill to PL for IE11
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

refactor: test adding the current version of video player component to the custom element getting output for future analytics tracking
  packages/components/bolt-video/src/_video-tag.twig
Due: none

chore: update yarn.lock deps
  yarn.lock
Due: none

docs: adding explaination about themes
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/README.md
Due: none

fix: fix existing dropdown demo examples to pull in the block-list component for the time being
  apps/pattern-lab/src/_patterns/02-components/dropdown/05-dropdown.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/10-dropdown-center.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/15-dropdown-collapse.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/16-dropdown-collapse-center.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/20-dropdown-theme-variations.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/25-dropdown-long-header.twig
  apps/pattern-lab/src/_patterns/02-components/dropdown/30-dropdown-custom-element-demo-collection.twig
Due: none

fix: revert updating Preact renderer to use "children" vs "childNodes" (used in Skate.js currently); fixes an issue with the block-ist Preact component rendering duplicate content
  packages/core/renderers/renderer-preact.js
Due: npm run lint:js

fix: disable priority-nav check in nav-indicator to make the initial nav indicator rendering more consistent and not require scrolling
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

fix: fix a bug of broken form demo paths
  apps/pattern-lab/src/_patterns/02-components/form/_form-full-inline.twig
  apps/pattern-lab/src/_patterns/02-components/form/form-element-demo-checkbox-fieldset.twig
  apps/pattern-lab/src/_patterns/02-components/form/form-element-demo-radio-fieldset.twig
  apps/pattern-lab/src/_patterns/02-components/form/form-full-campaign-landing.twig
  apps/pattern-lab/src/_patterns/04-pages/80-events/_event-register-form.twig
Due: none

fix: update navlink to address indicator positioning in IE 11
  packages/components/bolt-nav-indicator/nav-indicator.scss
Due: npm run lint:style

fix: update navlink active styling fallback if CSS Vars aren't supported
  packages/components/bolt-navlink/navlink.scss
Due: npm run lint:style

fix: check to make sure the navlink being reset has a "deactivate" method defined (if the component hasn't been fully booted up yet) -- fixes a load order / timing bug encountered in IE 11
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

fix: update Pattern Lab JS logic to work around IE 11 JS features supported
  apps/pattern-lab/src/scripts/pl.js
Due: npm run lint:js

fix: re-enable <bolt-nav-indicator> workaround to prevent animating the line in to the wrong location as soon as the page loads
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

fix: disable context output
  apps/bolt-site/templates/site.twig
Due: none

test: test fix to static site php cli command
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

Update .travis.yml
  .travis.yml
Due: none

fix: remove vspacing prop and unnecessary doc styles
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  packages/components/bolt-text/src/text.standalone.js
  packages/components/bolt-text/src/text.twig
  packages/components/bolt-text/text.schema.yml
Due: npm run lint:js

styles: remove vspacing css
  packages/components/bolt-text/src/text.scss
Due: npm run lint:style

docs: copy updates
  packages/components/bolt-text/README.md
Due: none

docs: changing demos to use web component
  apps/pattern-lab/src/_patterns/02-components/text/-text-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/-text-tag-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/00-text-docs.twig
  apps/pattern-lab/src/_patterns/02-components/text/05-text.twig
  apps/pattern-lab/src/_patterns/02-components/text/10-text-align-variations.twig
  apps/pattern-lab/src/_patterns/02-components/text/15-text-link.twig
  apps/pattern-lab/src/_patterns/02-components/text/20-text-quoted.twig
  apps/pattern-lab/src/_patterns/02-components/text/25-text-size-and-weight-variations.twig
Due: none

styles: doc headlines and table
  apps/pattern-lab/src/_includes/utils/docs.twig
  apps/pattern-lab/src/styles/_docs.scss
Due: npm run lint:style

hotfix: update bolt-text component CSS class to be unique instead of being scoped to the custom element selector. fixes styling regression when putting together the v1.5.0 release
  packages/components/bolt-text/src/text.scss
  packages/components/bolt-text/src/text.standalone.js
Due: npm run lint:js, npm run lint:style

fix: update classname in Sass to match JS classes added to template.
  packages/components/bolt-text/src/text.scss
Due: npm run lint:style

fix: update nightwatch E2E test to check the docs site homepage differently than checking to confirm PL compiled correctly
  nightwatch.js
  tests/e2e/pattern-lab-compiling.js
Due: none

test: simplifying travis build to test potential travis fix
  package.json
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/tasks/task-collections.js
  packages/build-tools/utils/sh.js
Due: npm run lint:js

test: disabling sauce connect + simplify composer installs
  .travis.yml
  package.json
Due: none

fix: revert composer package.json update
  package.json
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

fix: Remove navlink focus state when clicking anchor links (BDS-412)
  packages/components/bolt-navlink/navlink.js
Due: npm run lint:js

test: re-testing travis build using execa
  packages/build-tools/package.json
  packages/build-tools/tasks/static-tasks.js
  packages/build-tools/utils/sh.js
Due: npm run lint:js

fix: remove last child's spacing
  packages/global/styles/05-objects/objects-inline-list/_objects-inline-list.scss
Due: npm run lint:style
