Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

Update _00-head.twig
  apps/pattern-lab/src/_meta/_00-head.twig
Due: none

Update _01-foot.twig
  apps/pattern-lab/src/_meta/_01-foot.twig
Due: none

Update static-tasks.js
  packages/build-tools/tasks/static-tasks.js
Due: npm run lint:js

chore: documenting webpack-cli usage when run outside of the normal Bolt build process
  .boltrc.js
  apps/pattern-lab/.boltrc.js
Due: npm run lint:js

fix: fixed open sans font files and corrected 600 italic
  packages/global/fonts/opensans-bold.woff
  packages/global/fonts/opensans-bold.woff2
  packages/global/fonts/opensans-bolditalic.woff
  packages/global/fonts/opensans-bolditalic.woff2
  packages/global/fonts/opensans-extrabold.woff
  packages/global/fonts/opensans-extrabold.woff2
  packages/global/fonts/opensans-extrabolditalic.woff
  packages/global/fonts/opensans-extrabolditalic.woff2
  packages/global/fonts/opensans-italic.woff
  packages/global/fonts/opensans-italic.woff2
  packages/global/fonts/opensans-regular.woff
  packages/global/fonts/opensans-regular.woff2
  packages/global/fonts/opensans-semibold.woff
  packages/global/fonts/opensans-semibold.woff2
  packages/global/fonts/opensans-semibolditalic.woff
  packages/global/fonts/opensans-semibolditalic.woff2
  packages/global/styles/03-generic/_generic-font-stacks.scss
  yarn.lock
Due: npm run lint:style

fix: typo in mixin
  packages/global/styles/03-generic/_generic-font-stacks.scss
Due: npm run lint:style

WIP: staging in-progress themify config options
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

feat: port over customized (and typescript-converted) themify library
  packages/themify/.gitignore
  packages/themify/README.md
  packages/themify/package.json
  packages/themify/src/_internal.scss
  packages/themify/src/encode/encode/api/_json.scss
  packages/themify/src/encode/encode/encode.scss
  packages/themify/src/encode/encode/helpers/_quote.scss
  packages/themify/src/encode/encode/mixins/_json.scss
  packages/themify/src/encode/encode/types/_bool.scss
  packages/themify/src/encode/encode/types/_color.scss
  packages/themify/src/encode/encode/types/_list.scss
  packages/themify/src/encode/encode/types/_map.scss
  packages/themify/src/encode/encode/types/_null.scss
  packages/themify/src/encode/encode/types/_number.scss
  packages/themify/src/encode/encode/types/_string.scss
  packages/themify/src/encode/sass-json-export.scss
  packages/themify/src/helpers/css.util.js
  packages/themify/src/helpers/js-sass.js
  packages/themify/src/helpers/json.util.js
  packages/themify/src/index.js
  packages/themify/src/rule-processor.js
  packages/themify/src/themify.scss
  packages/themify/src/utils.js
Due: npm run lint:js, npm run lint:style

feat: update Bolt core's color palette config to be defined in JS -- linked to how themify ultimately will be getting the color / theme data required
  packages/build-tools/create-webpack-config.js
  packages/core/styles/01-settings/settings-colors/_settings-colors.js
  packages/core/styles/01-settings/settings-colors/_settings-colors.scss
  packages/core/styles/02-tools/tools-color-palette/_tools-color-palette.scss
Due: npm run lint:js, npm run lint:style

fix: add themify to ignore list for eslint + stylelint for the time being
  .eslintignore
  package.json
Due: none

fix: fix eslintignore typo
  .eslintignore
Due: none

fix: re-add comment to .eslintignore
  .eslintignore
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: add missing open sans weight / style to critical font loader
  packages/components/bolt-critical-fonts/src/critical-fonts.js
Due: npm run lint:js

fix: fixed open sans font files and corrected 600 italic
  packages/global/fonts/opensans-bold.woff
  packages/global/fonts/opensans-bold.woff2
  packages/global/fonts/opensans-bolditalic.woff
  packages/global/fonts/opensans-bolditalic.woff2
  packages/global/fonts/opensans-extrabold.woff
  packages/global/fonts/opensans-extrabold.woff2
  packages/global/fonts/opensans-extrabolditalic.woff
  packages/global/fonts/opensans-extrabolditalic.woff2
  packages/global/fonts/opensans-italic.woff
  packages/global/fonts/opensans-italic.woff2
  packages/global/fonts/opensans-regular.woff
  packages/global/fonts/opensans-regular.woff2
  packages/global/fonts/opensans-semibold.woff
  packages/global/fonts/opensans-semibold.woff2
  packages/global/fonts/opensans-semibolditalic.woff
  packages/global/fonts/opensans-semibolditalic.woff2
  packages/global/styles/03-generic/_generic-font-stacks.scss
Due: npm run lint:style

v1.6.3
  apps/bolt-site/package.json
  apps/drupal-lab/web/themes/flash/package.json
  apps/pattern-lab/package.json
  lerna.json
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-share/package.json
  packages/components/bolt-tooltip/package.json
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
  packages/global/package.json
Due: none

fix: Make device viewer button size relative (BDS-454)
  packages/components/bolt-device-viewer/src/_device-viewer--iphone8.scss
Due: npm run lint:style

Cleanup - add /bolt-site/sassdocs to .gitignore
  .gitignore
Due: none

Sassdoc - added sassdoc build script to npm scripts
  package.json
Due: none

Sassdocs - updated comments to fix sassdoc formatting
  packages/core/styles/01-settings/settings-breakpoints/_settings-breakpoints.scss
  packages/core/styles/01-settings/settings-colors/_settings-colors.scss
  packages/core/styles/02-tools/tools-breakpoint/_tools-breakpoint.scss
  packages/core/styles/02-tools/tools-css-vars/_tools-css-vars.scss
  packages/core/styles/02-tools/tools-strip-unit/_tools-strip-unit.scss
Due: npm run lint:style

Sassdoc - updated .lock files
  package-lock.json
  yarn.lock
Due: none

Sassdoc - Twig utils, pattern lab files and styles
  apps/pattern-lab/src/_includes/utils/sassdocs.twig
  apps/pattern-lab/src/_patterns/01-styleguide/50-sassdocs/_sassdoc.scss
  apps/pattern-lab/src/_patterns/01-styleguide/50-sassdocs/sassdoc.json
  apps/pattern-lab/src/_patterns/01-styleguide/50-sassdocs/sassdoc.twig
Due: npm run lint:style

fix: icon position
  packages/components/bolt-video/src/_videojs-enhancements.scss
Due: npm run lint:style

Updated .lock files
  package-lock.json
  yarn.lock
Due: none

fix: remove WatchIgnorePlugin from build -- fixes issue with Pattern Lab-specific Sass / JS not properly triggering a Webpack rebuild (inside the 01-styleguide folder to be more specific)
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

fix: fix JS error when webpack recompiles Pattern Lab
  packages/build-tools/tasks/pattern-lab-tasks.js
Due: npm run lint:js

fix: update webpack-serve to not auto open for now to prevent two tabs from opening (one for webpack-serve + browsersync); browsersync config updates should still work as expected
  packages/build-tools/tasks/webpack-tasks.js
Due: npm run lint:js

fix: update build tools so webpack's watch task is automatically run if webpackDevServer isn't enabled in the .boltrc config
  packages/build-tools/tasks/task-collections.js
Due: npm run lint:js

chore: update sass-loader to latest version + swap out sass-import-globbing with more mature node-sass-glob-importer importer
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
Due: npm run lint:js

chore: clearing out old PL files no longer needed with the latest pattern lab build config
  apps/pattern-lab/src/index.html
  apps/pattern-lab/src/pl-dispatcher.js
  apps/pattern-lab/src/splash-screen.html
Due: npm run lint:js

Fix issue with event listener in nav indicator.
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js

style: typography fix
  apps/pattern-lab/src/_includes/utils/sassdocs.twig
  apps/pattern-lab/src/_patterns/01-styleguide/50-sassdocs/_sassdoc.scss
Due: npm run lint:style

fix: packages/build-tools/.snyk & packages/build-tools/package.json to reduce vulnerabilities
  packages/build-tools/.snyk
  packages/build-tools/package.json
Due: none

Remove unused function parameter in nav-indicator.js.
  packages/components/bolt-nav-indicator/nav-indicator.js
Due: npm run lint:js
