Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

[skip travis] chore: update .incache file
  docs-site/.incache
Due: none

fix: Pass correct value for html to editor
  packages/editor/src/index.js
Due: npm run lint:js

fix: Update editor state on successful save
  packages/editor/src/index.js
Due: npm run lint:js

fix: Reset button state on failed save
  packages/editor/src/index.js
Due: npm run lint:js

hotfix: patching lit-element constructable stylesheet rendering behavior
  packages/base-element/src/BoltElement.js
Due: npm run lint:js

fix: check to make sure this.renderRoot.adoptedStyleSheet is defined
  packages/base-element/src/BoltElement.js
Due: npm run lint:js

fix: adjust import order for Prettier
  packages/base-element/src/BoltElement.js
Due: npm run lint:js

chore: mockup changes
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/00-landing-page-t1.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/05-landing-page-t2a.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/05-landing-page-t2b.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/05-landing-page-t2c.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/05-landing-page-t2d.twig
  docs-site/src/pages/pattern-lab/_patterns/04-pages/55-d8-academy/10-landing-page-t3a.twig
Due: none

[skip travis] chore: version bump PHP-related dependencies to v2.11.4
  packages/core-php/composer.json
  packages/drupal-modules/bolt_connect/bolt_connect.info.yml
  packages/drupal-modules/bolt_connect/composer.json
Due: none

[skip travis] chore(release): release v2.11.4
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/base-element/CHANGELOG.md
  packages/base-element/package.json
  packages/core-php/CHANGELOG.md
  packages/core-php/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/editor/CHANGELOG.md
  packages/editor/package.json
Due: none

refactor: rename bolt-demo-component to bolt-theme-switcher
  docs-site/.boltrc.js
  docs-site/src/components/theme-switcher/index.js
  docs-site/src/components/theme-switcher/package.json
  docs-site/src/components/theme-switcher/theme-switcher.js
  docs-site/src/components/theme-switcher/theme-switcher.scss
  package.json
  packages/components/bolt-typeahead/__demos__/customize-theming/typeahead.customize-theming.twig
Due: npm run lint:style

fix: add missing file
  packages/components/bolt-critical-fonts/src/font-stacks.bolt.json
Due: none

feat: upgrade to Preact v10
  packages/build-tools/create-webpack-config.js
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-code-snippet/package.json
  packages/components/bolt-code-snippet/src/code-snippet.standalone.js
  packages/configs/babel-preset-bolt/index.js
  packages/core/package.json
  packages/core/renderers/preact-markup.js
  packages/core/renderers/renderer-preact.js
  packages/uikit-workshop/package.json
  packages/uikit-workshop/src/scripts/components/base-skate-preact-element.js
  packages/uikit-workshop/webpack.config.js
  yarn.lock
Due: npm run lint:js

fix: update configuration to be inline with our master branch
  example-integrations/drupal-lab/package.json
  example-integrations/drupal-lab/web/sites/default/settings.local.php
  example-integrations/drupal-lab/web/themes/bolt-starter/yarn.lock
Due: none

fix: update travis configuration
  .travis.yml
Due: none

fix: address prettier issues
  docs-site/src/components/theme-switcher/theme-switcher.js
  packages/build-tools/create-webpack-config.js
  packages/build-tools/tasks/image-tasks.js
  packages/components/bolt-image/src/_image-lazy-sizes.js
  packages/components/bolt-modal/focus-trap/focusable.js
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/configs/eslint-config/ideal.js
  packages/core/renderers/renderer-preact.js
  packages/core/store.js
Due: npm run lint:js

refactor: Typeahead updates to support manually handling how / when the dropdown with results renders. addresses the previous issue of being able to click on custom rendered footer UI
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:js, npm run lint:style

chore: minor cleanup per PR feedback
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.js
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.twig
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:js, npm run lint:style

refactor: remove extra z-index + fix color fallback in IE 11
  packages/components/bolt-typeahead/typeahead.scoped.scss
Due: npm run lint:style

styles: placement
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/05-popover.twig
  packages/components/bolt-popover/popover.schema.yml
  packages/components/bolt-popover/src/popover.scss
  packages/components/bolt-popover/src/popover.twig
Due: npm run lint:style

fix: don't shrink 'show-more' button or IE miscalculates button width on resize
  packages/components/bolt-tabs/src/tabs-dropdown.scss
Due: npm run lint:style

fix: update build tools snapshot
  packages/build-tools/__tests__/multi-lang/__snapshots__/index.js.snap
Due: none

fix: update accordion snapshot
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
Due: none

refactor: major accessibility updates + adjustments to event handlers / UI logic
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.schema.yml
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/components/bolt-typeahead/typeahead.status.js
Due: npm run lint:js, npm run lint:style

fix: retest IE 11 after adding find-index poly
  packages/base-polyfills/index.js
  packages/base-polyfills/platform/array.prototype.find-index.js
Due: npm run lint:js

chore: remove file extension from import
  packages/base-polyfills/index.js
Due: npm run lint:js

fix: update demo to use adjusted classname for result items
  packages/components/bolt-typeahead/__demos__/disable-search-filtering/typeahead.disable-search-filtering.js
Due: npm run lint:js

refactor: fix hint text uuid
  packages/components/bolt-typeahead/typeahead.autosuggest.js
Due: npm run lint:js

fix: address prettier formatting issue
  packages/components/bolt-typeahead/typeahead.autosuggest.js
Due: npm run lint:js

refactor: code cleanup + adding inline comments
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.footer.js
  packages/components/bolt-typeahead/typeahead.status.js
  packages/components/bolt-typeahead/typeahead.utils.js
Due: npm run lint:js

chore: fix prettier issue
  packages/components/bolt-typeahead/typeahead.autosuggest.js
Due: npm run lint:js

docs: update root README.md with updated Github + website URLs; updated quick start to use Yarn vs NPM
  README.md
Due: none

styles: placement rework
  docs-site/src/pages/pattern-lab/_patterns/02-components/popover/05-popover.twig
  packages/components/bolt-popover/src/popover.scss
Due: npm run lint:style

fix: revert adding find-index polyfill; refactor to use workaround
  packages/base-polyfills/index.js
  packages/base-polyfills/platform/array.prototype.find-index.js
  packages/components/bolt-typeahead/typeahead.autosuggest.js
Due: npm run lint:js

refactor: update Typeahead to accessible text customizable / translatable + update Typeahead documentation
  packages/components/bolt-typeahead/README.md
  packages/components/bolt-typeahead/typeahead.autosuggest.js
  packages/components/bolt-typeahead/typeahead.schema.yml
Due: npm run lint:js

refactor: clean up README.md docs
  packages/components/bolt-typeahead/README.md
Due: none

chore: linting
  packages/components/bolt-popover/src/popover.scss
Due: npm run lint:style

feat: manually port over <bolt-theme-switcher> component from #1542
  docs-site/.boltrc.js
  docs-site/package.json
  docs-site/src/components/theme-switcher/index.js
  docs-site/src/components/theme-switcher/package.json
  docs-site/src/components/theme-switcher/theme-switcher.js
  docs-site/src/components/theme-switcher/theme-switcher.scss
  package.json
Due: npm run lint:style

Path conditions:
  npm run lint:js: any of: {packages,apps}/**/*.js
  npm run lint:style: any of: **/*.scss
  npm run lint:yaml: any of: **/*.yaml
