Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-662: delete pega.com reference on a typeahead
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.js
Due: npm run lint:js

DS-662: delete pega.com reference on a blocks
  packages/experimental/editor/src/blocks.js
Due: npm run lint:js

DS-662: delete pega.com reference on a testing.md
  packages/components/bolt-chip/TESTING.md
  packages/components/bolt-link/TESTING.md
Due: none

DS-662: delete pega.com reference on a tests - typeahead
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
  packages/components/bolt-typeahead/__tests__/typeahead.js
Due: npm run lint:js

DS-662: delete pega.com reference on a tests - typeahead
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

DS-662: delete pega.com reference on a changelog.md
  CHANGELOG.md
  docs-site/CHANGELOG.md
Due: none

Remove references to pega.com from the doc site
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-collaboration-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-community.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-saleshub.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/_demo-pega-docs-page-header.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/20-d8-details-page-press.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.json
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/04-templates/_academy-detail-page-template.twig
  packages/components/bolt-chip/TESTING.md
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-link/TESTING.md
  packages/components/bolt-video/src/video.standalone.js
Due: npm run lint:js, npm run lint:style

Reverted back the typeahead changes
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.js
  packages/components/bolt-typeahead/__demos__/dynamically-fetch-data/typeahead.dynamically-fetch-data.twig
  packages/components/bolt-typeahead/__demos__/navigate-to-exact-result/typeahead.navigate-to-exact-result.js
  packages/components/bolt-typeahead/__demos__/navigate-to-exact-result/typeahead.navigate-to-exact-result.twig
  packages/components/bolt-typeahead/__demos__/navigate-to-search-results/typeahead.navigate-to-search-results.js
  packages/components/bolt-typeahead/__demos__/navigate-to-search-results/typeahead.navigate-to-search-results.twig
  packages/components/bolt-typeahead/__demos__/typeahead.data.json
  packages/components/bolt-typeahead/__tests__/typeahead.js
Due: npm run lint:js

Updated the typeahead snapshot
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
Due: none

Reverted the two final typeahead files
  packages/components/bolt-typeahead/__demos__/typeahead.demo.twig
  packages/components/bolt-typeahead/__tests__/typeahead.e2e.js
Due: npm run lint:js

Updated the Jest tests with the new snapshots
  packages/components/bolt-accordion/__tests__/__snapshots__/accordion.js.snap
  packages/components/bolt-action-blocks/__tests__/__snapshots__/action-blocks.js.snap
  packages/components/bolt-copy-to-clipboard/__tests__/__snapshots__/copy-to-clipboard.js.snap
  packages/components/bolt-listing-teaser/__tests__/__snapshots__/listing-teaser.js.snap
  packages/components/bolt-pagination/__tests__/__snapshots__/pagination.js.snap
  packages/components/bolt-share/__tests__/__snapshots__/share.js.snap
  packages/components/bolt-teaser/__tests__/__snapshots__/teaser.js.snap
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
  packages/elements/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/elements/bolt-icon/__tests__/__snapshots__/icon.js.snap
  packages/elements/bolt-text-link/__tests__/__snapshots__/text-link.js.snap
  yarn.lock
Due: none

DS-666: Remove enable-background from HTML demos, not necessary
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/05-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/10-icon-size.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/15-icon-color.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/icon/20-icon-use-case-custom-svg.twig
Due: none

DS-667: Import schema to icon JS and validate props
  packages/elements/bolt-icon/src/icon-lib.js
Due: npm run lint:js

DS-395: remove bolt-theme()
  docs-site/src/components/radio-switch/radio-switch.scss
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/_global-search.scss
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.scss
  packages/components/bolt-modal/src/modal.scss
Due: npm run lint:style

replace icon in pattern-lab uses, visual styles, and holy grail
  docs-site/src/components/pattern-lab-utils/docs.twig
  docs-site/src/components/pattern-lab-utils/md-embed.twig
  docs-site/src/components/pattern-lab-utils/pattern-doc-page.twig
  docs-site/src/components/shadow-toggle/shadow-toggle.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/00-color/_color-swatch.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/05-spacing/05-spacing-tokens.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/10-typography/05-typography-tokens.twig
  docs-site/src/pages/pattern-lab/_patterns/10-visual-styles/20-information-density/00-information-density-system.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/holy-grail/05-holy-grail.twig
  packages/components/bolt-card-replacement/src/card-replacement-actions/_card-replacement-action.twig
  packages/layouts/bolt-holy-grail/src/holy-grail-sidebar.twig
Due: none

replace bolt-icon in layouts
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-05-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-10-layout-template.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-25-layout-gutter.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-30-layout-padding.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-35-layout-horizontal-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-40-layout-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-45-layout-item-vertical-alignment.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-50-layout-item-order.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/-layout-full-page-use-case.twig
  docs-site/src/pages/pattern-lab/_patterns/30-layouts/layout/00-layout-docs.twig
Due: none

Updated the carousel test to only test the twig until the WC test function is fixed
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-carousel/__tests__/carousel.js
Due: npm run lint:js

replace icon references in elements
  docs-site/src/pages/pattern-lab/_patterns/20-elements/article/05-article.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/20-button-with-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/button/25-button-with-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/20-elements/text-link/20-text-link-with-icon.twig
Due: none

Update chromedriver
  packages/testing/testing-nightwatch/package.json
  scripts/package.json
  yarn.lock
Due: none

DS-395: remove --bolt-theme to --b-bolt
  docs-site/src/components/site-layout/site-layout.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/training/_completed-training-item.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/training/_training-meta-items.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/landing-page/_landing-page-inner-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/completed-training/acd-completed-training.twig
  packages/components/bolt-navbar/src/navbar-menu.scss
  packages/components/bolt-navbar/src/navbar.scss
Due: npm run lint:style

replace icons in components
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-10-button-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-15-button-hierarchy-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-20-button-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-25-button-width-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-30-button-border-radius-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-35-button-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-40-button-transform-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-45-button-type-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-50-button-with-text-and-icon.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-55-button-icon-only.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/button-deprecated/-999-button-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/06-card-horizontal.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/chip/25-chip-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/footer/_05-footer.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/headline/10-headline-tag-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/headline/20-headline-style-and-weight-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/headline/25-headline-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/link-deprecated/-10-link-display-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/link-deprecated/-15-link-icon-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/link-deprecated/-20-link-valign-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/link-deprecated/-28-link-with-button-element.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/link-deprecated/-30-link-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/menu/05-menu.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/menu/25-menu-use-case-icons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/10-navbar-spacing.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/30-navbar-theme.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/35-navbar-hide-title-text.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/40-navbar-scroll-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/45-navbar-sticky-offset.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/navbar/50-navbar-multiple.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/video-thumbnail/05-video-thumbnail.twig
Due: none

ds-590: code and docs cleanup
  docs-site/src/pages/pattern-lab/_patterns/40-components/switch-button/05-switch-button.twig
  packages/components/bolt-switch-button/src/switch-button.twig
  packages/components/bolt-switch-button/switch-button.schema.js
  yarn.lock
Due: npm run lint:js

remained of docs-site directory. anything left can be removed when the icon-component is.
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/_custom-next-previous-buttons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/_next-previous-buttons--inside.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/_next-previous-buttons--outside.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/_next-previous-buttons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-footer/05-page-footer.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/00-side-nav-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/side-nav/05-side-nav.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/display/_icon-banner.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/02-molecules/training/_completed-training-item.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/dashboard/_dashboard-band--in-progress.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/dashboard/_dashboard-band--my-missions.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/dashboard/_dashboard-band--new-training.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/dashboard/_dashboard-band--recommended.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/03-organisms/collections/search/_search-results--results-list.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/completed-training/acd-completed-training.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t1-landing-pages/mission-landing/acd-mission-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/00-boc-quick-filters-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-doc-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/_wip-global-search.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/editor/20-editor-modal.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/micro-journeys/40-icon-group.twig
Due: none

ds-590: make the width work for multi-lang
  packages/components/bolt-switch-button/src/switch-button.scss
Due: npm run lint:style

DS-274: remove bolt-dropdown form packages
  packages/components/bolt-dropdown/CHANGELOG.md
  packages/components/bolt-dropdown/README.md
  packages/components/bolt-dropdown/_dropdown-item.twig
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-dropdown/dropdown.schema.js
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-dropdown/dropdown.twig
  packages/components/bolt-dropdown/index.js
  packages/components/bolt-dropdown/package.json
Due: npm run lint:js, npm run lint:style

DS-274: remove bolt-dropdown from docs
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/-30-dropdown-sticky.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/00-dropdown-docs.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/05-dropdown.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/10-dropdown-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/15-dropdown-collapse.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/16-dropdown-collapse-center.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/20-dropdown-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/25-dropdown-long-header.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/dropdown/999-dropdown-web-component.twig
  yarn.lock
Due: none

DS-274: remove bolt-dropdown from boltrc, base-starter-kit, bolt-vrt-urls, microjurneys
  packages/base-starter-kit/.boltrc.js
  packages/base-starter-kit/package.json
  packages/build-tools/tasks/api-tasks/bolt-vrt-urls.js
  packages/experimental/micro-journeys/package.json
Due: npm run lint:js

DS-274: remove bolt-dropdown from sassdoc.scss
  docs-site/src/components/pattern-lab-utils/_sassdoc.scss
Due: npm run lint:style

DS-274: remove bolt-dropdown from ssr-server index.js
  packages/servers/ssr-server/index.js
Due: npm run lint:js

DS-274: remove bolt-dropdown from sassdocs.twig
  docs-site/src/components/pattern-lab-utils/sassdocs.twig
Due: none

DS-274: update comment
  docs-site/src/components/pattern-lab-utils/sassdocs.twig
Due: none

DS-395: Change requests - delete files
  docs-site/src/components/radio-switch/radio-switch.scss
  docs-site/src/components/shadow-toggle/shadow-toggle.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/_global-search.scss
Due: npm run lint:style

DS-344: Remove bolt-video from packages
  packages/components/bolt-video/CHANGELOG.md
  packages/components/bolt-video/README.md
  packages/components/bolt-video/TESTING.md
  packages/components/bolt-video/brightcove.scss
  packages/components/bolt-video/index.js
  packages/components/bolt-video/index.scss
  packages/components/bolt-video/main.js
  packages/components/bolt-video/package.json
  packages/components/bolt-video/plugins/cue-points.js
  packages/components/bolt-video/plugins/email-plugin.js
  packages/components/bolt-video/plugins/index.js
  packages/components/bolt-video/plugins/playback-plugin.js
  packages/components/bolt-video/plugins/social-plugin.js
  packages/components/bolt-video/src/_video-inline-script.twig
  packages/components/bolt-video/src/_video-tag.twig
  packages/components/bolt-video/src/_videojs-enhancements.scss
  packages/components/bolt-video/src/video-meta.js
  packages/components/bolt-video/src/video-meta.scss
  packages/components/bolt-video/src/video.js
  packages/components/bolt-video/src/video.scss
  packages/components/bolt-video/src/video.standalone.js
  packages/components/bolt-video/src/video.twig
  packages/components/bolt-video/utils/dataset-to-object.js
  packages/components/bolt-video/utils/format-video-duration.js
  packages/components/bolt-video/utils/get-sub-array.js
  packages/components/bolt-video/utils/index.js
  packages/components/bolt-video/video.schema.js
Due: npm run lint:js, npm run lint:style

DS-344: Remove bolt-video from boltrc
  packages/base-starter-kit/.boltrc.js
Due: npm run lint:js

DS-344: Remove bolt-video from base-starter package.json
  packages/base-starter-kit/package.json
Due: none

DS-344: Remove bolt-video from card replacement, figure package.json
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-figure/package.json
Due: none

Updated the switch button docs notes
  docs-site/src/pages/pattern-lab/_patterns/40-components/switch-button/05-switch-button.twig
Due: none

Fixed a typo
  docs-site/src/pages/pattern-lab/_patterns/40-components/switch-button/05-switch-button.twig
Due: none

DS-395: Change request - remove scss paths from packagae.json
  docs-site/src/components/radio-switch/package.json
  docs-site/src/components/radio-switch/radio-switch.js
  docs-site/src/components/shadow-toggle/package.json
  docs-site/src/components/shadow-toggle/shadow-toggle.js
Due: none
