Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

fix(with-without): bottom blocks at beginning of xlarge overflowing height
  packages/with-without/with-without.scss
Due: npm run lint:style

hotfix: auto-add `data-src` for lazysizes when lazyloading
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: auto sync enabling / disabling Shadow DOM when rendering Ratio inside of image
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

test: update Nightwatch test for the Image component
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
Due: npm run lint:js

test: add Image test pattern for Nightwatch
  docs-site/src/pages/pattern-lab/_patterns/02-components/image/-40-image-no-shadow.twig
Due: none

fix: fix prettier issues
  packages/components/bolt-image/__tests__/bolt-image.e2e.js
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: update <img> markup to use a placeholder in srcset but always display the fallback `src` for older browsers
  packages/components/bolt-image/src/image.js
  packages/components/bolt-image/src/image.twig
Due: npm run lint:js

fix: add src path fallback if only srcset is defined
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

fix: fix prettier formatting
  packages/components/bolt-image/src/image.js
Due: npm run lint:js

increase max-width of dialogue bar on mobile to fix IE11 crowding
  packages/micro-journeys/src/status-dialogue-bar.scss
Due: npm run lint:style

test: update Jest snapshots for image
  packages/components/bolt-image/__tests__/__snapshots__/image.js.snap
Due: none

test: update Jest snapshots
  packages/components/bolt-device-viewer/__tests__/__snapshots__/device-viewer.js.snap
Due: none

feat(svg-animations): theme switching for animations
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.js
  packages/micro-journeys/src/bolt-svg-animations/svg-animations.schema.js
  packages/micro-journeys/src/bolt-svg-animations/svg/connectionBand.js
  packages/micro-journeys/src/bolt-svg-animations/svg/tripleConnectionBand.js
Due: npm run lint:js

test: check for inactive class instead of handorgel disabled class
  packages/components/bolt-accordion/__tests__/accordion.e2e.js
Due: npm run lint:js

test: try waiting for component ready to fix IE failing test
  packages/components/bolt-tabs/__tests__/tabs.e2e.js
Due: npm run lint:js

test: try simple test for IE11
  packages/components/bolt-accordion/__tests__/accordion.e2e.js
Due: npm run lint:js

[skip travis] chore(release): publish v2.7.2
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

Revert "[skip travis] chore(release): publish v2.7.2"
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore(release): publish v2.7.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

Revert "[skip travis] chore(release): publish v2.7.1"
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore(release): publish v2.7.1
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/components/bolt-typeahead/CHANGELOG.md
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore(release): publish v2.7.3
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-page-header/CHANGELOG.md
  packages/components/bolt-page-header/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/components/bolt-typeahead/CHANGELOG.md
  packages/components/bolt-typeahead/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

fix: add 'observer' option to handle carousels that are hidden on load, add check for 'auto' to fix NaN issue
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

refactor: rename 'configureCarousel' to 'configuereSlidesPerGroup'
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

chore: remove old, commented-out code
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

[skip travis] chore(release): publish v2.7.3
  docs-site/.incache
Due: none

[skip travis] chore(release): publish v2.8.0-beta.5
  CHANGELOG.md
  docs-site/CHANGELOG.md
  docs-site/package.json
  lerna.json
  packages/build-tools/__tests__/multi-lang/CHANGELOG.md
  packages/build-tools/__tests__/multi-lang/package.json
  packages/components/bolt-blockquote/CHANGELOG.md
  packages/components/bolt-blockquote/package.json
  packages/components/bolt-card/CHANGELOG.md
  packages/components/bolt-card/package.json
  packages/components/bolt-critical-fonts/CHANGELOG.md
  packages/components/bolt-critical-fonts/package.json
  packages/components/bolt-device-viewer/CHANGELOG.md
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-figure/CHANGELOG.md
  packages/components/bolt-figure/package.json
  packages/components/bolt-image/CHANGELOG.md
  packages/components/bolt-image/package.json
  packages/components/bolt-logo/CHANGELOG.md
  packages/components/bolt-logo/package.json
  packages/components/bolt-teaser/CHANGELOG.md
  packages/components/bolt-teaser/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
Due: none

[skip travis] chore(release): publish v2.8.0-beta.5
  docs-site/.incache
Due: none

chore: update composer.lock
  packages/core-php/composer.lock
Due: none

test: rework accordion tests to use 'assert' and light DOM instead of 'execute' and shadow DOM
  docs-site/src/pages/pattern-lab/_patterns/02-components/accordion/-45-accordion-no-shadow.twig
  packages/components/bolt-accordion/__tests__/accordion.e2e.js
Due: npm run lint:js

micro journey style updates for extremely small mobile and desktop sizes
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/interactive-step.scss
  packages/micro-journeys/src/status-dialogue-bar.scss
  packages/micro-journeys/src/two-character-layout.scss
Due: npm run lint:style

lint
  packages/micro-journeys/src/interactive-pathways.scss
  packages/micro-journeys/src/interactive-step.scss
Due: npm run lint:style

test: rework tabs test to use 'assert' and light DOM instead of 'execute' and shadow DOM
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/-40-tabs-no-shadow.twig
  packages/components/bolt-tabs/__tests__/tabs.e2e.js
Due: npm run lint:js

feat: add tabs demo with accordion and carousel
  docs-site/src/pages/pattern-lab/_patterns/02-components/tabs/30-tabs-content.twig
Due: none

feat: optimization to carousel observer, only turn it on when we need it
  packages/components/bolt-carousel/src/carousel.js
Due: npm run lint:js

fix: update PHP-related packages to be in sync with the latest version of Bolt + symlinked properly
  docs-site/composer.json
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.json
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
Due: none

fix: update Button snapshots
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-carousel/__tests__/__snapshots__/carousel.js.snap
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
Due: none

fix: address install / symlink issues by updating composer.json configs to allow local beta versions of Bolt packages to get installed
  docs-site/composer.json
  docs-site/composer.lock
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
Due: none
