Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

refactor: remove unused 'casechange-objects' dependency, once required by '/styles/01-settings/settings-themes/index.js' and '/styles/01-settings/settings-themes/BoltTheme.js'
  packages/core/package.json
Due: none

feat: convert schema data to camelCase before calling validate
  packages/core/package.json
  packages/core/renderers/bolt-base.js
  packages/core/utils/index.js
  packages/core/utils/rename-key.js
Due: npm run lint:js

refactor: update SSR functionality + fix test paths
  docs-site/__tests__/server-side-rendering.e2e.js
  docs-site/src/pages/pattern-lab/_patterns/02-components/button/-button-server-side-rendering--wo-shadow-dom.twig
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-button/__tests__/button.js
  packages/core-php/src/TwigFunctions.php
  packages/servers/ssr-server/cli.js
  packages/servers/ssr-server/index.js
Due: npm run lint:js

fix(@bolt/build-tools,@bolt/components-icons): move clean icon task to be run after all the tests
  jest-global-setup.js
  jest-global-teardown.js
  packages/build-tools/tasks/icon-tasks.js
  packages/components/bolt-icons/__tests__/icons.js
  test/jest-test-svgs/yeti.svg
Due: npm run lint:js

chore: set up tests and folder structure
  packages/components/bolt-pagination/__tests__/__snapshots__/pagination.js.snap
  packages/components/bolt-pagination/__tests__/pagination.js
  packages/components/bolt-pagination/index.scss
  packages/components/bolt-pagination/package.json
  packages/components/bolt-pagination/src/pagination.scss
  packages/components/bolt-pagination/src/pagination.twig
Due: npm run lint:js, npm run lint:style

fix: lint js
  packages/components/bolt-pagination/__tests__/pagination.js
Due: npm run lint:js

fix: add testing instructions
  packages/components/bolt-pagination/TESTING.md
Due: none

fix: copy
  packages/components/lists/bolt-list/TESTING.md
Due: none

docs: improved demos
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/05-action-blocks.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/10-action-blocks-align-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/10-action-blocks-align-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/10-action-blocks-border-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/15-action-blocks-border-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/20-action-blocks-theme-variation.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/20-action-blocks-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/action-blocks/25-action-blocks-max-items-per-row.twig
Due: none

chore: create tests and update folder structure
  packages/components/bolt-action-blocks/TESTING.md
  packages/components/bolt-action-blocks/__tests__/__snapshots__/action-blocks.js.snap
  packages/components/bolt-action-blocks/__tests__/action-blocks.js
  packages/components/bolt-action-blocks/action-blocks.schema.yml
  packages/components/bolt-action-blocks/index.scss
  packages/components/bolt-action-blocks/src/_action-block.twig
  packages/components/bolt-action-blocks/src/action-blocks.scss
  packages/components/bolt-action-blocks/src/action-blocks.twig
Due: npm run lint:js, npm run lint:style

test: re-test docker build after removing servers folder reference
  Dockerfile
  packages/twig-renderer/SetupTwigRenderer.php
Due: none

fix: package.json
  packages/components/bolt-action-blocks/package.json
Due: none

fix: revert twig-renderer vendor path updates
  packages/twig-renderer/SetupTwigRenderer.php
Due: none

test: update composer.json
  packages/twig-renderer/composer.json
Due: none

fix: revert package.json postinstall hook update
  package.json
Due: none

fix: update dockerfile install commands
  Dockerfile
Due: none

fix: retest docker build
  .dockerignore
  Dockerfile
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/servers/default-server/package.json
  packages/twig-renderer/composer.lock
Due: none

fix: retest docker build
  .dockerignore
  Dockerfile
Due: none

test: re-test docker build
  Dockerfile
Due: none

fix: re-test with additional dockerfile updates
  Dockerfile
  packages/servers/default-server/package.json
Due: none

chore: re-enable tidying up HTML via Prettier
  packages/servers/ssr-server/index.js
Due: npm run lint:js

refactor: update JSDOM renderer to not add shims to the global Node.js env
  packages/servers/ssr-server/renderer.js
Due: npm run lint:js

chore: add comment about puppeteer renderer
  packages/servers/ssr-server/libs/puppeteer.mjs
Due: none

refactor: allow SSR rendered markup to be conditionally highlighted via a 2nd argument. Update SSR logic in PHP to automatically opt out of this behavior.
  packages/core-php/src/TwigFunctions.php
  packages/servers/ssr-server/cli.js
Due: npm run lint:js

fix: add new line to .dockerignore
  .dockerignore
Due: none

chore: update composer.lock files
  docs-site/composer.lock
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.lock
Due: none

chore: version bump the twig renderer package + remove the requirement for needing the newer symfony/process package version (no longer needed)
  docs-site/composer.json
  docs-site/composer.lock
  packages/core-php/composer.json
  packages/drupal-twig-extensions/composer.lock
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
Due: none

fix: testing snaps
  packages/components/lists/bolt-list/__tests__/__snapshots__/list.js.snap
Due: none

fix: Replace yarn with npm to avoid yarn dependency
  packages/components/bolt-icons/package.json
Due: none

refactor: update PHP to use new `\Twig\Environment` class
  packages/core-php/src/BoltStringLoader.php
  packages/core-php/src/TwigExtensions/BoltCore.php
  packages/core-php/src/TwigExtensions/BoltExtras.php
  packages/core-php/src/TwigFilters.php
  packages/core-php/src/TwigFunctions.php
  packages/core-php/src/TwigRenderer.php
  packages/core-php/src/TwigRendererSSR.php
  packages/core-php/src/TwigTags.php
  packages/core-php/src/Utils.php
  packages/drupal-modules/bolt_connect/src/BoltConnectForm.php
  packages/drupal-modules/bolt_connect/src/Controller/BoltConnectController.php
  packages/twig-renderer/SetupTwigRenderer.php
Due: none

fix: workaround to fix major Twig errors being encountered when the docs site is trying to be compiled (removing Twig embeds and sticking to Twig includes and extends seems to do the trick)
  docs-site/src/templates/_navbar-with-version-selector.twig
  docs-site/src/templates/_page-header.twig
  docs-site/src/templates/default.twig
  docs-site/src/templates/homepage.twig
Due: none

chore: update composer deps
  docs-site/composer.json
  docs-site/composer.lock
  packages/core-php/composer.json
  packages/drupal-twig-extensions/composer.json
  packages/twig-renderer/composer.json
  packages/twig-renderer/composer.lock
Due: none

fix: update remaining docs site templates as workaround to Twig embeds failing to compile
  docs-site/src/components/pattern-lab-utils/sassdocs.twig
  docs-site/src/templates/_site-head.twig
  packages/core-php/src/TwigExtensions/BoltExtras.php
  yarn.lock
Due: none

chore: update root dependencies in the monorepo
  package.json
  packages/drupal-twig-extensions/composer.lock
  yarn.lock
Due: none

fix: remove async from the top level Jest test `describe` — addresses deprecation warnings about this breaking in an upcoming version of Jest
  packages/components/bolt-background-shapes/__tests__/background-shapes.js
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-card/__tests__/card.js
  packages/components/bolt-chip/__tests__/chip.js
  packages/components/bolt-figure/__tests__/figure.js
  packages/components/bolt-icon/__tests__/icon.js
  packages/components/bolt-image/__tests__/image.js
  packages/components/bolt-link/__tests__/link.js
  packages/components/bolt-ratio/__tests__/ratio.js
  packages/components/bolt-video/__tests__/video.js
  packages/components/lists/bolt-chip-list/__tests__/chip-list.js
  packages/components/lists/bolt-ol/__tests__/ol.js
  packages/components/lists/bolt-ul/__tests__/ul.js
  scripts/monorepo.test.js
Due: npm run lint:js

test: disable NOW_TOKEN check to troubleshoot VRT failure
  scripts/report-jest-screenshots.js
Due: none

fix: remove extra VRT screenshot that shouldn't exist
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-bolt-ratio-with-html-5-video-renders-1-snap.png
  packages/components/bolt-ratio/__tests__/__image_snapshots__/ratio-js-bolt-ratio-component-default-bolt-ratio-w-o-shadow-dom-renders-1-snap.png
Due: none

fix: Avoid auto-escaping in image component
  packages/components/bolt-image/src/image.twig
Due: none

fix: docs and schema
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/20-band-with-pinned-content.twig
  packages/components/bolt-band/README.md
  packages/components/bolt-band/__examples__/band--card-collection.twig
  packages/components/bolt-band/__examples__/band--teaser-collection.twig
  packages/components/bolt-band/band.schema.yml
  packages/components/bolt-band/src/_band-items-adapter.twig
  packages/components/bolt-band/src/band.twig
Due: none

chore: add simple testing
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/10-band-size-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/band/15-band-theme-variations.twig
  packages/components/bolt-band/TESTING.md
  packages/components/bolt-band/__tests__/__snapshots__/band.js.snap
  packages/components/bolt-band/__tests__/band.js
Due: npm run lint:js
