Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

DS-631: Remove unneeded Icon styles
  packages/components/bolt-navbar/src/overflow-menu.js
Due: npm run lint:js

DS-631: Fix bug in passing classes to icon, update Typeahead
  packages/components/bolt-typeahead/typeahead.js
  packages/elements/bolt-icon/src/icon-lib.js
Due: npm run lint:js

DS-631: Remove unneeded Icon wrapper, fix no-JS submit button
  packages/components/bolt-typeahead/typeahead.scoped.scss
  packages/components/bolt-typeahead/typeahead.twig
Due: npm run lint:style

DS-631: Check for classes before using them
  packages/elements/bolt-icon/src/icon-lib.js
Due: npm run lint:js

DS-631: Add missing deps
  packages/components/bolt-card-replacement/package.json
  packages/components/bolt-carousel/package.json
  packages/components/bolt-chip-list/package.json
  packages/components/bolt-code-snippet/package.json
  packages/components/bolt-device-viewer/package.json
  packages/components/bolt-tabs/package.json
  packages/components/bolt-typeahead/package.json
Due: none

DS-631: Update snapshots
  packages/components/bolt-chip-list/__tests__/__snapshots__/chip-list.js.snap
  packages/components/bolt-figure/__tests__/__snapshots__/figure.js.snap
  packages/components/bolt-typeahead/__tests__/__snapshots__/typeahead.js.snap
Due: none

DS-662: change request - restore share social links on listing teaser
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/20-listing-teaser-status-and-action.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/60-listing-teaser-use-case-article-list.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/listing-teaser/65-listing-teaser-use-case-search-result-list.twig
Due: none

DS-662: change request - restore share social links on a teaser
  docs-site/src/pages/pattern-lab/_patterns/40-components/teaser/30-teaser-status-and-actions.twig
Due: none

DS-662: change request - restore share social links on a boc
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-gallery.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-homepage.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-customers.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/65-best-of-content/_boc-listing-pegaworld.twig
Due: none

DS-662: change request - restore share social links on a community
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-doc-layout.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-doc-search-layout.twig
Due: none

DS-662: change request on resources details
  docs-site/src/pages/pattern-lab/_patterns/50-pages/15-d8-resource-details-pages/00-resource-details-page.twig
Due: none

DS-662: change request - provide https for google urls
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/10-card-button-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/15-card-replacement-with-two-buttons.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/20-card-replacement-theme-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/25-card-replacement-height-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/40-card-replacement-with-freeform-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/999-card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/30-carousel-advanced-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/example-content/_carousel-slide-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/carousel/_archive/examples/_120-image-carousel-card.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/modal/_wip-modal-content-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/30-tabs-content.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/tabs/40-tabs-use-case-tabbed-band.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/25-trigger-outline-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/30-trigger-disabled-variations.twig
  docs-site/src/pages/pattern-lab/_patterns/40-components/trigger/999-trigger-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/05-d8-homepage/05-d8-homepage-japanese.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3-extra-videos.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/_product-t3.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t2.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/10-d8-product-pages/product-t4.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/15-d8-resource-details-pages/00-resource-details-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/00-d8-news-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/20-d8-press-and-media/05-d8-browse-page.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/30-d8-partners/00-d8-partners-search.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/45-d8-blog/05-blog-post.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/60-academy/05-pages/t1-landing-pages/mission-landing/acd-mission-landing.twig
  docs-site/src/pages/pattern-lab/_patterns/60-experiments/micro-journeys/combos/-95-in-page-example.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/navbar/00-navbar-with-links.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/navbar/15-navbar-with-list.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/navbar/20-navbar-no-title.twig
  docs-site/src/pages/pattern-lab/_patterns/999-tests/navbar/22-navbar-title-tags.twig
  packages/components/bolt-button/__tests__/button.js
  packages/components/bolt-link/__tests__/link.js
  packages/components/bolt-trigger/__tests__/trigger.js
  packages/experimental/editor/src/blocks.js
Due: npm run lint:js

DS-662: Tests update
  packages/components/bolt-button/__tests__/__snapshots__/button.js.snap
  packages/components/bolt-link/__tests__/__snapshots__/link.js.snap
  packages/components/bolt-trigger/__tests__/__snapshots__/trigger.js.snap
Due: none

DS-662: Change requests
  docs-site/src/pages/pattern-lab/_patterns/40-components/card/card-replacement-with-web-component.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/70-community/-community-search-layout.twig
Due: none

ds-590: code cleanup
  docs-site/src/pages/pattern-lab/_patterns/40-components/page-header/-page-header-example-main-site-with-subnav.twig
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/wip-notification-list.twig
Due: npm run lint:style

DS-672 install analyzer
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  yarn.lock
Due: npm run lint:js

DS-672 hide non-bolt js from the analyzer
  docs-site/.boltrc.js
  docs-site/src/components/docs-search/index.js
  docs-site/src/components/radio-switch/index.js
  docs-site/src/components/shadow-toggle/index.js
  docs-site/src/components/theme-switcher/index.js
  docs-site/src/templates/_site-footer.twig
  docs-site/src/templates/_site-head.twig
  packages/experimental/editor/src/index.js
  packages/experimental/micro-journeys/index.js
  packages/website-ui/styleguidekit-twig-default/views/partials/general-footer.twig
  packages/website-ui/uikit-workshop/src/scripts/patternlab-pattern.js
Due: npm run lint:js

ds-590: refine button tooltip
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/wip-notification-list.twig
  packages/components/bolt-page-header/src/_page-header-desktop.scss
  packages/components/bolt-page-header/src/_page-header-mobile.scss
Due: npm run lint:style

DS-565: Replace fixed bottom btn with a static btn above the list
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

DS-667: Comment out import in icon index file
  packages/elements/bolt-icon/index.js
Due: npm run lint:js

DS-565: Add external icons links
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

DS-667: Add new icon folder to prettierignore
  .prettierignore
Due: none

WIP
  packages/base-lazy-queue/index.mjs
  packages/build-tools/create-webpack-config.js
  packages/build-tools/package.json
  packages/build-tools/utils/package.json
  packages/components/bolt-accordion/src/accordion.js
  packages/elements/bolt-icon/index.js
  packages/website-ui/uikit-workshop/package.json
  packages/website-ui/uikit-workshop/webpack.config.js
  yarn.lock
Due: npm run lint:js

DS-565: Change link hierarchy + add hover state
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

WIP
  packages/base-element/src/lib/decorators/conditional-shadow-dom.js
  packages/components/bolt-accordion/src/AccordionItem/index.js
  packages/components/bolt-accordion/src/accordion.js
  packages/components/bolt-banner/src/banner.js
  packages/components/bolt-block-list/src/block-list.standalone.js
  packages/components/bolt-blockquote/src/blockquote.js
  packages/components/bolt-button/src/button.js
  packages/components/bolt-card-replacement/src/card-replacement-actions/card-replacement-action.js
  packages/components/bolt-card-replacement/src/card-replacement-actions/card-replacement-actions.js
  packages/components/bolt-card-replacement/src/card-replacement-body/card-replacement-body.js
  packages/components/bolt-card-replacement/src/card-replacement-link/card-replacement-link.js
  packages/components/bolt-card-replacement/src/card-replacement-media/card-replacement-media.js
  packages/components/bolt-card-replacement/src/card-replacement/card-replacement.js
  packages/components/bolt-carousel/src/carousel.js
  packages/components/bolt-chip-list/src/chip-list.js
  packages/components/bolt-chip/src/chip.js
  packages/components/bolt-dropdown/dropdown.js
  packages/components/bolt-figure/src/figure.js
  packages/components/bolt-icon/src/icon.standalone.js
  packages/components/bolt-image/src/image.js
  packages/components/bolt-li/src/li.js
  packages/components/bolt-link/src/link.js
  packages/components/bolt-list/src/_list-item.js
  packages/components/bolt-list/src/list.js
  packages/components/bolt-menu/src/_menu-item.js
  packages/components/bolt-menu/src/menu.js
  packages/components/bolt-modal/src/modal.js
  packages/components/bolt-ol/src/ol.js
  packages/components/bolt-placeholder/placeholder.standalone.js
  packages/components/bolt-progress-bar/src/progress-bar.js
  packages/components/bolt-ratio/src/ratio.js
  packages/components/bolt-table/src/table.js
  packages/components/bolt-tabs/src/TabPanel/index.js
  packages/components/bolt-tabs/src/tabs.js
  packages/components/bolt-text/src/text.js
  packages/components/bolt-toc/src/_toc-item.js
  packages/components/bolt-trigger/src/trigger.js
  packages/components/bolt-ul/src/ul.js
  packages/servers/default-server/server.js
  yarn.lock
Due: npm run lint:js

fix: add missing icons with broken paths
  packages/components/bolt-code-snippet/src/code-snippet.js
  packages/components/bolt-typeahead/typeahead.js
Due: npm run lint:js

Update the c-portal__list-el to c-portal__list-item to keep consistency
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

ds-590: style profile header
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/styles/index.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/99999-bolt-dev-sandbox/wip-pega-profile.twig
Due: npm run lint:style

DS-565: Replace arias to invisible spans for better a11y
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: none

DS-565: make every link in separate li
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

Revert "DS-565: make every link in separate li"
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

DS-565: quick fix with shorthand component inclusion
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: none

Fixed a markup error on the teaser component
  packages/components/bolt-teaser/src/teaser.twig
Due: none

Updated the class name from c-portal to c-portal-quick-links
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links-styles.scss
  docs-site/src/pages/pattern-lab/_patterns/50-pages/80-portal/quick-links.twig
Due: npm run lint:style

DOCS-189: Fix Code Snippet bugs when used inside Table component
  docs-site/src/pages/pattern-lab/_patterns/999-tests/code-snippet/15-code-snippet-table.twig
  packages/components/bolt-code-snippet/index.js
  packages/components/bolt-code-snippet/src/code-snippet.js
  packages/components/bolt-table/package.json
  packages/components/bolt-table/src/table.js
Due: npm run lint:js

fix: views wrapper
  packages/components/bolt-teaser/src/teaser.scss
  packages/components/bolt-teaser/src/teaser.twig
Due: npm run lint:style
