Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

styles: adding size and opacity options
  apps/pattern-lab/src/_patterns/02-components/share/05-share.twig
  apps/pattern-lab/src/_patterns/02-components/share/10-share-size-variations.twig
  apps/pattern-lab/src/_patterns/02-components/share/15-share-display-variations.twig
  apps/pattern-lab/src/_patterns/02-components/share/20-share-opacity-variations.twig
  apps/pattern-lab/src/_patterns/02-components/share/25-share-custom-label.twig
  packages/components/bolt-share/share.schema.yml
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-share/src/share.twig
Due: npm run lint:style

fix: fixed composer install; workaround to get pl utility class docs to not error
  apps/pattern-lab/composer.json
  apps/pattern-lab/composer.lock
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_clearfix.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_color.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_displays.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_flex.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_height.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_opacity.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_shadow.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_spacings.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_text-align.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_text-decoration.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_visually-hidden.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_widths.twig
  apps/pattern-lab/src/_patterns/01-styleguide/40-utilities/_z-index.twig
Due: none

refactor: update button component classname logic to simplify static classname assignment
  packages/components/bolt-button/src/button.standalone.js
Due: npm run lint:js

docs: remove yarn command in the quick setup docs -- no longer necessary
  apps/bolt-site/content/20-docs/60-guides/20-quick-start-guide.md
Due: none

docs: clean up, simplify and update the quick start guide
  apps/bolt-site/content/20-docs/60-guides/20-quick-start-guide.md
Due: none

docs: add sub-section headlines to the dependencies section
  apps/bolt-site/content/20-docs/60-guides/20-quick-start-guide.md
Due: none

chore: update clean task to remove composer.lock files
  package.json
Due: none

chore: fresh build post merge
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.critical.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  yarn.lock
Due: none

fix: update media query per code review feedback
  apps/bolt-site/components/layout/layout.scss
Due: npm run lint:style

fix: update docs site renderer to use a different library for handling minifying / beautifying HTML generated
  apps/bolt-site/beautify-html.php
  apps/bolt-site/composer.json
  apps/bolt-site/composer.lock
  apps/bolt-site/renderTwig.php
  yarn.lock
Due: none

fix: update docs site renderer config to not touch CSS or JS included on the page
  apps/bolt-site/renderTwig.php
Due: none

styles: size option updates
  apps/pattern-lab/src/_patterns/02-components/share/15-share-opacity-variations.twig
  apps/pattern-lab/src/_patterns/02-components/share/20-share-display-variations.twig
  packages/components/bolt-share/src/share.scss
  packages/components/bolt-share/src/share.twig
Due: npm run lint:style

docs: adding theming demos
  apps/pattern-lab/src/_patterns/02-components/share/30-share-theme-variations.twig
Due: none

docs: improve theme demos
  apps/pattern-lab/src/_patterns/02-components/share/30-share-theme-variations.twig
Due: none

BDS-569 Remove redundant default variables
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: none

chore: convert label color to use new theming system
  packages/components/bolt-share/src/share.scss
Due: npm run lint:style

test: testing useShadow hotfix
  packages/core/renderers/bolt-base.js
Due: npm run lint:js

fix: update link colors on dark themes to be white
  packages/core/styles/01-settings/settings-themes/index.scss
Due: npm run lint:style

BDS-569 Fix attributes usage
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: none

BDS-569 Remove unused target attribute and urls
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: none

BDS-569 Remove redundant js class in favor of attribute selector
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: npm run lint:js

BDS-569 Rework schema for copy to clipboard
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/20--custom-copy-to-clipboard.twig
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: none

fix: remove doc page headline links overrides
  apps/pattern-lab/src/styles/_docs.scss
Due: npm run lint:style

fix: Fix clipboard schema required properties
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
Due: none

feat: Set data-clipboard-text attribute internally based on 'url' param
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/20--custom-copy-to-clipboard.twig
  packages/components/bolt-copy-to-clipboard/copy-to-clipboard.schema.yml
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: npm run lint:js

fix: Remove js that disables links to prepare for using button instead
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
Due: npm run lint:js

styles: change trigger to use semantic button markup
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/05-copy-to-clipboard.twig
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/10--multiple-copy-to-clipboard.twig
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/10-copy-to-clipboard-multiple-instances.twig
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/15-copy-to-clipboard-custom-content.twig
  apps/pattern-lab/src/_patterns/02-components/copy-to-clipboard/20--custom-copy-to-clipboard.twig
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.scss
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.twig
Due: npm run lint:style

chore: clarify comments
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.scss
Due: npm run lint:style

chore: remove medium theme
  apps/pattern-lab/src/_patterns/02-components/share/30-share-theme-variations.twig
  packages/components/bolt-share/src/share.scss
  packages/global/styles/06-themes/themes.schema.json
Due: npm run lint:style

refactor: move existing band component examples to new __examples__ folder
  packages/components/bolt-band/__examples__/band--card-collection.twig
  packages/components/bolt-band/__examples__/band--collection.twig
  packages/components/bolt-band/__examples__/band--feature.twig
  packages/components/bolt-band/__examples__/band--flag.twig
  packages/components/bolt-band/__examples__/band--teaser-collection.twig
Due: none

docs: add new band component variation example used to achieve new band layout w/ embedded CSS Grid
  packages/components/bolt-band/__examples__/band-w-pinned-content.schema.yml
  packages/components/bolt-band/__examples__/band-w-pinned-content.twig
Due: none

refactor: update new band component to reduce default internal spacing since new CSS adds padding required to keep existing designs intact
  packages/components/bolt-band/package.json
  packages/components/bolt-band/src/band.scss
  packages/components/bolt-band/src/band.twig
Due: npm run lint:style

chore: removing dist folder from uikit-workshop; removing twig versions of uikit templates that aren't needed anymore given more recent system-level changes
  packages/uikit-workshop/dist/favicon.ico
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/dist/styleguide/css/pattern-lab--iframe-loader.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.critical.css
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/dist/styleguide/js/patternlab-pattern.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-pattern.min.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.min.js
  packages/uikit-workshop/src/html-twig/index.twig
  packages/uikit-workshop/src/html-twig/partials/base-template.twig
  packages/uikit-workshop/src/html-twig/partials/controls.twig
  packages/uikit-workshop/src/html-twig/partials/header.twig
  packages/uikit-workshop/src/html-twig/partials/iframe-loader.twig
  packages/uikit-workshop/src/html-twig/partials/iframe.twig
  packages/uikit-workshop/src/html-twig/partials/modal.twig
  packages/uikit-workshop/src/html-twig/partials/panel-code-template.twig
  packages/uikit-workshop/src/html-twig/partials/pattern-nav.twig
Due: npm run lint:js

chore: add missing EOL to .gitignore file
  .gitignore
Due: none

refactor: update Twig footer to match latest logic in the uikit mustache footer template
  packages/styleguidekit-twig-default/views/partials/general-footer.twig
Due: none

fix: update pattern lab html beautify patch to fix broken code viewer in non-production modes
  apps/pattern-lab/.patches/beautifyHTML.patch
Due: none
