Repository boltdesignsystem/bolt: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npm run lint:yaml

.lintstagedrc:

{
  linters: {
    "{packages,apps}/**/*.js": "npm run lint:js",
    "**/*.scss": "npm run lint:style",
    "**/*.yaml": "npm run lint:yaml",
  },
  ignore: [
    "**/.boltrc.js",
    "apps/drupal-lab"
  ]
}

feat: registar link and cta component with grapes
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

rotation tweaks
  docs-site/.incache
  packages/components/bolt-svg-animations/src/svg/tripleConnectionBand.js
Due: npm run lint:js

feat: transfer image assests into micro journey package
  packages/micro-journeys/src/images/animated-bands-ltr.png
  packages/micro-journeys/src/images/animated-bands-neutral.png
  packages/micro-journeys/src/images/animated-bands-rtl.png
  packages/micro-journeys/src/images/animated-bands-triple-ltr.png
  packages/micro-journeys/src/images/channels-icons.png
  packages/micro-journeys/src/images/customer-happy.png
  packages/micro-journeys/src/images/customer-neutral.png
  packages/micro-journeys/src/images/customer-sad.png
  packages/micro-journeys/src/images/customer-surprise.png
  packages/micro-journeys/src/images/interactive-pathways-logo.png
  packages/micro-journeys/src/images/pega-rep.png
  packages/micro-journeys/src/images/u-comm-plus.png
Due: none

feat: add new property to micro journey character
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/10-character.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/15-character-kitchen-sink.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/src/character.js
  packages/micro-journeys/src/character.schema.js
Due: npm run lint:js

docs(micro-journeys): extract individual steps into demos
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/90-micro-journeys.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-six.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/step-1-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/step-2-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/step-3-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/step-4-demo.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/step-5-demo.twig
Due: none

docs(micro-journeys): adding standalone tab demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/80-micro-journeys-solo.twig
Due: none

docs: add animate buttons to shadow dom demo
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/_shadow-dom-demo.twig
Due: none

feat: update webpack to process png with file-loader
  packages/build-tools/create-webpack-config.js
Due: npm run lint:js

feat: update character to work with both pre-defined img and custom url
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-four.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-one.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-three.twig
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-two.twig
  packages/micro-journeys/src/character.js
  packages/micro-journeys/src/character.schema.js
Due: npm run lint:js

fix: filter out `text` from chip schema
  packages/components/bolt-chip/src/chip.js
Due: npm run lint:js

feat: cleanup, use validated vars instead of props directly
  packages/components/bolt-chip/src/chip.js
Due: npm run lint:js

fix(micro-journeys): show pathways title in non-shadow dom
  packages/editor/src/editor.js
  packages/micro-journeys/src/interactive-pathway.js
Due: npm run lint:js

fix: character image on step five
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
Due: none

fix: clean up of connection width styles
  packages/components/bolt-svg-animations/src/svg-animations.js
  packages/components/bolt-svg-animations/src/svg-animations.scss
  packages/components/bolt-svg-animations/src/svg/connectionBand.js
Due: npm run lint:js, npm run lint:style

feat: update connection component to use animated svg
  packages/editor/src/setup-bolt.js
  packages/micro-journeys/src/connection.js
  packages/micro-journeys/src/connection.schema.js
  packages/micro-journeys/src/connection.scss
Due: npm run lint:js, npm run lint:style

fix: lint fixes
  packages/components/bolt-svg-animations/src/svg-animations.scss
  packages/micro-journeys/src/connection.js
Due: npm run lint:js, npm run lint:style

fix: lint fixes
  packages/micro-journeys/src/character.js
  packages/micro-journeys/src/character.schema.js
Due: npm run lint:js

fix(micro-journeys): pathways should wait for children
  packages/micro-journeys/src/interactive-pathways.js
Due: npm run lint:js

fix: attribute typo
  docs-site/src/pages/pattern-lab/_patterns/02-components/micro-journeys/billing-micro-journey-fragments/_step-five.twig
Due: none

chore: remove log
  packages/micro-journeys/src/character.js
Due: npm run lint:js

feat: registar bolt-cta with the editor
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

feat: registar bolt-links to the editor
  packages/editor/src/setup-bolt.js
Due: npm run lint:js

fix: Repair first step not reacting on enter key
  packages/generators/yeoman-create-component/generators/component/index.js
Due: npm run lint:js

fix: re-add ability to hide / show All link in PL navigation
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Due: npm run lint:js

fix: re-add the ability to use Pattern Lab's built-in config for defining the default pattern / component that shows up when initially loading
  packages/uikit-workshop/src/scripts/components/pl-viewport/pl-viewport.js
Due: npm run lint:js

chore: hide All link by default
  docs-site/config/config.yml
Due: none
